Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: - extract SettingsTab.scss
  src/Config/SettingsTab.scss
  src/styles.scss
  styles.css
Due: none

refactor: . remove styles.css from git as it is now machine generated
  styles.css
Due: none

refactor: . add styles.css to .gitignore
  .gitignore
Due: none

test: Add a failing test for bug #2707 - explaining Boolean filters
  tests/Query/Filter/BooleanField.test.ts
Due: lint, test

fix: 'explain' always include the original instruction in Boolean filters
  src/Query/Filter/BooleanField.ts
  tests/Query/Explain/DocsSamplesForExplain.test.explain_boolean_combinations.approved.explanation.text
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_explain.approved.txt
  tests/Query/Filter/BooleanField.test.ts
Due: lint, test

docs: Update 'Explaining Queries' page for fix of #2707
  docs/Queries/Explaining Queries.md
Due: lint-markdown

refactor: - Move body of BooleanField.simulateExplainFilter() to Filter
  src/Query/Filter/BooleanField.ts
  src/Query/Filter/Filter.ts
Due: lint, test

refactor: . Remove unnecessary parameter from Filter.simulateExplainFilter()
  src/Query/Filter/BooleanField.ts
  src/Query/Filter/Filter.ts
Due: lint, test

refactor: . Replace ?: with if-else - for clarity
  src/Query/Filter/Filter.ts
Due: lint, test

refactor: . in Filter.explainFilterIndented(), inline explanation
  src/Query/Filter/Filter.ts
Due: lint, test

refactor: . in Filter.explainFilterIndented(), inline unindentedExplanation
  src/Query/Filter/Filter.ts
Due: lint, test

refactor: . in Filter.explainFilterIndented(), remove use of default parameter value
  src/Query/Filter/Filter.ts
Due: lint, test

refactor: . in Filter.explainFilterIndented(), inline needToShowInstruction
  src/Query/Filter/Filter.ts
Due: lint, test

refactor: . in Filter.explainFilterIndented(), flip !==
  src/Query/Filter/Filter.ts
Due: lint, test

refactor: . in Filter.explainFilterIndented(), flip if/else
  src/Query/Filter/Filter.ts
Due: lint, test

refactor: . in Filter.explainFilterIndented(), extract onlyNeedsOneLineExplanation()
  src/Query/Filter/Filter.ts
Due: lint, test

not updating tests
  lefthook.yml
  package-lock.json
  yarn.lock
Due: none

add new api function
  src/Api/TasksApiV1.ts
  src/Api/index.ts
  src/Api/mapObjToTasks.ts
  src/Api/toggleTask.ts
Due: lint, test

Add toggle task endpoint
  .gitignore
  .yarn/install-state.gz
  .yarnrc.yml
  src/Api/TasksApiV1.ts
  src/Api/index.ts
  src/Api/toggleTask.ts
Due: lint, test

Make toggleTask return tasks
  src/Api/TasksApiV1.ts
  src/Api/index.ts
  src/Api/toggleTask.ts
Due: lint, test

add reminder
  src/Commands/CreateOrEditTaskParser.ts
  src/Layout/TaskLayoutOptions.ts
  src/Query/Filter/ReminderDateField.ts
  src/Query/FilterParser.ts
  src/Query/Query.ts
  src/Query/Sort/Sort.ts
  src/Renderer/TaskFieldRenderer.ts
  src/Renderer/TaskLineRenderer.ts
  src/Scripting/TasksDate.ts
  src/Suggestor/Suggestor.ts
  src/Task/Recurrence.ts
  src/Task/Task.ts
  src/TaskSerializer/DataviewTaskSerializer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  src/TaskSerializer/index.ts
  src/lib/DateTools.ts
  src/ui/DateEditor.svelte
  src/ui/EditTask.svelte
  src/ui/EditableTask.ts
Due: lint, test

Fix reminders
  src/Scripting/TasksDate.ts
  src/Suggestor/Suggestor.ts
  src/Task/Recurrence.ts
  src/TaskSerializer/DataviewTaskSerializer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  tests/CustomMatchers/CustomMatchersForTaskSerializer.ts
Due: lint, test

Fix reminders
  src/Renderer/TaskLineRenderer.ts
  src/Scripting/TasksDate.ts
Due: lint, test
