Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: re-implement 'done' and 'not done' using StatusField
  src/Query.ts
Due: lint, test

test: Remove a duplicate test
  tests/Query.test.ts
Due: lint, test

refactor: Add Field.lineMatchesFilter(), to prepare for a later refactoring
  src/Query/Filter/Field.ts
Due: lint, test

refactor: Add HappensDateField.getMatch(), to prepare for a later refactoring
  src/Query/Filter/HappensDateField.ts
Due: lint, test

refactor: Move HappensDateField.getMatch() to Field, to prepare for a later refactoring
  src/Query/Filter/Field.ts
  src/Query/Filter/HappensDateField.ts
Due: lint, test

refactor: Reorder Field.getMatch() args to match lineMatchesFilter()
  src/Query/Filter/Field.ts
  src/Query/Filter/HappensDateField.ts
Due: lint, test

refactor: Shorten long line
  src/Query/Filter/HappensDateField.ts
Due: lint, test

refactor: Encapsulate repeated regex calls
  src/Query/Filter/DateField.ts
  src/Query/Filter/PriorityField.ts
  src/Query/Filter/TagsField.ts
  src/Query/Filter/TextField.ts
Due: lint, test

refactor: Remove inconsistent function args, caused by paramer name matching method
  src/Query/Filter/Field.ts
Due: lint, test

refactor: Prepare to let Field implementations not support regexp-based instructions
  src/Query/Filter/Field.ts
Due: lint, test

refactor: Clean up StatusField.filterRegexp() by allowing filterRegexp() to return null
  src/Query/Filter/Field.ts
  src/Query/Filter/StatusField.ts
  src/Query/Filter/TextField.ts
Due: lint, test

refactor: Add StatusField class, for handling done/not done filters (#804)
  src/Query.ts
  src/Query/Filter/DateField.ts
  src/Query/Filter/Field.ts
  src/Query/Filter/HappensDateField.ts
  src/Query/Filter/PriorityField.ts
  src/Query/Filter/StatusField.ts
  src/Query/Filter/TagsField.ts
  src/Query/Filter/TextField.ts
  tests/Query.test.ts
  tests/Query/Filter/StatusField.test.ts
Due: lint, test

refactor: Add RecurringField class
  src/Query/Filter/RecurringField.ts
  tests/Query/Filter/RecurringField.test.ts
Due: lint, test

test: Remove repetitive text in tests
  tests/Query/Filter/RecurringField.test.ts
Due: lint, test

refactor: Reimplement 'is recurring' and 'is not recurring' using RecurringField
  src/Query.ts
Due: lint, test

test: Add a test of recurrence filters with invalid recurrence rule
  tests/Query/Filter/RecurringField.test.ts
Due: lint, test

refactor: Add RecurringField class, for handling recurring/not recurring filters (#806)
  src/Query.ts
  src/Query/Filter/RecurringField.ts
  tests/Query/Filter/RecurringField.test.ts
Due: lint, test

test: Add a manual test for issue #654
  resources/sample_vaults/Tasks-Demo/Manual Testing/654 - Unable to find section, when title has tag inside.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/README - User Support.md
Due: lint-markdown

test: Rename README - User Support.md to match folder name
  resources/sample_vaults/Tasks-Demo/Manual Testing/README - Manual Testing.md
Due: lint-markdown

test: Add a manual test for issue #654 (#807)
  resources/sample_vaults/Tasks-Demo/Manual Testing/654 - Unable to find section, when title has tag inside.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/README - Manual Testing.md
Due: lint-markdown

Fix: remove hashtags from headers in backlinks (#802)
  src/QueryRenderer.ts
Due: lint, test

refactor: Extract variable in addBacklinks() to simplify code slightly
  src/QueryRenderer.ts
Due: lint, test

refactor: Extract variable in addBacklinks() to simplify code slightly (#808)
  src/QueryRenderer.ts
Due: lint, test

chore: Core plugin "open-with-default-app" removed by Obsidian 0.15.2
  resources/sample_vaults/Tasks-Demo/.obsidian/core-plugins.json
Due: none

chore: Make git ignore .hotreload files
  .gitignore
Due: none

chore: Use v2 of codeql-action
  .github/workflows/codeql-analysis.yml
Due: none

chore: Use v2 of codeql-action (#811)
  .github/workflows/codeql-analysis.yml
Due: none

Update github-actions with dependabot
  .github/dependabot.yml
Due: none

refactor: Introduce new class FilterInstruction
  src/Query/Filter/Filter.ts
  src/Query/Filter/FilterInstruction.ts
  src/Query/Filter/StatusField.ts
Due: lint, test

refactor: Introduce new class FilterInstructions
  src/Query/Filter/FilterInstructions.ts
  src/Query/Filter/StatusField.ts
Due: lint, test

refactor: Reimplement RecurringField using FilterInstructions
  src/Query/Filter/RecurringField.ts
Due: lint, test

refactor: Simplify calling FilterInstructions.push()
  src/Query/Filter/FilterInstructions.ts
  src/Query/Filter/RecurringField.ts
  src/Query/Filter/StatusField.ts
Due: lint, test

refactor: Rename FilterInstructions.push() to .add()
  src/Query/Filter/FilterInstructions.ts
  src/Query/Filter/RecurringField.ts
  src/Query/Filter/StatusField.ts
Due: lint, test

docs: Better JSDoc for FilterInstruction and FilterInstructions
  src/Query/Filter/FilterInstruction.ts
  src/Query/Filter/FilterInstructions.ts
Due: lint, test
