Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

Revert "i18n: Add de placeholder translation"
  i18next-parser.config.js
  src/i18n/i18n.ts
  src/i18n/locales/de.json
Due: lint, test

Update to version 7.15.0
  docs/Getting Started/Obsidian Properties.md
  docs/How To/Make a query user interface.md
  docs/Queries/Explaining Queries.md
  docs/Queries/Layout.md
  docs/Queries/Query File Defaults.md
  docs/Scripting/Placeholders.md
  docs/Scripting/Query Properties.md
  docs/What is New/Changelog.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

refactor: remove `i18next-browser-languagedetector` dependency fix: resolve bug with Chinese translation not displaying refactor: optimize Chinese translations
  .gitignore
  contributing/Translation/Overview of the translation setup.md
  esbuild.config.mjs
  jest.config.js
  package.json
  src/i18n/i18n.ts
  src/i18n/locales/zh_cn.json
  yarn.lock
Due: lint, lint-markdown, test

chore: Fix trivial white-space
  esbuild.config.mjs
Due: none

feat: Log the language choice at start-up
  src/i18n/i18n.ts
Due: lint, test

Update to version 7.15.1
  manifest.json
  package.json
  versions.json
Due: none

refactor: ! add taskLocation field and parameter
  src/Obsidian/FileParser.ts
  src/Task/ListItem.ts
  src/Task/Task.ts
  tests/Task/ListItem.test.ts
  tests/Task/ListItemHelpers.ts
Due: lint, test

test: - test task location field
  tests/Task/ListItem.test.ts
Due: lint, test

test: . move variable outside of test scope
  tests/Task/ListItem.test.ts
Due: lint, test

test: - list item tests now set task location
  tests/Task/ListItem.test.ts
Due: lint, test

refactor: ! task initialises base class task location
  src/Task/Task.ts
Due: lint, test

test: . add task location parameter
  tests/Task/ListItem.test.ts
  tests/Task/ListItemHelpers.ts
  tests/Task/Task.test.ts
Due: lint, test

test: - add test with current behaviour
  tests/Obsidian/Cache.test.ts
Due: lint, test

test: - test wider case with non task child
  tests/Obsidian/Cache.test.ts
Due: lint, test

refactor: - set task location for list items
  src/Obsidian/FileParser.ts
  tests/Obsidian/Cache.test.ts
Due: lint, test

refactor: - task location is never null in FileParser
  src/Obsidian/FileParser.ts
Due: lint, test

test: ! prepare to remove parameter from createChildListItem()
  tests/Task/ListItemHelpers.ts
Due: lint, test

test: . remove unused parameter
  tests/Task/ListItem.test.ts
  tests/Task/ListItemHelpers.ts
  tests/Task/Task.test.ts
Due: lint, test

test: ! make createChildListItem() honest
  tests/Task/ListItemHelpers.ts
Due: lint, test

refactor: - taskLocation cannot be null anymore
  src/Task/ListItem.ts
  tests/Obsidian/Cache.test.ts
  tests/Task/ListItemHelpers.ts
Due: lint, test

chore: Make lefthook run tests if __test_data__/*.json changed
  lefthook.yml
Due: none

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
