Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Install and enable the "Vault Nickname" plugin
  docs/.obsidian/community-plugins.json
  docs/.obsidian/plugins/vault-nickname/main.js
  docs/.obsidian/plugins/vault-nickname/manifest.json
Due: none

contrib: Install and enable the "Vault Nickname" plugin
  contributing/.obsidian/community-plugins.json
  contributing/.obsidian/plugins/vault-nickname/main.js
  contributing/.obsidian/plugins/vault-nickname/manifest.json
Due: none

docs: Rename plugin link from 'nldates' to 'Natural Language Dates'
  docs/Other Plugins/QuickAdd.md
Due: lint-markdown

docs: Add link to "Mastering my to-do's with the Obsidian Tasks plugin (part 1)"
  docs/Support and Help/Useful Links.md
Due: lint-markdown

Drop scheduled dates as an option. #2751
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/Task/Occurrence.ts
  src/Task/Recurrence.ts
  src/Task/Task.ts
  src/i18n/locales/en.json
  tests/Task/Recurrence.test.ts
Due: lint, test

vault: Add another Reading-Mode manual check of on-completion delete
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/On Completion Delete.md
Due: lint-markdown

vault: Move a line in 'On Completion Delete.md' to where it references
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/On Completion Delete.md
Due: lint-markdown

vault: Add another Search-results manual check of on-completion delete
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/On Completion Delete.md
Due: lint-markdown

fix: Remove blank line with 'On completion Delete', toggling via Tasks' command
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/On Completion Delete.md
  src/Commands/ToggleDone.ts
Due: lint, lint-markdown, test

fix: Remove blank line with 'On completion Delete', toggling in Live Preview
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/On Completion Delete.md
  src/Obsidian/LivePreviewExtension.ts
Due: lint, lint-markdown, test

refactor: Make the code a little safer: ensure we don't reference past end of file
  src/Commands/ToggleDone.ts
Due: lint, test

refactor: . Extract variable replacementTextIsNonEmpty
  src/Commands/ToggleDone.ts
Due: lint, test

refactor: . Extract variable taskWasNotOnLastLine
  src/Commands/ToggleDone.ts
Due: lint, test

refactor: . Flip if/else
  src/Commands/ToggleDone.ts
Due: lint, test

refactor: . Extract variable taskIsOnLastLine
  src/Commands/ToggleDone.ts
Due: lint, test

refactor: . Merge if/else
  src/Commands/ToggleDone.ts
Due: lint, test

refactor: . Merge if statements
  src/Commands/ToggleDone.ts
Due: lint, test

refactor: . Inline taskWasNotOnLastLine
  src/Commands/ToggleDone.ts
Due: lint, test

refactor: . Invert inner operation (SonarQube)
  src/Commands/ToggleDone.ts
Due: lint, test

comment: Clean up code and add an explanatory comment
  src/Commands/ToggleDone.ts
Due: lint, test

Don't drop scheduled when it's the only date.
  src/Task/Occurrence.ts
  tests/Task/Recurrence.test.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
