Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: . create Postponer.ts & move shouldShowPostponeButton() to it
  src/QueryRenderer.ts
  src/Scripting/Postponer.ts
Due: lint, test

refactor: . move new functions in QueryRendererHelper.ts to Postponer.ts
  src/QueryRenderer.ts
  src/Scripting/Postponer.ts
  src/lib/QueryRendererHelper.ts
  tests/lib/QueryRendererHelper.test.ts
Due: lint, test

refactor: . move new postpone tests from QueryRendererHelper.test.ts to Postponer.test.ts
  tests/Scripting/Postponer.test.ts
  tests/lib/QueryRendererHelper.test.ts
Due: lint, test

test: Add tests for shouldShowPostponeButton()
  tests/Scripting/Postponer.test.ts
Due: lint, test

refactor: . extract successMessage() function
  src/QueryRenderer.ts
Due: lint, test

refactor: . extract postponementSuccessMessage() function
  src/QueryRenderer.ts
Due: lint, test

refactor: . inline successMessage variable to solve WebStorm warning
  src/QueryRenderer.ts
Due: lint, test

refactor: . move postponementSuccessMessage() to Postponer.ts
  src/QueryRenderer.ts
  src/Scripting/Postponer.ts
Due: lint, test

test: - test postponementSuccessMessage() with a valid and an invalid date
  tests/Scripting/Postponer.test.ts
Due: lint, test

refactor: . add TODO (postponementSuccessMessage() to manage invalid dates)
  src/Scripting/Postponer.ts
Due: lint, test

perf: Do not index attachments after plugin has loaded
  src/Cache.ts
Due: lint, test

perf: Do not index attachments after plugin has loaded (#2465)
  src/Cache.ts
Due: lint, test

feat: Add Tasks docs to the HelpMate plugin
  manifest.json
Due: none

feat: Add Tasks docs to the HelpMate plugin (#2466)
  manifest.json
Due: none

docs: Update Node version
  contributing/Building/Setting up build environment.md
Due: lint-markdown

fix: task names in same file are full width
  src/ui/EditTask.svelte
  styles.css
Due: none

feat: search results file name and location popups
  src/ui/EditTask.svelte
  styles.css
Due: none

feat: expand dropdown to 20 results
  src/ui/EditTask.svelte
  styles.css
Due: none

contrib: Update Node version in Contributing guide (#2467)
  contributing/Building/Setting up build environment.md
Due: lint-markdown

vault: Update Tasks plugin and its settings to 5.2.0
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/styles.css
Due: none

vault: Update Commander, Dataview, Style Settings & Templater
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/cmdr/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/cmdr/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/cmdr/styles.css
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/dataview/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/dataview/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/dataview/styles.css
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-style-settings/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-style-settings/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/manifest.json
Due: none

vault: Install HelpMate plugin
  resources/sample_vaults/Tasks-Demo/.obsidian/community-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/helpmate/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/helpmate/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/helpmate/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/helpmate/styles.css
Due: none

vault: Install HelpMate plugin (#2469)
  resources/sample_vaults/Tasks-Demo/.obsidian/community-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/helpmate/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/helpmate/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/helpmate/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/helpmate/styles.css
Due: none

refactor: . fix async & await related warnings
  src/QueryRenderer.ts
Due: lint, test

refactor: . fix warning in a comment
  src/QueryRenderer.ts
Due: lint, test
