Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Remove unnecessary directories in wikilinks
  docs/Support and Help/Known Limitations.md
Due: lint-markdown

vault: Install Templater plugin, to test detection of template in filters
  resources/sample_vaults/Tasks-Demo/.obsidian/community-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/styles.css
Due: none

Fix #1351: Implement line continuations
  src/Query/Query.ts
  src/Query/Scanner.ts
  tests/Scanner.test.ts
Due: lint, test

Add documentation of the Line Continuation feature
  docs/Queries/About Queries.md
  docs/Queries/Comments.md
  docs/Queries/Line Continuations.md
Due: lint-markdown

vault: Add Templater settings file - with default settings
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/data.json
Due: none

vault: Set Templater templates folder location
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/data.json
Due: none

chore: Stop 'lint:markdown' yarn script checking templates folder
  package.json
Due: none

vault: Add a sample daily note template, in Templater format
  resources/sample_vaults/Tasks-Demo/_meta/templates/daily note template - Templater plugin.md
Due: lint-markdown

comment: Explain that test uses Templater dynamic command
  tests/Query/Filter/DateField.test.ts
Due: lint, test

docs: Make Contributing and Roadmap prominent on repo README
  README.md
Due: lint-markdown

docs: Use fenced code blocks for custom filter and group examples
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Scripting/Custom Filters.md
  docs/Scripting/Custom Grouping.md
Due: lint-markdown

Remove regex lookbehind in continue_lines.
  docs/Queries/Combining Filters.md
  docs/Queries/Line Continuations.md
  src/Query/Scanner.ts
  tests/Query.test.ts
  tests/Scanner.test.ts
Due: lint, lint-markdown, test

refactor: - Move template-checking code from DateField to TemplatingPluginTools
  src/Query/Filter/DateField.ts
  src/lib/TemplatingPluginTools.ts
  tests/lib/TemplatingPluginTools.test.ts
Due: lint, test

test: Simplify template tests in DateField.test.ts
  tests/Query/Filter/DateField.test.ts
Due: lint, test

test: - Extract verifyWithFileExtension()
  tests/TestingTools/ApprovalTestHelpers.ts
Due: lint, test

test: Save error text from findUnexpandedDateText() for docs
  tests/lib/TemplatingPluginTools.test.TemplatingPluginTools_date_templating_error_sample_for_docs.approved.text
  tests/lib/TemplatingPluginTools.test.ts
Due: lint, test

docs: Added 'Troubleshooting Daily Agenda queries'
  docs/Advanced/Daily Agenda.md
Due: lint-markdown

feat: Add help text for 'Instruction contains unexpanded template text'
  src/lib/TemplatingPluginTools.ts
  tests/lib/TemplatingPluginTools.test.TemplatingPluginTools_date_templating_error_sample_for_docs.approved.text
Due: lint, test

docs: Add 'Troubleshooting Daily Agenda queries'
  docs/Advanced/Daily Agenda.md
Due: lint-markdown

jsdoc: Better docs for verifyWithFileExtension()
  tests/TestingTools/ApprovalTestHelpers.ts
Due: lint, test

feature: Prevent misleading date searches with template text (#2331)
  docs/Advanced/Daily Agenda.md
  package.json
  resources/sample_vaults/Tasks-Demo/.obsidian/community-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/styles.css
  resources/sample_vaults/Tasks-Demo/_meta/templates/daily note template - Templater plugin.md
  src/Query/Filter/DateField.ts
  src/lib/TemplatingPluginTools.ts
  tests/Query/Filter/DateField.test.ts
  tests/TestingTools/ApprovalTestHelpers.ts
  tests/lib/TemplatingPluginTools.test.TemplatingPluginTools_date_templating_error_sample_for_docs.approved.text
  tests/lib/TemplatingPluginTools.test.ts
Due: lint, lint-markdown, test

Treat line continuations as whitespace
  docs/Queries/Line Continuations.md
  src/Query/Scanner.ts
  tests/Query.test.ts
  tests/Scanner.test.ts
Due: lint, lint-markdown, test

test: - Stop Scanner.test.ts from being reformatted by lint
  tests/Scanner.test.ts
Due: lint, test

test: . Separate tests with blank lines
  tests/Scanner.test.ts
Due: lint, test

test: - Prepare to divide up remaining multi-line strings
  tests/Scanner.test.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
