Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: - Teach createEditingInstructionForDateGroups() to remove dates
  src/ui/EditInstructions/DateInstructions.ts
  tests/ui/EditInstructions/DateInstructions.test.ts
Due: lint, test

refactor: - refuse to copy invalid date values
  src/ui/EditInstructions/DateInstructions.ts
  tests/ui/EditInstructions/DateInstructions.test.ts
Due: lint, test

refactor: - Reuse createEditingInstructionForDateGroups()
  src/Renderer/HtmlColumnQueryResultsRenderer.ts
Due: lint, test

refactor: - Move groupedPropertyForDateField() out of HtmlColumnQueryResultsRenderer
  src/Renderer/HtmlColumnQueryResultsRenderer.ts
Due: lint, test

refactor: . Extract createEditingInstructionForGroup()
  src/Renderer/HtmlColumnQueryResultsRenderer.ts
Due: lint, test

refactor: . Move createEditingInstructionForGroup() to own file, nearer code it uses
  src/Renderer/HtmlColumnQueryResultsRenderer.ts
  src/ui/EditInstructions/CreateEditingInstructionForGroup.ts
Due: lint, test

refactor: ! Make createEditingInstructionForGroup() easier to test
  src/Renderer/HtmlColumnQueryResultsRenderer.ts
  src/ui/EditInstructions/CreateEditingInstructionForGroup.ts
Due: lint, test

test: Add basic tests for createEditingInstructionForGroup()
  tests/ui/EditInstructions/CreateEditingInstructionForGroup.test.ts
Due: lint, test

vault: Tweak tasks query instructions in 'Manually testing views' note
  resources/sample_vaults/Tasks-Demo/Manual Testing/Manually testing views.md
Due: lint-markdown

refactor: ! Only enable dropping in to a column that has an editing instruction
  src/Renderer/HtmlColumnQueryResultsRenderer.ts
Due: lint, test

comment: Fix typo in comment
  src/Renderer/HtmlColumnQueryResultsRenderer.ts
Due: lint, test

refactor: ! Speed up transition when starting and stopping drag and drop
  src/Renderer/HtmlColumnQueryResultsRenderer.scss
Due: none

refactor: ! Stronger style for non-droppable columns
  src/Renderer/HtmlColumnQueryResultsRenderer.scss
Due: none

refactor: ! Provide visual indication of which columns the card can be dropped into.
  src/Renderer/HtmlColumnQueryResultsRenderer.scss
  src/Renderer/HtmlColumnQueryResultsRenderer.ts
  tests/Renderer/HtmlColumnQueryResultsRenderer.test.columns_rendering_renders_due_date_column.approved.html
  tests/Renderer/HtmlColumnQueryResultsRenderer.test.columns_rendering_renders_due_date_column_and_scheduled_date_groups.approved.html
  tests/Renderer/HtmlColumnQueryResultsRenderer.test.columns_rendering_renders_no_due_date_column.approved.html
  tests/Renderer/HtmlColumnQueryResultsRenderer.test.columns_rendering_renders_one_column_with_two_headings.approved.html
  tests/Renderer/HtmlColumnQueryResultsRenderer.test.columns_rendering_renders_two_priority_columns.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_-_rendering_queries_should_render_columns_view.approved.html
Due: lint, test

feat: ! Teach the columns view to highlight the destination folder when dragging
  src/Renderer/HtmlColumnQueryResultsRenderer.scss
  src/Renderer/HtmlColumnQueryResultsRenderer.ts
Due: lint, test

fix: ! Add some padding to prevent truncation of glow when left-most column is highlighted
  src/Renderer/HtmlColumnQueryResultsRenderer.scss
Due: none

comment: Remove commented-out CSS line
  src/Renderer/HtmlColumnQueryResultsRenderer.scss
Due: none

docs: first draft of documentation of the Views feature
  docs/Queries/Layout.md
  docs/Queries/Views.md
  docs/Quick Reference.md
  docs/What is New/Changelog.md
  docs/images/view-columns-by-priority-drag-and-drop.png
  docs/images/view-columns-by-priority.png
  docs/images/view-list.png
Due: lint-markdown

refactor: - simplify loop, as index no longer needed
  src/Renderer/HtmlColumnQueryResultsRenderer.ts
Due: lint, test

docs: Add link to new Views page
  docs/Queries/About Queries.md
Due: lint-markdown

docs: Fix custom callout colours in docs vault for Obsidian 1.13
  docs/.obsidian/snippets/publish-simulation.css
Due: none

chore: Keep custom callouts working in Obsidian 1.13 but fix them for Publish
  scripts/copy-docs-snippet-to-other-css-files.sh
Due: none

chore: Simplify overly complex regex in copy-docs-snippet-to-other-css-files.sh
  scripts/copy-docs-snippet-to-other-css-files.sh
Due: none

contrib: Fix custom callout colours in docs vault for Obsidian 1.13
  contributing/.obsidian/snippets/publish-simulation.css
Due: none

fix: ! Force columns in columns view to have fixed width
  src/Renderer/HtmlColumnQueryResultsRenderer.scss
Due: none

feat: ! Put a border around the task (but the checkbox is is outside the border)
  src/Renderer/HtmlColumnQueryResultsRenderer.scss
Due: none

fix: ! The border around the task card now surrounds the checkbox too
  src/Renderer/HtmlColumnQueryResultsRenderer.scss
Due: none

fix: ! Add a small vertical gap between cards in the same column
  src/Renderer/HtmlColumnQueryResultsRenderer.scss
Due: none

feat: ! Give cards in column view a different background colour.
  src/Renderer/HtmlColumnQueryResultsRenderer.scss
Due: none

fix: ! Correct card background positions with Right-to-Left (RTL) languages
  src/Renderer/HtmlColumnQueryResultsRenderer.scss
Due: none

comment: Add explanatory comment
  src/Renderer/HtmlColumnQueryResultsRenderer.scss
Due: none

comment: Clarify explanatory
  src/Renderer/HtmlColumnQueryResultsRenderer.scss
Due: none

docs: Update screenshots for new styling of task cards in columns view
  docs/images/view-columns-by-priority-drag-and-drop.png
  docs/images/view-columns-by-priority.png
Due: none

fix: unregister EditorSuggestor Tab handler
  src/Suggestor/EditorSuggestorPopup.ts
Due: lint, test

fix: preserve hard-break spaces when toggling tasks
  src/Commands/ChangeStatusCommands.ts
  src/Commands/ToggleDone.ts
  src/Obsidian/File.ts
  src/Obsidian/LivePreviewExtension.ts
  src/Task/ListItem.ts
  src/Task/Task.ts
  tests/Commands/ToggleDone.test.ts
Due: lint, test

refactor: share hard-break whitespace handling
  src/Task/ListItem.ts
  src/Task/Task.ts
Due: lint, test

fix: avoid backtracking in hard-break parsing
  src/Task/ListItem.ts
Due: lint, test

contrib: try to clarify the commits required by bug fixes
  contributing/Contributing/Updating code.md
Due: lint-markdown

jsdoc: Improve class descriptions in ListItem and Task classes.
  src/Task/ListItem.ts
  src/Task/Task.ts
Due: lint, test

contrib: Add 'How do I add a new field to the ListItem class'
  contributing/Code/About Code.md
  contributing/Code/How do I add a new field to the ListItem class.md
Due: lint-markdown

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
