Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

chore: Add 'Feature Request' issue form (#1292)
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature-request.yaml
Due: none

chore: Clearer steps for searching for duplicate issues
  .github/ISSUE_TEMPLATE/feature-request.yaml
Due: none

chore: Clearer steps for searching for duplicate issues (#1293)
  .github/ISSUE_TEMPLATE/feature-request.yaml
Due: none

chore: Sort existing Issues by votes, for better visibility
  .github/ISSUE_TEMPLATE/feature-request.yaml
Due: none

chore: Sort existing Issues by number of comments, for better visibility
  .github/ISSUE_TEMPLATE/feature-request.yaml
Due: none

chore: Suggest using Label filters to help with search
  .github/ISSUE_TEMPLATE/feature-request.yaml
Due: none

chore: Require checking for duplicate issues before new report
  .github/ISSUE_TEMPLATE/bug-report.yaml
Due: none

docs: Point requesters to the new issue forms
  docs/index.md
Due: lint-markdown

docs: Improve the support links in docs front page
  docs/index.md
Due: lint-markdown

chore: more improvements to feedback forms (#1295)
  .github/ISSUE_TEMPLATE/bug-report.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
  docs/index.md
Due: lint-markdown

ui: Refine explanatory comment on global filter settings
  src/Config/SettingsTab.ts
Due: lint, test

ui: Final refinement of global filter settings UI
  src/Config/SettingsTab.ts
Due: lint, test

Fix clarify global filter (#1296)
  src/Config/SettingsTab.ts
Due: lint, test

docs: Add screenshot of options to Global Filter docs
  docs/getting-started/global-filter.md
  docs/images/settings-global-filter.png
Due: lint-markdown

docs: Screenshot of Global Filter options now shows placeholder
  docs/images/settings-global-filter.png
Due: none

docs: Screenshot of Global Filter options now shows defaults
  docs/getting-started/global-filter.md
  docs/images/settings-global-filter.png
Due: lint-markdown

docs: Add screenshot to docs of global filter (#1297)
  docs/getting-started/global-filter.md
  docs/images/settings-global-filter.png
Due: lint-markdown

docs: Rename use-filename-as-date-fallback.md
  docs/getting-started/use-filename-as-default-date.md
Due: lint-markdown

ui: Added more description to docs on default dates.
  src/Config/SettingsTab.ts
Due: lint, test

ui: Improve wording of folders for default Scheduled dates
  src/Config/SettingsTab.ts
Due: lint, test

vault: Add Scheduled Implied - 2022-11-05.md - for testing default scheduled dates
  resources/sample_vaults/Tasks-Demo/Manual Testing/Scheduled Implied - 2022-11-05.md
Due: lint-markdown

vault: Clarify intent in Scheduled Implied - 2022-11-05.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Scheduled Implied - 2022-11-05.md
Due: lint-markdown

refactor!: Rename the settings used for default scheduled dates.
  src/Cache.ts
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/DateFallback.ts
  tests/DateFallback.test.ts
Due: lint, test

docs: Update screenshot for default scheduled dates
  docs/images/settings-use-filename-for-date.png
Due: none

docs: Update docs for 'Use Filename as Default Date'
  docs/getting-started/use-filename-as-default-date.md
Due: lint-markdown

docs: Docs for Scheduled points to 'Use Filename as Default Date'
  docs/getting-started/dates.md
Due: lint-markdown

docs: Note the version that 'Use Filename as Default Date' was released
  docs/getting-started/use-filename-as-default-date.md
Due: lint-markdown

vault: Update settings in sample vault, enabling useFilenameAsScheduledDate
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/data.json
Due: none

ui, docs: Finalise 'Use Filename as Default Date' docs & settings (#1298)
  docs/getting-started/dates.md
  docs/getting-started/use-filename-as-default-date.md
  docs/images/settings-use-filename-for-date.png
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/data.json
  resources/sample_vaults/Tasks-Demo/Manual Testing/Scheduled Implied - 2022-11-05.md
  src/Cache.ts
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/DateFallback.ts
  tests/DateFallback.test.ts
Due: lint, lint-markdown, test

Update to version 1.18.0
  manifest.json
  package.json
  versions.json
Due: none

fix: test to fix #1300
  src/Commands/CreateOrEdit.ts
  src/DateFallback.ts
  src/QueryRenderer.ts
Due: lint, test

chore: added test for scheduled date update
  tests/DateFallback.test.ts
Due: lint, test

chore: Fix formatting, via 'yarn run lint'
  src/QueryRenderer.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
