Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: move regex const together and rename
  src/Query/DateParser.ts
Due: lint, test

fix: use correct RegExp
  src/Query/DateParser.ts
Due: lint, test

refactor: move const to private static
  src/Query/DateParser.ts
Due: lint, test

refactor: move function to private static
  src/Query/DateParser.ts
Due: lint, test

Some CR fixes
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/File.ts
  src/QueryRenderer.ts
Due: lint, test

Added attributes for task statuses
  docs/advanced/styling.md
  src/TaskLineRenderer.ts
  tests/TaskLineRenderer.test.ts
Due: lint, lint-markdown, test

test: test EditTask modal against empty GlobalFilter
  tests/EditTask.test.ts
Due: lint, test

test: refactor test function
  tests/EditTask.test.ts
Due: lint, test

test: add tests with non-empty GlobalFilter
  tests/EditTask.test.ts
Due: lint, test

test: convert tests to it.each() to trigger tests correctly
  tests/EditTask.test.ts
Due: lint, test

test: add corner cases
  tests/EditTask.test.ts
Due: lint, test

test: add multi-tag cases
  tests/EditTask.test.ts
Due: lint, test

test: rename test function
  tests/EditTask.test.ts
Due: lint, test

test: add multi Global Filter cases
  tests/EditTask.test.ts
Due: lint, test

test: add task edit test
  tests/EditTask.test.ts
Due: lint, test

test: extract variables for test function refactor
  tests/EditTask.test.ts
Due: lint, test

test: prepare variables to automate tests
  tests/EditTask.test.ts
Due: lint, test

test: modify it() to it.each()
  tests/EditTask.test.ts
Due: lint, test

test: accurate wordings and var names
  tests/EditTask.test.ts
Due: lint, test

test: add edit test cases
  tests/EditTask.test.ts
Due: lint, test

refactor: remove obsolete comment and add brackets
  src/ui/EditTask.svelte
Due: none

test: simplify EditTask tests (They should be in GlobalFilter)
  tests/EditTask.test.ts
Due: lint, test

test: remove old redundant tests
  tests/EditTask.test.ts
Due: lint, test

test: simplify submit test code
  tests/EditTask.test.ts
Due: lint, test

refactor: add prependTo() method
  src/Config/GlobalFilter.ts
  src/ui/EditTask.svelte
  tests/GlobalFilter.test.ts
Due: lint, test

test: fix test description calls
  tests/GlobalFilter.test.ts
Due: lint, test

test: add complex tag tests
  tests/EditTask.test.ts
Due: lint, test

feat: Add CSS Status Type & Status Name selectors - by @esm7 (#1817)
  docs/advanced/styling.md
  src/TaskLineRenderer.ts
  tests/TaskLineRenderer.test.ts
Due: lint, lint-markdown, test

test: add corner case of GF removal from EditTask to GlobalFilter
  tests/GlobalFilter.test.ts
Due: lint, test

docs: Add link to the issue tracking 'until' recurrence not working
  docs/getting-started/recurring-tasks.md
Due: lint-markdown

docs, vault: Separate data-task-status-type sample to own CSS file
  docs/advanced/styling.md
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-style-custom-status-types.css
Due: lint-markdown

docs, vault: Demonstrate styling TODO and IN_PROGRESS tasks.
  docs/advanced/styling.md
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-style-custom-status-types.css
Due: lint-markdown

vault: Update settings for Obsidian 1.2.0 insider build
  resources/sample_vaults/Tasks-Demo/.obsidian/core-plugins-migration.json
  resources/sample_vaults/Tasks-Demo/.obsidian/core-plugins.json
Due: none

docs, vault: Rename status snippets for consistency
  docs/advanced/styling.md
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-style-status-symbols.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-style-status-types.css
Due: lint-markdown

vault: Add !important to override theme custom checkboxes
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-style-status-symbols.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-style-status-types.css
Due: none

vault: Only highlight due dates in TODO & IN_PROGRESS tasks
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-color-due-today-and-overdue.css
Due: none

docs: Update styling.md for recent changes to snippets
  docs/advanced/styling.md
Due: lint-markdown
