Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

Rename notification.ts to Notification.ts
  src/reminders/Notification.ts
Due: lint, test

Rename Notification.ts to Notification.ts
  src/Reminders/Notification.ts
Due: lint, test

Rename Reminder.ts to Reminder.ts
  src/Reminders/Reminder.ts
Due: lint, test

Rename Icon.svelte to Icon.svelte
  src/Reminders/Components/Icon.svelte
Due: none

Rename Markdown.svelte to Markdown.svelte
  src/Reminders/Components/Markdown.svelte
Due: none

Rename Reminder.svelte to Reminder.svelte
  src/Reminders/Components/Reminder.svelte
Due: none

Rename folders and remove main.css
  .gitignore
  main.css
  src/Reminders/Notification.ts
Due: lint, test

contrib: Exclude _meta directory from publishing.
  contributing/.obsidian/publish.json
Due: none

contrib: Improve order of links in Testing folder
  contributing/Testing/About Testing.md
Due: lint-markdown

contrib: Update the example test snippets in Example Tests.md
  contributing/Testing/Example Tests.md
Due: lint-markdown

contrib: Remove an example that has become a bit too long.
  contributing/Testing/Example Tests.md
Due: lint-markdown

contrib: Move notes on Jest Test Framework out to separate page
  contributing/Testing/About Testing.md
  contributing/Testing/Jest Test Framework.md
Due: lint-markdown

contrib: Remove placeholder tag from Jest Test Framework page
  contributing/Testing/Jest Test Framework.md
Due: lint-markdown

contrib: Add tags to navigate to related pages on testing
  contributing/Testing/About Testing.md
  contributing/Testing/Approval Tests.md
  contributing/Testing/Example Tests.md
  contributing/Testing/How do I smoke-test the Tasks plugin.md
  contributing/Testing/How do I test a GitHub build of the Tasks plugin.md
  contributing/Testing/Introduction to Running the tests.md
  contributing/Testing/Introduction to Writing Unit Tests.md
  contributing/Testing/Jest Test Framework.md
  contributing/Testing/Jest and the WebStorm IDE.md
  contributing/Testing/Snapshot Tests.md
  contributing/Testing/Test Coverage.md
  contributing/Testing/Writing Tests for New or Refactored Code.md
Due: lint-markdown

contrib: Better notes on snapshot testing and WebStorm
  contributing/Building/Developing with WebStorm.md
  contributing/Testing/Jest and the WebStorm IDE.md
  contributing/Testing/Snapshot Tests.md
Due: lint-markdown

contrib: Add and document mechanism for safely renamed files
  contributing/Documentation/About Documentation.md
  contributing/Documentation/Redirects - Renaming files.md
  contributing/Documentation/Redirects - Testing old links still work.md
  contributing/_meta/templates/file path for redirecting alias.md
Due: lint-markdown

docs: Add mechanism for safely renamed files
  docs/_meta/templates/file path for redirecting alias.md
Due: lint-markdown

contrib: Document how to safely rename (unpublished) headings
  contributing/Documentation/About Documentation.md
  contributing/Documentation/Redirects - Renaming files.md
  contributing/Documentation/Rename headings.md
Due: lint-markdown

contrib: Better order for links around renaming
  contributing/Documentation/About Documentation.md
Due: lint-markdown

docs: Prepare to move Installation note, by adding alias
  docs/Installation/Installation.md
Due: lint-markdown

docs: Move Installation/Installation to root directory
  docs/Installation.md
Due: lint-markdown

docs: First attempt at an About page for Getting Started
  docs/Getting Started/About Getting Started.md
Due: lint-markdown

docs: Flesh out About Getting Started.md
  docs/Getting Started/About Getting Started.md
Due: lint-markdown

docs: Add alias to Backlinks.md before moving the file
  docs/Getting Started/Backlinks.md
Due: lint-markdown

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
