Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

contrib: Document the source-code directory structure (#2800)
  contributing/Code/About Code.md
  contributing/Code/Structure of the code.md
Due: lint-markdown

feat: ! remove margin for the first section
  src/ui/EditTask.scss
Due: none

feat: - move Description label inside the placeholder
  src/ui/EditTask.svelte
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot.approved.html
Due: none

refactor: ! remove unneeded specificity
  src/ui/EditTask.scss
Due: none

feat: ! remove padding that is not needed now
  src/ui/EditTask.scss
Due: none

feat: ! show more dependencies on small screens
  src/ui/EditTask.scss
Due: none

refactor: ! remove unused properties
  src/ui/EditTask.scss
Due: none

refactor: ! split class declaration
  src/ui/EditTask.scss
Due: none

feat: ! show results next to the input on intermediate screens (between 400 and 499px)
  src/ui/EditTask.scss
Due: none

feat: ! remove an empty extra row
  src/ui/EditTask.scss
Due: none

feat: ! align Priority with other task properties on width under 650px
  src/ui/EditTask.scss
Due: none

refactor: ! nest CSS classes
  src/ui/EditTask.scss
Due: none

feat: ! move status selector to the first column
  src/ui/EditTask.scss
Due: none

refactor: ! merge CSS classes with same parent
  src/ui/EditTask.scss
Due: none

refactor: ! remove unnecessary specificity
  src/ui/EditTask.scss
Due: none

test: Check DateTools functions with times. One test marked 'failing'
  src/lib/DateTools.ts
  tests/lib/DateTools.test.ts
Due: lint, test

feat: ! align dependencies in one column under 400px
  src/ui/EditTask.scss
Due: none

test: Check TaskBuilder retains times on Reminder (it doesn't)
  tests/TestingTools/TaskBuilder.test.ts
Due: lint, test

refactor: ! use combinator to make the code self-documenting
  src/ui/EditTask.scss
Due: none

test: Confirm that Task parses times on reminders
  tests/Task/Task.test.ts
Due: lint, test

test: Check that EditTask preserves time on reminder (1 failing test)
  tests/ui/EditTask.test.ts
Due: lint, test

feat: - improve placeholder text
  src/ui/EditTask.svelte
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot.approved.html
Due: none

test: Add TODO to add a time to the sample reminder value
  tests/TestingTools/TaskBuilder.ts
Due: lint, test

test: Add formatAsDateAndTimeOrDate() to Task Properties snippet, for docs
  tests/Scripting/TaskProperties.test.task_date_fields.approved.md
  tests/Scripting/TaskProperties.test.ts
Due: lint, lint-markdown, test

feat: - better look for priority under 500px
  src/ui/EditTask.scss
Due: none

Update DateTools.parseTypedDateForDisplay to handle date time for reminders
  src/lib/DateTools.ts
  tests/lib/DateTools.test.ts
Due: lint, test

Update DateTools.parseTypedDateForDisplay to handle partial reminder support. Added failing test.
  src/lib/DateTools.ts
  tests/lib/DateTools.test.ts
Due: lint, test

Update DateTools.parseTypedDateForDisplay to handle reminder date parsing and reminder date time parsing.
  src/lib/DateTools.ts
  tests/lib/DateTools.test.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
