Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: More work on Links docs
  docs/Getting Started/Links.md
Due: lint-markdown

docs: Update Changelog for next release.
  docs/What is New/Changelog.md
Due: lint-markdown

docs: Fix a typo
  docs/Getting Started/About Getting Started.md
Due: lint-markdown

docs: Add auto-suggest doc improvements to Changelog
  docs/What is New/Changelog.md
Due: lint-markdown

Update to version 7.21.0
  docs/Advanced/Tasks Api.md
  docs/Getting Started/Links.md
  docs/Scripting/Query Properties.md
  docs/Scripting/Task Properties.md
  docs/What is New/Changelog.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

chore: Make release script look for X.Y.Z notes in test vault
  release.sh
Due: none

vault: Fix released version number in Access links.md
  resources/sample_vaults/Tasks-Demo/How To/Access links.md
Due: lint-markdown

vault: Fix released version number in various files
  resources/sample_vaults/Tasks-Demo/How To/Access properties in frontmatter.md
  resources/sample_vaults/Tasks-Demo/How To/Find tasks in notes with particular tag.md
  resources/sample_vaults/Tasks-Demo/How To/Reuse instructions across the vault.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Invalid dates with Sorting and Grouping.md
Due: lint-markdown

chore: Remove reference to iOS bug, now it is fixed
  .github/ISSUE_TEMPLATE/bug-report.yaml
Due: none

chore: Require testing of bugs on the latest version of Tasks
  .github/ISSUE_TEMPLATE/bug-report.yaml
Due: none

vault: Update Tasks plugin from "7.19.1" to "7.21.0"
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/styles.css
Due: none

test: Generate YAML version of docs_sample_for_task_properties_reference frontmatter
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_interpret_properties.approved.yaml
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.ts
Due: lint, test

docs: Auto-generate YAML sample in 'Obsidian Properties.md'
  docs/Getting Started/Obsidian Properties.md
Due: lint-markdown

vault: Add examples of nested and object properties (#3580)
  resources/sample_vaults/Tasks-Demo/Test Data/docs_sample_for_task_properties_reference.md
Due: lint-markdown

test: Demo access to nested and object properties (#3580)
  tests/Scripting/TaskProperties.test.task_frontmatter_properties.approved.md
  tests/Scripting/TaskProperties.test.ts
Due: lint, lint-markdown, test

test: Update data for docs_sample_for_task_properties_reference.md (#3580)
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_interpret_properties.approved.yaml
  tests/Obsidian/__test_data__/docs_sample_for_task_properties_reference.json
Due: none

docs: Demo access to nested and object properties (#3580)
  docs/Getting Started/Obsidian Properties.md
  docs/Scripting/Task Properties.md
Due: lint-markdown

test: - simplify callback parameter
  tests/Scripting/TaskProperties.test.ts
  tests/Task/Link.test.ts
Due: lint, test

refactor: . extract getDestinationPath() method
  src/Task/LinkResolver.ts
Due: lint, test

test: ! prepare to use global LinkResolver
  tests/Task/Link.test.ts
Due: lint, test
