Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Install "Tag wrangler" plugin for easy renaming of tags
  docs/.obsidian/community-plugins.json
  docs/.obsidian/plugins/tag-wrangler/main.js
  docs/.obsidian/plugins/tag-wrangler/manifest.json
  docs/.obsidian/plugins/tag-wrangler/styles.css
Due: none

docs: Rename format-related tags to task-format
  docs/Other Plugins/Dataview.md
  docs/Reference/Task Formats/About Task Formats.md
  docs/Reference/Task Formats/Dataview Format.md
  docs/Reference/Task Formats/Tasks Emoji Format.md
Due: lint-markdown

docs: Add What's New section to docs front page, to plug Dataview format.
  docs/Introduction.md
Due: lint-markdown

docs: Add link in Getting Started to Dataview format
  docs/Getting Started/Getting Started.md
Due: lint-markdown

docs: Document Task formats, including Dataview format support (#1895)
  docs/.obsidian/community-plugins.json
  docs/.obsidian/plugins/tag-wrangler/main.js
  docs/.obsidian/plugins/tag-wrangler/manifest.json
  docs/.obsidian/plugins/tag-wrangler/styles.css
  docs/Getting Started/Getting Started.md
  docs/Introduction.md
  docs/Other Plugins/Dataview.md
  docs/Reference/Reference.md
  docs/Reference/Task Formats/About Task Formats.md
  docs/Reference/Task Formats/Dataview Format.md
  docs/Reference/Task Formats/Tasks Emoji Format.md
  docs/_meta/templates/image embed.md
  docs/_meta/templates/we are tracking this in issue.md
  docs/images/settings-task-format.png
  resources/sample_vaults/Tasks-Demo/Formats/All Formats Parsing.md
  resources/sample_vaults/Tasks-Demo/Formats/Dataview Format.md
  resources/sample_vaults/Tasks-Demo/Formats/Tasks Format.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Testing File Formats/Dataview Format - Queries - Dataview Plugin.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Testing File Formats/Dataview Format - Queries - Tasks Plugin.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Testing File Formats/Dataview Format - Tasks to Parse.md
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
Due: lint, lint-markdown, test

docs: Update docs for 3.3.0 release
  docs/Introduction.md
  docs/Other Plugins/Dataview.md
  docs/Reference/Task Formats/About Task Formats.md
  docs/Reference/Task Formats/Dataview Format.md
Due: lint-markdown

test: Add skipping failing test for interpreting overdue days of week
  tests/Query/Filter/DueDateField.test.due_date_due_on_named_day_of_week.approved.txt
  tests/Query/Filter/DueDateField.test.ts
Due: lint, test

test: Fix the formatting in approved file
  tests/Query/Filter/DueDateField.test.due_date_due_on_named_day_of_week.approved.txt
Due: none

Time support
  src/Task.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  src/lib/DateTools.ts
  src/reminders/Reminder.ts
  src/reminders/notification.ts
  src/ui/EditTask.svelte
Due: lint, test

Delete .vscode directory
  .vscode/extensions.json
  .vscode/settings.json
Due: none

Update .gitignore
  .gitignore
Due: none

Delete src/Query/.vscode directory
  src/Query/.vscode/settings.json
Due: none

fix!: Fix #1901 - can now search for past dates, but 'due in two weeks' now broken
  src/Query/DateParser.ts
  tests/Query/Filter/DueDateField.test.ts
Due: lint, test

test: Mark the failing test as failing
  tests/Query/Filter/DueDateField.test.ts
Due: lint, test

refactor: Move code for approving queries & explanations to ApprovalTestHelpers.ts
  tests/Query/Explain/DocsSamplesForExplain.test.ts
  tests/TestingTools/ApprovalTestHelpers.ts
Due: lint, test

test: Add approval-test-based test of issue 1901
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/last-this-next-weekday.input.query
Due: lint, test

test: Parameterize DateFieldReference.test.ts test
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_last-this-next-weekday.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.ts
Due: lint, test

test: Add more date-based tests for inclusion in reference docs
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_filters-date-examples.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_last-this-next-week-month-quarter-year.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/filters-date-examples.input.query
  tests/Query/Filter/ReferenceDocs/FilterReference/last-this-next-week-month-quarter-year.input.query
Due: lint, test

test: Remove manual test that is now in DateFieldReference.test.ts
  tests/Query/Filter/DueDateField.test.due_date_due_on_named_day_of_week.approved.txt
  tests/Query/Filter/DueDateField.test.ts
Due: lint, test

test: Set expected output for 'due in two weeks' to that from Tasks 1.25.0
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_filters-date-examples.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/filters-date-examples.input.query
Due: none

fix: Parsing 'due in two weeks' now works, after being broken by previous fix
  src/Query/Filter/DateField.ts
  tests/Query/Filter/DueDateField.test.ts
Due: lint, test

refactor: Remove code that reconstructs 'in two weeks' from 'in' and 'two weeks'
  src/Query/Filter/DateField.ts
Due: lint, test

comment: Add explanatory info to DateField.createFilterOrErrorMessage()
  src/Query/Filter/DateField.ts
Due: lint, test

comment: clarify comments
  src/Query/DateParser.ts
  tests/Query/Filter/DueDateField.test.ts
Due: lint, test

comment: clarify comments
  src/Query/Filter/DateField.ts
Due: lint, test

fix: Enable queries like 'due last Wednesday' to search dates before today (#1903)
  src/Query/DateParser.ts
  src/Query/Filter/DateField.ts
  tests/Query/Explain/DocsSamplesForExplain.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_filters-date-examples.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_last-this-next-week-month-quarter-year.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_last-this-next-weekday.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/filters-date-examples.input.query
  tests/Query/Filter/ReferenceDocs/FilterReference/last-this-next-week-month-quarter-year.input.query
  tests/Query/Filter/ReferenceDocs/FilterReference/last-this-next-weekday.input.query
  tests/TestingTools/ApprovalTestHelpers.ts
Due: lint, test

Update to version 3.3.0
  manifest.json
  package.json
  versions.json
Due: none

refactor: add FolderField class for folder grouping
  src/Query/Filter/FolderField.ts
  src/Query/FilterParser.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
  tests/Group.test.ts
  tests/Query/Filter/FolderField.test.ts
Due: lint, test

refactor: add RootField class for root grouping
  src/Query/Filter/RootField.ts
  src/Query/FilterParser.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
  tests/Group.test.ts
  tests/Query/Filter/RootField.test.ts
Due: lint, test

refactor: add BacklinkField class for backlink grouping
  src/Query/Filter/BacklinkField.ts
  src/Query/FilterParser.ts
  tests/Group.test.ts
  tests/Query/Filter/BacklinkField.test.ts
Due: lint, test

refactor: remove old grouping
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
Due: lint, test

refactor: rename the famous 'parseGroupBy'
  src/Query/Query.ts
Due: lint, test

test: test: check grouper.property on new fields
  tests/Query/Filter/BacklinkField.test.ts
  tests/Query/Filter/FolderField.test.ts
  tests/Query/Filter/RootField.test.ts
Due: lint, test

docs: Document root and folder filtering
  docs/Queries/Filters.md
  docs/Quick Reference/Quick Reference.md
Due: lint-markdown

fix: Disable filtering by backlink - use filename and heading instead
  src/Query/Filter/BacklinkField.ts
  tests/Query/Filter/BacklinkField.test.ts
Due: lint, test

refactor: Shorten variable name in tests
  tests/Query/Filter/BacklinkField.test.ts
  tests/Query/Filter/FolderField.test.ts
  tests/Query/Filter/RootField.test.ts
Due: lint, test
