Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

test: Add ON_HOLD example to SampleTasks.ts
  tests/Query/Filter/StatusNameField.test.ts
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.isDone_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.symbol_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.type_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.statuses_task.status.name_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.statuses_task.status.symbol_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.statuses_task.status.type_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.other_properties_task.isDone_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.statuses_task.status.name_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.statuses_task.status.nextSymbol_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.statuses_task.status.symbol_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.statuses_task.status.type_results.approved.txt
  tests/TestingTools/SampleTasks.ts
Due: lint, test

test: Update description of isDone test
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.other_properties_task.isDone_docs.approved.md
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.other_properties_task.isDone_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.ts
Due: lint, lint-markdown, test

docs: Update description for task.isDone
  docs/Queries/Sorting.md
Due: lint-markdown

test: - Prepare to convert a test to Approval Tests for use in docs
  tests/Query/Filter/StatusTypeField.test.ts
Due: lint, test

docs: Add more references to ON_HOLD
  docs/Getting Started/Statuses/Status Types.md
  docs/What is New/Changelog.md
Due: lint-markdown

test: - Convert a test to Approval tests, for use in docs
  tests/Query/Filter/StatusTypeField.test.status.name_status.name_with_invalid_line_is_helpful.approved.text
  tests/Query/Filter/StatusTypeField.test.ts
Due: lint, test

docs: Convert sample to mdsnippet, to ensure it is always uptodate
  docs/Getting Started/Statuses/Status Types.md
Due: lint-markdown

docs: Systematically add more references to ON_HOLD
  docs/Getting Started/About Getting Started.md
  docs/Getting Started/Statuses.md
  docs/Getting Started/Task Dependencies.md
  docs/Quick Reference.md
Due: lint-markdown

docs: Mention ON_HOLD in docs on styling 'Status Types'
  docs/Advanced/Styling.md
Due: lint-markdown

test: - Fix 'Unexpected constant nullishness on the left-hand side of a `??` expression.'
  tests/Query/Filter/StatusTypeField.test.ts
Due: lint, test

docs: One mor addition of `ON_HOLD` in Task Dependencies.md
  docs/Getting Started/Task Dependencies.md
Due: lint-markdown

docs: Refine wording on ON_HOLD docs
  docs/Getting Started/Statuses/Status Types.md
Due: lint-markdown

docs: Further refine wording on ON_HOLD docs
  docs/Getting Started/Statuses/Status Types.md
Due: lint-markdown

docs: Finalise wording on ON_HOLD docs
  docs/Getting Started/Statuses/Status Types.md
Due: lint-markdown

vault: update plugin 'Commander': 0.5.2 => 0.5.4
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/cmdr/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/cmdr/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/cmdr/styles.css
Due: none

vault: update plugin 'Meta Bind': 1.4.1 => 1.4.6
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-meta-bind-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-meta-bind-plugin/manifest.json
Due: none

vault: update plugin 'HelpMate': 1.0.11 => 1.0.12
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/helpmate/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/helpmate/manifest.json
Due: none

vault: update plugin 'Plugin Update Tracker': 1.6.2 => 1.7.0
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-plugin-update-tracker/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-plugin-update-tracker/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-plugin-update-tracker/manifest.json
Due: none

vault: update plugin 'BRAT': 1.0.6 => 1.3.0
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian42-brat/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian42-brat/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian42-brat/styles.css
Due: none

vault: update plugin 'Open Plugin Settings': 1.3.2 => 1.3.5
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/open-plugin-settings/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/open-plugin-settings/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/open-plugin-settings/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/open-plugin-settings/styles.css
Due: none

vault: update plugin 'Tasks': 7.21.0 => 7.22.0
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/styles.css
Due: none
