Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

test: Combine cell() and rowSpanningCell()
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.ts
Due: lint, test

test: Use live urgency values for the priorities
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.ts
Due: lint, test

test: Inline unnecessary variable
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.ts
Due: lint, test

refactor: Remove repetition in addTooltip()
  src/TaskLineRenderer.ts
Due: lint, test

refactor: Remove repetition in getComponentClassesAndData()
  src/TaskLineRenderer.ts
Due: lint, test

docs: Machine-generate urgency score for 'due today'
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.UrgencyTable_urgency-html-table.approved.md
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.ts
Due: lint, lint-markdown, test

docs: Update score for 'due today' to match actual behaviour
  docs/Advanced/Urgency.md
Due: lint-markdown

test: Make it easier to add dates up to 9 days overdue and due in 20 days
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.ts
Due: lint, test

refactor: use PriorityTools
  src/TaskLineRenderer.ts
Due: lint, test

docs: More maintainable layout of Due date section of Urgency.md
  docs/Advanced/Urgency.md
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.UrgencyTable_urgency-html-table.approved.md
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.ts
Due: lint, lint-markdown, test

docs: Add more due date components to Urgency.md
  docs/Advanced/Urgency.md
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.UrgencyTable_urgency-html-table.approved.md
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.ts
Due: lint, lint-markdown, test

docs: Machine-generate the urgency for 'no due date'
  docs/Advanced/Urgency.md
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.UrgencyTable_urgency-html-table.approved.md
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.ts
Due: lint, lint-markdown, test

docs: Machine-generate the scores for Scheduled and Start dates
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.ts
Due: lint, test

test: Remove some repetition
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.ts
Due: lint, test

docs: Fix scores for due 4 and 5 days ago - copy-paste error in test code
  docs/Advanced/Urgency.md
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.UrgencyTable_urgency-html-table.approved.md
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.ts
Due: lint, lint-markdown, test

test: Inline calcForDue(), now only used in one place
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.ts
Due: lint, test

test: Inline calcForScheduled() and calcForStarts(), now only used in one place
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.ts
Due: lint, test

test: Add a comment noting how the new test is used for user docs
  tests/DocumentationSamples/UrgencyDocs/DocsSamplesForUrgency.test.ts
Due: lint, test
