Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Fix punctuation in Presets.md
  docs/Queries/Presets.md
Due: lint-markdown

docs: Add unused screenshot of Presets settings
  docs/images/settings-default-presets.png
Due: none

docs: Add links and fix formatting in Presets.md
  docs/Queries/Presets.md
Due: lint-markdown

docs: Add Presets to the Known Limitations.md page
  docs/Support and Help/Known Limitations.md
Due: lint-markdown

docs: Improve wording of Changelog.md
  docs/What is New/Changelog.md
Due: lint-markdown

docs: State that editing Presets reloads queries
  docs/Queries/Presets.md
Due: lint-markdown

docs: Add alias for redirection, before fixing file name
  docs/Support and Help/Missing tags, aliases and cssclasses in Obsidian some 1.9.x versions.md
Due: lint-markdown

docs: Fix typo in file name
  docs/Support and Help/About Support and Help.md
  docs/Support and Help/Missing tags, aliases and cssclasses in some Obsidian 1.9.x versions.md
  docs/What is New/Changelog.md
Due: lint-markdown

docs: Fix typo in file title
  docs/Support and Help/Missing tags, aliases and cssclasses in some Obsidian 1.9.x versions.md
Due: lint-markdown

docs: Note some other options for fixing properties
  docs/Support and Help/Missing tags, aliases and cssclasses in some Obsidian 1.9.x versions.md
Due: lint-markdown

contrib: Clarify tense
  contributing/Architecture Decisions/ADR-001 - Nomenclature for Reusable Instruction Blocks Feature.md
Due: lint-markdown

docs: Provide some tips for using Presets
  docs/Queries/Presets.md
Due: lint-markdown

test: Generate block of help text for embedding in docs
  tests/Query/Presets/DocsForPresets.test.presets_help_message.approved.md
  tests/Query/Presets/DocsForPresets.test.ts
Due: lint, lint-markdown, test

docs: Show what the Presets help message looks like.
  docs/Queries/Presets.md
Due: lint-markdown

Update to version 7.20.0
  docs/Getting Started/Statuses/Check your Statuses.md
  docs/Queries/Presets.md
  docs/Queries/Query File Defaults.md
  docs/What is New/Changelog.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

feat: Add ability to filter and group by linked note (#3466)
  .gitignore
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_task_markdown_link.md
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_task_wikilink.md
  scripts/Test-TasksInLocalObsidian.bat
  src/Scripting/TasksFile.ts
  src/Task/Link.ts
  src/Task/ListItem.ts
  tests/Obsidian/__test_data__/link_in_task_markdown_link.json
  tests/Obsidian/__test_data__/link_in_task_wikilink.json
  tests/Scripting/TasksFile.test.ts
  tests/Task/Link.test.ts
  tests/Task/ListItem.test.ts
Due: lint, lint-markdown, test

test: . Extract data and index variables
  tests/Task/Link.test.ts
Due: lint, test

test: . Extract getLink()
  tests/Task/Link.test.ts
Due: lint, test

test: . Inline data and index variables
  tests/Task/Link.test.ts
Due: lint, test

test: . Inline return value
  tests/Task/Link.test.ts
Due: lint, test

test: - Re-use getLink()
  tests/Task/Link.test.ts
Due: lint, test

jsdoc: Tiny improvements to some function docs
  src/Scripting/TasksFile.ts
  src/Task/Link.ts
Due: lint, test

refactor: . Make fields readonly - spotted and fixed by SonarQube
  src/Task/Link.ts
Due: lint, test

refactor: . Use string.startsWith() - spotted and fixed by SonarQube
  src/Task/Link.ts
Due: lint, test

refactor: . Reformat single-line if statement
  src/Task/Link.ts
Due: lint, test
