Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

chore: Attempt to remove need to manually rename release .zip file
  .github/workflows/release.yml
Due: none

chore: Streamline the release process (#1194)
  .github/workflows/release.yml
Due: none

Update to version 1.15.0
  manifest.json
  package.json
  versions.json
Due: none

docs: Note release version of 'Only future dates'
  docs/getting-started/create-or-edit-task.md
Due: lint-markdown

docs: Note release version of 'Only future dates' (#1195)
  docs/getting-started/create-or-edit-task.md
Due: lint-markdown

Ensure monthly and yearly recurrences
  src/Recurrence.ts
  tests/Recurrence.test.ts
Due: lint, test

Adding code comments
  src/Recurrence.ts
Due: lint, test

Adding tests from @claremacrae
  tests/Task.test.ts
Due: lint, test

Fixed edge cases across years
  src/Recurrence.ts
  tests/Recurrence.test.ts
Due: lint, test

Document recurrence edge cases
  docs/getting-started/recurring-tasks.md
Due: lint-markdown

vault: Update .gitignore for Obsidian 0.16.x changes
  .gitignore
Due: none

vault: Update appearance.json for Obsidian 0.16.x changes
  resources/sample_vaults/Tasks-Demo/.obsidian/appearance.json
Due: none

test: Test recurrence corrects next date with 'when done'
  tests/Task.test.ts
Due: lint, test

vault: Add Recurrence handling invalid dates.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Recurrence handling invalid dates.md
Due: lint-markdown

vault: Capture current behaviour of 'very month on the'
  resources/sample_vaults/Tasks-Demo/Manual Testing/Recurrence handling invalid dates.md
Due: lint-markdown

vault: Simplify re-testing of recurrence on fixed days
  resources/sample_vaults/Tasks-Demo/Manual Testing/Recurrence handling invalid dates.md
Due: lint-markdown

vault: Demonstrate a bug that 'every month on the 31st' gets stuck
  resources/sample_vaults/Tasks-Demo/Manual Testing/Recurrence handling invalid dates.md
Due: lint-markdown

vault: Remove misleading task descriptions
  resources/sample_vaults/Tasks-Demo/Manual Testing/Recurrence handling invalid dates.md
Due: lint-markdown

vault: Enable outline core plugin
  resources/sample_vaults/Tasks-Demo/.obsidian/core-plugins.json
Due: none

vault: Set up manual testing of 'every month on the last'
  resources/sample_vaults/Tasks-Demo/Manual Testing/Recurrence handling invalid dates.md
Due: lint-markdown

vault: Capture current behaviour of 'every month on the last'
  resources/sample_vaults/Tasks-Demo/Manual Testing/Recurrence handling invalid dates.md
Due: lint-markdown

vault: Capture new behaviour of 'every month on the last'
  resources/sample_vaults/Tasks-Demo/Manual Testing/Recurrence handling invalid dates.md
Due: lint-markdown

test: Guard against recurrence tests with no expectations set
  tests/Task.test.ts
Due: lint, test

work in progress on recurring - do
  tests/Recurrence.test.ts
Due: lint, test

work in progress on recurring - do
  docs/getting-started/recurring-tasks.md
Due: lint-markdown

docs: Document behavior if reference date is invalid
  docs/getting-started/recurring-tasks.md
Due: lint-markdown

chore: Add mdsnippets.json
  mdsnippets.json
Due: none

ci: Experiment with adding a GitHub Actions to run mdsnippets
  .github/workflows/update-docs-markdown.yml
Due: none

ci: Try running mdsnippets on ubuntu
  .github/workflows/update-docs-markdown.yml
Due: none

Revert "ci: Try running mdsnippets on ubuntu"
  .github/workflows/update-docs-markdown.yml
Due: none

chore: Add a Table of Contents to docs/README.md and CONTRIBUTING.md
  CONTRIBUTING.md
  docs/README.md
Due: lint-markdown

chore: Don't run mdsnippets on "resources" directory
  mdsnippets.json
Due: none

docs: Remove obsolete instruction about ordering of recurrence rule.
  docs/getting-started/recurring-tasks.md
Due: lint-markdown

fix: Prevent 'every month on the 31st' sticking on 31st January
  src/Recurrence.ts
  tests/Task.test.ts
Due: lint, test

vault: Update sample file with fixed behavior for 'every month on the 31st'
  resources/sample_vaults/Tasks-Demo/Manual Testing/Recurrence handling invalid dates.md
Due: lint-markdown

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
