Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Show how to find tasks matching a given start date
  docs/Queries/Filters.md
Due: lint-markdown

feat: Add a setting for Global Query (#1878)
  docs/Queries/Global Query.md
  docs/images/settings-global-query.png
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/Query/Query.ts
  src/QueryRenderer.ts
  src/lib/QueryRendererHelper.ts
  tests/Config/DebugSettings.test.ts
  tests/Query.test.ts
  tests/Query/Explain/DocsSamplesForExplain.test.explain_explains_task_block_with_global_query_active.approved.explanation.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_explains_task_block_with_global_query_active.approved.query.text
  tests/Query/Explain/DocsSamplesForExplain.test.ts
  tests/Query/Filter/DueDateField.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_filters-date-examples.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_last-this-next-week-month-quarter-year.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_last-this-next-weekday.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.ts
  tests/TestingTools/ApprovalTestHelpers.ts
  tests/lib/QueryRendererHelper.test.ts
Due: lint, lint-markdown, test

jsdoc: Add a few comments linking between related functions.
  src/Query/Query.ts
  tests/TestingTools/ApprovalTestHelpers.ts
Due: lint, test

usability: Add placeholder sample text in Global Query setting
  src/Config/SettingsTab.ts
Due: lint, test

usability: Global Query placeholder setting now has more useful info.
  src/Config/SettingsTab.ts
Due: lint, test

usability: Add link from Global Query settings to its documentation.
  src/Config/SettingsTab.ts
Due: lint, test

docs: Update Global Query screenshot for placeholder and link to docs
  docs/images/settings-global-query.png
Due: none

docs: Settings page now links to Task Formats and Global Query pages
  docs/Getting Started/Settings.md
Due: lint-markdown

fix: Documentation link in Task Format settings now works
  src/Config/SettingsTab.ts
Due: lint, test

fix: Documentation link in Task Format settings now works (#1918)
  src/Config/SettingsTab.ts
Due: lint, test

docs: Add Global Query to What's New section
  docs/Introduction.md
Due: lint-markdown

docs: Increase visibility of Global Query by adding links to it
  docs/Getting Started/Global Filter.md
  docs/Queries/Explaining Queries.md
  docs/Queries/Global Query.md
Due: lint-markdown

docs, usability: Minor improvements to Global Query docs & settings (#1919)
  docs/Getting Started/Global Filter.md
  docs/Getting Started/Settings.md
  docs/Introduction.md
  docs/Queries/Explaining Queries.md
  docs/Queries/Global Query.md
  docs/images/settings-global-query.png
  src/Config/SettingsTab.ts
Due: lint, lint-markdown, test

vault: Update spacing in Dataview Format.md
  resources/sample_vaults/Tasks-Demo/Formats/Dataview Format.md
Due: lint-markdown

docs: Make Live Preview searchable in Dataview Format docs
  docs/Reference/Task Formats/Dataview Format.md
Due: lint-markdown

docs: Use text instead of markdown as block language
  docs/Reference/Task Formats/Dataview Format.md
Due: lint-markdown

docs: Add a Tip callout with workarounds for reference-style links.
  docs/Reference/Task Formats/Dataview Format.md
Due: lint-markdown

docs: Note that the Edit tasks modal puts 2 spaces between fields.
  docs/Reference/Task Formats/Dataview Format.md
Due: lint-markdown

fix: Dataview: Enable workarounds to prevent Obsidian from rendering inline fields as reference style links (#1916)
  docs/Reference/Task Formats/About Task Formats.md
  docs/Reference/Task Formats/Dataview Format.md
  resources/sample_vaults/Tasks-Demo/Formats/Dataview Format.md
  src/TaskSerializer/DataviewTaskSerializer.ts
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
Due: lint, lint-markdown, test

docs: Disable Tasks plugin in docs vault
  docs/.obsidian/community-plugins.json
Due: none

docs: Obsidian inside builds no longer have starred plugin
  docs/.obsidian/core-plugins.json
Due: none

docs: Turn off publishing of migration.md
  docs/migration.md
Due: lint-markdown

Update to version 3.5.0
  docs/Getting Started/Global Filter.md
  docs/Introduction.md
  docs/Queries/Global Query.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

refactor: call createEl() only once
  src/QueryRenderer.ts
Due: lint, test

refactor: move last else to default value
  src/QueryRenderer.ts
Due: lint, test

refactor: rename vars
  src/QueryRenderer.ts
Due: lint, test

contrib: Use alternating background colours for table rows
  contributing/.obsidian/snippets/publish-simulation.css
  contributing/publish.css
Due: none

docs: Use alternating background colours for table rows
  docs/.obsidian/snippets/publish-simulation.css
  docs/publish.css
Due: none
