Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Better heading names in 'Known Limitations'
  docs/Support and Help/Known Limitations.md
Due: lint-markdown

docs: Remove all but first level-1 heading from Known Limitations.md
  docs/Support and Help/Known Limitations.md
Due: lint-markdown

docs: Move 'Writing Tasks' sections together
  docs/Support and Help/Known Limitations.md
Due: lint-markdown

docs: Move Queries sections above Settings sections
  docs/Support and Help/Known Limitations.md
Due: lint-markdown

docs: Add sub-headings to 'Limitations and warnings' heading in Getting Started.md
  docs/Getting Started/Getting Started.md
Due: lint-markdown

docs: Consistent spelling of blockquote - and link to definition
  docs/Getting Started/Getting Started.md
Due: lint-markdown

docs: Add new template 'we are tracking this in discussion.md'
  docs/_meta/templates/we are tracking this in discussion.md
Due: lint-markdown

docs: Add Limitations section for 'Use Filename as Default Date'
  docs/Getting Started/Use Filename as Default Date.md
  docs/Support and Help/Known Limitations.md
Due: lint-markdown

docs: Add Limitations section for 'Tasks Emoji Format'
  docs/Reference/Task Formats/Tasks Emoji Format.md
  docs/Support and Help/Known Limitations.md
Due: lint-markdown

docs: Note some more limitations in Getting Started.md
  docs/Getting Started/Getting Started.md
Due: lint-markdown

docs: Fix some misleading warnings in Getting Started
  docs/Getting Started/Getting Started.md
Due: lint-markdown

docs: Improve some hedaings in Getting Started
  docs/Getting Started/Getting Started.md
Due: lint-markdown

docs: Add MAINTENANCE NOTES comment & an intro to Known Limitations
  docs/Support and Help/Known Limitations.md
Due: lint-markdown

docs: Add new page 'Known Limitations' (#2325)
  contributing/.obsidian/snippets/publish-simulation.css
  contributing/publish.css
  docs/.obsidian/snippets/publish-simulation.css
  docs/Getting Started/Create or edit Task.md
  docs/Getting Started/Getting Started.md
  docs/Getting Started/Tags.md
  docs/Getting Started/Use Filename as Default Date.md
  docs/Introduction.md
  docs/Reference/Task Formats/Tasks Emoji Format.md
  docs/Support and Help/About Support and Help.md
  docs/Support and Help/Known Limitations.md
  docs/_meta/templates/we are tracking this in discussion.md
  docs/publish.css
Due: lint-markdown

fix: Reject unexpanded template text in date searches
  src/Query/Filter/DateField.test.ts
  src/Query/Filter/DateField.ts
Due: lint, test

test: Convert new test to it.each()
  src/Query/Filter/DateField.test.ts
Due: lint, test

refactor: . Extract variable templateText
  src/Query/Filter/DateField.ts
Due: lint, test

refactor: - Convert templateText to a loop
  src/Query/Filter/DateField.ts
Due: lint, test

test: Move DateField.test.ts from src/ to tests/
  tests/Query/Filter/DateField.test.ts
Due: lint, test

fix: Also recognise YYYY-MM-DD as template text in date filters
  src/Query/Filter/DateField.test.ts
  src/Query/Filter/DateField.ts
Due: lint, test

fix: Include the recognised template text in error message
  src/Query/Filter/DateField.ts
  tests/Query/Filter/DateField.test.ts
Due: lint, test

comment: Explain why we are preventing template text in date searches
  src/Query/Filter/DateField.ts
Due: lint, test

docs: Beginning of task dependencies explanation
  docs/Getting Started/Task Dependencies.md
Due: lint-markdown

docs: Add blocked by image
  docs/images/Pasted image 20231011181837.png
Due: none

fix: dependency results self-filtering
  src/ui/EditTask.svelte
Due: none

add show/hide for new dependency fields
  src/Query/Query.ts
  src/TaskLayout.ts
  src/TaskLineRenderer.ts
  tests/Query.test.ts
  tests/Task.test.ts
  tests/TaskLayout.test.ts
  tests/TaskLineRenderer.test.ts
Due: lint, test

Add status to task search results and chips
  src/ui/EditTask.svelte
Due: none

vault: Add 'Dependencies Samples.md' for exploratory testing
  resources/sample_vaults/Tasks-Demo/Manual Testing/Dependencies Samples.md
Due: lint-markdown

test: Add 'is not blocked' to Query.test.ts
  tests/Query.test.ts
Due: lint, test

vault: Add examples of all the new query instructions
  resources/sample_vaults/Tasks-Demo/Manual Testing/Dependencies Samples.md
Due: lint-markdown

feat: Add CSS for id and dependsOn fields
  src/TaskLineRenderer.ts
  tests/TaskLineRenderer.test.ts
Due: lint, test

vault: Add more sample searches in Dependencies Samples.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Dependencies Samples.md
Due: lint-markdown

docs: Document the generic CSS classes for new fields 'id' and 'dependsOn'
  docs/Advanced/Styling.md
Due: lint-markdown

comment: Note required documentation if adding CSS classes & data attributes
  src/TaskLineRenderer.ts
Due: lint, test

docs: Remove duplicate "path includes" in current file How To
  docs/How To/How to get tasks in current file.md
Due: lint-markdown

docs: Remove duplicate "path includes" in current file How To (#2327)
  docs/How To/How to get tasks in current file.md
Due: lint-markdown
