Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

test: . Extract function extractSortOrder()
  tests/DateTime/TasksDate.test.ts
Due: lint, test

test: - Reuse function extractSortOrder()
  tests/DateTime/TasksDate.test.ts
Due: lint, test

test: . Inline spanishGroupText
  tests/DateTime/TasksDate.test.ts
Due: lint, test

test: . Rename variables to clarify intent
  tests/DateTime/TasksDate.test.ts
Due: lint, test

test: - Improve test name
  tests/DateTime/TasksDate.test.ts
Due: lint, test

test: - Remove some clutter - no need to assert on input data
  tests/DateTime/TasksDate.test.ts
Due: lint, test

chore: Switch to eslint-plugin-svelte
  .eslintrc.js
  package.json
  yarn.lock
Due: none

chore: Port ESLint config to flat config format
  .eslintignore
  .eslintrc.js
  eslint.config.mjs
  package.json
  yarn.lock
Due: none

chore: Enable eslint-plugin-svelte's recommended checks
  eslint.config.mjs
Due: none

chore: upgrade @typescript-eslint from v6 to v8
  package.json
  yarn.lock
Due: none

chore: Update to eslint 9
  package.json
  yarn.lock
Due: none

chore: Add defineConfig() call
  eslint.config.mjs
Due: none

chore: eslint 9 no longer needs ESLINT_USE_FLAT_CONFIG
  package.json
Due: none

chore: Turn off auto-fix in 'yarn lint' temporarily
  package.json
Due: none

chore: Add obsidian eslint plugin, with all obsidian checks disabled
  eslint.config.mjs
  package.json
  yarn.lock
Due: none

chore: Re-enable some obsidian rules that pass
  eslint.config.mjs
Due: none

chore: Re-enable remaining obsidian rules that pass
  eslint.config.mjs
Due: none

chore: Note the cause of some of the disabled Obsdian rules
  eslint.config.mjs
Due: none

Revert "chore: Turn off auto-fix in 'yarn lint' temporarily"
  package.json
Due: none

docs: Note when the 'Task count location' was introduced
  docs/Queries/Layout.md
Due: lint-markdown

Update to version 7.24.0
  docs/Editing/Toggling and Editing Statuses.md
  docs/Queries/Filters.md
  docs/Queries/Layout.md
  docs/What is New/Changelog.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

chore: Update release script to use node 20
  .github/workflows/release.yml
Due: none

refactor: ! type processFrontMatter callback param to satisfy eslint, as Obsidian API declares it as any
  src/Commands/AddQueryFileDefaultsProperties.ts
Due: lint, test

refactor: - Fix @typescript-eslint/no-unsafe-member-access in Feature.ts and Settings.ts
  src/Config/Feature.ts
  src/Config/Settings.ts
Due: lint, test

refactor: - Define interface QueryProperty to fix @typescript-eslint/no-unsafe-member-access
  src/Query/QueryFileDefaults.ts
Due: lint, test

refactor: - Specify parameter type to fix @typescript-eslint/no-unsafe-member-access in TasksDate.ts
  src/DateTime/TasksDate.ts
Due: lint, test

refactor: ! Define interface EditorWithTasksSuggest to fix @typescript-eslint/no-unsafe-member-access
  src/Suggestor/Suggestor.ts
Due: lint, test

refactor: - Fix @typescript-eslint/no-unsafe-member-access error in TypeDetection.ts
  src/lib/TypeDetection.ts
Due: lint, test

refactor: ! Fix @typescript-eslint/no-unsafe-member-access error in DatePicker.ts
  src/ui/Menus/DatePicker.ts
Due: lint, test

refactor: - Fix @typescript-eslint/no-unsafe-member-access error in GroupDisplayHeadingSelector.ts
  src/Query/Group/GroupDisplayHeadingSelector.ts
Due: lint, test

refactor: - Fix @typescript-eslint/no-unsafe-member-access error in TasksFile.ts
  src/Scripting/TasksFile.ts
Due: lint, test

refactor: ! Fix @typescript-eslint/no-unsafe-member-access error in logging.ts
  src/lib/logging.ts
Due: lint, test

refactor: - Fix @typescript-eslint/no-unsafe-member-access error in FunctionField.ts
  src/Query/Filter/FunctionField.ts
Due: lint, test

refactor: - Fix @typescript-eslint/no-unsafe-member-access error in SettingsTab.ts
  src/Config/SettingsTab.ts
Due: lint, test

chore: - Fix @typescript-eslint/no-unsafe-enum-comparison
  src/Query/Filter/BooleanField.ts
  src/Statuses/StatusSettingsReport.ts
  src/Task/Urgency.ts
Due: lint, test

chore: Enable @typescript-eslint/no-unsafe-enum-comparison
  eslint.config.mjs
Due: none

refactor: - Fix '@typescript-eslint/no-unsafe-unary-minus'
  src/DateTime/Postponer.ts
Due: lint, test

chore: Enabled '@typescript-eslint/no-unsafe-unary-minus' check
  eslint.config.mjs
Due: none

chore: Add "yarn run lint:no-fix"
  package.json
Due: none

refactor: - Remove some forbidden imports from moment in TasksDate.ts
  src/DateTime/TasksDate.ts
Due: lint, test
