Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Document editing of Created, Done and Cancelled dates
  docs/Editing/Create or edit Task.md
  docs/Introduction.md
  docs/images/modal.png
Due: lint-markdown

refactor: Remove a temporary comment from styles.css
  styles.css
Due: none

feat: Warn in Edit Task modal about Status limitations
  src/ui/EditTask.svelte
  styles.css
Due: none

docs: Update screenshot of Edit Task modal
  docs/images/modal.png
Due: none

fix: Warn in Edit Task modal about Status-editing limitations (#2558)
  docs/images/modal.png
  src/ui/EditTask.svelte
  styles.css
Due: none

feat: Make modal action buttons always visible (#2484)
  src/TaskModal.ts
  styles.css
Due: lint, test

docs: Update various links from old 'gh-pages' branch to 'main'.
  README.md
  docs/How To/How to style backlinks.md
  docs/Queries/Explaining Queries.md
Due: lint-markdown

refactor: . inline className()
  src/TaskFieldRenderer.ts
Due: lint, test

jsdoc: . describe the addClassName() method
  src/TaskFieldRenderer.ts
Due: lint, test

refactor: - teach TaskFieldRenderer to add class names to HTML elements
  src/TaskFieldRenderer.ts
  tests/TaskFieldRenderer.test.ts
Due: lint, test

refactor: - use addClassName() instead of className() method
  src/TaskLineRenderer.ts
Due: lint, test

refactor: . Rename LayoutOptions to TaskLayoutOptions
  src/IQuery.ts
  src/InlineRenderer.ts
  src/Query/Query.ts
  src/TaskLayout.ts
  src/TaskLineRenderer.ts
  tests/TaskLayout.test.ts
  tests/TaskLineRenderer.test.ts
Due: lint, test

refactor: - Get shortMode from class variable
  src/TaskLineRenderer.ts
Due: lint, test

refactor: . Rename parameter to taskLayoutOptions
  src/TaskLayout.ts
Due: lint, test

refactor: . Rename field to taskLayoutOptions
  src/TaskLayout.ts
Due: lint, test

refactor: . Rename layoutOptions to taskLayoutOptions in IQuery
  src/IQuery.ts
  src/Query/Query.ts
  src/QueryRenderer.ts
Due: lint, test

refactor: . Rename field to taskLayoutOptions
  src/TaskLineRenderer.ts
Due: lint, test

refactor: . Introduce getter shownTaskLayoutComponents in TaskLayout
  src/TaskLayout.ts
Due: lint, test

refactor: . Convert 2 getters to functions in TaskLayout
  src/TaskLayout.ts
  src/TaskLineRenderer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  tests/TaskLayout.test.ts
Due: lint, test

refactor: . Rename field to _taskLayoutOptions
  src/Query/Query.ts
Due: lint, test

refactor: . Make options fields private in TaskLayout
  src/TaskLayout.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
Due: lint, test

refactor: . Introduce getter hiddenTaskLayoutComponents in TaskLayout
  src/TaskLayout.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
