Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

feat: add Korean localization strings for recurrence editor
  src/i18n/locales/ko.json
  src/ui/RecurrenceEditor.svelte
Due: none

feat: add Korean localization for date validation messages in DateEditor and RecurrenceEditor
  src/i18n/locales/ko.json
  src/ui/DateEditor.svelte
  src/ui/RecurrenceEditor.svelte
Due: none

feat: enhance Korean localization for date and recurrence editors
  src/i18n/locales/ko.json
  src/ui/DateEditor.svelte
  src/ui/RecurrenceEditor.svelte
Due: none

feat: improve Korean localization handling in DateEditor and RecurrenceEditor
  src/ui/DateEditor.svelte
  src/ui/RecurrenceEditor.svelte
Due: none

feat: fix Korean localization handling for recurrence editor text matching
  src/ui/RecurrenceEditor.svelte
Due: none

feat: simplify recurrence text translation logic in RecurrenceEditor
  src/ui/RecurrenceEditor.svelte
Due: none

feat: simplify recurrence text translation logic in RecurrenceEditor
  src/i18n/locales/ko.json
  src/ui/RecurrenceEditor.svelte
Due: none

feat: add Korean localization support
  i18next-parser.config.js
  src/i18n/i18n.ts
  src/i18n/locales/ko.json
Due: lint, test

fix: Remove a !important CSS block that is no longer needed
  src/Renderer/Renderer.scss
Due: none

feat: update Korean localization for presets section
  src/i18n/locales/ko.json
Due: none

fix: Improve clarity of Korean translation for recurring tasks
  src/i18n/locales/ko.json
Due: none

fix: Use more accurate Korean term for "natively"
  src/i18n/locales/ko.json
Due: none

docs: Note the Korean translation in Changelog
  docs/What is New/Changelog.md
Due: lint-markdown

i18n: Add support for translating 'Add new preset'
  src/Config/PresetsSettingsUI.ts
  src/i18n/locales/be.json
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/ko.json
  src/i18n/locales/ru.json
  src/i18n/locales/uk.json
  src/i18n/locales/zh_cn.json
Due: lint, test

i18n: Korean for 'Add new preset'
  src/i18n/locales/ko.json
Due: none

Update outdated guide
  docs/How To/Style custom statuses.md
Due: lint-markdown

Another link to update
  resources/sample_vaults/Tasks-Demo/Styling/Snippet - SlRvb's Alternate Checkboxes.md
Due: lint-markdown

Find and replace all links
  docs/Reference/Status Collections/SlRvb's Alternate Checkboxes.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/SlrVb's Alternate Checkboxes.md
Due: lint-markdown

Mention new < symbol
  docs/Reference/Status Collections/SlRvb's Alternate Checkboxes.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/SlrVb's Alternate Checkboxes.md
  resources/sample_vaults/Tasks-Demo/Styling/Snippet - SlRvb's Alternate Checkboxes.md
Due: lint-markdown

Update screenshot
  docs/images/snippet-slrvb-alternate-checkboxes.png
Due: none

Update ITS images
  docs/Reference/Status Collections/ITS Theme.md
  docs/images/theme-its-reading-view-sample.png
  docs/images/theme-its-reading-view.png
  resources/sample_vaults/Tasks-Demo/Styling/Theme - ITS Theme.md
Due: lint-markdown

fix: make calendar respect user's locale for first day of week
  src/ui/Menus/DatePicker.ts
Due: lint, test

Fix images to be light theme
  docs/images/snippet-slrvb-alternate-checkboxes.png
  docs/images/theme-its-reading-view-sample.png
  docs/images/theme-its-reading-view.png
Due: none

Add < to ITSThemeCollection.ts
  src/Config/Themes/ITSThemeCollection.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
