Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: . Rename params to parameterNames for clarity
  src/Scripting/Expression.ts
Due: lint, test

refactor: - Use result of new implementation of evaluateAnyFunctionCalls()
  src/Scripting/ExpandPlaceholders.ts
Due: lint, test

refactor: - Proof-of-concept re-implementing evaluateAnyFunctionCalls()
  src/Scripting/ExpandPlaceholders.ts
Due: lint, test

test: - Remove proof-of-concept tests that are no longer needed.
  tests/Scripting/ExpandPlaceholders.test.ts
Due: lint, test

test: - Experiment with using Expression on placeholder views
  tests/Scripting/ExpandPlaceholders.test.ts
Due: lint, test

test: - Experiment with using Expression on placeholder views on nested object
  tests/Scripting/ExpandPlaceholders.test.ts
Due: lint, test

refactor: - Move evaluateAnyFunctionCalls() call inside try/catch block
  src/Scripting/ExpandPlaceholders.ts
Due: lint, test

test: - Add some more tests in ExpandPlaceholders.test.ts
  tests/Scripting/ExpandPlaceholders.test.ts
Due: lint, test

refactor: . Rename args to parameterValues for clarity
  src/Scripting/Expression.ts
Due: lint, test

refactor: - Remove console.log() call- put text in exception instead.
  src/Scripting/ExpandPlaceholders.ts
Due: lint, test

refactor: - evaluateAnyFunctionCalls() defers to Mustache on error
  src/Scripting/ExpandPlaceholders.ts
Due: lint, test

refactor: . Simplify code
  src/Scripting/TaskExpression.ts
Due: lint, test

refactor: Name the values in ExpressionParameter tuple
  src/Scripting/Expression.ts
Due: lint, test

test: - Remove unreached code
  src/Scripting/ExpandPlaceholders.ts
Due: lint, test

test: . Inline some variables that are no longer needed
  tests/Scripting/ExpandPlaceholders.test.ts
Due: lint, test

feat: Allow more complex expressions in placeholders
  src/Scripting/ExpandPlaceholders.ts
  tests/Scripting/ExpandPlaceholders.test.ts
Due: lint, test

test: . Inline unnecessary variable
  src/Scripting/TaskExpression.ts
Due: lint, test

vault: Further improve alignment
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

vault: Try aligning field names in placeholders
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

vault: Align return statements
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

refactor: . Rename FUNCTION_REGEX to PLACEHOLDER_REGEX
  src/Scripting/ExpandPlaceholders.ts
Due: lint, test

tests: - Update a test for the new placeholders code
  tests/Scripting/ExpandPlaceholders.test.ts
Due: lint, test

vault: Add demo property to toggle short mode
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

vault: Add Placeholder examples to capture in tests and docs.md
  resources/sample_vaults/Tasks-Demo/.obsidian/types.json
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

vault: Try aligning more code in placeholders
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

vault: Fix white-space inconsistency from manual edits in types.json
  resources/sample_vaults/Tasks-Demo/.obsidian/types.json
Due: none

vault: Wrap a long query line for readability
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

vault: Add some explanatory comments
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
