Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: manage children tasks
  src/Obsidian/Cache.ts
  tests/Obsidian/Cache.test.ts
Due: lint, test

test: should read sibling separated by empty line
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent1child1sibling_emptystring.md
  tests/Obsidian/Cache.test.ts
  tests/Obsidian/__test_data__/inheritance_1parent1child1sibling_emptystring.ts
Due: lint, lint-markdown, test

test: should read new root task after header
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent1child1newroot_after_header.md
  tests/Obsidian/Cache.test.ts
  tests/Obsidian/__test_data__/inheritance_1parent1child1newroot_after_header.ts
Due: lint, lint-markdown, test

refactor: remove unused code
  src/Obsidian/Cache.ts
Due: lint, test

refactor: restore imports
  src/Task/Task.ts
Due: lint, test

test: Reorder test for consistency between similar files
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
Due: lint, test

test: Add SampleTasks.withSampleOnCompletionValues()
  tests/TestingTools/SampleTasks.ts
Due: lint, test

test: Add test to generate manually-create approved files
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_OnCompletion_dataview-include.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_OnCompletion_dataview-snippet.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.ts
Due: lint, lint-markdown, test

docs: Update snippets in documentation
  docs/Advanced/Styling.md
  docs/How To/Find tasks with invalid data.md
  docs/Reference/Task Formats/Dataview Format.md
  docs/Scripting/Task Properties.md
Due: lint-markdown

refactor: do not redefine a task with absent parent
  src/Obsidian/Cache.ts
Due: lint, test

test: should read root on non-starting line
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent2children2grandchildren1sibling_start_with_heading.md
  tests/Obsidian/Cache.test.ts
  tests/Obsidian/__test_data__/inheritance_1parent2children2grandchildren1sibling_start_with_heading.ts
Due: lint, lint-markdown, test

refactor: add some explanation for possible negative listItem.parent value
  src/Obsidian/Cache.ts
Due: lint, test

[create-pull-request] automated change
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent1child.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent2children.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent2children1sibling.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent2children2grandchildren1sibling.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent2children2grandchildren1sibling_start_with_heading.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_2siblings.md
Due: lint-markdown

test: . Simplify parameter name
  tests/Suggestor/Suggestor.test.ts
Due: lint, test

refactor: . Extract variable originalLine
  src/Suggestor/EditorSuggestorPopup.ts
Due: lint, test

fix: Prevent duplicate characters at end of line if adding ID
  src/Suggestor/EditorSuggestorPopup.ts
Due: lint, test

refactor: Remove a console.log() line that is no longer needed
  src/Suggestor/EditorSuggestorPopup.ts
Due: lint, test

Remove double spaces from 'On Completion.md'
  docs/Getting Started/On Completion.md
Due: lint-markdown

fix: Don't rewrite any existing ID when adding dependencies
  src/Suggestor/EditorSuggestorPopup.ts
Due: lint, test

fix: Don't rewrite any existing ID when adding dependencies (#2853)
  src/Suggestor/EditorSuggestorPopup.ts
Due: lint, test

chore: Require eol at end of 'Test Data/*.md'
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

spike: Work in progress fixing adding of ID value to task being depended on
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent1child.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent2children.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent2children1sibling.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent2children2grandchildren1sibling.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_1parent2children2grandchildren1sibling_start_with_heading.md
  resources/sample_vaults/Tasks-Demo/Test Data/inheritance_2siblings.md
  tests/Obsidian/Cache.test.ts
  tests/Obsidian/__test_data__/inheritance_1parent1child.ts
  tests/Obsidian/__test_data__/inheritance_1parent2children.ts
  tests/Obsidian/__test_data__/inheritance_1parent2children1sibling.ts
  tests/Obsidian/__test_data__/inheritance_1parent2children2grandchildren1sibling.ts
  tests/Obsidian/__test_data__/inheritance_1parent2children2grandchildren1sibling_start_with_heading.ts
  tests/Obsidian/__test_data__/inheritance_2siblings.ts
Due: lint, lint-markdown, test

Rewrites to 'On Completion.md' as requested by Clare
  docs/Getting Started/On Completion.md
Due: lint-markdown

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
