Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: - Better explanation of source of query file defaults
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.ts
Due: lint, test

vault: Group together related "Meta Bind" widgets
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

docs: Add Query File Defaults.md - and link to it in the Changelog
  docs/Queries/Query File Defaults.md
  docs/What is New/Changelog.md
Due: lint-markdown

refactor: Add QueryFileDefaults.metaBindPluginWidgets() - for docs
  src/Query/QueryFileDefaults.ts
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_meta-bind-widgets.approved.md
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.ts
Due: lint, lint-markdown, test

docs: Whitespace changes made by lint:markdown
  docs/Queries/Query File Defaults.md
Due: lint-markdown

vault: Machine-generate the MetaBind widgets text
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

test: - Rename approved file
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_meta-bind-widgets-include.approved.md
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.ts
Due: lint, lint-markdown, test

test: - Generate a snippet to embed MetaBind widgets in docs
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_meta-bind-widgets-snippet.approved.md
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.ts
Due: lint, lint-markdown, test

docs: Show how to use Meta Bind plugin to control Tasks searches
  docs/Queries/Query File Defaults.md
Due: lint-markdown

refactor: - Move 'explain' toggle to end of Meta Bind widgets
  src/Query/QueryFileDefaults.ts
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_meta-bind-widgets-include.approved.md
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_meta-bind-widgets-snippet.approved.md
Due: lint, lint-markdown, test

vault: - Move 'explain' toggle to end of Meta Bind widgets
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

docs: - Move 'explain' toggle to end of Meta Bind widgets
  docs/Queries/Query File Defaults.md
Due: lint-markdown

docs: Improve 'Creating a User Interface for the defaults' instructions
  docs/Queries/Query File Defaults.md
Due: lint-markdown

docs: Add screenshot of using Meta Bind widgets to control searches
  docs/Queries/Query File Defaults.md
  docs/images/query-file-defaults-meta-bind-controls.png
Due: lint-markdown

docs: Using Obsidian 'File properties' view to customise Tasks searches
  docs/Queries/Query File Defaults.md
  docs/images/query-file-defaults-file-properties-controls.png
Due: lint-markdown

docs: Move list of supported property values to end
  docs/Queries/Query File Defaults.md
Due: lint-markdown

docs: Move 'Types of Query File Defaults property values' to end
  docs/Queries/Query File Defaults.md
Due: lint-markdown

docs: Improve wording of a heading
  docs/Queries/Query File Defaults.md
Due: lint-markdown

docs: Move and improve the CSS to widen property names
  docs/Queries/Query File Defaults.md
Due: lint-markdown

docs: Improve headings at start of Query File Defaults.md
  docs/Queries/Query File Defaults.md
Due: lint-markdown

docs: Move the Meta Bind widgets snippet to separate file
  docs/Queries/Query File Defaults.md
  docs/snippets-embedded-in-multiple-pages/Meta Bind Query Widgets.md
Due: lint-markdown

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
