Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

feat: New CSS classes for "themeability" (#1519)
  docs/advanced/styling.md
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-smoke-test-query-styling.css
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke Testing the Tasks Plugin.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Styling of Queries.md
  src/InlineRenderer.ts
  src/QueryRenderer.ts
  src/TaskLayout.ts
  src/TaskLineRenderer.ts
  tests/Task.test.ts
  tests/TaskLineRenderer.test.ts
Due: lint, lint-markdown, test

docs: Use mdsnippets to embed backlinks CSS files in to docs
  docs/how-to/style-backlinks.md
Due: lint-markdown

docs,vault: Fix tasks-plugin-backlinks-icon.css for next release
  docs/how-to/style-backlinks.md
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-backlinks-icon.css
Due: lint-markdown

docs: Document the breaking CSS change in next release.
  docs/advanced/styling.md
Due: lint-markdown

docs: Break all CSS samples out to formatted CSS files
  docs/advanced/styling.md
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-circular-checkboxes.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-color-due-today-and-overdue.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-complete-example.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-grid-layout.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-highlight-specific-tag-green-glow.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-highlight-specific-tag-round-red-description.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-priority-as-checkbox-color.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-style-custom-statuses.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-tags-links-recurrence-gray.css
Due: lint-markdown

docs,vault: Shorten comment in tasks-plugin-backlinks-icon.css
  docs/how-to/style-backlinks.md
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-backlinks-icon.css
Due: lint-markdown

Some merge fixes
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-query-styling.css
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke Testing the Tasks Plugin.md
  resources/sample_vaults/Tasks-Demo/Styling/Styling of Queries.md
  src/File.ts
  tests/TaskLineRenderer.test.ts
Due: lint, lint-markdown, test

feat: teach DateParser to parse '2022'
  src/Query/DateParser.ts
  tests/Query/DateParser.test.ts
Due: lint, test

feat: teach DateParser to parse year ranges
  src/Query/DateParser.ts
  tests/Query/DateParser.test.ts
Due: lint, test

feat: teach DateParser to parse '2002-02'
  src/Query/DateParser.ts
  tests/Query/DateParser.test.ts
Due: lint, test

feat: test DateParser to parse Feb from leap years and all months
  src/Query/DateParser.ts
  tests/Query/DateParser.test.ts
Due: lint, test

test: add boundary test for months
  tests/Query/DateParser.test.ts
Due: lint, test

feat: teach DateParser to parse weeks
  src/Query/DateParser.ts
  tests/Query/DateParser.test.ts
Due: lint, test

test: add 52/53 weeks in a year tests
  tests/Query/DateParser.test.ts
Due: lint, test

test: add comment for month & year sections
  tests/Query/DateParser.test.ts
Due: lint, test

test: add week error cases
  tests/Query/DateParser.test.ts
Due: lint, test

feat: teach DateParser to parse quarters
  src/Query/DateParser.ts
  tests/Query/DateParser.test.ts
Due: lint, test

refactor: call startOf() & endOf() for year
  src/Query/DateParser.ts
Due: lint, test

test: add erroneous year case
  tests/Query/DateParser.test.ts
Due: lint, test

refactor: use temporary var for return value
  src/Query/DateParser.ts
Due: lint, test

fix: specific date ranges shall be returned at midnight
  src/Query/DateParser.ts
  tests/Query/DateParser.test.ts
Due: lint, test

refactor: explicit date format for parsing
  src/Query/DateParser.ts
Due: lint, test

refactor: extract consts from calls
  src/Query/DateParser.ts
Due: lint, test

refactor: group const together
  src/Query/DateParser.ts
Due: lint, test

refactor: extract specific date range building fct
  src/Query/DateParser.ts
Due: lint, test

refactor: value instead of array in parameter
  src/Query/DateParser.ts
Due: lint, test

refactor: rename buildSpecificDateRange() params
  src/Query/DateParser.ts
Due: lint, test

refactor: quarter to use buildSpecificDateRange()
  src/Query/DateParser.ts
Due: lint, test

refactor: week and month to use buildSpecificDateRange()
  src/Query/DateParser.ts
Due: lint, test

refactor: remove const and put directly in params
  src/Query/DateParser.ts
Due: lint, test

refactor: get chrono unit from the format
  src/Query/DateParser.ts
Due: lint, test

refactor: extract same values to const
  src/Query/DateParser.ts
Due: lint, test

test: test specific ranges with due date
  tests/Query/Filter/DueDateField.test.ts
Due: lint, test

refactor: rename format variables
  src/Query/DateParser.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
