Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: Use early-return in some of TagsField
  src/Query/Filter/TagsField.ts
Due: lint, test

refactor: Return FilterOrErrorMessage straight away
  src/Query/Filter/TagsField.ts
Due: lint, test

refactor: Flip 'if-else'
  src/Query/Filter/TagsField.ts
Due: lint, test

refactor: Unwrap 'else'
  src/Query/Filter/TagsField.ts
Due: lint, test

Revert "refactor: Unwrap 'else'"
  src/Query/Filter/TagsField.ts
Due: lint, test

Revert "refactor: Flip 'if-else'"
  src/Query/Filter/TagsField.ts
Due: lint, test

Revert "refactor: Return FilterOrErrorMessage straight away"
  src/Query/Filter/TagsField.ts
Due: lint, test

Revert "refactor: Use early-return in some of TagsField"
  src/Query/Filter/TagsField.ts
Due: lint, test

docs: Add text for new page on dataview settings for compat
  docs/advanced/dataview.md
Due: lint-markdown

typo fixes
  docs/advanced/dataview.md
Due: lint-markdown

chore: gitignore jest coverage folder
  .gitignore
Due: none

chore: update CONTRIBUTING with test info, typo fixes
  CONTRIBUTING.md
Due: lint-markdown

docs: Move dataview page to new Other Plugins section
  docs/other-plugins/dataview.md
  docs/other-plugins/index.md
Due: lint-markdown

docs: Add warning with instructions for recurring tasks
  docs/other-plugins/dataview.md
Due: lint-markdown

docs: Add temporary links to advanced pages from Other Plugins
  docs/other-plugins/index.md
Due: lint-markdown

docs: Add page on dataview settings for compatibility with Tasks (#1064)
  docs/other-plugins/dataview.md
  docs/other-plugins/index.md
Due: lint-markdown

docs: Add but do not embed screenshot of dataview settings
  resources/screenshots/dataview-settings.png
Due: none

docs: Embed dataview settings image in the page. Link will work once live.
  docs/other-plugins/dataview.md
Due: lint-markdown

chore: lefthook was renamed
  package.json
  yarn.lock
Due: none

docs: Add image of dataview settings page (#1073)
  docs/other-plugins/dataview.md
  resources/screenshots/dataview-settings.png
Due: lint-markdown

chore: lefthook was renamed (#1074)
  package.json
  yarn.lock
Due: none

chore: update gitignore, CONTRIBUTING.md (#1065)
  .gitignore
  CONTRIBUTING.md
Due: lint-markdown

Add link to to plugin page.
  docs/installation/index.md
Due: lint-markdown

docs: Add 'How to get tasks in current file'
  docs/how-to/get-tasks-in-current-file.md
Due: lint-markdown

docs: Add links between dataview-related pages
  docs/how-to/get-tasks-in-current-file.md
  docs/other-plugins/dataview.md
Due: lint-markdown

docs: Add table of contents to dataview page
  docs/other-plugins/dataview.md
Due: lint-markdown

docs: Clarify how the callouts example works.
  docs/how-to/get-tasks-in-current-file.md
Due: lint-markdown

docs: Add 'How to get tasks in current file' (#1091)
  docs/how-to/get-tasks-in-current-file.md
  docs/other-plugins/dataview.md
Due: lint-markdown

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
