Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Slight improvement in the labels for images
  docs/getting-started/auto-suggest.md
Due: lint-markdown

docs: Add link from dates page to docs for creating emojis.
  docs/getting-started/dates.md
Due: lint-markdown

Add example for Minimum match length
  docs/getting-started/auto-suggest.md
Due: lint-markdown

A more sophisticated fix
  src/ui/EditTask.svelte
Due: none

Type fix
  src/ui/EditTask.svelte
Due: none

docs: improved auto-suggest.md - code review feedback
  docs/getting-started/auto-suggest.md
Due: lint-markdown

docs: more auto-suggest docs, from code review feedback
  docs/getting-started/auto-suggest.md
Due: lint-markdown

docs: Document the ⏎ item
  docs/getting-started/auto-suggest.md
Due: lint-markdown

docs: reformat and improve the Details section
  docs/getting-started/auto-suggest.md
Due: lint-markdown

docs: Searches won't work if 2 spaces after date emoji
  docs/getting-started/auto-suggest.md
Due: lint-markdown

test: Add a comment linking to ideas from #861
  tests/EditorSuggest.test.ts
Due: lint, test

docs: Get all embedded images from gh-pages branch.
  docs/getting-started/auto-suggest.md
Due: lint-markdown

docs: Document auto-suggest & improve wording of its settings (#897)
  .gitignore
  docs/getting-started/auto-suggest.md
  docs/getting-started/create-or-edit-task.md
  docs/getting-started/dates.md
  resources/screenshots/auto-suggest-edit-incorrect-task.png
  resources/screenshots/auto-suggest-menu-after-due-date.png
  resources/screenshots/auto-suggest-menu-after-due-emoji.png
  resources/screenshots/auto-suggest-menu-after-priority.png
  resources/screenshots/auto-suggest-menu-after-repeat-emoji.png
  resources/screenshots/auto-suggest-menu-after-repeat-text.png
  resources/screenshots/auto-suggest-menu-initial-menu.png
  resources/screenshots/auto-suggest-preview-incorrect-task.png
  resources/screenshots/settings-auto-suggest-task-content.png
  src/config/SettingsTab.ts
  tests/EditorSuggest.test.ts
Due: lint, lint-markdown, test

refactor: Rename field sourcePath to filePath
  src/QueryRenderer.ts
Due: lint, test

refactor: Rename constructor arg sourcePath to filePath
  src/QueryRenderer.ts
Due: lint, test

chore: Explain 2 fields in QueryRenderChild
  src/QueryRenderer.ts
Due: lint, test

chore: Improve JSDoc for RecurrenceBuilder
  tests/TestingTools/RecurrenceBuilder.test.ts
  tests/TestingTools/RecurrenceBuilder.ts
Due: lint, test

refactor: Remove redundant exclamation marks in Task.ts
  src/Task.ts
Due: lint, test

chore: Add comment on why adding or deleting lines can trigger refresh
  src/Task.ts
Due: lint, test

chore: Debug-log that changing line number triggers Tasks refresh
  src/Cache.ts
Due: lint, test

perf: Stop many non-task edits triggering a redraw of all active tasks blocks (#894)
  src/Cache.ts
  src/QueryRenderer.ts
  src/Recurrence.ts
  src/Sort.ts
  src/Task.ts
  tests/Recurrence.test.ts
  tests/Task.test.ts
  tests/TestingTools/RecurrenceBuilder.test.ts
  tests/TestingTools/RecurrenceBuilder.ts
Due: lint, test

fix: Allow multiple spaces after date emojis, when parsing tasks
  src/Task.ts
  tests/Task.test.ts
Due: lint, test

docs: Remove warning about multiple spaces after date emojis
  docs/getting-started/auto-suggest.md
Due: lint-markdown

fix: Allow multiple spaces after date emojis, when reading task lines (#900)
  docs/getting-started/auto-suggest.md
  src/Task.ts
  tests/Task.test.ts
Due: lint, lint-markdown, test

perf: Disable 'Tasks unchanged in ${file.path}' message
  src/Cache.ts
Due: lint, test

perf: Prevent debug output during plugin launch
  src/QueryRenderer.ts
Due: lint, test

perf: Speed up plugin launch in some circumstances (#901)
  src/Cache.ts
  src/QueryRenderer.ts
Due: lint, test

chore: Add a note the XOR is advanced
  resources/sample_vaults/Tasks-Demo/Filters/Boolean Combinations.md
Due: lint-markdown

docs: Add example of nested boolean filter
  docs/quick-reference/index.md
Due: lint-markdown

docs: Don't use double quotes for boolean fiters
  docs/queries/filters.md
Due: lint-markdown

docs: Fix typo: nearly -> nearby
  docs/queries/combining-filters.md
Due: lint-markdown

docs: Improve wording of XOR example
  docs/queries/combining-filters.md
Due: lint-markdown

docs: Improve wording of boolean syntax summary
  docs/queries/combining-filters.md
Due: lint-markdown

docs: 1st -> first
  docs/queries/combining-filters.md
Due: lint-markdown

docs: Fixes to Combining Filters docs (code review) (#902)
  docs/queries/combining-filters.md
  docs/queries/filters.md
  docs/quick-reference/index.md
  resources/sample_vaults/Tasks-Demo/Filters/Boolean Combinations.md
Due: lint-markdown
