Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

Add warning that documentation moved
  README.md
Due: lint-markdown

Fix closing tag for warning
  README.md
Due: lint-markdown

Add test for Urgency's due date component - needs simplifying
  tests/Query/Urgency.test.ts
Due: lint, test

Simplify testing of priority for various due dates
  tests/Query/Urgency.test.ts
Due: lint, test

Remove unnecessary accuracy on tests
  tests/Query/Urgency.test.ts
Due: lint, test

Convert testUrgencyOnDate() to a function
  tests/Query/Urgency.test.ts
Due: lint, test

Extract helper function calculateRelativeDate()
  tests/Query/Urgency.test.ts
Due: lint, test

Remove repetitious code
  tests/Query/Urgency.test.ts
Due: lint, test

Make the tests more readable
  tests/Query/Urgency.test.ts
Due: lint, test

Move calculateRelativeDate() to new file DateTestHelpers.ts
  tests/Query/Urgency.test.ts
  tests/TestingTools/DateTestHelpers.ts
Due: lint, test

Fix misleading variable names
  tests/Query/Urgency.test.ts
Due: lint, test

Reorder helper functions so that structure is clearer
  tests/Query/Urgency.test.ts
Due: lint, test

test: Add tests for urgency score (#710)
  tests/Query/Urgency.test.ts
  tests/TestingTools/DateTestHelpers.ts
Due: lint, test

Fix urgency for due dates > 14 days in future
  src/Urgency.ts
  tests/Query/Urgency.test.ts
Due: lint, test

Make the urgency score for 'due in 14 days'.
  src/Urgency.ts
  tests/Query/Urgency.test.ts
Due: lint, test

Clarify where factor came from
  src/Urgency.ts
Due: lint, test

Make the documentation match current behavior for urgency
  docs/advanced/urgency.md
  tests/Query/Urgency.test.ts
Due: lint, lint-markdown, test

Docs now redirect correctly
  README.md
Due: lint-markdown

Extract variables in Query.parseTagFilter()
  src/Query.ts
Due: lint, test

Move the tag and tags search code to TagsField
  src/Query.ts
  src/Query/Filter/TagsField.ts
Due: lint, test

Move filtering test functions to FilterTestHelpers.ts
  tests/Query.test.ts
  tests/TestingTools/FilterTestHelpers.ts
Due: lint, test

Move tag tests from Query.test.ts to TagsField.test.ts
  tests/Query.test.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

refactor: Create tag/tags filter class (#714)
  src/Query.ts
  src/Query/Filter/TagsField.ts
  tests/Query.test.ts
  tests/Query/Filter/TagsField.test.ts
  tests/TestingTools/FilterTestHelpers.ts
Due: lint, test

docs: Fix 'How does Tasks handle status changes?' formatting
  CONTRIBUTING.md
Due: lint-markdown

docs: Fix 'How does Tasks handle status changes?' formatting (#720)
  CONTRIBUTING.md
Due: lint-markdown

Add complete date support.
  src/Task.ts
  tests/Task.test.ts
Due: lint, test

Create convention for documenting when features released.
  CONTRIBUTING.md
Due: lint-markdown

Document features released in 1.6.0
  docs/advanced/styling.md
  docs/queries/filters.md
  docs/queries/grouping.md
  docs/queries/sorting.md
Due: lint-markdown

docs: Indicate when 1.6.0 features were released (#731)
  CONTRIBUTING.md
  docs/advanced/styling.md
  docs/queries/filters.md
  docs/queries/grouping.md
  docs/queries/sorting.md
Due: lint-markdown

Add 'group by <start|scheduled|due|done>'
  src/Query.ts
  src/Query/Group.ts
  tests/Group.test.ts
Due: lint, test

Document 'group by <start|scheduled|due|done>'
  docs/queries/grouping.md
Due: lint-markdown
