Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

Round abbreviated durations ("in 2 h") and Custom time prompt
  src/DateTime/ReminderTimeParser.ts
  src/ui/Menus/ReminderPromptModal.ts
  tests/DateTime/ReminderTimeParser.test.ts
Due: lint, test

Fix reminders never being recognised by the Reminder plugin
  src/Renderer/TaskLineRenderer.ts
  src/TaskSerializer/DataviewTaskSerializer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  src/ui/EditInstructions/ReminderInstructions.ts
  src/ui/EditableTask.ts
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_error_message.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_error_message_with_ampersand_and_quotes.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_error_message_with_angle_brackets.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_explain.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_fully_populated_task_-_hidden_fields.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_loading_message.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_should_allow_a_task_to_be_in_multiple_groups.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_-_rendering_queries_fully_populated_task.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_-_rendering_queries_fully_populated_task_-_short_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_full_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_short_mode.approved.html
  tests/Scripting/TaskProperties.test.task_other_fields.approved.md
  tests/Task/Task.test.ts
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
  tests/TestingTools/TaskBuilder.test.ts
  tests/ui/EditInstructions/ReminderInstructions.test.ts
  tests/ui/EditableTask.test.ts
  tests/ui/Menus/ReminderMenu.test.ts
Due: lint, lint-markdown, test

Revert Reminder-plugin-only format changes; keep anchor invariant
  src/Renderer/TaskLineRenderer.ts
  src/TaskSerializer/DataviewTaskSerializer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  src/ui/EditInstructions/ReminderInstructions.ts
  src/ui/EditableTask.ts
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_error_message.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_error_message_with_ampersand_and_quotes.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_error_message_with_angle_brackets.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_explain.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_fully_populated_task_-_hidden_fields.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_loading_message.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_should_allow_a_task_to_be_in_multiple_groups.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_-_rendering_queries_fully_populated_task.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_-_rendering_queries_fully_populated_task_-_short_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_full_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_short_mode.approved.html
  tests/Scripting/TaskProperties.test.task_other_fields.approved.md
  tests/Task/Task.test.ts
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
  tests/TestingTools/TaskBuilder.test.ts
  tests/ui/EditableTask.test.ts
Due: lint, lint-markdown, test

Bump to 3.0.0: reminder field complete (pill only, no native alarm yet)
  CHANGELOG.md
  CLAUDE.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

Recognise compound relative reminder durations ("in 3 days 12 min")
  src/DateTime/ReminderTimeParser.ts
  tests/DateTime/ReminderTimeParser.test.ts
Due: lint, test

Strip versions.json down to this fork's own entries
  CLAUDE.md
  versions.json
Due: lint-markdown

Native notification delivery, Phase 1: foreground/desktop (roadmap item 4)
  CHANGELOG.md
  CLAUDE.md
  manifest.json
  package.json
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/Notifications/NotificationScheduler.ts
  src/Notifications/ReminderNotifier.ts
  src/i18n/locales/en.json
  src/main.ts
  tests/Config/Settings.test.ts
  tests/Notifications/NotificationScheduler.test.ts
  tests/Notifications/ReminderNotifier.test.ts
  tests/__mocks__/obsidian.ts
  versions.json
Due: lint, lint-markdown, test

Notifications view (roadmap item 4 continuation)
  CHANGELOG.md
  CLAUDE.md
  manifest.json
  package.json
  src/Commands/index.ts
  src/Config/DismissibleNotices.scss
  src/Config/Settings.ts
  src/Notifications/NotificationHistory.ts
  src/Notifications/ReminderNotifier.ts
  src/Obsidian/NotificationsItemView.ts
  src/main.ts
  src/styles.scss
  src/ui/NotificationsView.scss
  src/ui/NotificationsView.svelte
  tests/Config/Settings.test.ts
  tests/Notifications/NotificationHistory.test.ts
  tests/Notifications/ReminderNotifier.test.ts
  tests/TestingTools/DOMExtensions.test.ts
  tests/TestingTools/DOMExtensions.ts
  tests/jest.setup.ts
  versions.json
Due: lint, lint-markdown, test

Redesign notifications view: 4 live buckets, drop separate history
  CHANGELOG.md
  CLAUDE.md
  manifest.json
  package.json
  src/Config/Settings.ts
  src/Notifications/NotificationBuckets.ts
  src/Notifications/NotificationHistory.ts
  src/Obsidian/NotificationsItemView.ts
  src/main.ts
  src/ui/NotificationsView.scss
  src/ui/NotificationsView.svelte
  tests/Config/Settings.test.ts
  tests/Notifications/NotificationBuckets.test.ts
  tests/Notifications/NotificationHistory.test.ts
  versions.json
Due: lint, lint-markdown, test

Fix word-quantified relative reminders and stale notifications view
  CHANGELOG.md
  manifest.json
  package.json
  src/DateTime/ReminderTimeParser.ts
  src/Obsidian/NotificationsItemView.ts
  tests/DateTime/ReminderTimeParser.test.ts
  tests/ui/EditableTask.test.ts
  versions.json
Due: lint, lint-markdown, test

Startup summary for reminders missed while Obsidian was closed
  CHANGELOG.md
  CLAUDE.md
  manifest.json
  package.json
  src/Notifications/ReminderNotifier.ts
  src/main.ts
  tests/Notifications/ReminderNotifier.test.ts
  versions.json
Due: lint, lint-markdown, test

Unified "Schedule" field, replacing separate Scheduled date/Reminder time editing (4.0.0)
  CHANGELOG.md
  manifest.json
  package.json
  src/DateTime/ReminderTimeParser.ts
  src/DateTime/ScheduleParser.ts
  src/Renderer/Renderer.scss
  src/Renderer/TaskLineRenderer.ts
  src/Task/Task.ts
  src/styles.scss
  src/ui/EditInstructions/ReminderInstructions.ts
  src/ui/EditInstructions/ScheduleInstructions.ts
  src/ui/EditTask.svelte
  src/ui/Menus/DateMenu.ts
  src/ui/Menus/DatePicker.ts
  src/ui/Menus/ReminderMenu.ts
  src/ui/Menus/ReminderPromptModal.ts
  src/ui/Menus/ScheduleDialog.ts
  src/ui/ScheduleEditor.scss
  src/ui/ScheduleEditor.svelte
  tests/DateTime/ScheduleParser.test.ts
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_fully_populated_task_-_hidden_fields.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_should_allow_a_task_to_be_in_multiple_groups.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_-_rendering_queries_fully_populated_task.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_-_rendering_queries_fully_populated_task_-_short_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_full_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_short_mode.approved.html
  tests/Scripting/TaskProperties.test.task_other_fields.approved.md
  tests/Task/Task.test.ts
  tests/ui/EditInstructions/ReminderInstructions.test.ts
  tests/ui/EditInstructions/ScheduleInstructions.test.ts
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot.approved.html
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot_-_without_access_keys.approved.html
  tests/ui/EditTask.test.ts
  tests/ui/EditableTask.test.ts
  tests/ui/Menus/DateMenu.test.ts
  tests/ui/Menus/ReminderMenu.test.ts
  tests/ui/ScheduleEditor.test.ts
  tests/ui/ScheduleEditorWrapper.svelte
  versions.json
Due: lint, lint-markdown, test

UX fixes for the Schedule field/dialog, plus configurable reminder rounding (4.1.0)
  CHANGELOG.md
  lefthook.yml
  manifest.json
  package.json
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/DateTime/ReminderSuggestions.ts
  src/DateTime/ReminderTimeParser.ts
  src/DateTime/ScheduleParser.ts
  src/i18n/locales/en.json
  src/ui/EditTask.scss
  src/ui/EditableTask.ts
  src/ui/Menus/DateMenu.ts
  src/ui/Menus/DatePicker.scss
  src/ui/Menus/DatePicker.ts
  src/ui/Menus/ReminderMenu.ts
  src/ui/Menus/ScheduleDialog.ts
  src/ui/ReminderEditor.svelte
  src/ui/ScheduleEditor.scss
  src/ui/ScheduleEditor.svelte
  tests/Config/Settings.test.ts
  tests/DateTime/ReminderSuggestions.test.ts
  tests/DateTime/ReminderTimeParser.test.ts
  tests/DateTime/ScheduleParser.test.ts
  tests/__mocks__/obsidian.ts
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot.approved.html
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot_-_without_access_keys.approved.html
  tests/ui/EditTask.test.ts
  tests/ui/Menus/DateMenu.test.ts
  tests/ui/Menus/MenuTestingHelpers.ts
  tests/ui/Menus/ReminderMenu.test.ts
  tests/ui/ReminderEditor.test.ts
  tests/ui/ReminderEditorWrapper.svelte
  tests/ui/ScheduleEditor.test.ts
  versions.json
Due: lint, lint-markdown, test

Fix reminder-suggestion labels: hours phrasing, off-by-one minute
  CHANGELOG.md
  src/DateTime/ReminderSuggestions.ts
  tests/DateTime/ReminderSuggestions.test.ts
  tests/ui/Menus/ReminderMenu.test.ts
Due: lint, lint-markdown, test

Bump to 4.2.0
  CHANGELOG.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

Schedule popover, Notifications view interactivity/polish, datalist fix
  CHANGELOG.md
  manifest.json
  package.json
  src/DateTime/ReminderSuggestions.ts
  src/Renderer/TaskLineRenderer.ts
  src/styles.scss
  src/ui/EditInstructions/ScheduleInstructions.ts
  src/ui/Menus/DateMenu.ts
  src/ui/Menus/DatePicker.ts
  src/ui/Menus/ReminderMenu.ts
  src/ui/Menus/ScheduleDialog.ts
  src/ui/Menus/SchedulePopover.scss
  src/ui/Menus/SchedulePopover.ts
  src/ui/NotificationsView.scss
  src/ui/NotificationsView.svelte
  src/ui/ScheduleEditor.scss
  src/ui/ScheduleEditor.svelte
  tests/ui/Menus/DateMenu.test.ts
  tests/ui/ScheduleEditor.test.ts
  versions.json
Due: lint, lint-markdown, test

Notifications view: vertical centering, bigger text, day-aware time
  CHANGELOG.md
  src/ui/NotificationsView.scss
  src/ui/NotificationsView.svelte
Due: lint-markdown

Notifications view: fix ugly centering on wrapped task text
  CHANGELOG.md
  src/ui/NotificationsView.scss
Due: lint-markdown

Notifications view: fix long-text overflow, always show duration
  CHANGELOG.md
  src/ui/NotificationsView.scss
  src/ui/NotificationsView.svelte
Due: lint-markdown

Notifications view: fix real overflow into next bucket heading
  CHANGELOG.md
  src/ui/NotificationsView.scss
Due: lint-markdown

Notifications view: remove nested flex, eliminate overlap risk class
  CHANGELOG.md
  src/ui/NotificationsView.scss
Due: lint-markdown

Notifications view: pill height -> min-height
  CHANGELOG.md
  src/ui/NotificationsView.scss
Due: lint-markdown

test: reproduce recurring until timezone bug
  tests/Task/Recurrence.test.ts
Due: lint, test

fix: preserve recurring until dates across timezones
  src/Task/Recurrence.ts
  tests/Task/Recurrence.test.ts
Due: lint, test

test: cover recurring until when done
  tests/Task/Recurrence.test.ts
Due: lint, test

docs: document recurring until dates
  docs/Getting Started/Recurring Tasks.md
Due: lint-markdown

fix: accept ISO dates in recurring until rules
  src/Task/Recurrence.ts
  tests/Task/Recurrence.test.ts
Due: lint, test

docs: clarify recurrence interval examples
  docs/Getting Started/Recurring Tasks.md
Due: lint-markdown

docs: explain relative monthly weekdays
  docs/Getting Started/Recurring Tasks.md
Due: lint-markdown

fix: parse ISO dates in task recurrence fields
  src/TaskSerializer/DataviewTaskSerializer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
Due: lint, test

Notifications view: override Obsidian's fixed button height
  CHANGELOG.md
  src/ui/NotificationsView.scss
Due: lint-markdown

test: cover documented recurrence examples
  tests/Task/Recurrence.test.ts
Due: lint, test

Add custom-fields roadmap item
  CLAUDE.md
Due: lint-markdown

Document tag-triggered release process for beta/UAT distribution
  CLAUDE.md
Due: lint-markdown

test: - delete dead code
  tests/TestingTools/AutoApprovingReporter.ts
Due: lint, test

test: - prepare migration to approvals v7
  tests/TestingTools/CombinationApprovalsAsync.ts
Due: lint, test

chore: install approvals v7.3.0
  package.json
  yarn.lock
Due: none

chore: ignore approval test log folder
  .gitignore
Due: none

chore: solve approvals lint issues
  tsconfig.json
Due: none

test: - update comments referencing removed code
  tests/TestingTools/VerifyMarkdown.ts
Due: lint, test
