Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

test: . Extract function createUngroupedQueryResult()
  tests/Query/QueryResult.test.ts
Due: lint, test

test: t Full coverage of QueryResult.totalTasksCountDisplayText()
  tests/Query/QueryResult.test.ts
Due: lint, test

test: - Group together related tasks for readability (and I'm going to add more)
  tests/Query/QueryResult.test.ts
Due: lint, test

vault: @ Revert accidental commit of local build of Tasks
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/styles.css
Due: none

refactor: Inline tasksCountLabel in addTaskCount()
  src/QueryRenderer.ts
Due: lint, test

refactor: move code for task counts text to QueryResult (#2300)
  src/Query/QueryResult.ts
  src/QueryRenderer.ts
  tests/Query/QueryResult.test.ts
Due: lint, test

refactor: - Add QueryResult.totalTasksCountBeforeLimit
  src/Query/Query.ts
  src/Query/QueryResult.ts
  tests/Query.test.ts
  tests/Query/QueryResult.test.ts
Due: lint, test

test: . Extract method createUngroupedQueryResultWithLimit()
  tests/Query/QueryResult.test.ts
Due: lint, test

test: . Inline variable totalTasksCountBeforeLimit
  tests/Query/QueryResult.test.ts
Due: lint, test

feat: - 'show task count' now includes matched task count
  src/Query/QueryResult.ts
  tests/Query/QueryResult.test.ts
Due: lint, test

fix: - 'show task count' shows correct text for limit 1
  src/Query/QueryResult.ts
  tests/Query/QueryResult.test.ts
Due: lint, test

refactor: Extract variable pluralised
  src/Query/QueryResult.ts
Due: lint, test

refactor: . Extract method taskCountPluralised()
  src/Query/QueryResult.ts
Due: lint, test

refactor: Inline variable pluralised
  src/Query/QueryResult.ts
Due: lint, test

refactor: Re-use taskCountPluralised()
  src/Query/QueryResult.ts
Due: lint, test

docs: Add 'Seeing the total number of tasks found'
  docs/Queries/Limiting.md
Due: lint-markdown

docs: Add mew task and query properties to 'Quick Reference'
  docs/Quick Reference.md
Due: lint-markdown

docs: Fix typo, and note version number, in Limiting
  docs/Queries/Limiting.md
Due: lint-markdown

Update to version 4.8.0
  docs/Introduction.md
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Queries/Limiting.md
  docs/Scripting/Query Properties.md
  docs/Scripting/Task Properties.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

fix: Prevent crash at startup if user never previously edited settings
  src/main.ts
Due: lint, test

fix: Prevent crash at startup if user never previously edited settings (#2303)
  src/main.ts
Due: lint, test

Update to version 4.8.1
  manifest.json
  package.json
  versions.json
Due: none

vault: Add smoke test that plugin works with no settings file
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke Testing the Tasks Plugin.md
Due: lint-markdown

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
