Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: - return value rather than overwriting a variable
  src/ui/EditTask.svelte
Due: none

refactor: - reuse editTaskLabelContent for description
  src/ui/EditTask.svelte
Due: none

refactor: ! add possibility for accessKey to be null
  src/ui/EditTask.svelte
Due: none

refactor: - move <label> inside <Dependency> by adding labelText parameter
  src/ui/Dependency.svelte
  src/ui/EditTask.svelte
Due: none

refactor: - remove a parameter by calculating the needed value in the component call
  src/ui/Dependency.svelte
  src/ui/EditTask.svelte
Due: none

jsdoc: . document editTaskLabelContent()
  src/ui/EditTaskHelpers.ts
Due: lint, test

refactor: - reuse accessKeyIndex to deduct results
  src/ui/EditTaskHelpers.ts
Due: lint, test

test: - Reuse createAndAddTask()
  tests/Suggestor/Suggestor.test.ts
Due: lint, test

test: . Extract variable selectedTaskLabels
  tests/Suggestor/Suggestor.test.ts
Due: lint, test

test: . Inline some variables, preparing to extract a new helper function.
  tests/Suggestor/Suggestor.test.ts
Due: lint, test

test: - Refactor to populate selectedTaskLabels algorithmically
  tests/Suggestor/Suggestor.test.ts
Due: lint, test

test: - Extract helper shouldStartWithSuggestedTasks()
  tests/Suggestor/Suggestor.test.ts
Due: lint, test

test: . Inline selectedTasks
  tests/Suggestor/Suggestor.test.ts
Due: lint, test

test: . Inline suggestTaskxy, suggestTask1234 and suggestTask5678
  tests/Suggestor/Suggestor.test.ts
Due: lint, test

test: - Adopt shouldStartWithSuggestedTasks()
  tests/Suggestor/Suggestor.test.ts
Due: lint, test

test: - remove almost all hard-coded strings with suggestionLabel() calls
  tests/Suggestor/Suggestor.test.ts
Due: lint, test

test: - replace last hard-coded string with suggestionLabel() - and fix that function
  tests/Suggestor/Suggestor.test.ts
Due: lint, test

test: - Adopt shouldStartWithSuggestedTasks() in a few more locations
  tests/Suggestor/Suggestor.test.ts
Due: lint, test

test: - Remove some expects() that I added to ensure I didn't change allTasks
  tests/Suggestor/Suggestor.test.ts
Due: lint, test

All tests for new onCompletion field passing; But 'delete' action tests in OnCompletion.test.ts are failing!
  src/Commands/CreateOrEditTaskParser.ts
  src/Layout/TaskLayoutOptions.ts
  src/Renderer/TaskFieldRenderer.ts
  src/Task/OnCompletion.ts
  src/Task/Task.ts
  src/TaskSerializer/DataviewTaskSerializer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  src/TaskSerializer/index.ts
  tests/CustomMatchers/CustomMatchersForTaskSerializer.ts
  tests/DocumentationSamples/ValidateTasks.test.validate-tasks_find-unread-emojis.approved.text
  tests/Layout/TaskLayout.test.ts
  tests/Layout/TaskLayoutOptions.test.ts
  tests/Query/Query.test.ts
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_full_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_short_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.ts
  tests/Scripting/TaskProperties.test.task_other_fields.approved.md
  tests/Scripting/TaskProperties.test.ts
  tests/Task/OnCompletion.test.visualise_completion-behaviour_visualise.approved.txt
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Emojis_tabulate-emojis.approved.md
  tests/TaskSerializer/TaskSerializer.test.ts
  tests/TestingTools/TaskBuilder.test.ts
  tests/TestingTools/TaskBuilder.ts
Due: lint, lint-markdown, test

Update tests to use onCompletion field (instead of text string within task.description)
  tests/Task/OnCompletion.test.ts
Due: lint, test

Import from testFileEditing branch code needed to make tests pass
  src/Task/OnCompletion.ts
  src/Task/Task.ts
Due: lint, test

refactor: . restore old order of imports
  src/ui/EditTask.svelte
Due: none

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
