Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: migrate FilenameField to new grouping
  src/Query/Filter/FilenameField.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
  tests/Group.test.ts
  tests/Query/Filter/FilenameField.test.ts
Due: lint, test

refactor: migrate PathField to new grouping
  src/Query/Filter/PathField.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
  tests/Group.test.ts
  tests/Query/Filter/PathField.test.ts
Due: lint, test

refactor: migrate PriorityField to new grouping
  src/Query/Filter/PriorityField.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
  tests/Group.test.ts
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

refactor: migrate RecurrenceField to new grouping
  src/Query/Filter/RecurrenceField.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
  tests/Group.test.ts
  tests/Query/Filter/RecurrenceField.test.ts
Due: lint, test

refactor: migrate RecurringField to new grouping
  src/Query/Filter/RecurringField.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
  tests/Group.test.ts
  tests/Query/Filter/RecurringField.test.ts
Due: lint, test

test: fix test messages
  tests/Query/Filter/FilenameField.test.ts
  tests/Query/Filter/PathField.test.ts
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

refactor: migrate StatusField to new grouping
  src/Query/Filter/StatusField.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
  tests/DocsSamplesForStatuses.test.ts
  tests/Group.test.ts
  tests/Query/Filter/StatusField.test.ts
Due: lint, test

test: bring back wrongly deleted test
  tests/Group.test.ts
Due: lint, test

refactor: call grouper directly
  src/Query/Group.ts
Due: lint, test

test: shorter calls and rename variable
  tests/Query/Filter/FilenameField.test.ts
  tests/Query/Filter/HeadingField.test.ts
  tests/Query/Filter/PathField.test.ts
  tests/Query/Filter/PriorityField.test.ts
  tests/Query/Filter/RecurrenceField.test.ts
  tests/Query/Filter/RecurringField.test.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

refactor: better comment
  src/Query/FilterParser.ts
Due: lint, test

refactor: remove unused static
  src/Query/Filter/FilenameField.ts
Due: lint, test

test: place the test where it was before
  tests/Group.test.ts
Due: lint, test

test: fix text message and shorten var
  tests/Query/Filter/StatusField.test.ts
Due: lint, test

refactor: reuse existing method
  src/Query/Filter/StatusField.ts
Due: lint, test

Limit date suggetsions to half of maximum
  src/Suggestor/Suggestor.ts
Due: lint, test

Update created date in getting started docs
  docs/Getting Started/Dates.md
Due: lint-markdown

obsidian modal
  .gitignore
  main.css
  src/main.ts
  src/reminder-testing-folder/components/Icon.svelte
  src/reminder-testing-folder/components/Markdown.svelte
  src/reminder-testing-folder/components/Reminder.svelte
  src/reminder-testing-folder/notification.ts
Due: lint, test

fix: MultiTextField just have plural field name in Grouper.property
  src/Query/Filter/MultiTextField.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

refactor: generalise TagsField workaround to MultiTextField
  src/Query/FilterParser.ts
Due: lint, test

docs: Update screenshots in Auto-suggest walk through
  docs/images/auto-suggest-menu-after-due-date.png
  docs/images/auto-suggest-menu-after-due-emoji.png
  docs/images/auto-suggest-menu-after-priority.png
  docs/images/auto-suggest-menu-after-repeat-emoji.png
  docs/images/auto-suggest-menu-after-repeat-text.png
  docs/images/auto-suggest-menu-initial-menu.png
Due: none

refactor: use MultiTextField.fieldNamePlural()
  src/Query/Filter/MultiTextField.ts
  src/Query/FilterParser.ts
Due: lint, test

refactor: existing *Field grouping migration to new grouping (#1871)
  src/Query/Filter/FilenameField.ts
  src/Query/Filter/HeadingField.ts
  src/Query/Filter/MultiTextField.ts
  src/Query/Filter/PathField.ts
  src/Query/Filter/PriorityField.ts
  src/Query/Filter/RecurrenceField.ts
  src/Query/Filter/RecurringField.ts
  src/Query/Filter/StatusField.ts
  src/Query/Filter/TagsField.ts
  src/Query/FilterParser.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
  tests/DocsSamplesForStatuses.test.ts
  tests/Group.test.ts
  tests/Query/Filter/FilenameField.test.ts
  tests/Query/Filter/HeadingField.test.ts
  tests/Query/Filter/PathField.test.ts
  tests/Query/Filter/PriorityField.test.ts
  tests/Query/Filter/RecurrenceField.test.ts
  tests/Query/Filter/RecurringField.test.ts
  tests/Query/Filter/StatusField.test.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

Make auto-suggest image alt text consistent
  docs/Getting Started/Auto-Suggest.md
Due: lint-markdown

docs: update docs from PR comments
  docs/Advanced/SQL Columns.md
  docs/Advanced/SQL Debugging.md
  docs/Advanced/SQL Examples.md
  docs/Advanced/SQL Grouping.md
  docs/Advanced/SQL Limit.md
  docs/Advanced/SQL Operators.md
  docs/Advanced/SQL Queries.md
  docs/Advanced/SQL Sorting.md
  docs/Advanced/SQL WHERE Clause.md
  docs/How To/Change filter based on time of day.md
  src/QuerySql/QuerySql.ts
  yarn.lock
Due: lint, lint-markdown, test

chore: lefthook to fix path error
  package.json
  yarn.lock
Due: none

docs: move to SQL Searches folder
  docs/Advanced/SQL Searches/SQL Columns.md
  docs/Advanced/SQL Searches/SQL Debugging.md
  docs/Advanced/SQL Searches/SQL Examples.md
  docs/Advanced/SQL Searches/SQL Grouping.md
  docs/Advanced/SQL Searches/SQL Limit.md
  docs/Advanced/SQL Searches/SQL Operators.md
  docs/Advanced/SQL Searches/SQL Queries.md
  docs/Advanced/SQL Searches/SQL Sorting.md
  docs/Advanced/SQL Searches/SQL WHERE Clause.md
  lefthook.yml
Due: lint-markdown

contrib: Fix broken links due to renaming of files in docs/
  contributing/Code/How do I add a new task filter.md
Due: lint-markdown

contrib: Add tips for editing the Quick Reference table
  contributing/Code/How do I add a new task filter.md
Due: lint-markdown

switched from interface to class
  main.css
  src/Commands/CreateOrEditTaskParser.ts
  src/Task.ts
  src/TaskLayout.ts
  src/TaskLineRenderer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  src/TaskSerializer/index.ts
  src/main.ts
  src/reminders/Reminder.ts
  src/reminders/components/Icon.svelte
  src/reminders/components/Markdown.svelte
  src/reminders/components/Reminder.svelte
  src/reminders/notification.ts
  tests/CustomMatchers/CustomMatchersForTaskSerializer.ts
  tests/Query.test.ts
  tests/Task.test.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
  tests/TaskSerializer/TaskSerializer.test.ts
  tests/TestingTools/TaskBuilder.ts
Due: lint, test

docs: update codeblock to be correct and remove NBSP characters
  docs/Advanced/SQL Searches/SQL Limit.md
  docs/Advanced/SQL Searches/SQL Operators.md
  docs/Advanced/SQL Searches/SQL Sorting.md
  docs/Advanced/SQL Searches/SQL WHERE Clause.md
  docs/How To/Change filter based on time of day.md
  docs/Reference/Moment Formatting.md
  resources/sample_vaults/Tasks-Demo/.obsidian/themes/Ebullientworks/theme.css
  resources/sample_vaults/Tasks-Demo/.obsidian/themes/ITS Theme/theme.css
Due: lint-markdown

docs: fix link and extra col
  docs/Advanced/SQL Searches/SQL WHERE Clause.md
Due: lint-markdown

docs: update contribution docs
  contributing/Code/How do I add a new field to the Task class.md
  contributing/Code/How do I add a new task filter.md
Due: lint-markdown

test: increase test coverage
  src/QuerySql/QuerySql.ts
  tests/QuerySql/QuerySql.test.ts
Due: lint, test

feat: Add one-button support for LYT Mode theme
  docs/Reference/Status Collections/LYT Mode Theme.md
  docs/Reference/Status Collections/Status Collections.md
  docs/images/theme-lyt-mode-reading-view.png
  src/Config/SettingsTab.ts
  src/Config/Themes/LYTModeThemeCollection.ts
  src/Config/Themes/index.ts
  tests/DocsSamplesForStatuses.test.Theme_LYT_Mode_Table.approved.md
  tests/DocsSamplesForStatuses.test.Theme_LYT_Mode_Tasks.approved.md
  tests/DocsSamplesForStatuses.test.Theme_LYT_Mode_Text.approved.txt
  tests/DocsSamplesForStatuses.test.ts
Due: lint, lint-markdown, test

vault: Update LYT Mode theme from 1.5.8 to 1.6.2
  resources/sample_vaults/Tasks-Demo/.obsidian/themes/LYT Mode/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/themes/LYT Mode/theme.css
Due: none

feat: Add one-button support for LYT Mode checkboxes (#1874)
  docs/Reference/Status Collections/LYT Mode Theme.md
  docs/Reference/Status Collections/Status Collections.md
  docs/images/theme-lyt-mode-reading-view.png
  resources/sample_vaults/Tasks-Demo/.obsidian/themes/LYT Mode/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/themes/LYT Mode/theme.css
  src/Config/SettingsTab.ts
  src/Config/Themes/LYTModeThemeCollection.ts
  src/Config/Themes/index.ts
  tests/DocsSamplesForStatuses.test.Theme_LYT_Mode_Table.approved.md
  tests/DocsSamplesForStatuses.test.Theme_LYT_Mode_Tasks.approved.md
  tests/DocsSamplesForStatuses.test.Theme_LYT_Mode_Text.approved.txt
  tests/DocsSamplesForStatuses.test.ts
Due: lint, lint-markdown, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
