Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

chore: Update circular-deps.txt
  circular-deps.txt
Due: none

chore: Add dependency on flatpickr date (and time) picking widget
  package.json
  yarn.lock
Due: none

refactor: . Extract HappensDate out to separate file DateFieldTypes.ts
  src/DateTime/DateFieldTypes.ts
  src/DateTime/Postponer.ts
  src/ui/Menus/PostponeMenu.ts
  tests/DateTime/Postponer.test.ts
Due: lint, test

refactor: - Add SetTaskDate implementation of TaskEditingInstruction
  src/DateTime/DateFieldTypes.ts
  src/ui/EditInstructions/DateInstructions.ts
  tests/ui/EditInstructions/DateInstructions.test.ts
Due: lint, test

test: - Add failing test for SetTaskDate making unwanted edits
  tests/ui/EditInstructions/DateInstructions.test.ts
Due: lint, test

fix: SetTaskDate does not change dates needlessly
  src/ui/EditInstructions/DateInstructions.ts
  tests/ui/EditInstructions/DateInstructions.test.ts
Due: lint, test

refactor: . Extract method isSameDate()
  src/ui/EditInstructions/DateInstructions.ts
Due: lint, test

fix: Correct the implementation of isCheckedForTask()
  src/ui/EditInstructions/DateInstructions.ts
  tests/ui/EditInstructions/DateInstructions.test.ts
Due: lint, test

refactor: - Re-use isCheckedForTask()
  src/ui/EditInstructions/DateInstructions.ts
Due: lint, test

refactor: . Inline isSameDate()
  src/ui/EditInstructions/DateInstructions.ts
Due: lint, test

feat: Add date picker in Reading mode and Query Results
  src/DateTime/Postponer.ts
  src/Renderer/TaskLineRenderer.ts
  src/ui/Menus/DatePicker.ts
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_full_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_short_mode.approved.html
Due: lint, test

feat: Make it visible that dates on task lines can be clicked on
  src/Renderer/Renderer.scss
Due: none

fix: Make new date picker work without a Kanban plugin installation
  src/styles.scss
Due: none

chore: Add flatpickr licence text to released main.js
  esbuild.config.mjs
Due: none

test: delete commented-out code, spotted by SonarCloud
  tests/ui/EditInstructions/DateInstructions.test.ts
Due: lint, test

Update to version 7.9.0
  docs/What is New/Changelog.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

[create-pull-request] automated change
  docs/Advanced/Styling.md
Due: lint-markdown

jsdoc: Link between Task.allDateFields and AllTaskDateFields
  src/DateTime/DateFieldTypes.ts
  src/Task/Task.ts
Due: lint, test

refactor: ! add test of QueryResultsRenderer
  src/Renderer/QueryResultsRenderer.ts
  src/Renderer/TaskLineRenderer.ts
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_fully_populated_task.approved.html
  tests/Renderer/QueryResultsRenderer.test.ts
Due: lint, test

refactor: . flip if-else to get early return
  src/Renderer/QueryResultsRenderer.ts
Due: lint, test

refactor: . rename method to render()
  src/Renderer/QueryRenderer.ts
  src/Renderer/QueryResultsRenderer.ts
  tests/Renderer/QueryResultsRenderer.test.ts
Due: lint, test
