Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: . Extract extraInstructions
  src/Query/QueryFileDefaults.ts
Due: lint, test

refactor: . Extract variable intro
  src/Query/QueryRendererHelper.ts
Due: lint, test

feat: Teach 'explain' to show instructions from Query File Defaults
  src/Query/QueryRendererHelper.ts
  tests/Query/QueryRendererHelper.test.ts
Due: lint, test

refactor: . Extract addValue()
  src/Query/QueryFileDefaults.ts
Due: lint, test

refactor: . Extract explainQuery()
  src/Query/QueryRendererHelper.ts
Due: lint, test

refactor: . Slide line up
  src/Query/QueryRendererHelper.ts
Due: lint, test

refactor: - Better explanation of source of query file defaults
  src/Query/QueryRendererHelper.ts
  tests/Query/QueryRendererHelper.test.ts
Due: lint, test

fix: Make 'ignore global query' work in Query File Defaults
  resources/sample_vaults/Tasks-Demo/Test Data/query_file_defaults_ignore_global_query.md
  src/Query/QueryRendererHelper.ts
  tests/Obsidian/AllCacheSampleData.ts
  tests/Obsidian/__test_data__/query_file_defaults_ignore_global_query.json
  tests/Query/QueryRendererHelper.test.ts
Due: lint, lint-markdown, test

vault: Remove placeholder code for properties now built-in to Tasks
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

refactor: - Simplify use of 'tasks_query_extra_instructions'
  src/Query/QueryFileDefaults.ts
Due: lint, test

refactor: . Reuse explainQuery()
  src/Query/QueryRendererHelper.ts
Due: lint, test

refactor: - Make code reflect name of variable correctly
  src/Query/QueryRendererHelper.ts
Due: lint, test

feat: - Set 'tasks_query_extra_instructions' prop, to add arbitrary extra text
  src/Query/QueryFileDefaults.ts
  tests/Query/QueryFileDefaults.test.ts
Due: lint, test

test: - Fix confusing test names
  tests/Query/QueryRendererHelper.test.ts
Due: lint, test

refactor: . Extract variable ignoreGlobalQuery
  src/Query/QueryRendererHelper.ts
Due: lint, test

refactor: . Rename parameter to queryFile, for clarity
  src/Query/QueryFileDefaults.ts
Due: lint, test

vault: Make all queries honour 'tasks_query_explain' property
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

vault: Update notes in 'Placeholder examples to capture in tests and docs.md'
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

vault: Enable manual easy testing of 'ignore global query'
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

vault: Add "Meta Bind" widgets for editing Query File Defaults
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

refactor: - Better explanation of source of query file defaults
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.ts
Due: lint, test

test: - Show all supported QueryFileDefaults in frontmatter
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.ts
Due: lint, test

vault: Install and enable the "Meta Bind" plugin
  resources/sample_vaults/Tasks-Demo/.obsidian/community-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-meta-bind-plugin/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-meta-bind-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-meta-bind-plugin/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-meta-bind-plugin/styles.css
Due: none

test: - Save YAML files of supported query properties
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_supported-properties-empty.approved.yaml
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_supported-properties-full.approved.yaml
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.ts
Due: lint, test
