Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: . Rename joinToNext to continuePreviousLine
  src/Query/Scanner.ts
Due: lint, test

fix: Double backslashes no longer require next line to be blank
  src/Query/Scanner.ts
  tests/Scanner.test.continue_lines_visualise_continue_lines.approved.txt
  tests/Scanner.test.scan_visualise_scanning.approved.txt
  tests/Scanner.test.ts
Due: lint, test

docs: Double backslashes no longer require next line to be blank
  docs/Queries/Line Continuations.md
Due: lint-markdown

docs: Wrap long lines in custom filters and docs samples
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.heading_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.heading_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.symbol_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.symbol_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
  tests/Scripting/ScriptingReference/VerifyFunctionFieldSamples.ts
Due: lint, lint-markdown, test

docs: Wrap long lines in custom filter and group samples (#2338)
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.heading_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.heading_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.symbol_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.symbol_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
  tests/Scripting/ScriptingReference/VerifyFunctionFieldSamples.ts
Due: lint, lint-markdown, test

docs: Fix a link that was accidentally split across 2 lines.
  docs/Queries/Line Continuations.md
Due: lint-markdown

docs: Add new help page 'Breaking Changes'
  docs/Introduction.md
  docs/Support and Help/About Support and Help.md
  docs/Support and Help/Breaking Changes.md
Due: lint-markdown

docs: Add new help page 'Breaking Changes' (#2339)
  docs/Introduction.md
  docs/Support and Help/About Support and Help.md
  docs/Support and Help/Breaking Changes.md
Due: lint-markdown

refactor: . Remove one last occurrence of old name joinToNext
  src/Query/Scanner.ts
Due: lint, test

docs: 'Navigation around this site' is easier to find.
  docs/Introduction.md
Due: lint-markdown

docs: 'Navigation around this site' is easier still to find.
  docs/Introduction.md
Due: lint-markdown

docs: Add link to earlier release notes
  docs/Introduction.md
Due: lint-markdown

docs: Advertise line continuation characters in Explain docs
  docs/Queries/Explaining Queries.md
  tests/Query/Explain/DocsSamplesForExplain.test.explain_nested_boolean_combinations.approved.query.text
  tests/Query/Explain/DocsSamplesForExplain.test.ts
Due: lint, lint-markdown, test

docs: Improve readability of longer expressions
  docs/Scripting/Expressions.md
  tests/Scripting/Expression.test.Expression_returns_and_functions.approved.md
  tests/Scripting/Expression.test.ts
Due: lint, lint-markdown, test

docs: Demo line continuation characters in Expressions.md
  docs/Scripting/Expressions.md
  tests/Scripting/Expression.test.Expression_returns_and_functions.approved.md
  tests/Scripting/Expression.test.ts
Due: lint, lint-markdown, test

docs: Make expression result more readable in longer examples
  docs/Scripting/Expressions.md
  tests/Scripting/Expression.test.Expression_returns_and_functions.approved.md
  tests/Scripting/Expression.test.ts
Due: lint, lint-markdown, test

docs: Clarify which version released line continuation chars
  docs/Scripting/Expressions.md
Due: lint-markdown

docs: Advertise line continuation characters in docs (#2346)
  docs/Queries/Explaining Queries.md
  docs/Scripting/Expressions.md
  tests/Query/Explain/DocsSamplesForExplain.test.explain_nested_boolean_combinations.approved.query.text
  tests/Query/Explain/DocsSamplesForExplain.test.ts
  tests/Scripting/Expression.test.Expression_returns_and_functions.approved.md
  tests/Scripting/Expression.test.ts
Due: lint, lint-markdown, test

docs: Make link work in Obsidian.
  docs/Queries/Comments.md
Due: lint-markdown

docs: Finalise documentation of inline comments
  docs/Introduction.md
  docs/Queries/Comments.md
  docs/Queries/Explaining Queries.md
  docs/Scripting/Placeholders.md
  tests/Query/Explain/DocsSamplesForExplain.test.explain_placeholders.approved.explanation.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_placeholders.approved.query.text
  tests/Query/Explain/DocsSamplesForExplain.test.ts
Due: lint, lint-markdown, test

docs: More work on line continuation character docs
  docs/Introduction.md
  docs/Queries/Combining Filters.md
  docs/Queries/Line Continuations.md
  tests/Query/Explain/DocsSamplesForExplain.test.explain_line_continuation_-_double_slash.approved.explanation.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_line_continuation_-_double_slash.approved.query.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_line_continuation_-_single_slash.approved.explanation.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_line_continuation_-_single_slash.approved.query.text
  tests/Query/Explain/DocsSamplesForExplain.test.ts
Due: lint, lint-markdown, test

docs: Line continuation characters are potentially breaking changes
  docs/Introduction.md
  docs/Queries/Line Continuations.md
  docs/Support and Help/Breaking Changes.md
Due: lint-markdown

docs: Add missing word
  docs/Queries/Line Continuations.md
Due: lint-markdown

docs: Finish Line Continuation & Inline Comments docs (#2347)
  docs/Introduction.md
  docs/Queries/Combining Filters.md
  docs/Queries/Comments.md
  docs/Queries/Explaining Queries.md
  docs/Queries/Line Continuations.md
  docs/Scripting/Placeholders.md
  docs/Support and Help/Breaking Changes.md
  tests/Query/Explain/DocsSamplesForExplain.test.explain_line_continuation_-_double_slash.approved.explanation.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_line_continuation_-_double_slash.approved.query.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_line_continuation_-_single_slash.approved.explanation.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_line_continuation_-_single_slash.approved.query.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_placeholders.approved.explanation.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_placeholders.approved.query.text
  tests/Query/Explain/DocsSamplesForExplain.test.ts
Due: lint, lint-markdown, test

docs: Expressions no longer need to fit on a single line
  docs/Scripting/Expressions.md
Due: lint-markdown

docs: Scripting reference docs now use Javascript syntax highlighting
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Scripting/Custom Filters.md
  docs/Scripting/Custom Grouping.md
Due: lint-markdown

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
