Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: Rename parameters to make intent clearer
  src/lib/HTMLCharacterEntities.ts
Due: lint, test

feat: New button in Status Settings shows diagram of Statuses
  src/Config/SettingsTab.ts
Due: lint, test

vault: Ignore the files created by new button in Status Settings shows diagram of Statuses
  resources/sample_vaults/Tasks-Demo/.gitignore
Due: none

feat: Button and report now titled 'Review and check your Statuses'
  src/Config/SettingsTab.ts
Due: lint, test

feat: Make Statuses report filename match report and button names
  resources/sample_vaults/Tasks-Demo/.gitignore
  src/Config/SettingsTab.ts
Due: lint, test

refactor: @ Remove some repetition in code of statuses report UI
  src/Config/SettingsTab.ts
Due: lint, test

refactor: . Slide 2 variables down
  src/Config/SettingsTab.ts
Due: lint, test

refactor: . Extract variable statusRegistry
  src/Config/SettingsTab.ts
Due: lint, test

refactor: . Extract method createStatusRegistryReport()
  src/Config/SettingsTab.ts
Due: lint, test

refactor: . Inline fileContent variable
  src/Config/SettingsTab.ts
Due: lint, test

refactor: . Move createStatusRegistryReport() to new file StatusRegistryReport.ts
  src/Config/SettingsTab.ts
  src/StatusRegistryReport.ts
Due: lint, test

test: Add ApprovalTests test of createStatusRegistryReport()
  tests/StatusRegistryReport.test.StatusRegistryReport_should_create_a_report.approved.md
  tests/StatusRegistryReport.test.ts
Due: lint, lint-markdown, test

feat: Include Tasks release number in the statuses report
  src/Config/SettingsTab.ts
  src/StatusRegistryReport.ts
  tests/StatusRegistryReport.test.StatusRegistryReport_should_create_a_report.approved.md
  tests/StatusRegistryReport.test.ts
Due: lint, lint-markdown, test

comment: Correct name of statuses report button in a comment
  src/Config/SettingsTab.ts
Due: lint, test

fix: Tidy up the whitespace in the output of the statuses report
  src/StatusRegistryReport.ts
  tests/StatusRegistryReport.test.StatusRegistryReport_should_create_a_report.approved.md
Due: lint, lint-markdown, test

comment: Try to clarify structure of the code
  src/Config/SettingsTab.ts
Due: lint, test

comment: Move some comments to StatusRegistryReport.ts
  src/Config/SettingsTab.ts
  src/StatusRegistryReport.ts
Due: lint, test

fix: 'Add All Unknown Status Types' now sorts new statuses by symbol
  src/StatusRegistry.ts
  tests/StatusRegistry.test.ts
Due: lint, test

docs: Update 'Status Settings' docs for new statuses being sorted.
  docs/Getting Started/Statuses/Status Settings.md
  docs/images/settings-custom-statuses-add-unknown-statuses.png
Due: lint-markdown

fix: 'Add All Unknown Status Types' now sorts new statuses by symbol (#2384)
  docs/Getting Started/Statuses/Status Settings.md
  docs/images/settings-custom-statuses-add-unknown-statuses.png
  src/StatusRegistry.ts
  tests/StatusRegistry.test.ts
Due: lint, lint-markdown, test

jsdoc: Clarify StatusSettings and StatusRegistry
  src/Config/StatusSettings.ts
  src/StatusRegistry.ts
Due: lint, test
