Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

vault: . Inine function return variable in getOutputFilePath()
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

test: Add comment that tests/Obsidian/AllCacheSampleData.ts is machine-generated
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
  tests/Obsidian/AllCacheSampleData.ts
Due: lint, test

vault: . Extract function getOutputFilePath()
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

vault: - Split a string
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

vault: . Extract function writeFile()
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

vault: . Split a loop
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

test: . Extract function allCacheSampleData()
  tests/Obsidian/Cache.test.ts
Due: lint, test

vault: . Extract variable vault to localise 'useless object' warnings
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

vault: - Simplify writeListOfAllTestFunctions() implementation
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

vault: . Inline 3 message variables
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

vault: . Extract function ()
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

vault: . Make content const
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

vault: . Rename getMarkdownFile() to getMarkdownFiles()
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

vault: - Split a loop
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

vault: . Extract function getMarkdownFile()
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

vault: . Extract function showNotice() to localise 'useless object' warnings
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

vault: - Simplify getMarkdownFiles() implementation
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

vault: . Reuse markdownFiles
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

test: - Start testing TasksFile.cachedMetadata.frontmatter
  tests/Obsidian/Cache.test.ts
Due: lint, test

vault: Remove a warning that is no longer true
  resources/sample_vaults/Tasks-Demo/How To/Access properties in frontmatter.md
Due: lint-markdown
