Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

fix: Multiple 'sort by tag' lines ignored all but last one (#1407)
  src/Query/Sort.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

refactor: Sorting no longer needs to store propertyInstance
  src/Query/Filter/Field.ts
  src/Query/Sort.ts
  src/Query/Sorting.ts
  tests/Sort.test.ts
Due: lint, test

fix: Multiple 'sort by tag' lines ignore all but last one (#1408)
  src/Query/Filter/Field.ts
  src/Query/Sort.ts
  src/Query/Sorting.ts
  tests/Query/Filter/TagsField.test.ts
  tests/Sort.test.ts
Due: lint, test

comment: Remove a line that I meant to delete in #1408
  src/Query/Sort.ts
Due: lint, test

refactor: Field now parses 'sort by', instead of FilterParser
  src/Query/Filter/Field.ts
  src/Query/FilterParser.ts
Due: lint, test

refactor: Improve efficiency in parseSorter() for non-'sort by' lines
  src/Query/FilterParser.ts
Due: lint, test

refactor: Extract method parseSortLine()
  src/Query/FilterParser.ts
Due: lint, test

refactor: Add Field.parseSortLine(line)
  src/Query/Filter/Field.ts
  src/Query/FilterParser.ts
Due: lint, test

test: Add tests for sorting code in Field
  tests/Query/Filter/Field.test.ts
Due: lint, test

refactor: Teach TagsField to sort Tasks and parse 'sort by tag reverse 2' lines
  src/Query/Filter/TagsField.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

jsdoc: Improve docs of Field and TagsField
  src/Query/Filter/Field.ts
  src/Query/Filter/TagsField.ts
Due: lint, test

refactor: Add fieldNameSingular() to all Field classes.
  src/Query/Filter/Field.ts
  src/Query/Filter/TagsField.ts
Due: lint, test

More tests, fixes and documentation
  src/IQuery.ts
  src/LayoutOptions.ts
  src/Query/Query.ts
  src/Task.ts
  src/TaskLayout.ts
  src/TaskLineRenderer.ts
  tests/TaskLineRenderer.test.ts
Due: lint, test

test: Use meaningful symbol names in recent TagsField tests
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

test: Remove duplication in recent TagsField tests
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

refactor: TagsField.test.ts now uses new 'sort by tag' parsing code
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

refactor: Remove last of the legacy 'sort by' code
  src/Query/Query.ts
  src/Query/Sort.ts
Due: lint, test

refactor: Remove trivial needless diff
  src/Query/FilterParser.ts
Due: lint, test

refactor: Re-use Field.getMatch()
  src/Query/Filter/Field.ts
Due: lint, test

refactor: TagsField now implements 'sort by tag' (#1411)
  src/Query/Filter/Field.ts
  src/Query/Filter/TagsField.ts
  src/Query/FilterParser.ts
  src/Query/Query.ts
  src/Query/Sort.ts
  tests/Query/Filter/Field.test.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

review comments so far
  src/Task.ts
  src/TaskLayout.ts
Due: lint, test

chore: Save a file of code that was deleted from Tsk
  src/Deleted From Task.txt
Due: none

comment: Add some notes made whilst reviewing changes
  src/TaskLineRenderer.ts
Due: lint, test

chore: Reorder some text in Deleted From Task.txt so it aligns with equivalent in TaskLineRenderer.ts
  src/Deleted From Task.txt
Due: none

comment: Notes from experimenting with new test
  tests/TaskLineRenderer.test.ts
Due: lint, test

Update feature-request.yaml
  .github/ISSUE_TEMPLATE/feature-request.yaml
Due: none

Add a new status DOING
  src/Query/Filter/StatusField.ts
  src/Task.ts
Due: lint, test

fix: Feature Request template link 'Ideas in Discussions' was broken (#1412)
  .github/ISSUE_TEMPLATE/feature-request.yaml
Due: none

chore: Enable manual running of codeql-analysis.yml CI
  .github/workflows/codeql-analysis.yml
Due: none

chore: Enable manual running of codeql-analysis.yml CI (#1416)
  .github/workflows/codeql-analysis.yml
Due: none

chore: Turn off running of CodeQL on PRs and merges, to speed up PRs
  .github/workflows/codeql-analysis.yml
Due: none

chore: Document running CodeQL before each release
  CONTRIBUTING.md
Due: lint-markdown

chore: Faster PRs by running CodeQL on release (#1417)
  .github/workflows/codeql-analysis.yml
  CONTRIBUTING.md
Due: lint-markdown

Add grouping by filelink
  docs/queries/grouping.md
  src/Query/Group.ts
  src/Query/Query.ts
Due: lint, lint-markdown, test
