Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: use sanitizeHTMLToDom to create documentFragments
  src/Config/SettingsTab.ts
Due: lint, test

refactor: use textContent over innerHTML
  src/Renderer/TaskLineRenderer.ts
Due: lint, test

refactor: use DOMParser over innerHTML in mockHTMLRenderer
  tests/Renderer/RenderingTestHelpers.ts
Due: lint, test

refactor: use createAndAppendElement over innerHTML
  src/Renderer/HtmlQueryResultsRenderer.ts
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_error_message.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_-_rendering_queries_should_render_search-time_error.approved.html
Due: lint, test

test: added regression tests for sanitizing HTML-like syntax in error messages
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_error_message_with_ampersand_and_quotes.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_error_message_with_angle_brackets.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.ts
Due: lint, test

[create-pull-request] automated change
  contributing/Code/How do I use Moment in src.md
Due: lint-markdown

contrib: Update instructions on using Moment in src/
  contributing/Code/How do I use Moment in src.md
Due: lint-markdown

comment: Remove an empty snippet
  src/Task/Recurrence.ts
Due: lint, test

vault: Update Tasks plugin settings for addition of taskCountLocation
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/data.json
Due: none

vault: Add files for exploratory testing of JS disabling
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/data.json
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke test JS setting - should fail when disabled.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke test JS setting - should work when disabled.md
Due: lint-markdown

refactor: ! Add a user setting for enabling execution of JS in searches - not yet acted on
  src/Config/SettingsTab.ts
Due: lint, test

test: - Add InMemoryLocalStorageProvider tests
  tests/Config/InMemoryLocalStorageProvider.test.ts
Due: lint, test

test: - Improve test names
  tests/Config/EnableJsInTasksQueries.test.ts
Due: lint, test

chore: Update obsidian dependency to 1.8.7, for access to local storage
  package.json
  yarn.lock
Due: none

refactor: - Add singleton instance management for EnableJsInTasksQueries
  src/Config/EnableJsInTasksQueries.ts
  src/main.ts
  tests/Config/EnableJsInTasksQueries.test.ts
Due: lint, test

refactor: - Initial implementation of enableJsInTasksQueries setting storage
  src/Config/EnableJsInTasksQueries.ts
  src/Config/InMemoryLocalStorageProvider.ts
  src/Config/LocalStorageProvider.ts
  src/Config/ObsidianLocalStorageProvider.ts
  tests/Config/EnableJsInTasksQueries.test.ts
Due: lint, test

contrib: Add ADR-002: "Security Response to JavaScript Execution in Queries"
  contributing/Architecture Decisions/ADR-002 - Security Response to JavaScript Execution in Queries.md
  contributing/Architecture Decisions/About Architecture Decisions.md
Due: lint-markdown

test: In tests, ensure EnableJsInTasksQueries is initialised everywhere by default everywhere.
  jest.config.js
  tests/jest.setup.ts
Due: lint, test

feat: Disable 'filter by function' if JS execution disabled
  src/Query/Filter/FunctionField.ts
  tests/Query/Query.test.ts
Due: lint, test

refactor: - Provide single source of truth for JS execution help message
  src/Config/EnableJsInTasksQueries.ts
  src/Query/Filter/FunctionField.ts
Due: lint, test

test: - Make it easier to maintain tests of EnableJsInTasksQueries
  tests/Query/Query.test.ts
Due: lint, test

test: . Extract helper function checkQueryErrorMessage()
  tests/Query/Query.test.ts
Due: lint, test

feat: Disable 'sort by function' if JS execution disabled
  src/Query/Filter/FunctionField.ts
  src/Query/Query.ts
  tests/Query/Query.test.ts
Due: lint, test

feat: Disable 'group by function' if JS execution disabled
  src/Query/Filter/FunctionField.ts
  src/Query/Query.ts
  tests/Query/Query.test.ts
Due: lint, test

vault: Turn off 'explain' in JS setting smoke test markdown files
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke test JS setting - should fail when disabled.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke test JS setting - should work when disabled.md
Due: lint-markdown

feat: First attempt at disabling JS execution in placeholders
  src/Scripting/ExpandPlaceholders.ts
  src/Scripting/Expression.ts
  tests/Query/Query.test.ts
Due: lint, test

test: Move some js-disabling tests to FunctionField.test.ts
  tests/Query/Filter/FunctionField.test.ts
  tests/Query/Query.test.ts
Due: lint, test

test: Move remaining js-disabling tests to ExpandPlaceholders.test.ts
  tests/Query/Query.test.ts
  tests/Scripting/ExpandPlaceholders.test.ts
Due: lint, test

fix: Tighter control over JS execution in placeholders.
  src/Scripting/ExpandPlaceholders.ts
  tests/Scripting/ExpandPlaceholders.test.ts
Due: lint, test

test: . Extract helper function worksWithoutJsExecution()
  tests/Scripting/ExpandPlaceholders.test.ts
Due: lint, test

test: . Extract helper function failsWithoutJsExecution()
  tests/Scripting/ExpandPlaceholders.test.ts
Due: lint, test

vault: Add more examples for smoke-testing the JS setting
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke test JS setting - should fail when disabled.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke test JS setting - should work when disabled.md
Due: lint-markdown

test: - Add failing test for use of query.file.property() with JS disabled
  tests/Scripting/ExpandPlaceholders.test.ts
Due: lint, test

comment: Clarify comment
  src/Scripting/ExpandPlaceholders.ts
Due: lint, test

fix: first attempt at KnownPlaceholderResolver mechanism
  src/Scripting/KnownPlaceholderResolver.ts
  tests/Scripting/KnownPlaceholderResolver.test.ts
Due: lint, test

refactor: - Improve type safety of
  src/Scripting/KnownPlaceholderResolver.ts
  tests/Scripting/KnownPlaceholderResolver.test.ts
Due: lint, test

test: - Make test use real data.
  tests/Scripting/KnownPlaceholderResolver.test.ts
Due: lint, test

feat: Connect known placeholder resolver in ExpandPlaceholders
  src/Scripting/ExpandPlaceholders.ts
  tests/Scripting/ExpandPlaceholders.test.ts
Due: lint, test

refactor: . Extract helper function throwInvalidPlaceholderError()
  src/Scripting/ExpandPlaceholders.ts
Due: lint, test

refactor: . Reuse throwInvalidPlaceholderError()
  src/Scripting/ExpandPlaceholders.ts
Due: lint, test
