Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

vault: Focus 'Reuse instructions across the vault.md' on relevant tasks
  resources/sample_vaults/Tasks-Demo/How To/Reuse instructions across the vault.md
Due: lint-markdown

vault: Show each task query as a text block
  resources/sample_vaults/Tasks-Demo/How To/Reuse instructions across the vault.md
Due: lint-markdown

vault: Add example using 'include just_the_description'
  resources/sample_vaults/Tasks-Demo/How To/Reuse instructions across the vault.md
Due: lint-markdown

feat: Debounce the redrawing when Includes settings change
  src/Renderer/QueryRenderer.ts
Due: lint, test

Link Sorting.md to related sort order reversing section in Grouping.md (#3461)
  docs/Queries/Sorting.md
Due: lint-markdown

feat: Editing an Includes setting updates open Tasks searches (#3462)
  resources/sample_vaults/Tasks-Demo/How To/Reuse instructions across the vault.md
  src/Config/IncludesSettingsUI.ts
  src/Config/SettingsTab.ts
  src/Obsidian/TasksEvents.ts
  src/Renderer/QueryRenderer.ts
  src/Renderer/QueryResultsRenderer.ts
  src/main.ts
  tests/Renderer/QueryResultsRenderer.test.ts
Due: lint, lint-markdown, test

Revert "feat: Editing an Includes setting updates open Tasks searches (#3462)"
  resources/sample_vaults/Tasks-Demo/How To/Reuse instructions across the vault.md
  src/Config/IncludesSettingsUI.ts
  src/Config/SettingsTab.ts
  src/Obsidian/TasksEvents.ts
  src/Renderer/QueryRenderer.ts
  src/Renderer/QueryResultsRenderer.ts
  src/main.ts
  tests/Renderer/QueryResultsRenderer.test.ts
Due: lint, lint-markdown, test

feat: remove .md from destinationFilename() and refactor
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_task_wikilink.md
  src/Task/Link.ts
  tests/Task/Link.test.ts
Due: lint, lint-markdown, test

test: basic wikilink
  tests/Task/Link.test.ts
Due: lint, test

feat: handle markdown links
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_task_markdown_link.md
  src/Task/Link.ts
  tests/Task/Link.test.ts
Due: lint, lint-markdown, test

test: add more test cases for markdown links
  tests/Task/Link.test.ts
Due: lint, test

test: destinationFilename empty links and cleanup
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_task_markdown_link.md
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_task_wikilink.md
  tests/Task/Link.test.ts
Due: lint, lint-markdown, test

refactor: headings
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_task_markdown_link.md
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_task_wikilink.md
Due: lint-markdown

chore: clean up
  tests/Task/Link.test.ts
Due: lint, test

refactor: use slice
  src/Task/Link.ts
Due: lint, test

refactor: clean up
  src/Task/Link.ts
Due: lint, test

chore: feat-access-links depends on generating these
  tests/Obsidian/__test_data__/link_in_task_markdown_link.json
  tests/Obsidian/__test_data__/link_in_task_wikilink.json
Due: none

refactor: clean up and comment
  src/Task/Link.ts
Due: lint, test

i18n: Add empty translation file for German
  i18next-parser.config.js
  src/i18n/i18n.ts
  src/i18n/locales/de.json
Due: lint, test

i18n: Add German translation of settings UI
  src/i18n/locales/de.json
Due: none

docs: Note recent translations in Changelog
  docs/What is New/Changelog.md
Due: lint-markdown

test: Push to test script on macbook.
  scripts/Test-TasksInLocalObsidianCrossPlatform.ps1
Due: none

Revert "test: Push to test script on macbook."
  scripts/Test-TasksInLocalObsidianCrossPlatform.ps1
Due: none

temp to track
  resources/sample_vaults/Tasks-Demo/Untitled.md
Due: lint-markdown

i18n: Correct 'This `DONE` status is followed by..." translation
  src/i18n/locales/de.json
Due: none

i18n: Improve "Review and check your Statuses" translation
  src/i18n/locales/de.json
Due: none

refactor: . Slide @media down to end of file
  src/Config/IncludesSettingsUI.scss
Due: none

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
