Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: ! Fix 2 eslint obsidianmd/no-static-styles-assignment cases
  src/Config/DismissibleNotices.scss
  src/Config/DismissibleNotices.ts
  src/styles.scss
Due: lint, test

chore: update capture of lint warnings
  lint.txt
Due: none

refactor: . Revert a change in import order, to made diffs from main clearer
  src/Obsidian/LivePreviewExtension.ts
Due: lint, test

refactor: . Inline settingsSaver
  src/Obsidian/LivePreviewExtension.ts
Due: lint, test

feat: Add more detail to the warning about Live Preview callout issues
  src/Obsidian/LivePreviewExtension.ts
Due: lint, test

refactor: ! Improve the readability of the Live Preview Callout warning
  src/Obsidian/LivePreviewExtension.ts
Due: lint, test

refactor: ! Simplfiy the Live Preview Callout warning
  src/Obsidian/LivePreviewExtension.ts
Due: lint, test

i18n: Start on translation of Live Preview Callout warning modal
  src/Obsidian/LivePreviewExtension.ts
  src/i18n/locales/en.json
Due: lint, test

refactor: . Extract local variables for remaining strings to be translated
  src/Obsidian/LivePreviewExtension.ts
Due: lint, test

i18n: . Extract remaining strings to be translated
  src/Obsidian/LivePreviewExtension.ts
  src/i18n/locales/en.json
Due: lint, test

refactor: . Inline variables for strings now translated
  src/Obsidian/LivePreviewExtension.ts
Due: lint, test

refactor: - Correct command name capitalisationin Live Preview callout warning
  src/Obsidian/LivePreviewExtension.ts
Due: lint, test

refactor: - clearer parameter name in translation
  src/Obsidian/LivePreviewExtension.ts
  src/i18n/locales/en.json
Due: lint, test

i18n: Support translation of 'Do not show me this message again'
  src/Config/DismissibleNotices.ts
  src/i18n/locales/en.json
Due: lint, test

i18n: ! Use a placeholder for string that should not be translated
  src/Obsidian/LivePreviewExtension.ts
  src/i18n/locales/en.json
Due: lint, test

refactor: . Extract ToggleTaskDoneCommandName constant
  src/Commands/index.ts
Due: lint, test

i18n: Add new (empty) translations to non-English locales
  src/i18n/locales/be.json
  src/i18n/locales/de.json
  src/i18n/locales/ko.json
  src/i18n/locales/pt_br.json
  src/i18n/locales/ru.json
  src/i18n/locales/tr.json
  src/i18n/locales/uk.json
  src/i18n/locales/vi.json
  src/i18n/locales/zh_cn.json
Due: none

i18n: Add non-English translations text for Live Preview callout warning
  src/i18n/locales/be.json
  src/i18n/locales/de.json
  src/i18n/locales/ko.json
  src/i18n/locales/pt_br.json
  src/i18n/locales/ru.json
  src/i18n/locales/tr.json
  src/i18n/locales/uk.json
  src/i18n/locales/vi.json
  src/i18n/locales/zh_cn.json
Due: none

docs: Update docs on the Live Preview callout issue
  docs/Getting Started/Getting Started.md
Due: lint-markdown

chore: Tell Dependabot to stop trying to update obsidian to newer versions
  .github/dependabot.yml
Due: none

chore: Attest build provenance
  .github/workflows/release.yml
Due: none

chore: Update node version - needed for attesting release version
  .github/workflows/release.yml
Due: none

Update to version 8.2.0
  manifest.json
  package.json
  versions.json
Due: none

chore: Switch to Node.js 22 for building release
  .github/workflows/release.yml
Due: none

chore: Update saved list of lint warnings
  lint.txt
Due: none

refactor: - Supress warnings about static methods in DateParser.ts
  src/DateTime/DateParser.ts
Due: lint, test

refactor: - Supress warnings about static methods in TaskLineRenderer.ts
  src/Renderer/TaskLineRenderer.ts
Due: lint, test

refactor: ! Convert handleClickEvent to arrow function
  lint.txt
  src/Obsidian/LivePreviewExtension.ts
Due: lint, test

refactor: ! Convert reportTaskParsingErrorToUser to arrow function
  lint.txt
  src/Obsidian/Cache.ts
Due: lint, test

refactor: ! Pass in arrow function wrapper around MarkdownRenderer.render() call
  lint.txt
  src/Renderer/QueryRenderer.ts
Due: lint, test

chore: Remove suppressing of @typescript-eslint/unbound-method - all fixed now in src/
  eslint.config.mjs
Due: none

chore: Suppress incorrect warning about hardcoded config path
  eslint.config.mjs
  lint.txt
Due: none

refactor: ! Reimplement createTaskLineModal() to use editTaskLineModal()
  src/Api/createTaskLineModal.ts
Due: lint, test

refactor: Extract InlineRenderer li replacement into reconcileReplacementTask
  src/Obsidian/InlineRenderer.ts
  src/Renderer/TaskLineRenderer.ts
Due: lint, test

chore: Disable 'obsidianmd/ui/sentence-case', as the Obsidian Scanner does not use it
  eslint.config.mjs
  lint.txt
Due: none

test: Add failing tests for preserving original classes and data attributes
  tests/Renderer/TaskLineRenderer.test.ts
Due: lint, test

test: Add tests to check the Tasks plugin's own classes and data attributes are preserved and given precedence
  tests/Renderer/TaskLineRenderer.test.ts
Due: lint, test

fix: Preserve classes added to the task list item by Obsidian or other plugins
  src/Renderer/TaskLineRenderer.ts
  tests/Renderer/TaskLineRenderer.test.ts
Due: lint, test

fix: Preserve data attributes added to the task list item by Obsidian or other plugins
  src/Renderer/TaskLineRenderer.ts
  tests/Renderer/TaskLineRenderer.test.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
