Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

test: - TasksFile.test.ts now imports the JSON data files
  tests/Scripting/TasksFile.test.ts
Due: lint, test

test: - TaskProperties.test.ts now imports the JSON data files
  tests/Scripting/TaskProperties.test.ts
  tests/Scripting/TasksFile.test.TasksFile_-_reading_frontmatter_should_read_yaml_all_property_types_empty.approved.json
  tests/Scripting/TasksFile.test.TasksFile_-_reading_frontmatter_should_read_yaml_all_property_types_populated.approved.json
  tests/Scripting/TasksFile.test.TasksFile_-_reading_frontmatter_should_read_yaml_complex_example.approved.json
  tests/Scripting/TasksFile.test.TasksFile_-_reading_frontmatter_should_read_yaml_complex_example_standardised.approved.json
Due: lint, test

chore: Remove now-unused script "lint:test-data" from package.json
  package.json
Due: none

contrib: Update 'Using Obsidian API in tests' now that output is stable
  contributing/Testing/Using Obsidian API in tests.md
Due: lint-markdown

test: . Remove {} now that we are only writing one output file
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

test: - Code simplifications: use node:path for readability
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

test: - Add exploratory tests for accessing links
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_task_html.md
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_task_markdown_link.md
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_task_wikilink.md
  resources/sample_vaults/Tasks-Demo/Test Data/links_everywhere.md
  tests/Obsidian/AllCacheSampleData.ts
  tests/Obsidian/Cache.test.ts
  tests/Obsidian/__test_data__/link_in_task_html.json
  tests/Obsidian/__test_data__/link_in_task_markdown_link.json
  tests/Obsidian/__test_data__/link_in_task_wikilink.json
  tests/Obsidian/__test_data__/links_everywhere.json
Due: lint, lint-markdown, test

test: - Note how to remove a @ts-expect-error in exploratory code
  tests/Obsidian/Cache.test.ts
Due: lint, test

test: Add some notes on how outlinks might be made accessible to users
  tests/Obsidian/Cache.test.ts
Due: lint, test

chore: Emphasise purpose of Internal Issues
  .github/ISSUE_TEMPLATE/internal-issue.yaml
Due: none

docs: Add some recent fields to the Styling docs
  docs/Advanced/Styling.md
Due: lint-markdown

refactor: ! Rework rendering of urgency so it can be called from tests.
  src/Renderer/QueryResultsRenderer.ts
Due: lint, test

test: - Update the fake date in QueryResultsRenderer.test.ts
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_fully_populated_task.approved.html
  tests/Renderer/QueryResultsRenderer.test.ts
Due: lint, test

test: - Show CSS class used when rendering urgency.
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_fully_populated_task.approved.html
  tests/Renderer/QueryResultsRenderer.test.ts
Due: lint, test

test: - Add QueryResultsRenderer approval test for short-mode
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_fully_populated_task_-_short_mode.approved.html
  tests/Renderer/QueryResultsRenderer.test.ts
Due: lint, test

test: - QueryResultsRenderer.test.ts now includes markdown in approved files
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_fully_populated_task.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_fully_populated_task_-_short_mode.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_parent-child_items.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_parent-child_items_hidden.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_parent-child_items_reverse_sorted.approved.html
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_should_render_tasks_without_their_parents.approved.html
  tests/Renderer/QueryResultsRenderer.test.ts
Due: lint, test

docs: Add the "Tasks extras" to the Sample HTML in Styling docs.
  docs/Advanced/Styling.md
Due: lint-markdown

docs: Style the 'Short mode' example same as 'Full mode'
  docs/Advanced/Styling.md
Due: lint-markdown

docs: Put two verbose HTML samples inside collapsed callouts
  docs/Advanced/Styling.md
  docs/snippets-embedded-in-multiple-pages/Sample HTML - Full mode.md
  docs/snippets-embedded-in-multiple-pages/Sample HTML - Short mode.md
  package.json
Due: lint-markdown

docs: Add page on editing dates - including the date context menu from Tasks 7.10.0
  docs/Editing/About Editing.md
  docs/Editing/Editing Dates.md
  docs/What is New/Changelog.md
  docs/images/date-context-menu-1.png
  docs/images/date-context-menu-2.png
  docs/images/date-picker-1.png
  docs/images/date-picker-2.png
Due: lint-markdown

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
