Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

fix: Allow dependsOn emojis without Variant Selector 16
  src/TaskSerializer/DefaultTaskSerializer.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
Due: lint, test

fix: do not write out Variant Selector 16 on dependsOn emoji
  src/TaskSerializer/DefaultTaskSerializer.ts
  tests/DocumentationSamples/DependencyDocs/DependencySamples.test.blocking_and_blocked_filters_blocking_and_blocked.approved.md
  tests/DocumentationSamples/ValidateTasks.test.validate-tasks_find-unread-emojis.approved.text
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_full_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_short_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.ts
  tests/Scripting/TaskProperties.test.task_other_fields.approved.md
  tests/Task/Task.test.task_dependencies_blocking_and_blocked.approved.txt
  tests/Task/Task.test.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Dependencies_tasksPluginEmoji-include.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Dependencies_tasksPluginEmoji-snippet.approved.md
  tests/TestingTools/TaskBuilder.test.ts
  tests/ui/EditInstructions/SetTaskDependenciesInstruction.test.ts
Due: lint, lint-markdown, test

docs: Remove Variant Selector 16 from dependsOne emojis in docs
  docs/Advanced/Styling.md
  docs/How To/Find tasks with invalid data.md
  docs/Reference/Task Formats/Tasks Emoji Format.md
  docs/Scripting/Task Properties.md
  resources/sample_vaults/Tasks-Demo/Formats/Tasks Format.md
Due: lint-markdown

test: - Remove unnecessary variant selectors from tests
  tests/Query/Filter/BlockingField.test.ts
  tests/Renderer/TaskLineRenderer.test.ts
  tests/Task/Task.test.ts
  tests/TestingTools/SampleTasks.ts
  tests/ui/DependencyHelpers.test.ts
  tests/ui/EditInstructions/SetTaskDependenciesInstruction.test.ts
Due: lint, test

docs: - Remove unnecessary variant selectors from docs
  docs/Getting Started/Task Dependencies.md
  docs/Introduction.md
  docs/Queries/Filters.md
Due: lint-markdown

vault: Remove unnecessary variant selectors from Tasks-Demo vault
  resources/sample_vaults/Tasks-Demo/Manual Testing/Dependencies Samples - Recurring Tasks.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Dependencies Samples.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Seeing the Query as HTML/HTML from Query - short mode.html
  resources/sample_vaults/Tasks-Demo/Manual Testing/Seeing the Query as HTML/HTML from Query.html
  resources/sample_vaults/Tasks-Demo/Manual Testing/Seeing the Query as HTML/HTML from Query.md
Due: lint-markdown

Update to version 6.1.1
  manifest.json
  package.json
  versions.json
Due: none

vault: Remove unnecessary variant selectors from Tasks-Demo vault
  src/Renderer/TaskLineRenderer.ts
  src/Task/TaskLocation.ts
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Minimal_task_-_full_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Minimal_task_-_short_mode.approved.html
  tests/Task/TaskLocation.test.ts
Due: lint, test

docs: Update docs for fixing of toggling in canvas
  docs/Getting Started/Getting Started.md
Due: lint-markdown

test: Clarify test name
  tests/Task/TaskLocation.test.ts
Due: lint, test

test: Add some explicit tests for reading non-standard date emojis
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
Due: lint, test

test: Create a table of Tasks emojis and their codepoints
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Emojis_tabulate-emojis.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.ts
Due: lint, lint-markdown, test

jsdoc: Fix a broken link to the Obsidian API
  src/Suggestor/Suggestor.ts
Due: lint, test

refactor: Add QueryComponentOrError.isValid()
  src/Query/QueryComponentOrError.ts
  tests/Query/QueryComponentOrError.test.ts
Due: lint, test

refactor: Reuse QueryComponentOrError.isValid()
  src/Scripting/TaskExpression.ts
Due: lint, test

refactor: Create and use FilterOrErrorMessage.isValid()
  src/Query/Filter/DateField.ts
  src/Query/Filter/DependsOnField.ts
  src/Query/Filter/FilterOrErrorMessage.ts
  src/Query/Filter/IdField.ts
  src/Query/Filter/TagsField.ts
Due: lint, test

vault: Switch default view to Source Mode in Tasks-Demo vault
  resources/sample_vaults/Tasks-Demo/.obsidian/app.json
Due: none

vault: Update Tasks plugin to 6.1.1 (from 6.0.0) in Tasks-Demo vault
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/styles.css
Due: none

test: Confirm that redundant brackets in Boolean filters are ignored
  tests/Query/Filter/BooleanField.test.ts
Due: lint, test

Update to version 6.1.2
  manifest.json
  package.json
  versions.json
Due: none

Initial FileWriter tests and code
  tests/lib/FileWriter.test.ts
Due: lint, test
