Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Add task.lineNumber to 'Filters'
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.lineNumber_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Add task.lineNumber to 'Sorting'
  docs/Queries/Sorting.md
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.other_properties_task.lineNumber_docs.approved.md
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.other_properties_task.lineNumber_results.approved.txt
  tests/Scripting/ScriptingReference/CustomSorting/CustomSortingExamples.test.ts
  tests/TestingTools/SampleTasks.ts
Due: lint, lint-markdown, test

docs: Add task.lineNumber to 'Grouping'
  docs/Queries/Grouping.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.other_properties_task.lineNumber_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.other_properties_task.lineNumber_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
Due: lint, lint-markdown, test

docs: Fix new text about default sort order and line numbers
  docs/Queries/Sorting.md
Due: lint-markdown

docs: Improve the examples in Sorting
  docs/Queries/Sorting.md
Due: lint-markdown

vault: Sort 'Remaining tests' in to logical order in Smoke Tests
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke Testing the Tasks Plugin.md
Due: lint-markdown

docs: Remove confusing search result in 'Toggling non-task checkboxes'
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke Testing the Tasks Plugin.md
Due: lint-markdown

docs: Add task.lineNumber to Changelog
  docs/What is New/Changelog.md
Due: lint-markdown

vault: Make indentation consistent in smoke test
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke Testing the Tasks Plugin.md
Due: lint-markdown

docs: Fix a copy-and-paste error in Grouping.md
  docs/Queries/Grouping.md
Due: lint-markdown

docs: Fix a copy-and-paste error in Sorting.md
  docs/Queries/Sorting.md
Due: lint-markdown

docs: Fix typo
  docs/Queries/Sorting.md
Due: lint-markdown

chore: Update circular-deps.txt - down from 21 to 20
  circular-deps.txt
Due: none

Update to version 7.16.0
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Queries/Sorting.md
  docs/What is New/Changelog.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

chore: Fix WebStorm warnings about trailing commas in JSON files
  .vscode/extensions.json
  .vscode/settings.json
Due: none

refactor: Extract variable firstDayOfWeek
  src/ui/Menus/DatePicker.ts
Due: lint, test

refactor: Extract variable firstDayOfWeekFromLocale
  src/ui/Menus/DatePicker.ts
Due: lint, test

refactor: Extract variable weekInfo
  src/ui/Menus/DatePicker.ts
Due: lint, test

refactor: Log the firstDayOfWeek calculation to console
  src/ui/Menus/DatePicker.ts
Due: lint, test

Revert "refactor: Log the firstDayOfWeek calculation to console"
  src/ui/Menus/DatePicker.ts
Due: lint, test

Revert "refactor: Extract variable weekInfo"
  src/ui/Menus/DatePicker.ts
Due: lint, test
