Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: . add line break
  src/Query/Filter/BacklinkField.ts
Due: lint, test

docs: update Grouping.md
  docs/Queries/Grouping.md
Due: lint-markdown

test: fix comment
  tests/Query/Filter/BacklinkField.test.ts
Due: lint, test

refactor: - explainResults() now takes a GlobalFilter parameter
  src/QueryRenderer.ts
  src/lib/QueryRendererHelper.ts
  tests/TestingTools/ApprovalTestHelpers.ts
  tests/lib/QueryRendererHelper.test.ts
Due: lint, test

test: - Replace some uses of GlobalFilter.getInstance() with local instance
  tests/lib/QueryRendererHelper.test.ts
Due: lint, test

test: - Convert remaining uses of GlobalFilter.getInstance() to local instance
  tests/lib/QueryRendererHelper.test.ts
Due: lint, test

jsdoc: Document globalFilter and globalQuery parameters
  src/lib/QueryRendererHelper.ts
Due: lint, test

test: . Pass GlobalFilter.getInstance() in to verifyTaskBlockExplanation()
  tests/Query/Explain/DocsSamplesForExplain.test.ts
  tests/TestingTools/ApprovalTestHelpers.ts
Due: lint, test

test: - Remove unnecessary uses of GlobalFilter.getInstance()
  tests/Query/Explain/DocsSamplesForExplain.test.ts
Due: lint, test

docs: Remove some references to 'Template'
  docs/Queries/Explaining Queries.md
  docs/Scripting/About Scripting.md
  docs/Scripting/Placeholders.md
Due: lint-markdown

feat: Add TasksFile.pathWithoutExtension()
  src/Scripting/TasksFile.ts
  tests/Scripting/TasksFile.test.ts
Due: lint, test

refactor: . Extract method withoutExtension()
  src/Scripting/TasksFile.ts
Due: lint, test

feat: Add TasksFile.filenameWithoutExtension()
  src/Scripting/TasksFile.ts
  tests/Scripting/TasksFile.test.ts
Due: lint, test

test: Add pathWithoutExtension and filenameWithoutExtension to docs samples
  tests/Scripting/QueryProperties.test.query_file_properties.approved.md
  tests/Scripting/QueryProperties.test.ts
  tests/Scripting/TaskProperties.test.task_file_properties.approved.md
  tests/Scripting/TaskProperties.test.ts
Due: lint, lint-markdown, test

docs: Add pathWithoutExtension and filenameWithoutExtension to scripting reference
  docs/Scripting/Query Properties.md
  docs/Scripting/Task Properties.md
Due: lint-markdown

docs: Add pathWithoutExtension and filenameWithoutExtension to "What's New?"
  docs/Introduction.md
Due: lint-markdown

docs: Add pathWithoutExtension and filenameWithoutExtension to Filters.md
  docs/Queries/Filters.md
Due: lint-markdown

docs: Add pathWithoutExtension and filenameWithoutExtension to Grouping.md
  docs/Queries/Grouping.md
Due: lint-markdown

test: Update documentation sample to use task.file.filenameWithoutExtension
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.file_properties_task.file.filename_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.file_properties_task.file.filename_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
Due: lint, lint-markdown, test

docs: Update documentation sample to use task.file.filenameWithoutExtension
  docs/Queries/Grouping.md
Due: lint-markdown

fix: Only replace the last .md in a path or filename
  src/Scripting/TasksFile.ts
  tests/Scripting/TasksFile.test.ts
Due: lint, test
