Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

fix: Improve formatting of custom-statuses description.
  src/Config/settingsConfiguration.json
Due: none

fix: Improve wording of custom-statuses description.
  src/Config/settingsConfiguration.json
Due: none

fix: 'Add All Unknown Status Types' was creating duplicates
  src/StatusRegistry.ts
  tests/StatusRegistry.test.ts
Due: lint, test

refactor: Extract method copyStatusWithNewName() for readability
  src/StatusRegistry.ts
Due: lint, test

fix: 'Add All Unknown Status Types' was creating duplicates (#1545)
  src/StatusRegistry.ts
  tests/StatusRegistry.test.ts
Due: lint, test

docs: Update screenshots for custom status docs
  docs/images/settings-core-statuses.png
  docs/images/settings-custom-statuses-added-1.png
  docs/images/settings-custom-statuses-added.png
  docs/images/settings-custom-statuses-dialog-1.png
  docs/images/settings-custom-statuses-dialog-2.png
  docs/images/settings-custom-statuses-important-loop-added.png
  docs/images/settings-custom-statuses-initial.png
Due: none

docs: Update screenshots for custom status docs (#1546)
  docs/images/settings-core-statuses.png
  docs/images/settings-custom-statuses-added-1.png
  docs/images/settings-custom-statuses-added.png
  docs/images/settings-custom-statuses-dialog-1.png
  docs/images/settings-custom-statuses-dialog-2.png
  docs/images/settings-custom-statuses-important-loop-added.png
  docs/images/settings-custom-statuses-initial.png
Due: none

feat: Allow dataviewjs to run tasks searches
  resources/sample_vaults/Tasks-Demo/Experimental - Unreleased - Features/Experimental - Run Tasks commands in Javascript.md
  resources/sample_vaults/Tasks-Demo/Experimental - Unreleased - Features/Tasks in Experimental notes.md
  src/main.ts
Due: lint, lint-markdown, test

feat: Add 'status.type' filter and 'sort by status.type'
  src/Query/Filter/StatusTypeField.ts
  src/Query/FilterParser.ts
  tests/Query.test.ts
  tests/Query/Filter/StatusTypeField.test.ts
Due: lint, test

docs: Document 'status.type' filter and 'sort by status.type'
  docs/getting-started/statuses.md
  docs/queries/filters.md
  docs/quick-reference/index.md
  tests/DocsSamplesForStatuses.test.Status_Transitions status-types.approved.md
  tests/DocsSamplesForStatuses.test.ts
Due: lint, lint-markdown, test

test: Improve test coverage
  tests/Query/Filter/StatusTypeField.test.ts
Due: lint, test

feat: Add 'status.type' filter and 'sort by status.type' (#1547)
  docs/getting-started/statuses.md
  docs/queries/filters.md
  docs/quick-reference/index.md
  src/Query/Filter/StatusTypeField.ts
  src/Query/FilterParser.ts
  tests/DocsSamplesForStatuses.test.Status_Transitions status-types.approved.md
  tests/DocsSamplesForStatuses.test.ts
  tests/Query.test.ts
  tests/Query/Filter/StatusTypeField.test.ts
Due: lint, lint-markdown, test

refactor: Convert Grouping to a class
  src/Query/Query.ts
Due: lint, test

refactor: Update parseGroupBy() to explicitly construct Grouping
  src/Query/Query.ts
Due: lint, test

refactor: Update tests to explicitly construct Grouping
  tests/Group.test.ts
Due: lint, test

refactor: Move Grouping to Group.ts
  src/IQuery.ts
  src/Query/Group.ts
  src/Query/IntermediateTaskGroups.ts
  src/Query/Query.ts
  src/Query/TaskGroups.ts
  tests/Group.test.ts
Due: lint, test

refactor: Add Grouping.grouper - not yet used
  src/Query/Group.ts
Due: lint, test

refactor: Convert some GroupingProperty uses to Grouping
  src/Query/Group.ts
  src/Query/IntermediateTaskGroups.ts
  tests/DocsSamplesForStatuses.test.ts
  tests/Group.test.ts
Due: lint, test

refactor: Introduce Grouping.fromGroupingProperty() factory method.
  src/Query/Group.ts
  src/Query/Query.ts
  tests/DocsSamplesForStatuses.test.ts
  tests/Group.test.ts
Due: lint, test

refactor: Can now build a Grouping without a GroupingProperty
  src/Query/Group.ts
Due: lint, test

refactor: Renamed Grouper to GrouperFunction
  src/Query/Group.ts
Due: lint, test

refactor: Renamed Grouping to Grouper, for consistency with Sorter
  src/IQuery.ts
  src/Query/Group.ts
  src/Query/IntermediateTaskGroups.ts
  src/Query/Query.ts
  src/Query/TaskGroups.ts
  tests/DocsSamplesForStatuses.test.ts
  tests/Group.test.ts
Due: lint, test

refactor: Move Grouper & GrouperFunction) to Grouper.ts
  src/IQuery.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/IntermediateTaskGroups.ts
  src/Query/Query.ts
  src/Query/TaskGroups.ts
  tests/DocsSamplesForStatuses.test.ts
  tests/Group.test.ts
Due: lint, test

refactor: Remove cyclic dependency between Grouper.ts and Query.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
  tests/Group.test.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
