Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

test: add explanation tests
  tests/Query/Filter/DueDateField.test.ts
Due: lint, test

docs: update Filters.md
  docs/Queries/Filters.md
Due: lint-markdown

test: Rename new tests to describe intention
  tests/Query/Filter/DueDateField.test.ts
Due: lint, test

docs: More descriptive text for date search options
  docs/Queries/Filters.md
Due: lint-markdown

docs: Add missing words
  docs/Queries/Filters.md
Due: lint-markdown

docs: Add links to the new text in What's New
  docs/Introduction.md
Due: lint-markdown

docs: Reorder date options to make patterns visible
  docs/Queries/Filters.md
Due: lint-markdown

comment: Move and format 2 comments for readability.
  src/Query/Filter/DateField.ts
Due: lint, test

fix: Single # symbol in task line no longer treated as a tag
  src/Task.ts
  tests/Query/Filter/TagsField.test.ts
  tests/Task.test.ts
Due: lint, test

fix: Single # symbol in task line no longer treated as a tag (#2201)
  src/Task.ts
  tests/Query/Filter/TagsField.test.ts
  tests/Task.test.ts
Due: lint, test

docs: Turn off Daily Notes and Templates core plugins
  docs/.obsidian/core-plugins-migration.json
  docs/.obsidian/core-plugins.json
Due: none

docs: Add a Tags page, to help with FAQs
  docs/Getting Started/Tags.md
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Queries/Layout.md
  docs/Queries/Sorting.md
  src/Task.ts
Due: lint, lint-markdown, test

docs: Add a Tags page, to help with FAQs (#2202)
  docs/Getting Started/Tags.md
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Queries/Layout.md
  docs/Queries/Sorting.md
  src/Task.ts
Due: lint, lint-markdown, test

[create-pull-request] automated change
  contributing/Documentation/Embedding code and data in documentation.md
  contributing/_meta/templates/file path for redirecting alias.md
  docs/Advanced/Urgency.md
  docs/Getting Started/Statuses.md
  docs/Getting Started/Statuses/Core Statuses.md
  docs/Getting Started/Statuses/Custom Statuses.md
  docs/Getting Started/Statuses/Example Statuses.md
  docs/Getting Started/Statuses/Status Types.md
  docs/How To/Set up custom statuses.md
  docs/How To/Style custom statuses.md
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Reference/Status Collections/About Status Collections.md
  docs/Reference/Status Collections/AnuPpuccin Theme.md
  docs/Reference/Status Collections/Aura Theme.md
  docs/Reference/Status Collections/Ebullientworks Theme.md
  docs/Reference/Status Collections/ITS Theme.md
  docs/Reference/Status Collections/LYT Mode Theme.md
  docs/Reference/Status Collections/Minimal Theme.md
  docs/Reference/Status Collections/SlRvb's Alternate Checkboxes.md
  docs/Reference/Status Collections/Things Theme.md
  docs/Scripting/Custom Filters.md
  docs/Scripting/Custom Grouping.md
  docs/Scripting/Expressions.md
  docs/Scripting/Task Properties.md
  docs/_meta/templates/file path for redirecting alias.md
  docs/_meta/templates/image embed.md
  docs/_meta/templates/we are tracking this in issue.md
  resources/sample_vaults/Tasks-Demo/Formats/Dataview Format.md
  resources/sample_vaults/Tasks-Demo/Formats/Tasks Format.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/SlrVb's Alternative Checkboxes.md
  resources/sample_vaults/Tasks-Demo/Styling/Snippet - SlRvb's Alternate Checkboxes.md
  resources/sample_vaults/Tasks-Demo/Styling/Theme - AnuPpuccin.md
  resources/sample_vaults/Tasks-Demo/Styling/Theme - Aura.md
  resources/sample_vaults/Tasks-Demo/Styling/Theme - Ebullientworks.md
  resources/sample_vaults/Tasks-Demo/Styling/Theme - ITS Theme.md
  resources/sample_vaults/Tasks-Demo/Styling/Theme - LYT Mode.md
  resources/sample_vaults/Tasks-Demo/Styling/Theme - Minimal Theme.md
  resources/sample_vaults/Tasks-Demo/Styling/Theme - Things Theme.md
Due: lint-markdown

fix: Remove verbose debug output from the Tasks plugin.
  src/Cache.ts
  src/LivePreviewExtension.ts
  src/QueryRenderer.ts
Due: lint, test

fix: Remove verbose debug output from the Tasks plugin. (#2203)
  src/Cache.ts
  src/LivePreviewExtension.ts
  src/QueryRenderer.ts
Due: lint, test

Update to version 4.6.0
  docs/Introduction.md
  docs/Queries/Filters.md
  docs/Queries/Global Query.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

better input floating
  package.json
  src/ui/EditTask.svelte
  styles.css
  yarn.lock
Due: none

vault: Add some sample data and a query for a CSS demo.
  resources/sample_vaults/Tasks-Demo/Styling/Morning Evening Example.md
Due: lint-markdown

vault: Add morning-evening-example.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/morning-evening-example.css
Due: none

vault: Put pale border around task list items in sample CSS
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/morning-evening-example.css
Due: none

vault: Colour tasks lines by priority, if above Normal
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/morning-evening-example.css
Due: none

vault: make signifiers and their text smaller and paler
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/morning-evening-example.css
Due: none

vault: Interim commit: colour dates by overdue, or today
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/morning-evening-example.css
Due: none

vault: Interim commit: stronger colours for dates overdue or today
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/morning-evening-example.css
Due: none

vault: Increase contrast slightly
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/morning-evening-example.css
Due: none

feat: Add onlySuggestIfBracketOpen
  src/Suggestor/Suggestor.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
