Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

fix: Simplify the handling of empty strings, as groups with empty names now work
  src/Query/Filter/FunctionField.ts
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

docs: Start a minimal page on expressions.
  docs/Reference/Scripting Details/Expressions.md
Due: lint-markdown

test: Extract a variable to re-use values
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

test: Prepare to convert expression test to approval tests
  tests/Query/Filter/FunctionField.test.FunctionField_-_grouping_return_types_group_result_on_expressions.approved.txt
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

test: Remove placeholder text from ApprovalTest docs
  tests/Query/Filter/FunctionField.test.FunctionField_-_grouping_return_types_group_result_on_expressions.approved.txt
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

test: Move some grouping test helpers to CustomMatchersForGrouping.ts
  tests/CustomMatchers/CustomMatchersForGrouping.ts
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

refactor: Rename variable as it is no longer specific to grouping
  src/Query/Filter/FunctionField.ts
Due: lint, test

refactor: Move evaluateExpression() to Scripting/Expression.ts
  src/Query/Filter/FunctionField.ts
  src/Scripting/Expression.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.ts
Due: lint, test

test: Rename FunctionFieldReference.test.ts to TaskProperties.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskProperties.test.task_dates.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskProperties.test.task_file_properties.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskProperties.test.task_other_fields.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskProperties.test.task_status.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskProperties.test.ts
Due: lint, lint-markdown, test

test: Move TaskProperties.test.ts to Scripting folder
  tests/Scripting/TaskProperties.test.task_dates.approved.md
  tests/Scripting/TaskProperties.test.task_file_properties.approved.md
  tests/Scripting/TaskProperties.test.task_other_fields.approved.md
  tests/Scripting/TaskProperties.test.task_status.approved.md
  tests/Scripting/TaskProperties.test.ts
Due: lint, lint-markdown, test

test: Add a test of expression calculation results
  tests/Query/Filter/FunctionField.test.FunctionField_-_grouping_return_types_group_result_on_expressions.approved.txt
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

test: Add own implementation of verifyAll() - based on verifyAllCombinations1()
  tests/Query/Filter/FunctionField.test.ts
  tests/TestingTools/ApprovalTestHelpers.ts
Due: lint, test

test: Remove [] from around a in the approved file (due to use of combinations)
  tests/Query/Filter/FunctionField.test.FunctionField_-_grouping_return_types_group_result_on_expressions.approved.txt
  tests/Query/Filter/FunctionField.test.ts
  tests/TestingTools/ApprovalTestHelpers.ts
Due: lint, test

test: Move test of evaluateExpression() to Scripting/Expression.test.ts
  tests/Query/Filter/FunctionField.test.ts
  tests/Scripting/Expression.test.Expression_result.approved.txt
  tests/Scripting/Expression.test.ts
Due: lint, test

test: Fix misleading variable name
  tests/Scripting/Expression.test.ts
Due: lint, test

docs: Update include file names for recent changes
  docs/Reference/Scripting Details/Task Properties.md
Due: lint-markdown

test,docs: Generate a markdown table of expression results, for docs.
  tests/Scripting/Expression.test.Expression_result.approved.md
  tests/Scripting/Expression.test.Expression_result.approved.txt
  tests/Scripting/Expression.test.ts
Due: lint, lint-markdown, test

test,docs: Generate a block of expression results, for docs.
  docs/Reference/Scripting Details/Expressions.md
  tests/Scripting/Expression.test.Expression_result.approved.md
  tests/Scripting/Expression.test.ts
Due: lint, lint-markdown, test

docs: About Scripting Details.md now links to Expressions and scripting tag
  docs/Reference/Scripting Details/About Scripting Details.md
Due: lint-markdown

docs: Move scripting docs to top level of docs for visibility
  docs/Introduction.md
  docs/Reference/About Reference.md
  docs/Scripting/About Scripting.md
  docs/Scripting/Expressions.md
  docs/Scripting/Task Properties.md
Due: lint-markdown

docs: Start a page on Custom Grouping
  docs/Scripting/About Scripting.md
  docs/Scripting/Custom Grouping.md
Due: lint-markdown

test: Rename test helper function determineExpression()
  tests/Scripting/TaskProperties.test.ts
Due: lint, test

test: Move some test helpers out to own file in tests/Scripting
  tests/Scripting/ScriptingTestHelpers.ts
  tests/Scripting/TaskProperties.test.ts
Due: lint, test

docs,test: Properly format the expression results in Expressions.md
  docs/Scripting/Expressions.md
  tests/Scripting/Expression.test.Expression_result.approved.md
  tests/Scripting/Expression.test.ts
Due: lint, lint-markdown, test

docs,test: Show an example of arithmetic in expressions
  docs/Scripting/Expressions.md
  tests/Scripting/Expression.test.Expression_result.approved.md
  tests/Scripting/Expression.test.ts
Due: lint, lint-markdown, test

docs: Move detail of 'group by function' docs to Custom Grouping.md
  docs/Queries/Grouping.md
  docs/Scripting/Custom Grouping.md
Due: lint-markdown

docs: Remove a callout for issue that is now fixed
  docs/Scripting/Custom Grouping.md
Due: lint-markdown

test: Add example showing that ' and " can both be used
  tests/Scripting/Expression.test.Expression_result.approved.md
  tests/Scripting/Expression.test.ts
Due: lint, lint-markdown, test

feature: Treat group "name" null as an empty group, for user convenience.
  src/Query/Filter/FunctionField.ts
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

docs: Note that task.tags does not contain any tag that is the global filter
  docs/Scripting/Task Properties.md
Due: lint-markdown

test: Add variety of sample custom groups in TagsField.test.ts
  tests/CustomMatchers/CustomMatchersForGrouping.ts
  tests/Query/Filter/TagsField.test.custom_grouping_by_tag_results.approved.txt
  tests/Query/Filter/TagsField.test.ts
  tests/TestHelpers.ts
Due: lint, test

test: TagsField.test.ts now makes markdown file of custom groups.
  tests/Query/Filter/TagsField.test.custom_grouping_by_tag_docs.approved.md
  tests/Query/Filter/TagsField.test.custom_grouping_by_tag_results.approved.txt
  tests/Query/Filter/TagsField.test.ts
Due: lint, lint-markdown, test

docs: Add sample 'custom grouping by tags' text to Grouping docs
  docs/Queries/Grouping.md
Due: lint-markdown

docs: Better formatting of custom grouping samples
  docs/Queries/Grouping.md
  tests/Query/Filter/TagsField.test.custom_grouping_by_tag_docs.approved.md
  tests/Query/Filter/TagsField.test.ts
Due: lint, lint-markdown, test

docs: Update Expressions.md for recent change in tests
  docs/Scripting/Expressions.md
Due: lint-markdown

refactor: define Grouper.comparator and create a dummy default one
  src/Query/Filter/Field.ts
  src/Query/Filter/MultiTextField.ts
  src/Query/Grouper.ts
Due: lint, test

refactor: implement defaultComparator
  src/Query/Filter/Field.ts
Due: lint, test

refactor: call grouper.comparator in TaskGroups
  src/Query/TaskGroups.ts
Due: lint, test

refactor: move reverse check to grouper constructor
  src/Query/Grouper.ts
  src/Query/TaskGroups.ts
Due: lint, test

test: Move 'custom grouping by tag' documentation tests to separate folder
  tests/Query/Filter/ReferenceDocs/FilterReference/TagsFieldDocs.test.custom_grouping_by_tag_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/TagsFieldDocs.test.custom_grouping_by_tag_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/TagsFieldDocs.test.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, lint-markdown, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
