Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: . Unwrap else in compareByDate() to reduce nesting
  src/lib/DateTools.ts
Due: lint, test

refactor: . Flip else condition in compareByDate()
  src/lib/DateTools.ts
Due: lint, test

fix!!: Use similar styling for Edit and Postpone buttons (#2562)
  docs/How To/How to style buttons.md
  docs/Support and Help/Breaking Changes.md
  docs/images/tasks-buttons-alt.png
  docs/images/tasks-buttons-default.png
  docs/images/tasks-buttons-gray.png
  docs/images/tasks-buttons-stylish.png
  docs/images/tasks-buttons-svg.png
  docs/images/tasks-buttons-text.png
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-buttons-alt.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-buttons-gray.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-buttons-stylish.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-buttons-svg.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-buttons-text.css
  src/QueryRenderer.ts
  src/ui/Menus/PostponeMenu.ts
  styles.css
  tests/ui/Menus/PostponeMenu.test.ts
Due: lint, lint-markdown, test

docs: Proof-read the styling docs, following PR #2562
  docs/Advanced/Styling.md
  docs/How To/How to style buttons.md
Due: lint-markdown

test: Add missing test - discovered by checking coverage of compareByDate()
  tests/lib/DateTools.test.ts
Due: lint, test

fix: 'sort by due' and similar now put invalid dates before valid ones
  src/lib/DateTools.ts
  tests/lib/DateTools.test.ts
Due: lint, test

docs: Document how invalid dates are sorted
  docs/Queries/Sorting.md
Due: lint-markdown

vault: Note the fix of sort order for invalid dates
  resources/sample_vaults/Tasks-Demo/Manual Testing/Invalid dates with Sorting and Grouping.md
Due: lint-markdown

docs: Add fix of #2589 to the list of breaking changes in 6.0.0
  docs/Support and Help/Breaking Changes.md
Due: lint-markdown

vault: Add link to #2591.
  resources/sample_vaults/Tasks-Demo/Manual Testing/Invalid dates with Sorting and Grouping.md
Due: lint-markdown

vault: Turn on blue border around Tasks code blocks in sample vault
  resources/sample_vaults/Tasks-Demo/.obsidian/appearance.json
Due: none

vault: Add links to #2592.
  resources/sample_vaults/Tasks-Demo/Manual Testing/Invalid dates with Sorting and Grouping.md
Due: lint-markdown

fix: Invalid dates with TasksDate.category() now in 'Invalid date' category, number 0.
  src/Scripting/TasksDate.ts
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
  tests/Scripting/TasksDate.test.ts
Due: lint, lint-markdown, test

fix: Invalid dates with TasksDate.fromNow() now always come first.
  src/Scripting/TasksDate.ts
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due_results.approved.txt
  tests/Scripting/TasksDate.test.ts
Due: lint, test

test: Add a custom filter example to access invalid dates.
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.due.advanced_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.due.advanced_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Update machine-generated snippets in script docs
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Scripting/Custom Filters.md
  docs/Scripting/Custom Grouping.md
Due: lint-markdown

docs: Update Task Properties page for new category 'Invalid date'.
  docs/Scripting/Task Properties.md
Due: lint-markdown

docs: Update custom grouping docs for new 'Invalid date' date category
  docs/Queries/Grouping.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
Due: lint, lint-markdown, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
