Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: ! Remove redundant 500pm rule
  src/Config/IncludesSettingsUI.scss
Due: none

pull: untrack Untitled.md
  resources/sample_vaults/Tasks-Demo/Untitled.md
Due: lint-markdown

pull: git rm --cached .\scripts\Test-TasksInLocalObsidianCrossPlatform.ps1
  scripts/Test-TasksInLocalObsidianCrossPlatform.ps1
Due: none

pull: make more readable
  tests/Task/Link.test.ts
Due: lint, test

fix: Prevent 'Uncaught TypeError' console error with Task-Board plugin (#3475)
  src/Suggestor/EditorSuggestorPopup.ts
Due: lint, test

fix: Fix Natural Language Dates plugin with Task-Board plugin and Tasks
  src/Suggestor/EditorSuggestorPopup.ts
Due: lint, test

comment: Fix typo
  src/Suggestor/EditorSuggestorPopup.ts
Due: lint, test

test: add test to ensure no links from yaml section and rename test
  tests/Scripting/TasksFile.test.ts
Due: lint, test

pull: make first line level 1 heading
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_task_markdown_link.md
Due: lint-markdown

refactor: rename to rawLinksInFileBody
  src/Task/ListItem.ts
  tests/Task/ListItem.test.ts
Due: lint, test

Merge synced fork.
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/styles.css
  src/Suggestor/EditorSuggestorPopup.ts
  src/Suggestor/Suggestor.ts
Due: lint, test

refactor: remove possible solution couldHaveTaskSuggestions
  src/Suggestor/Suggestor.ts
Due: lint, test

feat: limit passing onTrigger by mimicking getSuggestions
  src/Suggestor/EditorSuggestorPopup.ts
Due: lint, test

docs: Add more date shortcut examples in Edit task modal docs
  docs/Editing/Create or edit Task.md
Due: lint-markdown

test: Show that 'Simple Tab Indent' plugin breaks task reading
  resources/sample_vaults/Tasks-Demo/Test Data/zero_width.md
  tests/Obsidian/AllCacheSampleData.ts
  tests/Obsidian/FileParser.test.ts
  tests/Obsidian/__test_data__/zero_width.json
Due: lint, lint-markdown, test

contrib: Add ADR with motivation of 'Includes' rename to 'Presets'
  contributing/Architecture Decisions/ADR-001 - Nomenclature for Reusable Instruction Blocks Feature.md
  contributing/Architecture Decisions/About Architecture Decisions.md
  contributing/Welcome.md
Due: lint-markdown

feat: ! Rename Includes to Presets in the settings UI
  src/Config/SettingsTab.ts
Due: lint, test

feat!!: - Rename {{includes}} placeholder to {{preset}}
  src/Scripting/QueryContext.ts
  tests/Scripting/Includes.test.ts
Due: lint, test

fix: - resetSettings() now removes any unsupported settings
  src/Config/Settings.ts
  tests/Config/Settings.test.ts
Due: lint, test

vault: Rename {{includes}} placeholder to {{preset}}
  resources/sample_vaults/Tasks-Demo/How To/Reuse instructions across the vault.md
Due: lint-markdown

test: - Add failing test that resetSettings() keeps unknown values
  tests/Config/Settings.test.ts
Due: lint, test

feat!!: - Rename 'include' instruction to 'preset'
  src/Query/Query.ts
  tests/Renderer/QueryResultsRenderer.test.ts
  tests/Scripting/Includes.test.ts
Due: lint, test

vault: Rename 'include' instruction to 'preset', in markdown and settings
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/data.json
  resources/sample_vaults/Tasks-Demo/How To/Reuse instructions across the vault.md
Due: lint-markdown

feat!!: - Rename 'includes' to 'presets' in data.json
  src/Config/IncludesSettingsUI.ts
  src/Config/Settings.ts
  src/Query/Query.ts
  src/Scripting/QueryContext.ts
  tests/Renderer/QueryResultsRenderer.test.ts
  tests/Scripting/Includes.test.ts
Due: lint, test

docs: Rename {{includes}} placeholder to {{preset}}
  docs/Scripting/Placeholders.md
Due: lint-markdown
