Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: Unwrap 'else'
  src/Query/Filter/TagsField.ts
Due: lint, test

refactor: Rename variable tagMatch to match
  src/Query/Filter/TagsField.ts
Due: lint, test

refactor: Make error message code same as TextField
  src/Query/Filter/TagsField.ts
Due: lint, test

refactor: Prepare for adding regex searching for tags (#1108)
  src/Query/Filter/TagsField.ts
Due: lint, test

refactor: Separate code that constructs the FilterOrErrorMessage
  src/Query/Filter/TagsField.ts
Due: lint, test

feat: Add regular expression search of tags
  src/Query/Filter/TagsField.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

docs: Document regex search of tags
  docs/queries/filters.md
  docs/quick-reference/index.md
Due: lint-markdown

test: Show that regex tags search checks multiple tags
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

test: Simplify exact-tag search
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

test: Add example of searching for sub-tag
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

docs: Add more descriptive text to tags docs
  docs/queries/filters.md
Due: lint-markdown

docs: Update regex docs, as tag now supports regex
  docs/queries/regular-expressions.md
Due: lint-markdown

vault: Note that tag searches support regext now
  resources/sample_vaults/Tasks-Demo/Filters/Regular Expression Searches.md
Due: lint-markdown

test: Re-use some test values from DescriptionField.test.ts
  tests/Query/Filter/DescriptionField.test.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

test: Fixed typo in comment
  tests/Query/Filter/DescriptionField.test.ts
Due: lint, test

feat: Add regular expression search for tag and tags (#1109)
  docs/queries/filters.md
  docs/queries/regular-expressions.md
  docs/quick-reference/index.md
  resources/sample_vaults/Tasks-Demo/Filters/Regular Expression Searches.md
  src/Query/Filter/TagsField.ts
  tests/Query/Filter/DescriptionField.test.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, lint-markdown, test

Update to version 1.13.0
  manifest.json
  package.json
  versions.json
Due: none

vault: Update Tasks plugin in Tasks-Demo vault
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
Due: none

vault: Update Tasks plugin in Tasks-Demo vault (#1110)
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
Due: none

Fixes Pencil Scaling
  styles.css
Due: none

fix: Correctly scale the pencil icon for all font sizes (#1113)
  styles.css
Due: none

fix: Correct cursor position after 'Toggle task done' command (#1103)
  resources/sample_vaults/Tasks-Demo/.obsidian/hotkeys.json
  resources/sample_vaults/Tasks-Demo/Manual Testing/Toggle Done Cursor Fixes.md
  src/Commands/ToggleDone.ts
Due: lint, lint-markdown, test

test: Add initial tests for 'Toggle task done' command
  src/Commands/ToggleDone.ts
  tests/Commands/ToggleDone.test.ts
Due: lint, test

test: Fix a typo in a comment
  tests/Commands/ToggleDone.test.ts
Due: lint, test

fix: Correct my syntax error made in GitHub conflict tool
  src/config/Settings.ts
Due: lint, test

test: Add initial tests for 'Toggle task done' command (#1114)
  src/Commands/ToggleDone.ts
  tests/Commands/ToggleDone.test.ts
Due: lint, test

feat: add feature toggle framework (#970)
  src/config/Feature.ts
  src/config/Settings.ts
  src/config/featureConfiguration.json
  tests/config/Feature.test.ts
  tests/config/Settings.test.ts
  tsconfig.json
Due: lint, test

fix: Prevent italics in path, folder, filename and root
  src/Query/Group.ts
  tests/Group.test.ts
Due: lint, test

fix: Prevent italics in filename component of backlink groups
  src/Query/Group.ts
  tests/Group.test.ts
Due: lint, test

test: Add test for backlink group when no file path
  tests/Group.test.ts
Due: lint, test

test: Add test for backlink group when no heading
  tests/Group.test.ts
Due: lint, test

fix: CONTRIBUTING PR feedback fixes
  CONTRIBUTING.md
Due: lint-markdown
