Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

Add a `SuggestionBuilder` to TaskFormat interface + parameterize default suggestion strategy
  src/Config/Settings.ts
  src/Suggestor/EditorSuggestorPopup.ts
  src/Suggestor/Suggestor.ts
  src/Suggestor/index.ts
  tests/EditorSuggest.test.ts
Due: lint, test

refactor: Task.fromLine() now takes a TaskLocation parameter
  src/Cache.ts
  src/Commands/CreateOrEditTaskParser.ts
  src/Commands/ToggleDone.ts
  src/InlineRenderer.ts
  src/LivePreviewExtension.ts
  src/Task.ts
  tests/DateFallback.test.ts
  tests/StatusRegistry.test.ts
  tests/Task.test.ts
  tests/TestHelpers.ts
  tests/TestingTools/FilterTestHelpers.ts
Due: lint, test

feat: add task's lineNumber to TaskLocation
  src/Cache.ts
  src/InlineRenderer.ts
  src/Task.ts
  src/TaskLocation.ts
  tests/StatusRegistry.test.ts
  tests/Task.test.ts
  tests/TaskLocation.test.ts
  tests/TestHelpers.ts
  tests/TestingTools/TaskBuilder.ts
Due: lint, test

feat: Debug view now shows line number, and clearer layout
  CONTRIBUTING.md
  src/TaskLineRenderer.ts
  tests/TaskLineRenderer.test.ts
Due: lint, lint-markdown, test

refactor: Store task line numbers (#1700)
  CONTRIBUTING.md
  src/Cache.ts
  src/InlineRenderer.ts
  src/Task.ts
  src/TaskLineRenderer.ts
  src/TaskLocation.ts
  tests/StatusRegistry.test.ts
  tests/Task.test.ts
  tests/TaskLineRenderer.test.ts
  tests/TaskLocation.test.ts
  tests/TestHelpers.ts
  tests/TestingTools/TaskBuilder.ts
Due: lint, lint-markdown, test

vault: Add snippet tasks-code-block-blue-border.css
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-code-block-blue-border.css
Due: none

vault: Add some notes for detailed testing of toggling
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/1680 - Reading Mode line numbers not updated on editing.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/Embed File in to Note - File to Embed.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/Embed File in to Note.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/Embed Task in to Note.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/Reading Mode line numbers in blockquotes.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/Reading Mode line numbers in callouts.md
Due: lint-markdown

vault: Add 'Smoke Testing the Tasks Plugin - Debug View.md'
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke Testing the Tasks Plugin - Debug View.md
Due: lint-markdown

vault: Enforce sort order
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/1680 - Reading Mode line numbers not updated on editing.md
Due: lint-markdown

vault: Enable detailed manual testing of toggling (#1702)
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-code-block-blue-border.css
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke Testing the Tasks Plugin - Debug View.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/1680 - Reading Mode line numbers not updated on editing.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/Embed File in to Note - File to Embed.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/Embed File in to Note.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/Embed Task in to Note.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/Reading Mode line numbers in blockquotes.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Task Toggling Scenarios/Reading Mode line numbers in callouts.md
Due: lint-markdown

test: all ranges tested in DateParser
  tests/Query/DateParser.test.ts
Due: lint, test

test: display 'current' date in the describe()
  tests/Query/Filter/DueDateField.test.ts
Due: lint, test

test: refactor week range tests in DueDateField
  tests/Query/Filter/DueDateField.test.ts
Due: lint, test

chore: update CONTRIBUTING.md for improved codebase navigation (#1654)
  CONTRIBUTING.md
Due: lint-markdown

chore: Initial commit of new 'contributing' vault
  .gitignore
  contributing/.obsidian/app.json
  contributing/.obsidian/appearance.json
  contributing/.obsidian/core-plugins-migration.json
  contributing/.obsidian/core-plugins.json
  contributing/.obsidian/hotkeys.json
Due: none

chore: Remove accidental newline
  CONTRIBUTING.md
Due: lint-markdown

chore: Copy CONTRIBUTING.md to contributing/, ready to split up.
  contributing/CONTRIBUTING.md
Due: lint-markdown

chore: Remove Contents list from CONTRIBUTING.md
  contributing/CONTRIBUTING.md
Due: lint-markdown

chore: Remove collapsing of 2 sections in CONTRIBUTING.md
  contributing/CONTRIBUTING.md
Due: lint-markdown

chore: Move markdownlint-disable to the section where it is needed
  contributing/CONTRIBUTING.md
Due: lint-markdown

chore: Install and configure "note-refactor-obsidian" plugin
  contributing/.obsidian/community-plugins.json
  contributing/.obsidian/plugins/note-refactor-obsidian/data.json
  contributing/.obsidian/plugins/note-refactor-obsidian/main.js
  contributing/.obsidian/plugins/note-refactor-obsidian/manifest.json
  contributing/.obsidian/plugins/note-refactor-obsidian/styles.css
Due: none

chore: Make missing H1 lines visible in Obsidian
  contributing/.obsidian/app.json
Due: none

chore: Stop IDEs fighting with Obsidian over EOLs on JSON files
  .editorconfig
Due: none

chore: Set Light/Dark theme to 'Adapt to System'
  contributing/.obsidian/appearance.json
Due: none

chore: Remove EOLs added by editorconfig settings previously
  contributing/.obsidian/core-plugins-migration.json
  contributing/.obsidian/core-plugins.json
Due: none

chore: Split CONTRIBUTING.md at level-2 headings
  contributing/CONTRIBUTING.md
  contributing/Dependency Upgrades and Repository Maintenance.md
  contributing/FAQs.md
  contributing/Local setup and workflow for changes to code and tests.md
  contributing/Maintaining the tests.md
  contributing/Thank you.md
  contributing/Updating code.md
  contributing/Updating documentation.md
Due: lint-markdown

feat: Publish contributing/ to https://publish.obsidian.md/tasks-contributing/
  contributing/.obsidian/core-plugins-migration.json
  contributing/.obsidian/core-plugins.json
  contributing/.obsidian/publish.json
Due: none

chore: Install and enable "obsidian-dangling-links" plugin
  contributing/.obsidian/community-plugins.json
  contributing/.obsidian/plugins/obsidian-dangling-links/main.js
  contributing/.obsidian/plugins/obsidian-dangling-links/manifest.json
  contributing/.obsidian/plugins/obsidian-dangling-links/styles.css
Due: none

chore: Link to GitHub for files outside contributing/
  contributing/Dependency Upgrades and Repository Maintenance.md
  contributing/FAQs.md
  contributing/Maintaining the tests.md
  contributing/Updating documentation.md
Due: lint-markdown

chore: Remove unnecessary './' from link text
  contributing/FAQs.md
  contributing/Maintaining the tests.md
  contributing/Updating documentation.md
Due: lint-markdown

chore: Fix internal links, from GitHub to Obsidian style
  contributing/Dependency Upgrades and Repository Maintenance.md
  contributing/FAQs.md
  contributing/Maintaining the tests.md
Due: lint-markdown

chore: Move files down in to their own sections
  contributing/Dependencies/Dependency Upgrades and Repository Maintenance.md
  contributing/Developing the plugin/Updating code.md
  contributing/FAQs/FAQs.md
  contributing/Testing/Local setup and workflow for changes to code and tests.md
  contributing/Testing/Maintaining the tests.md
  contributing/User Documentation/Updating documentation.md
Due: lint-markdown

chore: Move Local setup and workflow for changes to code and tests.md
  contributing/Developing the plugin/Local setup and workflow for changes to code and tests.md
Due: lint-markdown

chore: Split up pages in to sections
  contributing/Dependencies/Dependency Groups.md
  contributing/Dependencies/Dependency Upgrades and Repository Maintenance.md
  contributing/Dependencies/Notes and Special Cases.md
  contributing/Dependencies/Overview of dependencies and `package.json`.md
  contributing/Dependencies/Summary of Dependency Upgrades and Dependabot.md
  contributing/Dependencies/Thought-Process for Deciding Whether a Dependency Needs Manual Testing.md
  contributing/Developing the plugin/Local development.md
  contributing/Developing the plugin/Local setup and workflow for changes to code and tests.md
  contributing/Developing the plugin/Setting up build environment.md
  contributing/FAQs/FAQs.md
  contributing/FAQs/How do I add a new field to the Task class.md
  contributing/FAQs/How do I add a new task filter.md
  contributing/FAQs/How do I add one-click support for new themes or snippets for custom statuses.md
  contributing/FAQs/How do I enable hidden debuggingvisualisation facilities.md
  contributing/FAQs/How do I make a release.md
  contributing/FAQs/How do I smoke-test the Tasks plugin.md
  contributing/FAQs/How do I test a GitHub build of the Tasks plugin.md
  contributing/FAQs/How do I update the Tables of Contents in CONTRIBUTING and similar.md
  contributing/FAQs/How does Tasks handle status changes.md
  contributing/Testing/Approval Tests.md
  contributing/Testing/Jest and the WebStorm IDE.md
  contributing/Testing/Maintaining the tests.md
  contributing/Testing/Snapshot Tests.md
  contributing/Testing/Test Coverage.md
  contributing/Testing/Writing Tests for New or Refactored Code.md
  contributing/User Documentation/Adding Tables of Contents to rendered docs.md
  contributing/User Documentation/Callouts.md
  contributing/User Documentation/Documentation and branches.md
  contributing/User Documentation/How the documentation is generated.md
  contributing/User Documentation/Linking to other pages in the docs.md
  contributing/User Documentation/Omitting a heading from the page's Table of Contents.md
  contributing/User Documentation/Screenshots in documentation.md
  contributing/User Documentation/Updating documentation.md
  contributing/User Documentation/Version numbers in documentation.md
Due: lint-markdown

chore: Show line numbers in Obsidian and use strict line breaks.
  contributing/.obsidian/app.json
Due: none

chore: Add settings for "obsidian-dangling-links" plugin
  contributing/.obsidian/plugins/obsidian-dangling-links/data.json
Due: none

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
