Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: - Create RemoveTaskDate instruction, and start TDDing it
  src/ui/EditInstructions/DateInstructions.ts
  tests/ui/EditInstructions/DateInstructions.test.ts
Due: lint, test

refactor: . Extract removeDateMenuItemTitleForField()
  src/DateTime/Postponer.ts
Due: lint, test

refactor: - Implement remaining methods in RemoveTaskDate
  src/ui/EditInstructions/DateInstructions.ts
  tests/ui/EditInstructions/DateInstructions.test.ts
Due: lint, test

fix: Do not remove scheduled date if it was inferred
  src/ui/EditInstructions/DateInstructions.ts
  tests/ui/EditInstructions/DateInstructions.test.ts
Due: lint, test

fix: Do not create a new task if the field already has no date
  src/ui/EditInstructions/DateInstructions.ts
  tests/ui/EditInstructions/DateInstructions.test.ts
Due: lint, test

feat: Add 'Remove [field-name] date' item to dates context menu
  src/ui/EditInstructions/DateInstructions.ts
  tests/ui/EditInstructions/DateInstructions.test.ts
  tests/ui/Menus/DateMenu.test.ts
Due: lint, test

refactor: . Move SetRelativeTaskDate back up next to SetTaskDate
  src/ui/EditInstructions/DateInstructions.ts
Due: lint, test

jsdoc: Improve docs in DateInstructions.ts
  src/ui/EditInstructions/DateInstructions.ts
Due: lint, test

refactor: . Make field the first parameter in SetRelativeTaskDate constructor
  src/ui/EditInstructions/DateInstructions.ts
  tests/ui/EditInstructions/DateInstructions.test.ts
Due: lint, test

refactor: . Make field the first parameter in RemoveTaskDate constructor
  src/ui/EditInstructions/DateInstructions.ts
  tests/ui/EditInstructions/DateInstructions.test.ts
Due: lint, test

test: Remove a TODO comment that I have already done, thank you SonarCloud
  tests/ui/Menus/DateMenu.test.ts
Due: lint, test

[create-pull-request] automated change
  docs/Advanced/Styling.md
Due: lint-markdown

refactor: Remove two unnecessary uses of global app.
  src/Config/SettingsTab.ts
  src/main.ts
Due: lint, test

feat: Add a calendar icon to the Edit Task modal date fields
  src/ui/DateEditor.svelte
  src/ui/EditTask.scss
Due: none

feat: Hook up the new calendar icon to flatpickr date picker - ish.
  src/ui/DateEditor.svelte
  src/ui/Menus/DatePicker.ts
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot.approved.html
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot_-_without_access_keys.approved.html
Due: lint, test

comment: Note some TODOs for improvement
  src/ui/DateEditor.svelte
Due: none

refactor: ! Failed attempt at positioning the picker correctly
  src/ui/Menus/DatePicker.ts
Due: lint, test

refactor: ! Another failed attempt at positioning the date picker
  src/ui/DateEditor.svelte
Due: none

fix: ! Position the selector correctly, but now we cannot type in date field
  src/ui/DateEditor.svelte
Due: none

refactor: . Remove unused new function
  src/ui/Menus/DatePicker.ts
Due: lint, test

fix: ! Allow user to still type in the text box, after using date picker
  src/ui/DateEditor.svelte
Due: none

refactor: ! Saving failed attempt at preventing Escape closing the parent modal
  src/ui/DateEditor.svelte
Due: none

fix: Correct date is now chosen, but window position still wrong
  src/ui/DateEditor.svelte
  src/ui/Menus/DatePicker.ts
Due: lint, test
