Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

fix: query.file.property() works again for users (#3774)
  src/Query/Query.ts
  src/Query/QueryResult.ts
  tests/Query/QueryResult.test.ts
Due: lint, test

Update to version 7.23.1
  manifest.json
  package.json
  versions.json
Due: none

refactor: . Extract verifyHtml()
  tests/RenderedDOM/SnapshotDOM.test.ts
Due: lint, test

refactor: . Move verifyHtml() to ApprovalTestHelpers.ts
  tests/RenderedDOM/SnapshotDOM.test.ts
  tests/TestingTools/ApprovalTestHelpers.ts
Due: lint, test

feat: add task count location setting (top or bottom)
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/Renderer/HtmlQueryResultsRenderer.ts
  src/i18n/locales/en.json
Due: lint, test

docs: document task count location setting
  docs/Getting Started/Settings.md
  docs/Queries/Layout.md
Due: lint-markdown

test: add tests for task count location setting
  tests/Config/Settings.test.ts
  tests/Renderer/HtmlQueryResultsRenderer.test.ts
Due: lint, test

feat: register TQ_ignore_this_file as checkbox property type
  src/Query/QueryFileDefaults.ts
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_fake-types.json.approved.json
  tests/Query/QueryFileDefaults.test.ts
Due: lint, test

feat: add TQ_ignore_this_file to metaBindPluginWidgets
  src/Query/QueryFileDefaults.ts
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_fake-types.json.approved.json
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_meta-bind-widgets-include.approved.md
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_meta-bind-widgets-snippet.approved.md
  tests/Query/QueryFileDefaults.test.ts
Due: lint, lint-markdown, test

test: add manual testing files for TQ_ignore_this_file
  resources/sample_vaults/Tasks-Demo/Manual Testing/Ignore This File Property - Normal File.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Ignore This File Property.md
Due: lint-markdown

docs: add TQ_ignore_this_file section to Obsidian Properties page
  docs/Getting Started/Obsidian Properties.md
Due: lint-markdown

feat: add deploy:local:bash yarn script
  package.json
Due: none

docs: Make status command name match Tasks default settings
  docs/Editing/Toggling and Editing Statuses.md
Due: lint-markdown

docs: Add 'Change status to...' commands to the Changelog
  docs/What is New/Changelog.md
Due: lint-markdown

docs: Fix two broken heading links
  docs/Editing/Toggling and Editing Statuses.md
  docs/Getting Started/Statuses.md
Due: lint-markdown

fix: - Make 'Set status' commands immune to statuses being renamed
  src/Commands/CreateSetStatusLineTransformer.ts
  tests/Commands/CreateSetStatusLineTransformer.test.ts
Due: lint, test

refactor: . Rename variable to clarify intent
  src/Commands/CreateSetStatusLineTransformer.ts
Due: lint, test

refactor: - More descriptive 'Set status' command ids, e.g. set-status-symbol-to-x
  src/Commands/CreateSetStatusLineTransformer.ts
  tests/Commands/CreateSetStatusLineTransformer.test.ts
Due: lint, test

test: . Removed a TODO comment. I've tested the coverage and it's good.
  tests/Commands/CreateSetStatusLineTransformer.test.ts
Due: lint, test

test: - Confirm that user settings for recurrence are honoured
  tests/Commands/CreateSetStatusLineTransformer.test.ts
Due: lint, test

test: - Rename test block to more closely match the feature it tests
  tests/Commands/CreateSetStatusLineTransformer.test.ts
Due: lint, test

docs: Note that 'Change status' commands only work on existing tasks.
  docs/Editing/Toggling and Editing Statuses.md
Due: lint-markdown

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
