Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: add jsdoc comments
  src/Query/TaskGroup.ts
  src/Query/TaskGroups.ts
Due: lint, test

refactor: reverse if-else statement to catch error
  src/Query/Query.ts
Due: lint, test

test: explicit wordings in TaskGroups.test.ts
  tests/TaskGroups.test.ts
Due: lint, test

test: verify that sorting is applied with group limit
  tests/Query.test.ts
Due: lint, test

test: document current group sorting of PriorityField
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

refactor: move localeCompare to groupSorter
  src/Query/Grouper.ts
  src/Query/TaskGroups.ts
Due: lint, test

refactor: move groupSorter to Field
  src/Query/Filter/Field.ts
  src/Query/Filter/MultiTextField.ts
  src/Query/Grouper.ts
Due: lint, test

refactor: rename sorter to comparator
  src/Query/Filter/Field.ts
  src/Query/Filter/MultiTextField.ts
  src/Query/Grouper.ts
  src/Query/TaskGroups.ts
Due: lint, test

refactor: move groupComparator() to the bottom
  src/Query/Filter/Field.ts
Due: lint, test

refactor: custom groupComparator() in PriorityField
  src/Query/Filter/PriorityField.ts
Due: lint, test

refactor: add Priority.toNumber()
  src/Task.ts
Due: lint, test

feat: make Priority group names shorter
  src/Query/Filter/PriorityField.ts
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

refactor: rename types
  src/Query/Filter/Field.ts
  src/Query/Filter/PriorityField.ts
  src/Query/Grouper.ts
Due: lint, test

fix: toNumber() default priority is 3
  src/Task.ts
Due: lint, test

refactor: remove temp variable
  src/Query/Filter/PriorityField.ts
Due: lint, test

review changes: fixed priority numbers, changed highest icon
  src/Task.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  src/Urgency.ts
  src/ui/EditTask.svelte
  tests/Query/Filter/PriorityField.test.ts
  tests/Query/Urgency.test.ts
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_show_all_suggested_text.approved.md
  tests/Task.test.ts
  tests/TaskSerializer/TaskSerializer.test.ts
Due: lint, lint-markdown, test

refactor: shorter import type
  src/Query/Filter/PriorityField.ts
Due: lint, test

test: fix test description
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

fixed highest priority emoji to a star in a box
  src/TaskSerializer/DefaultTaskSerializer.ts
  tests/Query/Filter/PriorityField.test.ts
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_show_all_suggested_text.approved.md
Due: lint, lint-markdown, test

refactor: compare first tasks instead of group names
  src/Query/Filter/Field.ts
  src/Query/Filter/MultiTextField.ts
  src/Query/Filter/PriorityField.ts
  src/Query/Grouper.ts
  src/Query/TaskGroups.ts
  src/Task.ts
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

fixed edit task modal styling
  src/ui/EditTask.svelte
  styles.css
Due: none

docs: update group names in docs
  docs/Queries/Grouping.md
Due: lint-markdown

fix: should not apply group limit if no groups were specified
  src/Query/TaskGroups.ts
  tests/TaskGroups.test.ts
Due: lint, test

docs: add group limit
  docs/Queries/Limiting.md
Due: lint-markdown

test: test priority group sorting
  tests/Query/Filter/UrgencyField.test.ts
Due: lint, test

docs: document updated urgency grouping behaviour
  docs/Queries/Grouping.md
Due: lint-markdown

refactor: add DescriptionLengthGroupingfield for testing
  src/Query/Filter/DescriptionLengthGroupingField.ts
Due: lint, test

fix: add defalt group comparator if Field does not support sorting
  src/Query/Filter/Field.ts
  tests/Query/Filter/DescriptionLengthGroupingField.test.ts
Due: lint, test

test: test default group comparator
  tests/Query/Filter/DescriptionLengthGroupingField.test.ts
Due: lint, test

fixed highest priority emoji to final one
  src/TaskSerializer/DefaultTaskSerializer.ts
  tests/Query/Filter/PriorityField.test.ts
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_show_all_suggested_text.approved.md
Due: lint, lint-markdown, test

added documentation
  docs/Advanced/Quickadd.md
  docs/Advanced/Styling.md
  docs/Advanced/Urgency.md
  docs/Getting Started/Auto-Suggest.md
  docs/Getting Started/Priority.md
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Quick Reference.md
  docs/Reference/Task Formats/Dataview Format.md
  docs/Reference/Task Formats/Tasks Emoji Format.md
Due: lint-markdown

test: fix date to fix urgency calculation
  tests/Query/Filter/UrgencyField.test.ts
Due: lint, test

feat: ignore files tagged with disable-tasks-plugin
  src/Cache.ts
Due: lint, test

refactor: use slice() instead of splice() in TaskGroup.applyTaskLimit()
  src/Query/TaskGroup.ts
Due: lint, test

test: fix test comment
  tests/Query.test.ts
Due: lint, test

docs: better jsdoc of TaskGroups.applyTaskLimit()
  src/Query/TaskGroups.ts
Due: lint, test

feat: modify 'group' to 'groups' in queries
  src/Query/Query.ts
  tests/Query.test.ts
Due: lint, test

docs: update docs to new instruction
  docs/Queries/Limiting.md
Due: lint-markdown

feat: Add 'limit groups to <number> tasks' (#1963)
  docs/Queries/Limiting.md
  src/Query/Query.ts
  src/Query/TaskGroup.ts
  src/Query/TaskGroups.ts
  tests/Query.test.ts
  tests/TaskGroups.test.ts
Due: lint, lint-markdown, test
