Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

feat: Explain the global query
  src/Query/Query.ts
  src/QueryRenderer.ts
  src/lib/QueryRenderer.ts
  tests/Config/DebugSettings.test.ts
  tests/Query.test.ts
  tests/Query/Explain/DocsSamplesForExplain.test.explain_boolean_combinations.approved.explanation.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_expands_dates.approved.explanation.text
  tests/Query/Explain/DocsSamplesForExplain.test.explain_nested_boolean_combinations.approved.explanation.text
  tests/Query/Filter/DueDateField.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_filters-date-examples.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_last-this-next-week-month-quarter-year.approved.explanation.text
  tests/Query/Filter/ReferenceDocs/FilterReference/DateFieldReference.test.explain_date_reference_last-this-next-weekday.approved.explanation.text
Due: lint, test

feat: Append global query to all queries
  src/Query/Query.ts
  src/QueryRenderer.ts
  src/lib/QueryRenderer.ts
Due: lint, test

test: Add tests for QueryRenderer query explanations
  tests/Query.test.ts
  tests/QueryRenderer.test.ts
Due: lint, test

feat: Add a basic entry to SettingsTab for global query
  src/Config/SettingsTab.ts
Due: lint, test

test: Add a test to check that QueryRenderer uses the correct query
  tests/QueryRenderer.test.ts
Due: lint, test

Fixed issue #1852 by making sure BooleanField is always list in the field reators. https://github.com/obsidian-tasks-group/obsidian-tasks/issues/1852
  src/Query/FilterParser.ts
Due: lint, test

Fixes query-related fields not having a "hidden" class: https://github.com/obsidian-tasks-group/obsidian-tasks/issues/1866
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-smoke-test-query-styling.css
  resources/sample_vaults/Tasks-Demo/Manual Testing/Styling of Queries.md
  src/TaskLayout.ts
Due: lint, lint-markdown, test

refactor: Reorder new lines in FilterParser.ts to avoid #1907 conflict
  src/Query/FilterParser.ts
Due: lint, test

feat: Add 'root' and 'folder' filters (#1873)
  docs/Queries/Filters.md
  docs/Quick Reference/Quick Reference.md
  src/Query/Filter/BacklinkField.ts
  src/Query/Filter/FolderField.ts
  src/Query/Filter/RootField.ts
  src/Query/FilterParser.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
  tests/Group.test.ts
  tests/Query/Filter/BacklinkField.test.ts
  tests/Query/Filter/FolderField.test.ts
  tests/Query/Filter/RootField.test.ts
Due: lint, lint-markdown, test

fix: Allow filename filters to contain parentheses (#1907)
  src/Query/FilterParser.ts
Due: lint, test

refactor: inline getGroupNamesForTask()
  src/Query/Group.ts
  src/Query/IntermediateTaskGroups.ts
Due: lint, test

A small fix to the manual testing guide
  resources/sample_vaults/Tasks-Demo/Manual Testing/Styling of Queries.md
Due: lint-markdown

refactor: move escapeMarkdownCharacters() to TextField
  src/Query/Filter/BacklinkField.ts
  src/Query/Filter/FolderField.ts
  src/Query/Filter/PathField.ts
  src/Query/Filter/RootField.ts
  src/Query/Filter/TextField.ts
  src/Query/Group.ts
Due: lint, test

refactor: remove Group abstraction
  src/Query/Group.ts
  src/Query/Query.ts
  tests/TaskGroups.test.ts
Due: lint, test

refactor: remove Group class (#1909)
  src/Query/Filter/BacklinkField.ts
  src/Query/Filter/FolderField.ts
  src/Query/Filter/PathField.ts
  src/Query/Filter/RootField.ts
  src/Query/Filter/TextField.ts
  src/Query/Group.ts
  src/Query/IntermediateTaskGroups.ts
  src/Query/Query.ts
  tests/TaskGroups.test.ts
Due: lint, test

test: check grouper.property on fields supporting grouping
  tests/Query/Filter/CreatedDateField.test.ts
  tests/Query/Filter/DoneDateField.test.ts
  tests/Query/Filter/DueDateField.test.ts
  tests/Query/Filter/FilenameField.test.ts
  tests/Query/Filter/HappensDateField.test.ts
  tests/Query/Filter/HeadingField.test.ts
  tests/Query/Filter/PathField.test.ts
  tests/Query/Filter/PriorityField.test.ts
  tests/Query/Filter/RecurrenceField.test.ts
  tests/Query/Filter/RecurringField.test.ts
  tests/Query/Filter/ScheduledDateField.test.ts
  tests/Query/Filter/StartDateField.test.ts
  tests/Query/Filter/StatusField.test.ts
  tests/Query/Filter/StatusNameField.test.ts
  tests/Query/Filter/StatusTypeField.test.ts
Due: lint, test

test: remove redundant test
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

test: add toSupportGroupingWithProperty() custom matcher
  tests/CustomMatchers/CustomMatchersForGrouping.ts
  tests/CustomMatchers/jest.custom_matchers.setup.ts
  tests/Query/Filter/CreatedDateField.test.ts
  tests/Query/Filter/DoneDateField.test.ts
  tests/Query/Filter/DueDateField.test.ts
  tests/Query/Filter/FilenameField.test.ts
  tests/Query/Filter/HappensDateField.test.ts
  tests/Query/Filter/HeadingField.test.ts
  tests/Query/Filter/PathField.test.ts
  tests/Query/Filter/PriorityField.test.ts
  tests/Query/Filter/RecurrenceField.test.ts
  tests/Query/Filter/RecurringField.test.ts
  tests/Query/Filter/ScheduledDateField.test.ts
  tests/Query/Filter/StartDateField.test.ts
  tests/Query/Filter/StatusField.test.ts
  tests/Query/Filter/StatusNameField.test.ts
  tests/Query/Filter/StatusTypeField.test.ts
Due: lint, test

test: use custom matcher for TagsField
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

test: rework toSupportGroupingWithProperty()
  tests/CustomMatchers/CustomMatchersForGrouping.ts
Due: lint, test

test: test Backlink, Folder & Root fields in the same
  tests/Query/Filter/BacklinkField.test.ts
  tests/Query/Filter/FolderField.test.ts
  tests/Query/Filter/RootField.test.ts
Due: lint, test

fix: query-related fields now have a "hidden" CSS class (#1908)
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-smoke-test-query-styling.css
  resources/sample_vaults/Tasks-Demo/Manual Testing/Styling of Queries.md
  src/TaskLayout.ts
Due: lint, lint-markdown, test

test: check grouper property (#1899)
  tests/CustomMatchers/CustomMatchersForGrouping.ts
  tests/CustomMatchers/jest.custom_matchers.setup.ts
  tests/Query/Filter/BacklinkField.test.ts
  tests/Query/Filter/CreatedDateField.test.ts
  tests/Query/Filter/DoneDateField.test.ts
  tests/Query/Filter/DueDateField.test.ts
  tests/Query/Filter/FilenameField.test.ts
  tests/Query/Filter/FolderField.test.ts
  tests/Query/Filter/HappensDateField.test.ts
  tests/Query/Filter/HeadingField.test.ts
  tests/Query/Filter/PathField.test.ts
  tests/Query/Filter/PriorityField.test.ts
  tests/Query/Filter/RecurrenceField.test.ts
  tests/Query/Filter/RecurringField.test.ts
  tests/Query/Filter/RootField.test.ts
  tests/Query/Filter/ScheduledDateField.test.ts
  tests/Query/Filter/StartDateField.test.ts
  tests/Query/Filter/StatusField.test.ts
  tests/Query/Filter/StatusNameField.test.ts
  tests/Query/Filter/StatusTypeField.test.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

feat: DateParser starts weeks on any day
  src/Query/DateParser.ts
Due: lint, test

feat: get first day of the week from Settings
  src/Config/Settings.ts
  src/Query/DateParser.ts
Due: lint, test

test: test starting day of the week in Settings
  tests/Query/DateParser.test.ts
Due: lint, test

test: refactor cases
  tests/Query/DateParser.test.ts
Due: lint, test

test: cover full week shift for DateParser
  tests/Query/DateParser.test.ts
Due: lint, test

feat: add dropdown with first day of the week
  src/Config/SettingsTab.ts
Due: lint, test

docs: document week may start on any day
  docs/Queries/Filters.md
Due: lint-markdown

docs: add Released section
  docs/Queries/Filters.md
Due: lint-markdown

docs: update according to feedback
  docs/Queries/Filters.md
Due: lint-markdown

docs: fix currently -> default
  docs/Queries/Filters.md
Due: lint-markdown

refactor: run lint
  src/Query/DateParser.ts
Due: lint, test

docs: update to new format of 'released'
  docs/Queries/Filters.md
Due: lint-markdown
