Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: Adopt obsidian-tasks-x settings mechanism
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/Config/settingsConfiguration.json
  styles.css
Due: lint, test

fix: Prevent duplicate values in user settings
  src/Config/Settings.ts
Due: lint, test

fix: Improve style in sample setting
  src/Config/settingsConfiguration.json
Due: none

fix: Remove reference to duplicate settings values
  src/Config/Settings.ts
Due: lint, test

feat: Enable editing of custom statuses
  src/Config/CustomStatusModal.ts
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/Config/settingsConfiguration.json
  src/main.ts
Due: lint, test

fix: Todo currently toggles to Done
  src/Config/settingsConfiguration.json
Due: none

refactor: Remove repetition
  src/Config/SettingsTab.ts
Due: lint, test

docs: Improve README.md, for new users and devs
  README.md
Due: lint-markdown

docs: Fix recurrence date in an example
  README.md
Due: lint-markdown

docs: Improve README.md, for new users and devs (#1469)
  README.md
Due: lint-markdown

test: Move DateField tests to better location
  tests/Query/Filter/DateField.test.ts
  tests/Sort.test.ts
Due: lint, test

test: Address some TODOs in Sort.test.ts
  tests/Sort.test.ts
Due: lint, test

test: Address 5 TODOs in Sort.test.ts (#1470)
  tests/Query/Filter/DateField.test.ts
  tests/Sort.test.ts
Due: lint, test

refactor: Split loop to separate out UI code
  src/Config/SettingsTab.ts
Due: lint, test

refactor: Extract method addCustomStatusesCollection()
  src/Config/SettingsTab.ts
Due: lint, test

refactor: Create new file StatusSettingsHelpers.ts
  src/Config/SettingsTab.ts
  src/Config/StatusSettingsHelpers.ts
Due: lint, test

refactor: Extract StatusSettingsHelpers.minimalSupportedStatuses()
  src/Config/SettingsTab.ts
  src/Config/StatusSettingsHelpers.ts
Due: lint, test

refactor: Extract itsSupportedStatuses()
  src/Config/SettingsTab.ts
Due: lint, test

refactor: Move itsSupportedStatuses() to StatusSettingsHelpers.ts
  src/Config/SettingsTab.ts
  src/Config/StatusSettingsHelpers.ts
Due: lint, test

refactor: CustomStatusModal.ts now creates StatusConfiguration
  src/Config/CustomStatusModal.ts
  src/Config/SettingsTab.ts
Due: lint, test

refactor: Extract method updateAndSaveStatusSettings()
  src/Config/SettingsTab.ts
Due: lint, test

jsdoc: Improve comments in StatusSettingsHelpers.ts
  src/Config/StatusSettingsHelpers.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
