Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: Move TextField.maybeNegate() to end and make static (#1044)
  src/Query/Filter/TextField.ts
Due: lint, test

test: Test regex searches on heading
  tests/CustomMatchers/CustomMatchersForFilters.ts
  tests/Query/Filter/HeadingField.test.ts
Due: lint, test

refactor: Extract method toMatchTask()
  tests/CustomMatchers/CustomMatchersForFilters.ts
Due: lint, test

test: Improve output of toMatchTask() on failure
  tests/CustomMatchers/CustomMatchersForFilters.ts
Due: lint, test

test: Simplify remaining custom matchers for filter tests
  tests/CustomMatchers/CustomMatchersForFilters.ts
Due: lint, test

test: Export toMatchTask() custom matcher
  tests/CustomMatchers/CustomMatchersForFilters.ts
Due: lint, test

test: Test heading with regex, and 2 new custom matchers (#1045)
  tests/CustomMatchers/CustomMatchersForFilters.ts
  tests/Query/Filter/HeadingField.test.ts
Due: lint, test

Revert "chore: Add regex search to Tasks-Demo"
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
Due: none

docs, test: Document and test regular expression searches (#1015)
  docs/queries/combining-filters.md
  docs/queries/comments.md
  docs/queries/examples.md
  docs/queries/filters.md
  docs/queries/grouping.md
  docs/queries/layout.md
  docs/queries/limit.md
  docs/queries/regular-expressions.md
  docs/queries/sorting.md
  docs/quick-reference/index.md
  resources/sample_vaults/Tasks-Demo/Filters/Regular Expression Searches.md
  tests/Query/Filter/PathField.test.ts
Due: lint, lint-markdown, test

docs,test: Add examples of searching for time stamps
  docs/queries/regular-expressions.md
  tests/Query/Filter/DescriptionField.test.ts
Due: lint, lint-markdown, test

test: Add tests to show the text that is searched by description
  src/Query/Filter/DescriptionField.ts
  tests/Query/Filter/DescriptionField.test.ts
Due: lint, test

docs: Document how description's search text is constructed.
  docs/queries/filters.md
Due: lint-markdown

test: Search description for short tags, excluding sub-tags
  tests/Query/Filter/DescriptionField.test.ts
Due: lint, test

test: Search description for sub-tags
  tests/Query/Filter/DescriptionField.test.ts
Due: lint, test

test: Simplify regexes by using String.raw
  tests/Query/Filter/DescriptionField.test.ts
Due: lint, test

test: Add missing 'it' block, for consistency
  tests/Query/Filter/DescriptionField.test.ts
Due: lint, test

test: More useful example for sub-tag search
  tests/Query/Filter/DescriptionField.test.ts
Due: lint, test

docs: Document searching short tags and sub-tags
  docs/queries/regular-expressions.md
Due: lint-markdown

docs: Be consistent with case-insensitive flag
  tests/Query/Filter/DescriptionField.test.ts
Due: lint, test

docs: Heading regex searches are also case-sensitive
  docs/queries/filters.md
Due: lint-markdown

docs: Add a regex demo to examples.md
  docs/queries/examples.md
Due: lint-markdown

test: Use String.raw for all regex searches
  tests/Query/Filter/HeadingField.test.ts
  tests/Query/Filter/PathField.test.ts
Due: lint, test

docs: Explain what [...] means
  docs/queries/regular-expressions.md
Due: lint-markdown

docs: Add 'Escaping special characters' section
  docs/queries/regular-expressions.md
Due: lint-markdown

docs,vault: Link between regex docs and sample page
  docs/queries/regular-expressions.md
  resources/sample_vaults/Tasks-Demo/Filters/Regular Expression Searches.md
Due: lint-markdown

docs: Improve the 'Important links' section
  docs/queries/regular-expressions.md
Due: lint-markdown

docs: Link to tickets in 'known limitations' section
  docs/queries/regular-expressions.md
Due: lint-markdown

test: Add regex demo of an example used for Boolean searches
  tests/Query/Filter/DescriptionField.test.ts
Due: lint, test

docs: Document pipe (|) in regex - and add example
  docs/queries/regular-expressions.md
Due: lint-markdown

docs: Remove stray URL
  docs/queries/regular-expressions.md
Due: lint-markdown

docs: Finish docs and tests for regex searches (#1051)
  docs/queries/examples.md
  docs/queries/filters.md
  docs/queries/regular-expressions.md
  resources/sample_vaults/Tasks-Demo/Filters/Regular Expression Searches.md
  src/Query/Filter/DescriptionField.ts
  tests/Query/Filter/DescriptionField.test.ts
  tests/Query/Filter/HeadingField.test.ts
  tests/Query/Filter/PathField.test.ts
Due: lint, lint-markdown, test

docs: Fix a couple of typos
  docs/queries/regular-expressions.md
Due: lint-markdown

docs: Fix a couple of typos in regex docs (#1053)
  docs/queries/regular-expressions.md
Due: lint-markdown

Update to version 1.12.0
  manifest.json
  package.json
  versions.json
Due: none
