Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

feat: Update Chinese (zh) translation file
  src/i18n/locales/zh_cn.json
Due: none

fix: Ignore rename events for other files (#3335, #3428)
  src/Renderer/QueryRenderer.ts
Due: lint, test

Update to version 7.19.1
  manifest.json
  package.json
  versions.json
Due: none

vault: Add "tabs" plugin
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/tabs/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/tabs/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/tabs/styles.css
Due: none

vault: Add "Tab Panels" plugin
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/tab-panels/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/tab-panels/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/tab-panels/styles.css
Due: none

vault: Sample files for experimenting with plugins that generate tabs
  resources/sample_vaults/Tasks-Demo/2999/2999 - CONTENTS.md
  resources/sample_vaults/Tasks-Demo/2999/2999 - Steps.md
  resources/sample_vaults/Tasks-Demo/2999/2999 - experiment - has a query.md
  resources/sample_vaults/Tasks-Demo/2999/2999 - experiment - no query.md
  resources/sample_vaults/Tasks-Demo/2999/Obsidian Tabs code block - by xhuajin.png
  resources/sample_vaults/Tasks-Demo/2999/Pasted image 20250421111831.png
  resources/sample_vaults/Tasks-Demo/2999/js-engine by mProjectsCode - engine rendering.md
  resources/sample_vaults/Tasks-Demo/2999/js-engine by mProjectsCode - markdownBuilder.md
  resources/sample_vaults/Tasks-Demo/2999/obsidian-tasks-plugin - alone.md
  resources/sample_vaults/Tasks-Demo/2999/tab-panels by GnoxNahte.md
  resources/sample_vaults/Tasks-Demo/2999/tabs by xhuajin.md
Due: lint-markdown

vault: Move images to sub-folder and rename one
  resources/sample_vaults/Tasks-Demo/2999/2999-images/Obsidian Tabs code block - by xhuajin.png
  resources/sample_vaults/Tasks-Demo/2999/2999-images/Tab Panels code block - by GnoxNahte.png
  resources/sample_vaults/Tasks-Demo/2999/tab-panels by GnoxNahte.md
Due: lint-markdown

refactor: ! Add IQuery.warn() - for visibility of output
  src/IQuery.ts
  src/Query/Query.ts
Due: lint, test

refactor: ! Use warn() instead of debug() to make key info stand out in the console
  src/Renderer/QueryRenderer.ts
Due: lint, test

refactor: ! Add logging in render() to show whether we are visible and connected
  src/Renderer/QueryRenderer.ts
Due: lint, test

refactor: ! Detect when QueryRenderChild objects become newly visible
  src/Renderer/QueryRenderer.ts
Due: lint, test

vault: Add some more test files for #2999
  resources/sample_vaults/Tasks-Demo/2999/2999 - CONTENTS.md
  resources/sample_vaults/Tasks-Demo/2999/js-engine by mProjectsCode - engine rendering.md
  resources/sample_vaults/Tasks-Demo/2999/js-engine by mProjectsCode - markdownBuilder.md
  resources/sample_vaults/Tasks-Demo/2999/obsidian-tasks-plugin - alone - 1.md
  resources/sample_vaults/Tasks-Demo/2999/obsidian-tasks-plugin - alone - 2.md
  resources/sample_vaults/Tasks-Demo/2999/obsidian-tasks-plugin - in collapsed callout.md
  resources/sample_vaults/Tasks-Demo/2999/tab-panels by GnoxNahte.md
Due: lint-markdown

vault: Add "Advanced Debug Mode" plugin via BRAT - not enabled
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/advanced-debug-mode/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/advanced-debug-mode/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/advanced-debug-mode/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/advanced-debug-mode/styles.css
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian42-brat/data.json
Due: none

feat: Stop Tasks plugin from running on inactive tabs
  src/Renderer/QueryRenderer.ts
  src/main.ts
Due: lint, test

comment: Record example reasons for not redrawing...
  src/Renderer/QueryRenderer.ts
Due: lint, test

refactor: . inline isConnected and isShown
  src/Renderer/QueryRenderer.ts
Due: lint, test

refactor: Convert warning messages back to debug, now the results are good
  src/Renderer/QueryRenderer.ts
Due: lint, test

Revert "vault: Add "Tab Panels" plugin"
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/tab-panels/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/tab-panels/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/tab-panels/styles.css
Due: none

refactor: . Extract renderResults() - this is identical to the original render()
  src/Renderer/QueryRenderer.ts
Due: lint, test

comment: Remove a comment, having learned that requestAnimationFrame() is correct
  src/Renderer/QueryRenderer.ts
Due: lint, test

Revert "vault: Add "tabs" plugin"
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/tabs/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/tabs/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/tabs/styles.css
Due: none

refactor: ! Simplify code since we know we are observing just one element
  src/Renderer/QueryRenderer.ts
Due: lint, test

refactor: ! IntersectionObserver now logs exceptions
  src/Renderer/QueryRenderer.ts
Due: lint, test
