Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Add major new section: 'How the New Date is Calculated: Repeating Monthly'
  docs/getting-started/recurring-tasks.md
Due: lint-markdown

docs: Add new section: 'Technical Details'
  docs/getting-started/recurring-tasks.md
Due: lint-markdown

docs: Add markdown codeblocks to tasks in new sections
  docs/getting-started/recurring-tasks.md
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/styles.css
Due: lint-markdown

docs: Use more representative done does in sample tasks
  docs/getting-started/recurring-tasks.md
Due: lint-markdown

docs: Warn against use of 'every month on the 31st'
  docs/getting-started/recurring-tasks.md
Due: lint-markdown

docs: Warn near top of file about skipped recurrences
  docs/getting-started/recurring-tasks.md
Due: lint-markdown

test: Add test to see whether 'every year on' needs special case. It seems not.
  tests/Task.test.ts
Due: lint, test

refactor: code review: Remove repeated calls to Recurrence.toText()
  src/Recurrence.ts
Due: lint, test

Ensure monthly and yearly recurrences (#1197)
  docs/getting-started/recurring-tasks.md
  resources/sample_vaults/Tasks-Demo/.obsidian/core-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/styles.css
  resources/sample_vaults/Tasks-Demo/Manual Testing/Recurrence handling invalid dates.md
  src/Recurrence.ts
  tests/Recurrence.test.ts
  tests/Task.test.ts
Due: lint, lint-markdown, test

Update to version 1.15.1
  manifest.json
  package.json
  versions.json
Due: none

refactor: Store original Markdown line in Task, where possible
  src/Commands/CreateOrEdit.ts
  src/Task.ts
  tests/Query.test.ts
  tests/Task.test.ts
  tests/TestingTools/TaskBuilder.ts
Due: lint, test

refactor: Store original Markdown line in Task, where possible (#1217)
  src/Commands/CreateOrEdit.ts
  src/Task.ts
  tests/Query.test.ts
  tests/Task.test.ts
  tests/TestingTools/TaskBuilder.ts
Due: lint, test

refactor: Add setter and getter for FilterOrErrorMessage.filter
  src/Query/Filter/Filter.ts
Due: lint, test

refactor: Query now re-uses Filter type
  src/Query/Query.ts
Due: lint, test

refactor: Rename Filter to FilterFunction
  src/Query/Filter/BooleanField.ts
  src/Query/Filter/Filter.ts
  src/Query/Filter/FilterInstruction.ts
  src/Query/Filter/FilterInstructions.ts
  src/Query/Filter/MultiTextField.ts
  src/Query/Filter/TextField.ts
  src/Query/Query.ts
Due: lint, test

refactor: Add unused Filter class
  src/Query/Filter/Filter.ts
  tests/Query/Filter/Filter.test.ts
Due: lint, test

test: Add test for FilterOrErrorMessage
  tests/Query/Filter/Filter.test.ts
Due: lint, test

test: Strengthen tests in Filter.test.ts
  tests/Query/Filter/Filter.test.ts
Due: lint, test

refactor: Rename FilterOrErrorMessage.filter to filterFunction
  src/Query/Filter/BooleanField.ts
  src/Query/Filter/DateField.ts
  src/Query/Filter/Filter.ts
  src/Query/Filter/FilterInstruction.ts
  src/Query/Filter/HappensDateField.ts
  src/Query/Filter/PriorityField.ts
  src/Query/Query.ts
  tests/CustomMatchers/CustomMatchersForFilters.ts
  tests/Query/Filter/Filter.test.ts
  tests/Query/Filter/PriorityField.test.ts
  tests/TestingTools/FilterTestHelpers.ts
Due: lint, test

comment: Add TODOs to remind me where I'm going
  src/Query/Filter/Filter.ts
  src/Query/Query.ts
Due: lint, test

refactor: FilterOrErrorMessage now stores a Filter object
  src/Query/Filter/Filter.ts
Due: lint, test

comment: Add more TODOs to remind me where I'm going
  src/Query/Filter/Filter.ts
Due: lint, test

comment: Add more TODOs to remind me where I'm going
  src/Query/Filter/BooleanField.ts
Due: lint, test

refactor: Simplify Filter constructor
  src/Query/Filter/Filter.ts
  tests/Query/Filter/Filter.test.ts
Due: lint, test

refactor: Rename new class from Filter to NewFilter temporarily
  src/Query/Filter/Filter.ts
  tests/Query/Filter/Filter.test.ts
Due: lint, test

refactor: Rename FilterFunction back to Filter
  src/Query/Filter/BooleanField.ts
  src/Query/Filter/Filter.ts
  src/Query/Filter/FilterInstruction.ts
  src/Query/Filter/FilterInstructions.ts
  src/Query/Filter/MultiTextField.ts
  src/Query/Filter/TextField.ts
  src/Query/Query.ts
  tests/Query/Filter/Filter.test.ts
Due: lint, test

refactor: Rename filterFunction set/get back to filter temporarily
  src/Query/Filter/BooleanField.ts
  src/Query/Filter/DateField.ts
  src/Query/Filter/Filter.ts
  src/Query/Filter/FilterInstruction.ts
  src/Query/Filter/HappensDateField.ts
  src/Query/Filter/PriorityField.ts
  src/Query/Query.ts
  tests/CustomMatchers/CustomMatchersForFilters.ts
  tests/Query/Filter/Filter.test.ts
  tests/Query/Filter/PriorityField.test.ts
  tests/TestingTools/FilterTestHelpers.ts
Due: lint, test

comment: Update TODOs
  src/Query/Filter/BooleanField.ts
  src/Query/Query.ts
Due: lint, test

test: Update test name
  tests/Query/Filter/Filter.test.ts
Due: lint, test

refactor: FilterOrErrorMessage again supports unknown filter
  src/Query/Filter/Filter.ts
  tests/Query/Filter/Filter.test.ts
Due: lint, test

refactor: Add getter for FilterOrErrorMessage's NewFilter
  src/Query/Filter/Filter.ts
  tests/Query/Filter/Filter.test.ts
Due: lint, test

refactor: Reorder code in FilterOrErrorMessage - move fields to top
  src/Query/Filter/Filter.ts
Due: lint, test

refactor: Interim commit: Store instruction inside FilterOrErrorMessage
  src/Query/Filter/BooleanField.ts
  src/Query/Filter/DateField.ts
  src/Query/Filter/Filter.ts
  src/Query/Filter/FilterInstruction.ts
  src/Query/Filter/FilterInstructions.ts
  src/Query/Filter/HappensDateField.ts
  src/Query/Filter/PriorityField.ts
  tests/Query/Filter/Filter.test.ts
Due: lint, test

refactor: FilterOrErrorMessage.fromFilter() now takes the command line
  src/Query/Filter/Filter.ts
  src/Query/Filter/TextField.ts
  tests/Query/Filter/Filter.test.ts
Due: lint, test

refactor: FilterOrErrorMessage.fromError() now takes the command line
  src/Query/Filter/Filter.ts
  src/Query/Filter/TextField.ts
  tests/Query/Filter/Filter.test.ts
Due: lint, test

refactor: NewFilter class now stores copy of the instruction
  src/Query/Filter/Filter.ts
  tests/Query/Filter/Filter.test.ts
Due: lint, test
