Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: - Remove now-unnecessary check for empty lines, as filtered out
  src/Query/Query.ts
Due: lint, test

refactor: - Remove now-unnecessary trim() call
  src/Query/Query.ts
Due: lint, test

comment: Clarify descriptive comments in createStatementsFromExpandedPlaceholders()
  src/Query/Query.ts
Due: lint, test

refactor: - Convert to forEach loop
  src/Query/Query.ts
Due: lint, test

refactor: - Filter out empty values from expandedSourceLines
  src/Query/Query.ts
Due: lint, test

refactor: - Convert to map() loop
  src/Query/Query.ts
Due: lint, test

[create-pull-request] automated change
  docs/Queries/Explaining Queries.md
  docs/Scripting/Placeholders.md
Due: lint-markdown

refactor: . Apply SonarCube recommendations to make some fields readonly
  src/Renderer/QueryRenderer.ts
Due: lint, test

chore: Add 'webviewer' to core-plugins.json in all 3 vaults - by Obsidian "1.8.0"
  contributing/.obsidian/core-plugins.json
  docs/.obsidian/core-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/core-plugins.json
Due: none

contrib: Write up how to test Tasks builds on iPhone & iPad
  contributing/Testing/How do I test a GitHub build of the Tasks plugin.md
Due: lint-markdown

docs: Document limitations of the API
  docs/Advanced/Tasks Api.md
  docs/Support and Help/Known Limitations.md
Due: lint-markdown

comment: Add two more NEW_TASK_FIELD_EDIT_REQUIRED comments
  src/Layout/TaskLayoutOptions.ts
  tests/Layout/TaskLayoutOptions.test.ts
Due: lint, test

docs: Divide up the list of Dependencies limitations
  docs/Getting Started/Task Dependencies.md
Due: lint-markdown

docs: Document problem adding lots of dependencies in one edit (#3252)
  docs/Getting Started/Task Dependencies.md
Due: lint-markdown

chore: Update circular-deps.txt - from 16 to 18, since ListItem & FileParser
  circular-deps.txt
Due: none

test: - Add failing tests for #3256 - console error with onCompletion:delete
  tests/Commands/ToggleDone.test.ts
Due: lint, test

refactor: . Extract variable newLineNumber
  src/Commands/ToggleDone.ts
Due: lint, test

fix: Fix console error when 'Toggle task done' deletes the line
  src/Commands/ToggleDone.ts
  tests/Commands/ToggleDone.test.ts
Due: lint, test

refactor: ! Remove one use of global app variable - in backlinksClickHandler()
  src/Renderer/QueryRenderer.ts
  src/Renderer/QueryResultsRenderer.ts
Due: lint, test

chore: Update Obsidian minAppVersion to 1.4.0 in manifest.json
  manifest.json
Due: none

refactor: ! Remove one use of global app variable - in editTaskPencilClickHandler()
  src/Renderer/QueryRenderer.ts
  src/Renderer/QueryResultsRenderer.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
