Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: - Reduce the life-time of filterStatus variable
  src/Query/Filter/BooleanField.ts
Due: lint, test

refactor: . Inline one use of filterStatus
  src/Query/Filter/BooleanField.ts
Due: lint, test

refactor: - remove unnecessary use of nullish coalescing operator
  src/Query/Filter/BooleanField.ts
Due: lint, test

refactor: . Inline filterError
  src/Query/Filter/BooleanField.ts
Due: lint, test

refactor: - Inline filterStatus
  src/Query/Filter/BooleanField.ts
Due: lint, test

comment: Clarify some slightly complex code
  src/Query/Filter/BooleanField.ts
Due: lint, test

refactor: - Remove unnecessary optional chaining
  src/Query/Filter/BooleanField.ts
Due: lint, test

refactor: . Remove unused parameter from Query.setError()
  src/Query/Query.ts
Due: lint, test

refactor: . Inline variable filterStatus
  src/Query/Filter/BooleanField.ts
Due: lint, test

docs: Work-in-progress on updating Boolean docs
  docs/Introduction.md
  docs/Queries/Combining Filters.md
  docs/Support and Help/Breaking Changes.md
Due: lint-markdown

docs: Work-in-progress on updating Boolean docs
  docs/Queries/Combining Filters.md
Due: lint-markdown

vault: Add another example of delimiters being swallowed
  resources/sample_vaults/Tasks-Demo/Filters/Boolean Combinations.md
Due: lint-markdown

Suggests Dependent Tasks
  resources/sample_vaults/Tasks-Demo/.obsidian/appearance.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  src/Suggestor/DependencyHelpers.ts
  src/Suggestor/EditorSuggestorPopup.ts
  src/Suggestor/Suggestor.ts
  src/Suggestor/index.ts
  src/ui/Dependency.svelte
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.ts
  tests/ui/DependencyHelpers.test.ts
Due: lint, lint-markdown, test

docs: Work-in-progress structuring troubleshooting by error messages
  docs/Queries/Combining Filters.md
Due: lint-markdown

docs: Work-in-progress - troubleshoot booleans with filter by function
  docs/Queries/Combining Filters.md
Due: lint-markdown

docs: Complete the Appendix describing changes in Combining Filters
  docs/Queries/Combining Filters.md
Due: lint-markdown

docs: 'What's new' now links to the appendix on Boolean changes
  docs/Introduction.md
Due: lint-markdown

docs: Move the breaking change to the top of the Boolean Appendix
  docs/Queries/Combining Filters.md
Due: lint-markdown

docs: Finalise the Breaking Changes note
  docs/Support and Help/Breaking Changes.md
Due: lint-markdown

docs: Make the appendix more prominent in Combining Filters.md
  docs/Queries/Combining Filters.md
Due: lint-markdown

Update to version 7.0.0
  docs/Introduction.md
  docs/Queries/Combining Filters.md
  docs/Support and Help/Breaking Changes.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
