Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: Filter constructor no longer needs a default argument
  src/Query/Filter/Filter.ts
  tests/Query/Filter/Filter.test.ts
Due: lint, test

refactor: Remove unused filterFunction() setter on FilterOrErrorMessage
  src/Query/Filter/Filter.ts
Due: lint, test

feat: DateField now creates its own meaningful Explanations
  src/Query/Filter/DateField.ts
  tests/Query.test.ts
  tests/Query/Filter/DoneDateField.test.ts
  tests/Query/Filter/DueDateField.test.ts
  tests/Query/Filter/ScheduledDateField.test.ts
  tests/Query/Filter/StartDateField.test.ts
Due: lint, test

refactor: Inline some variables in tests
  tests/Query/Filter/ScheduledDateField.test.ts
  tests/Query/Filter/StartDateField.test.ts
Due: lint, test

feat: DateField now shows values of today, tomorrow etc
  src/Query/Filter/DateField.ts
  tests/Query.test.ts
  tests/Query/Filter/DoneDateField.test.ts
Due: lint, test

test: Fix error messages from toHaveExplanation()
  tests/CustomMatchers/CustomMatchersForFilters.ts
Due: lint, test

test: Mock the date in DoneDateField.test.ts
  tests/Query/Filter/DoneDateField.test.ts
Due: lint, test

feat: Done, Due, Scheduled and Start dates all include weekday in explanation
  src/Query/Filter/DateField.ts
  tests/Query.test.ts
  tests/Query/Filter/DoneDateField.test.ts
  tests/Query/Filter/DueDateField.test.ts
  tests/Query/Filter/ScheduledDateField.test.ts
  tests/Query/Filter/StartDateField.test.ts
Due: lint, test

refactor: Extract getExplanationString() in DateField
  src/Query/Filter/DateField.ts
Due: lint, test

feat: HappensDateField now creates its own meaningful Explanation
  src/Query/Filter/HappensDateField.ts
  tests/Query/Filter/HappensDateField.test.ts
Due: lint, test

feat: HappensDateField's Explanation now lists which fields are used
  src/Query/Filter/HappensDateField.ts
  tests/Query/Filter/HappensDateField.test.ts
Due: lint, test

feat: Query explanation now optionally includes original filter
  src/IQuery.ts
  src/Query/Query.ts
  src/QueryRenderer.ts
  tests/Query.test.ts
Due: lint, test

feat: Render blank lines between each filter, for readability
  src/Query/Query.ts
  tests/Query.test.ts
Due: lint, test

refactor: Tidy up IQuery interface. Remove un-needed method.
  src/IQuery.ts
Due: lint, test

feat: Add new 'explain' instruction
  src/LayoutOptions.ts
  src/Query/Query.ts
  src/QueryRenderer.ts
  tests/Query.test.ts
Due: lint, test

style: Add 'plugin-tasks-query-explanation' CSS class to the explanation
  src/QueryRenderer.ts
Due: lint, test

test: Fix typo in test name
  tests/Query/Filter/ScheduledDateField.test.ts
Due: lint, test

style: Add snippet tasks-plugin-explain-text-blue.css - disabled
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/tasks-plugin-explain-text-blue.css
Due: none

vault: Add 'Filters/Explain Filters.md' to sample vault
  resources/sample_vaults/Tasks-Demo/Filters/Explain Filters.md
Due: lint-markdown

feat: Add ' OR no start date' after start explanations, to clarify behaviour.
  src/Query/Filter/DateField.ts
  src/Query/Filter/HappensDateField.ts
  tests/Query/Filter/StartDateField.test.ts
Due: lint, test

chore: Normalize line endings in 4 files with CRLF
  README.md
  docs/.gitignore
  styles.css
  tsconfig.json
Due: lint-markdown

chore: Be explicit about line endings in more file types
  .gitattributes
Due: none

chore: Remove CRLF EOLs & add more file types to .gitattributes (#1246)
  .gitattributes
  README.md
  docs/.gitignore
  styles.css
  tsconfig.json
Due: lint-markdown

chore: Tell markdownlint to use hyphen for unordered lists
  .markdownlint.jsonc
Due: none

docs: Convert two markdown files to hyphen bullet-list format
  CODE_OF_CONDUCT.md
  docs/queries/grouping.md
Due: lint-markdown

docs: Use hyphen for unordered lists (#1247)
  .markdownlint.jsonc
  CODE_OF_CONDUCT.md
  docs/queries/grouping.md
Due: lint-markdown

chore: Add configuration file for mdsnippets
  mdsnippets.json
Due: none

chore: Add table of contents to docs/README, CONTRIBUTING & CODE_OF_CONDUCT
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  docs/README.md
Due: lint-markdown

chore: Use mdsnippets to add table of content to contributor docs (#1248)
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  docs/README.md
  mdsnippets.json
Due: lint-markdown

Make inactive priority icons more visible on Mac
  styles.css
Due: none

Make bold priority labels theme independent
  styles.css
Due: none

Show focus for radio buttons as well
  styles.css
Due: none

Improve styling for smaller window sizes
  src/ui/EditTask.svelte
  styles.css
Due: none

Use accesskey for priority shortcuts
  src/ui/EditTask.svelte
Due: none

Use LF instead of CRLF in stylesheet
  .gitattributes
  styles.css
Due: none

Add hooks to let other plugins extend the Tasks plugin.
  src/Query/Query.ts
  src/QueryRenderer.ts
Due: lint, test

Switch using first letter without Alt when focused
  src/ui/EditTask.svelte
Due: none

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
