Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

contrib: Refine the wording in 'Updating code' page.
  contributing/Contributing/Updating code.md
Due: lint-markdown

contrib: Clarify that 'Updating code' is more than recommendations
  contributing/Contributing/About Contributing.md
Due: lint-markdown

contrib: Point to 'Updating code' from the front page
  contributing/Welcome.md
Due: lint-markdown

contrib: Add link to why not to create PRs from main branch
  contributing/Contributing/Updating code.md
Due: lint-markdown

contrib: Further strengthen Welcome instructions
  contributing/Welcome.md
Due: lint-markdown

Refactor task movement functionality and update documentation
  docs/Editing/Moving Tasks.md
  src/Commands/MoveTask.ts
  src/Commands/index.ts
  src/Suggestor/EditorSuggestorPopup.ts
  src/Suggestor/Suggestor.ts
  src/Suggestor/index.ts
  src/i18n/locales/be.json
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/ko.json
  src/i18n/locales/ru.json
  src/i18n/locales/uk.json
  src/i18n/locales/vi.json
  src/i18n/locales/zh_cn.json
  tests/Commands/MoveTask.test.ts
  tests/__mocks__/obsidian.ts
Due: lint, lint-markdown, test

docs: Update Changelog for recent additions
  docs/What is New/Changelog.md
Due: lint-markdown

Replace outdated comment with TODO.
  src/Commands/CreateEditorCallback.ts
Due: lint, test

Split Obsidian logic for testing. #1486
  src/Commands/CreateSetStatusLineTransformer.ts
  tests/Commands/CreateSetStatusLineTransformer.test.ts
Due: lint, test

Clearer comment.
  src/Commands/CreateEditorCallback.ts
Due: lint, test

vault: Add test data markdown files for task editing tests
  resources/sample_vaults/Tasks-Demo/Test Data/editing_tasks_heading_with_multiple_task_lists.md
  resources/sample_vaults/Tasks-Demo/Test Data/editing_tasks_list_item_with_nested_task_and_list_item.md
  resources/sample_vaults/Tasks-Demo/Test Data/editing_tasks_mix_of_list_items_and_tasks_with_heading.md
  resources/sample_vaults/Tasks-Demo/Test Data/editing_tasks_no_headings_two_tasks.md
  resources/sample_vaults/Tasks-Demo/Test Data/editing_tasks_no_tasks_before_first_heading.md
  resources/sample_vaults/Tasks-Demo/Test Data/editing_tasks_one_heading_no_tasks.md
  resources/sample_vaults/Tasks-Demo/Test Data/editing_tasks_one_heading_one_task.md
  resources/sample_vaults/Tasks-Demo/Test Data/editing_tasks_section_has_no_tasks.md
  resources/sample_vaults/Tasks-Demo/Test Data/editing_tasks_task_with_nested_list_item.md
  resources/sample_vaults/Tasks-Demo/Test Data/editing_tasks_three_adjacent_headings.md
  resources/sample_vaults/Tasks-Demo/Test Data/editing_tasks_two_sections.md
  resources/sample_vaults/Tasks-Demo/Test Data/editing_tests_tasks_before_first_heading.md
Due: lint-markdown

test: Add JSON cache data for editing test data files
  tests/Obsidian/AllCacheSampleData.ts
  tests/Obsidian/Cache.test.ts
  tests/Obsidian/__test_data__/editing_tasks_heading_with_multiple_task_lists.json
  tests/Obsidian/__test_data__/editing_tasks_list_item_with_nested_task_and_list_item.json
  tests/Obsidian/__test_data__/editing_tasks_mix_of_list_items_and_tasks_with_heading.json
  tests/Obsidian/__test_data__/editing_tasks_no_headings_two_tasks.json
  tests/Obsidian/__test_data__/editing_tasks_no_tasks_before_first_heading.json
  tests/Obsidian/__test_data__/editing_tasks_one_heading_no_tasks.json
  tests/Obsidian/__test_data__/editing_tasks_one_heading_one_task.json
  tests/Obsidian/__test_data__/editing_tasks_section_has_no_tasks.json
  tests/Obsidian/__test_data__/editing_tasks_task_with_nested_list_item.json
  tests/Obsidian/__test_data__/editing_tasks_three_adjacent_headings.json
  tests/Obsidian/__test_data__/editing_tasks_two_sections.json
  tests/Obsidian/__test_data__/editing_tests_tasks_before_first_heading.json
  tests/Obsidian/__test_data__/metadataCache/resolvedLinks.json
  tests/Obsidian/__test_data__/metadataCache/unresolvedLinks.json
Due: lint, test

feat: Add getTaskWithChildren to extract task and indented children
  src/EditFiles/FindTaskWithChildren.ts
  tests/EditFiles/FindTaskWithChildren.test.ts
Due: lint, test

feat: Add findInsertionPoint to determine task insertion location
  src/EditFiles/FindInsertionPoint.ts
  tests/EditFiles/FindInsertionPoint.test.ts
Due: lint, test

feat: Add findTaskLineWithFallbacks with multi-strategy search
  src/EditFiles/FindTaskLine.ts
  tests/EditFiles/FindTaskLine.test.ts
Due: lint, test

feat: Add moveTask orchestrator for task movement between sections
  src/EditFiles/MoveTaskImpl.ts
  tests/EditFiles/MoveTaskImpl.test.ts
Due: lint, test

refactor: . Extract statusRegistry variable
  src/Commands/index.ts
Due: lint, test

refactor: . Extract variable command
  src/Commands/index.ts
Due: lint, test

refactor: ! Introduce variable setStatusCommands
  src/Commands/index.ts
Due: lint, test

refactor: ! Split loop in to two loops
  src/Commands/index.ts
Due: lint, test

refactor: . Extract createSetStatusCommands()
  src/Commands/index.ts
Due: lint, test

refactor: . Move createSetStatusCommands() to CreateSetStatusLineTransformer.ts
  src/Commands/CreateSetStatusLineTransformer.ts
  src/Commands/index.ts
Due: lint, test

jsdoc: Document createSetStatusCommands()
  src/Commands/CreateSetStatusLineTransformer.ts
Due: lint, test

test: - Confirm we don't create commands for empty statuses
  tests/Commands/CreateSetStatusLineTransformer.test.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
