Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Add 'limit groups' options to Quick Reference page
  docs/Quick Reference.md
Due: lint-markdown

docs: Minor improvements to Limiting docs
  docs/Queries/Limiting.md
Due: lint-markdown

docs: Add 'limit groups' to "What's new?"
  docs/Introduction.md
Due: lint-markdown

docs: Slightly clarify headings in Limiting.md
  docs/Introduction.md
  docs/Queries/Limiting.md
Due: lint-markdown

docs: Add link in Grouping.md to 'limit groups' feature
  docs/Queries/Grouping.md
Due: lint-markdown

docs: Add order of reoccurring tasks option to "What's new?"
  docs/Getting Started/Recurring Tasks.md
  docs/Getting Started/Settings.md
  docs/Introduction.md
Due: lint-markdown

test: Test explanation of both limit options.
  tests/Query.test.ts
Due: lint, test

fix: Explanation now says 'limit groups' ignored if no groups
  src/Query/Query.ts
  tests/Query.test.ts
Due: lint, test

refactor: Extract method Query.explainQueryLimits()
  src/Query/Query.ts
Due: lint, test

refactor: Remove unnecessary parameter from Query.explainQueryLimits()
  src/Query/Query.ts
Due: lint, test

refactor: Remove some repetition in Query.explainQueryLimits()
  src/Query/Query.ts
Due: lint, test

docs: More group limits docs (+minor test & refactor) (#1973)
  docs/Getting Started/Recurring Tasks.md
  docs/Getting Started/Settings.md
  docs/Introduction.md
  docs/Queries/Grouping.md
  docs/Queries/Limiting.md
  docs/Quick Reference.md
  src/Query/Query.ts
  tests/Query.test.ts
Due: lint, lint-markdown, test

Update to version 3.8.0
  docs/Getting Started/Recurring Tasks.md
  docs/Introduction.md
  docs/Queries/Limiting.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

vault: Update Tasks plugin & settings to "3.8.0"
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
Due: none

comment: Copy in a comment from my fork, explaining regex
  src/Query/Filter/Field.ts
Due: lint, test

jsdoc: Document Grouper.reverse
  src/Query/Grouper.ts
Due: lint, test

jsdoc,comment: Copy 2 tiny additions from my fork (#1975)
  src/Query/Filter/Field.ts
  src/Query/Grouper.ts
Due: lint, test

refactor: Remove method canCreateGrouperForLine()
  src/Query/Filter/Field.ts
Due: lint, test

refactor: Remove duplicated call to supportsGrouping()
  src/Query/Filter/Field.ts
Due: lint, test

refactor: Inline Field.parseGroupLine()
  src/Query/Filter/Field.ts
  src/Query/FilterParser.ts
Due: lint, test

refactor: Remove method canCreateSorterForLine()
  src/Query/Filter/Field.ts
  tests/Query/Filter/Field.test.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

test: Use createSorterFromLine() instead of parseSortLine() in tests
  tests/Query/Filter/Field.test.ts
  tests/Query/Filter/RecurringField.test.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

refactor: Inline Field.parseSortLine()
  src/Query/Filter/Field.ts
  src/Query/FilterParser.ts
  tests/Query/Filter/Field.test.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

test: Sort new instructions in Query.test.ts
  tests/Query.test.ts
Due: lint, test

test: Move some tests from Query.test.ts to ReminderDateField.test.ts
  tests/Query.test.ts
  tests/Query/Filter/ReminderDateField.test.ts
Due: lint, test

fix!!: Remove 'show/hide reminders' option
  src/Query/Query.ts
  tests/Query.test.ts
Due: lint, test

refactor: Rename reminder Layout Option to hideReminderDate
  src/Query/Query.ts
  src/TaskLayout.ts
Due: lint, test

Added a fix for the log spam for Markdown rendering (e.g. Reading Mode) based on this instruction by licat: https://discord.com/channels/686053708261228577/716028884885307432/1110789810160939048
  src/InlineRenderer.ts
Due: lint, test

test: Improve test names, including fixing copy-paste error
  tests/Task.test.ts
Due: lint, test
