Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: . move fromTask() to EditableTask.ts
  src/ui/EditTask.svelte
  src/ui/EditableTask.ts
Due: lint, test

refactor: ! add internal originalBlocking variable and return it
  src/ui/EditTask.svelte
Due: none

refactor: - add internal addGlobalFilterOnSave variable and return it
  src/ui/EditTask.svelte
Due: none

refactor: ! inline fromTask
  src/ui/EditableTask.ts
Due: lint, test

vault: Rename frontmatter and metadata samples to yaml, as that is the format
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/empty_frontmatter.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/empty_yaml.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/link_in_yaml.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/no_frontmatter.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/no_yaml.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/yaml_tags_field_added_by_obsidian_but_not_populated.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/yaml_tags_had_value_then_was_emptied_by_obsidian.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/yaml_tags_has_multiple_values.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/yaml_tags_is_empty.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/yaml_tags_is_empty_list.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/yaml_tags_with_one_value_on_new_line.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/yaml_tags_with_one_value_on_single_line.md
Due: lint-markdown

vault: Make heading (where present) and task names match file name
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/empty_yaml.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/heading_contains_a_link.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/link_in_file_body.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/link_in_yaml.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/multiple_headings.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/no_yaml.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/yaml_tags_field_added_by_obsidian_but_not_populated.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/yaml_tags_had_value_then_was_emptied_by_obsidian.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/yaml_tags_has_multiple_values.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/yaml_tags_is_empty.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/yaml_tags_with_one_value_on_new_line.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/yaml_tags_with_one_value_on_single_line.md
Due: lint-markdown

vault: Remove remnants of my personal markdown file template
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/heading_contains_a_link.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/link_in_file_body.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/link_in_yaml.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/multiple_headings.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/no_heading.md
Due: lint-markdown

vault: Rename heading_contains_a_link.md to link_in_heading.md for consistency
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/heading_contains_a_link.md
  resources/sample_vaults/Tasks-Demo/Test Data/Frontmatter/link_in_heading.md
Due: lint-markdown

vault: Move sample files up from Frontmatter directory
  resources/sample_vaults/Tasks-Demo/Test Data/empty_yaml.md
  resources/sample_vaults/Tasks-Demo/Test Data/example_kanban.md
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_file_body.md
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_heading.md
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_yaml.md
  resources/sample_vaults/Tasks-Demo/Test Data/multiple_headings.md
  resources/sample_vaults/Tasks-Demo/Test Data/no_heading.md
  resources/sample_vaults/Tasks-Demo/Test Data/no_yaml.md
  resources/sample_vaults/Tasks-Demo/Test Data/yaml_tags_field_added_by_obsidian_but_not_populated.md
  resources/sample_vaults/Tasks-Demo/Test Data/yaml_tags_had_value_then_was_emptied_by_obsidian.md
  resources/sample_vaults/Tasks-Demo/Test Data/yaml_tags_has_multiple_values.md
  resources/sample_vaults/Tasks-Demo/Test Data/yaml_tags_is_empty.md
  resources/sample_vaults/Tasks-Demo/Test Data/yaml_tags_is_empty_list.md
  resources/sample_vaults/Tasks-Demo/Test Data/yaml_tags_with_one_value_on_new_line.md
  resources/sample_vaults/Tasks-Demo/Test Data/yaml_tags_with_one_value_on_single_line.md
Due: lint-markdown

vault: Fix broken links
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_file_body.md
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_yaml.md
Due: lint-markdown

vault: Add a sample file with a broken link
  resources/sample_vaults/Tasks-Demo/Test Data/link_is_broken.md
Due: lint-markdown

vault: Add template for files in 'Test Data/' folder
  resources/sample_vaults/Tasks-Demo/_meta/templates/Test Data file.md
Due: lint-markdown

vault: Add global filter to all tasks in 'Test Data.'
  resources/sample_vaults/Tasks-Demo/Test Data/empty_yaml.md
  resources/sample_vaults/Tasks-Demo/Test Data/example_kanban.md
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_file_body.md
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_heading.md
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_yaml.md
  resources/sample_vaults/Tasks-Demo/Test Data/multiple_headings.md
  resources/sample_vaults/Tasks-Demo/Test Data/no_heading.md
  resources/sample_vaults/Tasks-Demo/Test Data/no_yaml.md
  resources/sample_vaults/Tasks-Demo/Test Data/yaml_tags_field_added_by_obsidian_but_not_populated.md
  resources/sample_vaults/Tasks-Demo/Test Data/yaml_tags_had_value_then_was_emptied_by_obsidian.md
  resources/sample_vaults/Tasks-Demo/Test Data/yaml_tags_has_multiple_values.md
  resources/sample_vaults/Tasks-Demo/Test Data/yaml_tags_is_empty.md
  resources/sample_vaults/Tasks-Demo/Test Data/yaml_tags_is_empty_list.md
  resources/sample_vaults/Tasks-Demo/Test Data/yaml_tags_with_one_value_on_new_line.md
  resources/sample_vaults/Tasks-Demo/Test Data/yaml_tags_with_one_value_on_single_line.md
Due: lint-markdown

test: Add functions to access CachedMetadata from files in 'Test Data/'
  tests/Obsidian/__test_data__/empty_yaml.ts
  tests/Obsidian/__test_data__/example_kanban.ts
  tests/Obsidian/__test_data__/link_in_file_body.ts
  tests/Obsidian/__test_data__/link_in_heading.ts
  tests/Obsidian/__test_data__/link_in_yaml.ts
  tests/Obsidian/__test_data__/link_is_broken.ts
  tests/Obsidian/__test_data__/multiple_headings.ts
  tests/Obsidian/__test_data__/no_heading.ts
  tests/Obsidian/__test_data__/no_yaml.ts
  tests/Obsidian/__test_data__/yaml_tags_field_added_by_obsidian_but_not_populated.ts
  tests/Obsidian/__test_data__/yaml_tags_had_value_then_was_emptied_by_obsidian.ts
  tests/Obsidian/__test_data__/yaml_tags_has_multiple_values.ts
  tests/Obsidian/__test_data__/yaml_tags_is_empty.ts
  tests/Obsidian/__test_data__/yaml_tags_is_empty_list.ts
  tests/Obsidian/__test_data__/yaml_tags_with_one_value_on_new_line.ts
  tests/Obsidian/__test_data__/yaml_tags_with_one_value_on_single_line.ts
Due: lint, test

vault,test: Add sample showing custom display text
  resources/sample_vaults/Tasks-Demo/Test Data/link_in_file_body_with_custom_display_text.md
  tests/Obsidian/__test_data__/link_in_file_body_with_custom_display_text.ts
Due: lint, lint-markdown, test

Replace backticks with single quotes
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
Due: lint, test

Use TaskBuilder.onCompletion() for all tests; separate general feature tests from tests specific to Delete action.
  tests/Task/OnCompletion.test.ts
Due: lint, test

Add new doc files and links for On Completion field/feature
  docs/Getting Started/About Getting Started.md
  docs/Getting Started/On Completion.md
  docs/Reference/Task Formats/Dataview Format.md
  docs/Reference/Task Formats/Tasks Emoji Format.md
Due: lint-markdown

Add 'serialize' tests for two task formats
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
Due: lint, test

Add 'include' and 'snippet' files for OnCompletion (emoji and dataview formats)
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_OnCompletion_dataview-include.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_OnCompletion_dataview-snippet.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_OnCompletion_tasksPluginEmoji-include.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_OnCompletion_tasksPluginEmoji-snippet.approved.md
Due: lint-markdown

Revise 'On Completion.md' to accurately reflect initial support for only the 'delete' action
  docs/Getting Started/On Completion.md
Due: lint-markdown

vault: Add Templater user script to convert 'Test Data'/ cachedMetadata to Javascript
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/data.json
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

vault: Add Templater template to convert 'Test Data'/ cachedMetadata to Javascript
  resources/sample_vaults/Tasks-Demo/.obsidian/hotkeys.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/data.json
  resources/sample_vaults/Tasks-Demo/_meta/templates/convert_test_data_markdown_to_js.md
Due: lint-markdown

test: Regenerate all cachedMetadata-creation functions programmatically
  tests/Obsidian/__test_data__/empty_yaml.ts
  tests/Obsidian/__test_data__/example_kanban.ts
  tests/Obsidian/__test_data__/link_in_file_body.ts
  tests/Obsidian/__test_data__/link_in_file_body_with_custom_display_text.ts
  tests/Obsidian/__test_data__/link_in_heading.ts
  tests/Obsidian/__test_data__/link_in_yaml.ts
  tests/Obsidian/__test_data__/link_is_broken.ts
  tests/Obsidian/__test_data__/multiple_headings.ts
  tests/Obsidian/__test_data__/no_heading.ts
  tests/Obsidian/__test_data__/no_yaml.ts
  tests/Obsidian/__test_data__/one_task.ts
  tests/Obsidian/__test_data__/yaml_tags_field_added_by_obsidian_but_not_populated.ts
  tests/Obsidian/__test_data__/yaml_tags_had_value_then_was_emptied_by_obsidian.ts
  tests/Obsidian/__test_data__/yaml_tags_has_multiple_values.ts
  tests/Obsidian/__test_data__/yaml_tags_is_empty.ts
  tests/Obsidian/__test_data__/yaml_tags_is_empty_list.ts
  tests/Obsidian/__test_data__/yaml_tags_with_one_value_on_new_line.ts
  tests/Obsidian/__test_data__/yaml_tags_with_one_value_on_single_line.ts
Due: lint, test

test: Standardise heading and task line in sample date for tests
  resources/sample_vaults/Tasks-Demo/Test Data/yaml_tags_is_empty_list.md
  tests/Obsidian/__test_data__/yaml_tags_is_empty_list.ts
Due: lint, lint-markdown, test

test: Update the instructions for generating CachedMetadata for testing.
  tests/Obsidian/Cache.test.ts
Due: lint, test

test: Note the addition of a Templater template to create 'Test Data/' files
  tests/Obsidian/Cache.test.ts
Due: lint, test

Fix failing EditTask test for reminder date time, add new function to DateTools for reminder parsing
  src/lib/DateTools.ts
  src/ui/EditTask.svelte
  tests/ui/EditTask.test.ts
Due: lint, test

test: Add failing test showing reminder does not parse free text
  tests/ui/EditTask.test.ts
Due: lint, test

refactor: Reformat long line
  src/ui/EditTask.svelte
Due: none

chore: Use a Notice() to show instruction to run 'yarn lint'
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

chore: Tell Templater not to edit the open markdown file.
  resources/sample_vaults/Tasks-Demo/_meta/templates/convert_test_data_markdown_to_js.md
Due: lint-markdown

test: Save formatting changes to yaml_tags_is_empty_list.ts
  tests/Obsidian/__test_data__/yaml_tags_is_empty_list.ts
Due: lint, test

test: Update instructions in Cache.test.ts, now Templater mechanism streamlined
  tests/Obsidian/Cache.test.ts
Due: lint, test

test: Add test to confirm that recurrence text is standardised in the modal
  tests/ui/EditTaskHelpers.test.ts
Due: lint, test

test: add inheritance test
  resources/sample_vaults/Tasks-Demo/Test Data/two_tasks_with_inheritance.md
  tests/Obsidian/Cache.test.ts
  tests/Obsidian/__test_data__/two_tasks_with_inheritance.ts
Due: lint, lint-markdown, test
