Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: ! enable replaceTaskWithTasks() to write ListItem
  src/Obsidian/File.ts
  src/lib/LogTasksHelper.ts
  src/lib/MockDataCreator.ts
Due: lint, test

fix: ! teach query to toggle non-task checkboxes
  src/Renderer/QueryResultsRenderer.ts
Due: lint, test

fix: - add data-line attribute to list item element
  src/Renderer/QueryResultsRenderer.ts
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_tests_should_render_non_task_check_box_when_global_filter_is_enabled.approved.html
Due: lint, test

refactor: . rename parameter
  src/Renderer/QueryResultsRenderer.ts
Due: lint, test

vault: add smoke test for non-task list items
  resources/sample_vaults/Tasks-Demo/Manual Testing/Smoke Testing the Tasks Plugin.md
Due: lint-markdown

docs: remove reference to #3170
  docs/Queries/Layout.md
Due: lint-markdown

refactor: Enable custom instructions to cache data
  src/Scripting/QueryContext.ts
  tests/Scripting/QueryContext.test.ts
Due: lint, test

test: - Add failing test showing caching does not work yet
  tests/Query/SearchInfo.test.ts
Due: lint, test

test: Test initial value of query.searchCache
  tests/Scripting/QueryContext.test.ts
Due: lint, test

vault: Inline taskCounts variable in some custom instructions
  resources/sample_vaults/Tasks-Demo/Functions/Custom Filters With Complex Caching.md
Due: lint-markdown

feat: Fix caching in QueryContext from SearchInfo
  src/Query/SearchInfo.ts
  tests/Query/SearchInfo.test.ts
Due: lint, test

vault: Add Custom Filters With Complex Caching.md
  resources/sample_vaults/Tasks-Demo/Functions/Custom Filters With Complex Caching.md
Due: lint-markdown

test: - Reuse variables
  tests/Query/SearchInfo.test.ts
Due: lint, test

vault: Clarify variable name in custom instructions
  resources/sample_vaults/Tasks-Demo/Functions/Custom Filters With Complex Caching.md
Due: lint-markdown

vault: Add Custom Filters With Simple Caching.md
  resources/sample_vaults/Tasks-Demo/Functions/Custom Filters With Simple Caching.md
Due: lint-markdown

vault: Remove named functions that are only used once
  resources/sample_vaults/Tasks-Demo/Functions/Custom Filters With Complex Caching.md
Due: lint-markdown

vault: Add Warning callout in files using experimental facilities
  resources/sample_vaults/Tasks-Demo/Functions/Custom Filters With Complex Caching.md
  resources/sample_vaults/Tasks-Demo/Functions/Custom Filters With Simple Caching.md
Due: lint-markdown

refactor: - Remove unnecessary assertions - SonarQube feedback
  tests/Query/SearchInfo.test.ts
Due: lint, test

docs: Add task.lineNumber to 'Quick Reference'
  docs/Quick Reference.md
Due: lint-markdown

docs: Add task.lineNumber to 'Task Properties'
  docs/Scripting/Task Properties.md
  tests/Scripting/TaskProperties.test.task_other_fields.approved.md
  tests/Scripting/TaskProperties.test.ts
Due: lint, lint-markdown, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
