Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: . Inline QueryFileDefaults.instruction()
  src/Query/QueryFileDefaults.ts
Due: lint, test

refactor: . Extract variable hasProperty
  src/Query/QueryFileDefaults.ts
Due: lint, test

refactor: . Extract variable value
  src/Query/QueryFileDefaults.ts
Due: lint, test

refactor: - Move queryProperties outside of method
  src/Query/QueryFileDefaults.ts
Due: lint, test

comment: QueryFileDefaults.ts is excluded from SonarCloud duplicate checks
  src/Query/QueryFileDefaults.ts
Due: lint, test

refactor: - Shorten Query File Defaults property names
  resources/sample_vaults/Tasks-Demo/Test Data/query_file_defaults_all_options_false.md
  resources/sample_vaults/Tasks-Demo/Test Data/query_file_defaults_all_options_null.md
  resources/sample_vaults/Tasks-Demo/Test Data/query_file_defaults_all_options_true.md
  resources/sample_vaults/Tasks-Demo/Test Data/query_file_defaults_ignore_global_query.md
  resources/sample_vaults/Tasks-Demo/Test Data/query_file_defaults_short_mode.md
  src/Query/QueryFileDefaults.ts
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_meta-bind-widgets-include.approved.md
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_meta-bind-widgets-snippet.approved.md
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_supported-properties-empty.approved.yaml
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_supported-properties-full.approved.yaml
  tests/Obsidian/__test_data__/query_file_defaults_all_options_false.json
  tests/Obsidian/__test_data__/query_file_defaults_all_options_null.json
  tests/Obsidian/__test_data__/query_file_defaults_all_options_true.json
  tests/Obsidian/__test_data__/query_file_defaults_ignore_global_query.json
  tests/Obsidian/__test_data__/query_file_defaults_short_mode.json
  tests/Query/QueryRendererHelper.test.ts
Due: lint, lint-markdown, test

vault: Shorten Query File Defaults property names
  resources/sample_vaults/Tasks-Demo/.obsidian/types.json
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

docs: Shorten Query File Defaults property names
  docs/Queries/Query File Defaults.md
  docs/snippets-embedded-in-multiple-pages/Meta Bind Query Widgets.md
Due: lint-markdown

vault: Update CSS for narrower property names
  resources/sample_vaults/Tasks-Demo/.obsidian/snippets/widen-property-labels.css
Due: none

docs: Update docs for tasks_query_* -> TQ_*
  docs/Queries/Query File Defaults.md
  docs/images/query-file-defaults-file-properties-controls.png
Due: lint-markdown

refactor: Add QueryFileDefaults.allPropertyNames() and allPropertyNamesSorted()
  src/Query/QueryFileDefaults.ts
  tests/Query/QueryFileDefaults.test.ts
Due: lint, test

feat: Add command to add generate Query File Defaults properties
  src/Commands/index.ts
Due: lint, test

tests: Sort TQ_* properties alphabetically
  resources/sample_vaults/Tasks-Demo/Test Data/query_file_defaults_all_options_false.md
  resources/sample_vaults/Tasks-Demo/Test Data/query_file_defaults_all_options_null.md
  resources/sample_vaults/Tasks-Demo/Test Data/query_file_defaults_all_options_true.md
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_supported-properties-empty.approved.yaml
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_supported-properties-full.approved.yaml
  tests/Obsidian/__test_data__/query_file_defaults_all_options_false.json
  tests/Obsidian/__test_data__/query_file_defaults_all_options_null.json
  tests/Obsidian/__test_data__/query_file_defaults_all_options_true.json
Due: lint-markdown

docs: Update docs for new command to add properties
  docs/Queries/Query File Defaults.md
Due: lint-markdown

vault: Sort TQ_* properties alphabetically
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

refactor: Shorten command name
  src/Commands/index.ts
Due: lint, test

docs: Shorten command name
  docs/Queries/Query File Defaults.md
Due: lint-markdown

docs: Sort TQ_* properties alphabetically in screenshot
  docs/images/query-file-defaults-file-properties-controls.png
Due: none

vault: Indentation of TQ_extra_instructions fixed by Obsidian
  resources/sample_vaults/Tasks-Demo/Manual Testing/Frontmatter/Placeholder examples to capture in tests and docs.md
Due: lint-markdown

tests: Remove trailing space from empty frontmatter
  resources/sample_vaults/Tasks-Demo/Test Data/query_file_defaults_all_options_null.md
  tests/DocumentationSamples/DefaultsDocs/DocsSamplesForDefaults.test.DocsSamplesForDefaults_supported-properties-empty.approved.yaml
  tests/Obsidian/__test_data__/query_file_defaults_all_options_null.json
Due: lint-markdown

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
