Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

ref: consistent order in Settings
  src/Config/Settings.ts
Due: lint, test

fix: Tooltip pop up above the description of task in short mode
  src/TaskLineRenderer.ts
  styles.css
Due: lint, test

Adds public API to retrieve markdown string for a new task via the Task UI.
  src/TasksApi.ts
  src/main.ts
Due: lint, test

docs: update docs on start date functionality
  docs/getting-started/dates.md
  docs/quick-reference/index.md
  src/Config/SettingsTab.ts
Due: lint, lint-markdown, test

tests: add more tests for createdDate based on review
  tests/Query.test.ts
  tests/TaskLineRenderer.test.ts
Due: lint, test

tests: add tests for repeated task with created date
  tests/Task.test.ts
Due: lint, test

docs: Minor consistency edits and formatting fix
  docs/quick-reference/index.md
Due: lint-markdown

feat: Add filters for createdDate field in Task
  src/Query/Filter/CreatedDateField.ts
  src/Query/FilterParser.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  tests/Query/Filter/CreatedDateField.test.ts
Due: lint, test

feat: add grouping by createdDate in Task
  src/Query/Group.ts
  src/Query/Query.ts
  tests/Group.test.ts
Due: lint, test

docs: update all docs on created date filters
  docs/queries/filters.md
  docs/queries/grouping.md
  docs/queries/sorting.md
  docs/quick-reference/index.md
Due: lint-markdown

feat: Add created date to EditTask modal
  src/ui/EditTask.svelte
Due: none

Adds public API to retrieve markdown string for a new task via the Task UI.
  docs/advanced/api.md
  docs/images/api-create-taskline-modal-quickadd-capture-example.png
  src/TasksApi.ts
  src/api/TasksApiV1.ts
  src/api/createTaskLineModal.ts
  src/api/createTaskLineModalHelper.ts
  src/api/index.ts
  src/main.ts
  tests/api/createTaskLineModal.test.ts
Due: lint, lint-markdown, test

fix: Tooltip pops up above task description in short mode (#1735)
  src/TaskLineRenderer.ts
  styles.css
Due: lint, test

feat: Add filter, group and sorting for created date (#1744)
  docs/queries/filters.md
  docs/queries/grouping.md
  docs/queries/sorting.md
  docs/quick-reference/index.md
  src/Query/Filter/CreatedDateField.ts
  src/Query/FilterParser.ts
  src/Query/Group.ts
  src/Query/Grouper.ts
  src/Query/Query.ts
  tests/Group.test.ts
  tests/Query/Filter/CreatedDateField.test.ts
Due: lint, lint-markdown, test

feat: Add created date to EditTask modal (#1745)
  src/ui/EditTask.svelte
Due: none

Adds public API to retrieve markdown string for a new task via the Task UI.
  docs/advanced/api.md
  src/Api/TasksApiV1.ts
  src/Api/createTaskLineModal.ts
  src/Api/createTaskLineModalHelper.ts
  src/Api/index.ts
  src/main.ts
  tests/Api/createTaskLineModal.test.ts
Due: lint, lint-markdown, test

docs: Add 'created' date to notes on invalid dates
  contributing/Code/How do I add a new field to the Task class.md
  docs/queries/filters.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Invalid Dates.md
Due: lint-markdown

docs: Document created date range searches and release version
  docs/queries/filters.md
  docs/quick-reference/index.md
Due: lint-markdown

docs: Fix alignment in quick reference markdown
  docs/quick-reference/index.md
Due: lint-markdown

docs: Update contributing guide for new tests
  contributing/Testing/Example Tests.md
Due: lint-markdown

docs: Note release version for sort, group & hide created date
  docs/queries/grouping.md
  docs/queries/layout.md
  docs/queries/sorting.md
Due: lint-markdown

docs: Note that Auto Suggest does not support Created Date yet
  docs/getting-started/auto-suggest.md
Due: lint-markdown

docs: Significantly improve the dates docs.
  docs/getting-started/dates.md
  docs/images/settings-optional-date-fields.png
Due: lint-markdown

docs: Update create-or-edit-task.md for Created date
  docs/getting-started/create-or-edit-task.md
  docs/images/modal.png
Due: lint-markdown

test: Add remaining 'created' instructions to Query.test.ts
  tests/Query.test.ts
Due: lint, test

feat: Improve the wording of 'created date' setting.
  docs/images/settings-optional-date-fields.png
  src/Config/SettingsTab.ts
Due: lint, test

docs: Document recurring-tasks interaction with created date
  docs/getting-started/recurring-tasks.md
Due: lint-markdown

contributing: More steps to add a field to Task
  contributing/Code/How do I add a new field to the Task class.md
Due: lint-markdown

docs: Finalise docs for 'created date' (#1750)
  contributing/Code/How do I add a new field to the Task class.md
  contributing/Testing/Example Tests.md
  docs/getting-started/auto-suggest.md
  docs/getting-started/create-or-edit-task.md
  docs/getting-started/dates.md
  docs/getting-started/recurring-tasks.md
  docs/images/modal.png
  docs/images/settings-optional-date-fields.png
  docs/queries/filters.md
  docs/queries/grouping.md
  docs/queries/layout.md
  docs/queries/sorting.md
  docs/quick-reference/index.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Invalid Dates.md
  src/Config/SettingsTab.ts
  tests/Query.test.ts
Due: lint, lint-markdown, test
