Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

test: TaskBuilder.createFullyPopulatedTask() gives realistic description
  tests/TestingTools/TaskBuilder.test.ts
  tests/TestingTools/TaskBuilder.ts
Due: lint, test

test: TaskBuilder.createFullyPopulatedTask() includes some tags
  tests/TestingTools/TaskBuilder.test.ts
  tests/TestingTools/TaskBuilder.ts
Due: lint, test

test: Detect empty arrays
  tests/TestingTools/TaskBuilder.test.ts
Due: lint, test

test: Extract function hasValue()
  tests/TestingTools/TaskBuilder.test.ts
Due: lint, test

test: Inline value and split else
  tests/TestingTools/TaskBuilder.test.ts
Due: lint, test

test: Simplify hasValue()
  tests/TestingTools/TaskBuilder.test.ts
Due: lint, test

test: Move the boolean check to hasValue()
  tests/TestingTools/TaskBuilder.test.ts
Due: lint, test

test: Add TaskBuilder.createFullyPopulatedTask() (#2013)
  src/Recurrence.ts
  src/Status.ts
  src/StatusConfiguration.ts
  src/Task.ts
  tests/Status.test.ts
  tests/StatusConfiguration.test.ts
  tests/Task.test.ts
  tests/TestingTools/TaskBuilder.test.ts
  tests/TestingTools/TaskBuilder.ts
Due: lint, test

Toggle task done command adds global filter text
  src/Commands/ToggleDone.ts
  tests/Commands/ToggleDone.test.ts
Due: lint, test

refactor: Use moment correctly in src
  src/DateFallback.ts
  src/Query/DateParser.ts
  src/Query/DateRange.ts
  src/lib/logging.ts
  tests/EditTask.test.ts
  tests/Query/DateParser.test.ts
  tests/Query/DateRange.test.ts
Due: lint, test

test: Remove unnecessary mocking of obsidian
  tests/Recurrence.test.ts
Due: lint, test

contrib: Document correct use of moment in src/ and tests/
  contributing/Code/How do I use Moment in src.md
  contributing/Testing/How do I use Moment in tests.md
  src/Recurrence.ts
  tests/Integration/MomentIntegration.test.ts
  tests/Task.test.ts
  tests/lib/DateTools.test.ts
Due: lint, lint-markdown, test

contrib: Fix some formatting
  contributing/Code/How do I use Moment in src.md
  contributing/Testing/How do I use Moment in tests.md
Due: lint-markdown

fix: Stop bundling Moment in release (#2016)
  contributing/Code/How do I use Moment in src.md
  contributing/Testing/How do I use Moment in tests.md
  src/DateFallback.ts
  src/Query/DateParser.ts
  src/Query/DateRange.ts
  src/Recurrence.ts
  src/lib/logging.ts
  tests/EditTask.test.ts
  tests/Integration/MomentIntegration.test.ts
  tests/Query/DateParser.test.ts
  tests/Query/DateRange.test.ts
  tests/Recurrence.test.ts
  tests/Task.test.ts
  tests/lib/DateTools.test.ts
Due: lint, lint-markdown, test

fix: Remove a log message about settings objects
  src/Config/SettingsTab.ts
Due: lint, test

Add more tests
  src/Commands/ToggleDone.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  tests/Commands/ToggleDone.test.ts
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
Due: lint, test

Add regex testing
  src/Commands/ToggleDone.ts
  tests/Commands/ToggleDone.test.ts
Due: lint, test

contrib: Add links to the Moment pages & improve content
  contributing/Code/About Code.md
  contributing/Code/How do I use Moment in src.md
  contributing/Testing/About Testing.md
  contributing/Testing/How do I use Moment in tests.md
  tests/Task.test.ts
Due: lint, lint-markdown, test

contrib: Improve some descriptions on About pages
  contributing/Code/About Code.md
  contributing/Testing/About Testing.md
Due: lint-markdown

docs: Put 'Filters for Task Statuses' above 'Filters for Dates in Tasks'
  docs/Queries/Filters.md
Due: lint-markdown

docs: Make heading names in Grouping and Sorting match Filters
  docs/Introduction.md
  docs/Queries/Grouping.md
  docs/Queries/Sorting.md
Due: lint-markdown

docs: Add Contents section in Filters, mainly for use on mobile
  docs/Queries/Filters.md
Due: lint-markdown

docs: Make heading order in Grouping and Sorting match Filters
  docs/Queries/Grouping.md
  docs/Queries/Sorting.md
Due: lint-markdown

docs: Make status headings in Grouping and Sorting match Filters
  docs/Queries/Grouping.md
  docs/Queries/Sorting.md
Due: lint-markdown

docs: Make date heading names in Grouping & Sorting match Filters
  docs/Queries/Grouping.md
  docs/Queries/Sorting.md
Due: lint-markdown

docs: Make date order in Grouping and Sorting match Filters
  docs/Queries/Grouping.md
  docs/Queries/Sorting.md
Due: lint-markdown

docs: Make other task property heading names in Grouping & Sorting match Filters
  docs/Queries/Grouping.md
  docs/Queries/Sorting.md
Due: lint-markdown
