Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

Update to version 7.6.1
  manifest.json
  package.json
  versions.json
Due: none

chore: Update to Node 18.x in release.yml
  .github/workflows/release.yml
Due: none

Revert "Update to version 7.6.1"
  manifest.json
  package.json
  versions.json
Due: none

docs: Document that group by path, folder and root escape markdown chars
  docs/Queries/Grouping.md
  docs/Scripting/Custom Grouping.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.file_properties_task.file.folder_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.file_properties_task.file.folder_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.file_properties_task.file.path_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.file_properties_task.file.path_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.file_properties_task.file.root_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.file_properties_task.file.root_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
Due: lint, lint-markdown, test

comment: A couple of small edits I missed out when reviewing #969
  src/lib/logging.ts
Due: lint, test

refactor: - Improve OptionalFilePath type alias, by removing duplication
  src/Scripting/TasksFile.ts
Due: lint, test

refactor: - Migrate GlobalQuery.ts to use OptionalFilePath type alias
  src/Config/GlobalQuery.ts
Due: lint, test

refactor: - Migrate Query.ts to use OptionalFilePath type alias
  src/Query/Query.ts
Due: lint, test

refactor: - Migrate QueryRendererHelper.ts to use OptionalFilePath type alias
  src/lib/QueryRendererHelper.ts
Due: lint, test

refactor: - Add FilePath and OptionalFilePath type aliases
  src/Scripting/TasksFile.ts
Due: lint, test

refactor: - Migrate QueryRenderer.ts to use FilePath type alias
  src/Renderer/QueryRenderer.ts
Due: lint, test

refactor: - Use TasksPath instead of string, for file locations in Query and QueryRenderer
  src/Renderer/QueryRenderer.ts
  src/Scripting/QueryContext.ts
  src/Scripting/TasksFile.ts
  tests/CustomMatchers/CustomMatchersForSorting.ts
  tests/Query/Explain/Explainer.test.ts
  tests/Query/Filter/BooleanField.test.ts
  tests/Query/Filter/FunctionField.test.ts
  tests/Query/Group/TaskGroups.test.ts
  tests/Query/Query.test.ts
  tests/Query/SearchInfo.test.ts
  tests/Scripting/ExpandPlaceholders.test.ts
  tests/Scripting/Expression.test.ts
  tests/Scripting/QueryContext.test.ts
  tests/Scripting/QueryProperties.test.ts
  tests/Scripting/ScriptingReference/VerifyFunctionFieldSamples.ts
  tests/Scripting/TaskExpression.test.ts
  tests/Scripting/TaskProperties.test.ts
  tests/TestingTools/ApprovalTestHelpers.ts
  tests/lib/QueryRendererHelper.test.ts
Due: lint, test

refactor: - Migrate SearchInfo.ts to use OptionalFilePath type alias
  src/Query/SearchInfo.ts
Due: lint, test

refactor: . Inline FilePath type alias.
  src/Renderer/QueryRenderer.ts
  src/Scripting/QueryContext.ts
  src/Scripting/TasksFile.ts
  tests/Scripting/ScriptingReference/VerifyFunctionFieldSamples.ts
Due: lint, test

refactor: - Migrate QueryContext.ts to use FilePath type alias
  src/Scripting/QueryContext.ts
Due: lint, test

test: . Extract path variable to remove repetition of 'hello.md'
  tests/Query/Query.test.ts
Due: lint, test

refactor: - Migrate VerifyFunctionFieldSamples.ts to use FilePath type alias
  tests/Scripting/ScriptingReference/VerifyFunctionFieldSamples.ts
Due: lint, test

refactor: . Rename OptionalFilePath to OptionalTasksFile
  src/Config/GlobalQuery.ts
  src/Query/Query.ts
  src/Query/SearchInfo.ts
  src/Scripting/TasksFile.ts
  src/lib/QueryRendererHelper.ts
Due: lint, test

refactor: . Rename path parameter to tasksFile
  src/Config/GlobalQuery.ts
Due: lint, test
