Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

contrib: Update 'Local development.md' for simpler deploy:local usage
  contributing/Building/Local development.md
Due: lint-markdown

contrib: Clarify 'Setting up build environment.md'
  contributing/Building/Setting up build environment.md
Due: lint-markdown

contrib: Add easier-to-follow instructions for local development
  contributing/Building/Local development.md
Due: lint-markdown

contrib: Unify 'Hot Reload' references
  contributing/Building/Local development.md
Due: lint-markdown

contrib: Rewrite 'Local development' page for readability
  contributing/Building/Local development.md
  contributing/Testing/Integration Tests.md
Due: lint-markdown

test: - Detect inconsistencies in i18n configuration
  tests/i18n/i18n.test.ts
Due: lint, test

i18n: Teach i18next-parser to process vi.json and pt_br.json
  i18next-parser.config.js
  tests/i18n/i18n.test.ts
Due: lint, test

i18n: Report the translation we ended up using
  src/i18n/i18n.ts
Due: lint, test

i18n: European Portugese now falls back on English, as before.
  src/i18n/i18n.ts
Due: lint, test

i18n: Clarify the string names in i18next-parser.config.js
  i18next-parser.config.js
Due: none

i18n: Correct sort order of 'searchResults' in en.json and pt_br.json
  src/i18n/locales/en.json
  src/i18n/locales/pt_br.json
Due: none

i18n: Add missing 'searchResults' blocks to most of the language files
  src/i18n/locales/be.json
  src/i18n/locales/de.json
  src/i18n/locales/ko.json
  src/i18n/locales/ru.json
  src/i18n/locales/uk.json
  src/i18n/locales/vi.json
  src/i18n/locales/zh_cn.json
Due: none

i18n: Make console output match Obsidian and i18next locale names
  src/i18n/i18n.ts
Due: lint, test

test: - Fix SonarQube typescript:S7772 warnings
  tests/i18n/i18n.test.ts
Due: lint, test

test: - Clarify a test name
  tests/i18n/i18n.test.ts
Due: lint, test

test: . Extract variable sampleDatesSortedByDate
  tests/DateTime/TasksDate.test.ts
Due: lint, test

test: . Make sampleDatesSortedByDate const for safety
  tests/DateTime/TasksDate.test.ts
Due: lint, test

test: - Validate test data really is sorted by date
  tests/DateTime/TasksDate.test.ts
Due: lint, test

test: - Add failing test for #2789
  tests/DateTime/TasksDate.test.ts
Due: lint, test

fix: - Recognise times in the next few hours as future times
  src/DateTime/TasksDate.ts
  tests/DateTime/TasksDate.test.ts
Due: lint, test

fix: - Use consistent sort order of groups by date categories
  src/DateTime/TasksDate.ts
  tests/DateTime/TasksDate.test.ts
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due_results.approved.txt
  tests/Scripting/TaskProperties.test.task_date_fields.approved.md
Due: lint, lint-markdown, test

docs: Update snippets that use 'task.due.fromNow.sortOrder'
  docs/Scripting/Task Properties.md
Due: lint-markdown

test: - Add explanatory comment
  tests/DateTime/TasksDate.test.ts
Due: lint, test

test: extract numericStringCompare()
  tests/DateTime/TasksDate.test.ts
Due: lint, test

test: Reuse numericStringCompare(), to fix SonarQube warning
  tests/DateTime/TasksDate.test.ts
Due: lint, test

chore: add missing OS/IDE patterns to .gitignore
  .gitignore
Due: none

vault: Add example of numbered list with parenthesis
  resources/sample_vaults/Tasks-Demo/Test Data/mixed_list_markers.md
Due: lint-markdown

test: Add example of numbered list with parenthesis
  tests/Obsidian/__test_data__/mixed_list_markers.json
  tests/Query/QueryResult.test.ts
  tests/Renderer/MarkdownQueryResultsRenderer.test.ts
Due: lint, test

test: . Move readMarkdown() to TestHelpers.ts
  tests/Renderer/MarkdownQueryResultsRenderer.test.ts
  tests/TestingTools/TestHelpers.ts
Due: lint, test

test: . Rename readMarkdown() to fromMarkdown() - to match toMarkdown()
  tests/Renderer/MarkdownQueryResultsRenderer.test.ts
  tests/TestingTools/TestHelpers.ts
Due: lint, test

test: - Add failing test for issue #3834
  tests/DateTime/TasksDate.test.ts
Due: lint, test

test: - Add fromNow.name check to parameterised test
  tests/DateTime/TasksDate.test.ts
Due: lint, test

test: . extract variable tasksDate
  tests/DateTime/TasksDate.test.ts
Due: lint, test

test: - remove separate tests that were needed before bug fix
  tests/DateTime/TasksDate.test.ts
Due: lint, test

fix: Fix inconsistent sort order of fromNow groups in non English setups
  src/DateTime/TasksDate.ts
  tests/DateTime/TasksDate.test.ts
Due: lint, test

test: - Add paramaterised version of locale tests, now they pass
  tests/DateTime/TasksDate.test.ts
Due: lint, test

test: - Set the date explicitly
  tests/DateTime/TasksDate.test.ts
Due: lint, test

refactor(Config): inefficient array rebuilding in `feature.values`
  src/Config/Feature.ts
Due: lint, test

test: - Add more thorough test of fromNow order for Spanish language
  tests/DateTime/TasksDate.test.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
