Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

vault: Point users of 'Check Aliases.base', etc to the latest docs
  resources/sample_vaults/Tasks-Demo/How To/Find properties not read by Obsidian 1.9.x/README.md
Due: lint-markdown

docs: Fix old alias properties
  docs/Queries/Backlinks.md
  docs/migration.md
Due: lint-markdown

docs: Fix missing-word typo
  docs/Support and Help/Missing tags, aliases and cssclasses in some Obsidian 1.9.x versions.md
Due: lint-markdown

docs: Clarify what Format Converter does
  docs/Support and Help/Missing tags, aliases and cssclasses in some Obsidian 1.9.x versions.md
Due: lint-markdown

Add smoke test docs
  docs/Other Plugins/QuickAdd.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/QuickAdd Tasks API Demo.md
Due: lint-markdown

jsdoc: Improve docs of Link class
  src/Task/Link.ts
Due: lint, test

feat: - add isLinkTo()
  src/Task/Link.ts
  tests/Task/Link.test.ts
Due: lint, test

refactor: - improve isLinkTo() functionality
  src/Task/Link.ts
  tests/Task/Link.test.ts
Due: lint, test

refactor: - match exact filename
  src/Task/Link.ts
  tests/Task/Link.test.ts
Due: lint, test

refactor: . extract variable
  src/Task/Link.ts
Due: lint, test

test: - add failing test for new behavior
  tests/Task/Link.test.ts
Due: lint, test

refactor: . extract variables
  src/Task/Link.ts
Due: lint, test

test: - separate tests
  tests/Task/Link.test.ts
Due: lint, test

refactor: match links that contain directories
  src/Task/Link.ts
  tests/Task/Link.test.ts
Due: lint, test

refactor: - start teaching isLinkTo() to use TasksFile
  src/Task/Link.ts
  tests/Task/Link.test.ts
Due: lint, test

refactor: - flip if condition
  src/Task/Link.ts
Due: lint, test

feat: - teach isLinkTo() to accept TasksFile
  src/Task/Link.ts
  tests/Task/Link.test.ts
Due: lint, test

chore: Update circular-deps.txt - down from 20 to 18
  circular-deps.txt
Due: none

chore: Update circular-deps.txt - up from 18 to 19
  circular-deps.txt
Due: none

vault: convert_test_data_markdown_to_js.js now saves metadataCache.resolvedLinks
  resources/sample_vaults/Tasks-Demo/_meta/templater_scripts/convert_test_data_markdown_to_js.js
Due: none

test: capture metadataCache.resolvedLinks from test vault
  tests/Obsidian/__test_data__/metadataCache/resolvedLinks.json
Due: none

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
