Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

feat: ! align checked radio button color with the current theme
  src/ui/EditTask.scss
Due: none

feat: ! align Priority columns with the date columns
  src/ui/EditTask.scss
Due: none

fix: ! add access keys only it is required
  src/ui/EditTask.svelte
Due: none

refactor: ! move padding properties to the margin
  src/ui/EditTask.scss
Due: none

refactor: ! remove unused CSS class tasks-modal-status
  src/ui/EditTask.scss
Due: none

refactor: ! remove unused CSS class tasks-modal-warning
  src/ui/EditTask.scss
Due: none

refactor: ! align items instead of fixing them with margins
  src/ui/EditTask.scss
Due: none

refactor: ! remove useless parameter
  src/ui/EditTask.scss
Due: none

refactor: ! remove unused class
  src/ui/EditTask.scss
Due: none

refactor: ! remove margins from the labels and render them in regular block flow
  src/ui/EditTask.scss
Due: none

refactor: ! replace row-height with grid-row-gap property
  src/ui/EditTask.scss
Due: none

refactor: ! remove useless specificity
  src/ui/EditTask.scss
Due: none

fix: ! restore margin between task description and Description label
  src/ui/EditTask.scss
Due: none

refactor: ! move properties to a more specific label class where they are really used
  src/ui/EditTask.scss
Due: none

refactor: ! restrict the properties related to the direct label child where they are really needed
  src/ui/EditTask.scss
Due: none

contrib: Start a new page, Structure of the code.md - for developer overviews
  contributing/Code/About Code.md
  contributing/Code/Structure of the code.md
Due: lint-markdown

contrib: Document the source-code directory structure
  contributing/Code/Structure of the code.md
Due: lint-markdown

contrib: Explain purpose of new file.
  contributing/Code/About Code.md
Due: lint-markdown

Update Docs
  docs/Editing/Auto-Suggest.md
  docs/Getting Started/Task Dependencies.md
  docs/Support and Help/Known Limitations.md
Due: lint-markdown

add Unique ID Suggestion
  docs/Getting Started/Task Dependencies.md
  src/Suggestor/Suggestor.ts
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.ts
Due: lint, lint-markdown, test

Fix: "Has Been Modifed Externally Error"
  src/Suggestor/EditorSuggestorPopup.ts
Due: lint, test

refactor: Move DependencyHelpers.ts back to src/ui
  src/Suggestor/Suggestor.ts
  src/ui/Dependency.svelte
  src/ui/DependencyHelpers.ts
  tests/ui/DependencyHelpers.test.ts
Due: lint, test

feat: Add Auto Suggest for Task dependencies (#2771)
  docs/Editing/Auto-Suggest.md
  docs/Getting Started/Task Dependencies.md
  docs/Support and Help/Known Limitations.md
  resources/sample_vaults/Tasks-Demo/.obsidian/appearance.json
  src/Commands/index.ts
  src/Suggestor/EditorSuggestorPopup.ts
  src/Suggestor/Suggestor.ts
  src/Suggestor/index.ts
  src/main.ts
  src/ui/DependencyHelpers.ts
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_offers_basic_completion_options_for_an_empty_task.approved.json
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.ts
Due: lint, lint-markdown, test

refactor: ! replace span with div element and give it a separate CSS class
  src/ui/EditTask.scss
  src/ui/EditTask.svelte
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot.approved.html
Due: none

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
