Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Add new Task id instructions to Quick Reference.md
  docs/Quick Reference.md
Due: lint-markdown

docs: Document new Task id filters
  docs/Getting Started/Task Dependencies.md
  docs/Queries/Filters.md
Due: lint-markdown

docs: Document new Task id sort and group instructions
  docs/Queries/Grouping.md
  docs/Queries/Sorting.md
Due: lint-markdown

docs: Add more links to dependencies-related Query pages
  docs/Getting Started/Task Dependencies.md
Due: lint-markdown

refactor: Create BlockedByField class - will eventually search Task.blockedBy
  src/Query/Filter/BlockedByField.ts
  tests/Query/Filter/BlockedByField.test.ts
Due: lint, test

refactor: BlockedByField.ts now supports 'has blocked by'
  src/Query/Filter/BlockedByField.ts
  tests/Query/Filter/BlockedByField.test.ts
Due: lint, test

feat: Add 'has blocked by' query
  src/Query/Filter/BlockedByField.ts
  src/Query/FilterParser.ts
  tests/Query/Query.test.ts
Due: lint, test

feat: Add 'no blocked by' query
  src/Query/Filter/BlockedByField.ts
  tests/Query/Filter/BlockedByField.test.ts
  tests/Query/Query.test.ts
Due: lint, test

docs: Move 'is not blocked' & 'is blocking' to own lines in Quick Reference
  docs/Quick Reference.md
Due: lint-markdown

docs: Add 'has blocked by' and 'no blocked by' to Quick Reference
  docs/Quick Reference.md
Due: lint-markdown

docs: Document 'blocked by' field in Filters, Grouping and Sorting.
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Queries/Sorting.md
Due: lint-markdown

feat: Add 'blocked by' presence and absence instructions (#2615)
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Queries/Sorting.md
  docs/Quick Reference.md
  src/Query/Filter/BlockedByField.ts
  src/Query/FilterParser.ts
  tests/Query/Filter/BlockedByField.test.ts
  tests/Query/Query.test.ts
Due: lint, lint-markdown, test

docs: Add simple samples for custom grouping with task.id & task.blockedBy
  docs/Queries/Grouping.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dependencies_task.blockedBy_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dependencies_task.blockedBy_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dependencies_task.id_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dependencies_task.id_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
Due: lint, lint-markdown, test

feat: All tasks are now accessible in scripting, as query.allTasks
  src/Query/SearchInfo.ts
  src/Scripting/QueryContext.ts
  tests/Scripting/QueryContext.test.ts
Due: lint, test

test: - Rework Query Properties.md to use expressions instead of placeholders
  tests/Scripting/QueryProperties.test.ts
Due: lint, test

docs: Document addition of query.allTasks to custom searches
  docs/Introduction.md
  docs/Scripting/Query Properties.md
  tests/Scripting/QueryProperties.test.query_search_properties.approved.md
  tests/Scripting/QueryProperties.test.ts
  tests/Scripting/ScriptingTestHelpers.ts
Due: lint, lint-markdown, test

docs: Minor improvement to wording in Grouping.md
  docs/Queries/Grouping.md
Due: lint-markdown

[create-pull-request] automated change
  docs/Queries/Grouping.md
Due: lint-markdown

test: Improve names of 'describe' and 'it' blocks
  tests/Scripting/QueryContext.test.ts
Due: lint, test

refactor: - Remove repetition of code in makeQueryContext()
  src/Scripting/QueryContext.ts
Due: lint, test

docs: Add more info about query.allTasks
  docs/Scripting/Query Properties.md
Due: lint-markdown

Add quotes around {staged_files}.
  lefthook.yml
Due: none

refactor: Convert back to Unix line-endings, as per original
  lefthook.yml
Due: none

chore: Fix pre-commit hooks for filenames with spaces, on Windows (#2622)
  lefthook.yml
Due: none

docs: Set Obsidian preferences to 2-space indentation
  docs/.obsidian/app.json
Due: none
