Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Update 'Explaining Queries' now layout instructions are explained
  docs/Queries/Explaining Queries.md
Due: lint-markdown

refactor: . Fix misleading variable name
  src/Query/Explain/Explainer.ts
Due: lint, test

test: - Simplify new tests, preparing to add some more
  tests/Query/Explain/Explainer.test.ts
Due: lint, test

test: - Show explanations of short-forms of short and full modes
  tests/Query/Explain/Explainer.test.ts
Due: lint, test

test: - Show that we intentionally do not explain 'explain'
  src/Query/Query.ts
  tests/Query/Explain/Explainer.test.ts
Due: lint, test

refactor: . Rename misleading parameter globalQueryQuery to query
  src/Query/QueryRendererHelper.ts
Due: lint, test

test: - Show that 'ignore global query' is not currently explained
  tests/Query/Explain/Explainer.test.ts
Due: lint, test

feat: Explain 'ignore global query'
  src/Query/Explain/Explainer.ts
  tests/Query/Explain/Explainer.test.ts
  tests/Query/QueryRendererHelper.test.ts
Due: lint, test

test: Add failing test that global query should ignore 'ignore global query'
  tests/Query/QueryRendererHelper.test.ts
Due: lint, test

test: Add another failing test that global query should ignore 'ignore global query'
  tests/Config/GlobalQuery.test.ts
Due: lint, test

feat: Ignore 'ignore global query' lines in the global query
  src/Config/GlobalQuery.ts
  src/Query/Query.ts
  tests/Config/GlobalQuery.test.ts
  tests/Query/QueryRendererHelper.test.ts
Due: lint, test

docs: Note `ignore global query` inside the Global Query itself is harmless
  docs/Queries/Global Query.md
Due: lint-markdown

Update to version 7.18.0
  manifest.json
  package.json
  versions.json
Due: none

fix: register handlers before the layout is ready
  src/Obsidian/InlineRenderer.ts
  src/Renderer/QueryRenderer.ts
  src/main.ts
Due: lint, test

Update to version 7.18.1
  manifest.json
  package.json
  versions.json
Due: none

vault: Update Tasks plugin to "7.18.1"
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
Due: none

vault: Update all plugins (not applying 'canary' updates)
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/js-engine/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/js-engine/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/js-engine/styles.css
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-plugin-update-tracker/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-plugin-update-tracker/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-theme-design-utilities/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-theme-design-utilities/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/manifest.json
Due: none

vault: Update all plugins (not applying 'canary' updates)
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/js-engine/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/js-engine/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/js-engine/styles.css
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-plugin-update-tracker/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-plugin-update-tracker/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-theme-design-utilities/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-theme-design-utilities/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/quickadd/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/quickadd/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/quickadd/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/manifest.json
Due: none

contrib: Update all enabled plugins
  contributing/.obsidian/plugins/obsidian-plugin-update-tracker/main.js
  contributing/.obsidian/plugins/obsidian-plugin-update-tracker/manifest.json
  contributing/.obsidian/plugins/templater-obsidian/main.js
  contributing/.obsidian/plugins/templater-obsidian/manifest.json
Due: none

docs: Update all enabled plugins
  docs/.obsidian/plugins/obsidian-plugin-update-tracker/main.js
  docs/.obsidian/plugins/obsidian-plugin-update-tracker/manifest.json
  docs/.obsidian/plugins/templater-obsidian/main.js
  docs/.obsidian/plugins/templater-obsidian/manifest.json
Due: none

test: Add test data from #3344 - for when #2061 is worked on
  resources/sample_vaults/Tasks-Demo/Test Data/code_block_in_task.md
  tests/Obsidian/AllCacheSampleData.ts
  tests/Obsidian/__test_data__/code_block_in_task.json
Due: lint, lint-markdown, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
