Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

test: Extract function verifyHeadingsFromSampleGroupers()
  tests/Query/Filter/ReferenceDocs/FilterReference/TagsFieldDocs.test.ts
Due: lint, test

test: Extract function verifyHelpFromSampleGroupers()
  tests/Query/Filter/ReferenceDocs/FilterReference/TagsFieldDocs.test.ts
Due: lint, test

test: Clearer function names
  tests/Query/Filter/ReferenceDocs/FilterReference/TagsFieldDocs.test.ts
Due: lint, test

test: Clearer function names again
  tests/Query/Filter/ReferenceDocs/FilterReference/TagsFieldDocs.test.ts
Due: lint, test

test: Move two helper functions out to VerifyFunctionFieldSamples.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/TagsFieldDocs.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/VerifyFunctionFieldSamples.ts
Due: lint, test

docs: Add sample 'custom grouping by status names' text to Grouping docs
  docs/Queries/Grouping.md
  tests/Query/Filter/ReferenceDocs/FilterReference/StatusNameFieldDocs.test.custom_grouping_by_status.name_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/StatusNameFieldDocs.test.custom_grouping_by_status.name_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/StatusNameFieldDocs.test.ts
Due: lint, lint-markdown, test

text: Correct descriptive text for documentation
  tests/Query/Filter/ReferenceDocs/FilterReference/StatusNameFieldDocs.test.custom_grouping_by_status.name_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/StatusNameFieldDocs.test.custom_grouping_by_status.name_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/StatusNameFieldDocs.test.ts
Due: lint, lint-markdown, test

docs: Add sample 'custom grouping by status types' text to Grouping docs
  docs/Queries/Grouping.md
  tests/Query/Filter/ReferenceDocs/FilterReference/StatusTypeFieldDocs.test.custom_grouping_by_status.type_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/StatusTypeFieldDocs.test.custom_grouping_by_status.type_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/StatusTypeFieldDocs.test.ts
Due: lint, lint-markdown, test

docs: Add sample 'custom grouping by status symbols' text to Grouping docs
  docs/Queries/Grouping.md
  tests/Query/Filter/ReferenceDocs/FilterReference/StatusSymbolFieldDocs.test.custom_grouping_by_status.symbol_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/StatusSymbolFieldDocs.test.custom_grouping_by_status.symbol_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/StatusSymbolFieldDocs.test.ts
Due: lint, lint-markdown, test

docs: Add sample 'custom grouping by next status symbol' text to Grouping docs
  docs/Queries/Grouping.md
  tests/Query/Filter/ReferenceDocs/FilterReference/StatusNextStatusSymbolFieldDocs.test.custom_grouping_by_task.status.nextStatusSymbol_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/StatusNextStatusSymbolFieldDocs.test.custom_grouping_by_task.status.nextStatusSymbol_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/StatusNextStatusSymbolFieldDocs.test.ts
Due: lint, lint-markdown, test

docs: Add sample 'custom grouping by due date' text to Grouping docs
  docs/Queries/Grouping.md
  tests/Query/Filter/ReferenceDocs/FilterReference/DueDateFieldDocs.test.custom_grouping_by_task.dueDate_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/DueDateFieldDocs.test.custom_grouping_by_task.dueDate_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/DueDateFieldDocs.test.ts
Due: lint, lint-markdown, test

docs: Remove incorrect task property task.status.createdDate from docs
  docs/Scripting/Task Properties.md
  tests/Scripting/TaskProperties.test.task_dates.approved.md
  tests/Scripting/TaskProperties.test.ts
Due: lint, lint-markdown, test

refactor: Add created, done, due, scheduled and start to Task
  src/Task.ts
  tests/Task.test.ts
Due: lint, test

docs,test: Add created, done, due, scheduled and start properties on task
  docs/Queries/Grouping.md
  docs/Scripting/Task Properties.md
  tests/Query/Filter/ReferenceDocs/FilterReference/DueDateFieldDocs.test.custom_grouping_by_task.due_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/DueDateFieldDocs.test.custom_grouping_by_task.due_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/DueDateFieldDocs.test.ts
  tests/Scripting/TaskProperties.test.task_dates.approved.md
  tests/Scripting/TaskProperties.test.ts
Due: lint, lint-markdown, test

test: Add fake date to DueDateFieldDocs.test.ts to fix failing tests
  tests/Query/Filter/ReferenceDocs/FilterReference/DueDateFieldDocs.test.ts
Due: lint, test

docs: Add sample 'custom grouping by done date' text to Grouping docs
  docs/Queries/Grouping.md
  tests/Query/Filter/ReferenceDocs/FilterReference/DoneDateFieldDocs.test.custom_grouping_by_task.done_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/DoneDateFieldDocs.test.custom_grouping_by_task.done_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/DoneDateFieldDocs.test.ts
Due: lint, lint-markdown, test

docs: Add sample 'custom grouping by created, scheduled and start date' text to Grouping docs
  docs/Queries/Grouping.md
  tests/Query/Filter/ReferenceDocs/FilterReference/CreatedDateFieldDocs.test.custom_grouping_by_task.created_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/CreatedDateFieldDocs.test.custom_grouping_by_task.created_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/CreatedDateFieldDocs.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/ScheduledDateFieldDocs.test.custom_grouping_by_task.scheduled_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/ScheduledDateFieldDocs.test.custom_grouping_by_task.scheduled_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/ScheduledDateFieldDocs.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/StartDateFieldDocs.test.custom_grouping_by_task.start_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/StartDateFieldDocs.test.custom_grouping_by_task.start_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/StartDateFieldDocs.test.ts
Due: lint, lint-markdown, test

test: Fix error that tests were using tasks without the right dates.
  tests/Query/Filter/ReferenceDocs/FilterReference/CreatedDateFieldDocs.test.custom_grouping_by_task.created_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/CreatedDateFieldDocs.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/DoneDateFieldDocs.test.custom_grouping_by_task.done_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/DoneDateFieldDocs.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/ScheduledDateFieldDocs.test.custom_grouping_by_task.scheduled_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/ScheduledDateFieldDocs.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/StartDateFieldDocs.test.custom_grouping_by_task.start_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/StartDateFieldDocs.test.ts
Due: lint, test

feat: Add support and docs for task.happens in 'group by function'
  docs/Queries/Grouping.md
  docs/Scripting/Task Properties.md
  src/Query/Filter/HappensDateField.ts
  src/Task.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/HappensDateFieldDocs.test.custom_grouping_by_task.happens_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/HappensDateFieldDocs.test.custom_grouping_by_task.happens_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/HappensDateFieldDocs.test.ts
  tests/Scripting/TaskProperties.test.task_dates.approved.md
  tests/Scripting/TaskProperties.test.ts
  tests/Task.test.ts
Due: lint, lint-markdown, test

docs: Update Task Properties.md for the addition of task.happens
  docs/Scripting/Task Properties.md
Due: lint-markdown

docs: Fix the type displayed for null in Task Properties.md
  docs/Scripting/Task Properties.md
  tests/Scripting/ScriptingTestHelpers.ts
  tests/Scripting/TaskProperties.test.task_dates.approved.md
  tests/Scripting/TaskProperties.test.task_file_properties.approved.md
Due: lint, lint-markdown, test

docs: Display type of Moment objects correctly
  docs/Scripting/Task Properties.md
  tests/Scripting/ScriptingTestHelpers.ts
  tests/Scripting/TaskProperties.test.task_dates.approved.md
Due: lint, lint-markdown, test

docs: Display values of Moment objects correctly
  docs/Scripting/Task Properties.md
  tests/Scripting/ScriptingTestHelpers.ts
  tests/Scripting/TaskProperties.test.task_dates.approved.md
Due: lint, lint-markdown, test

docs: Add a link to examples of using date properties
  docs/Scripting/Task Properties.md
Due: lint-markdown

test: Add samples for 'group by function task.description'
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskPropertyExamples.test.custom_grouping_by_description_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskPropertyExamples.test.custom_grouping_by_description_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskPropertyExamples.test.ts
  tests/TestHelpers.ts
Due: lint, lint-markdown, test

test: Parameterize a test, to make it easier to test more properties
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskPropertyExamples.test.ts
Due: lint, test

test: Inline the list of custom groups
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskPropertyExamples.test.ts
Due: lint, test

test: Clearer names of approved files
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskPropertyExamples.test.custom_grouping_by_task.description_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskPropertyExamples.test.custom_grouping_by_task.description_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskPropertyExamples.test.ts
Due: lint, lint-markdown, test

docs: Add samples for 'group by function task.description'
  docs/Queries/Grouping.md
Due: lint-markdown

fix: Withdraw support for task.blockLink for now
  docs/Scripting/Task Properties.md
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskPropertyExamples.test.custom_grouping_by_task.blockLink_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskPropertyExamples.test.custom_grouping_by_task.blockLink_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskPropertyExamples.test.ts
  tests/Scripting/TaskProperties.test.task_other_fields.approved.md
  tests/Scripting/TaskProperties.test.ts
  tests/TestHelpers.ts
Due: lint, lint-markdown, test

test: Add test of Task.indentation
  tests/Task.test.ts
Due: lint, test

fix: Withdraw support for task fields not already released
  docs/Scripting/Task Properties.md
  tests/Scripting/TaskProperties.test.task_other_fields.approved.md
  tests/Scripting/TaskProperties.test.ts
Due: lint, lint-markdown, test

docs: Remove from docs file properties that will not be released as-is for scripting.
  docs/Scripting/Task Properties.md
  tests/Scripting/TaskProperties.test.task_file_properties.approved.md
  tests/Scripting/TaskProperties.test.ts
Due: lint, lint-markdown, test

test: get comparator from the Field
  tests/TaskGroups.test.ts
Due: lint, test

docs: Work-in-progress commit of Custom Grouping.md
  docs/Scripting/Custom Grouping.md
Due: lint-markdown

test: Add some ideas for examples to TaskPropertyExamples.test.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskPropertyExamples.test.ts
Due: lint, test

feat: Add Task.recurring - but don't yet document, as Task.recurrence is not releasable
  src/Task.ts
  tests/Task.test.ts
Due: lint, test

docs: Note that all task dates have time midnight currently
  docs/Scripting/Task Properties.md
  tests/Scripting/ScriptingTestHelpers.ts
  tests/Scripting/TaskProperties.test.task_dates.approved.md
Due: lint, lint-markdown, test

docs: Remove task.priority from docs.
  docs/Queries/Grouping.md
  docs/Scripting/Task Properties.md
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskPropertyExamples.test.custom_grouping_by_task.priority_docs.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskPropertyExamples.test.custom_grouping_by_task.priority_results.approved.txt
  tests/Query/Filter/ReferenceDocs/FilterReference/TaskPropertyExamples.test.ts
  tests/Scripting/TaskProperties.test.task_other_fields.approved.md
  tests/Scripting/TaskProperties.test.ts
Due: lint, lint-markdown, test

fix: Add Task.dateTimeFormat - should have been in an earlier commit.
  src/Task.ts
Due: lint, test
