Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

chore(deps-dev): bump eslint to 8.41.0, eslint-plugin-import to 2.27.5 (#1993)
  package.json
  yarn.lock
Due: none

fix: Enable 'High priority' to be selected easily in Auto Suggest
  docs/Getting Started/Auto-Suggest.md
  src/Suggestor/Suggestor.ts
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.ts
Due: lint, lint-markdown, test

fix: Enable 'High priority' to be selected easily in Auto Suggest (#1996)
  docs/Getting Started/Auto-Suggest.md
  src/Suggestor/Suggestor.ts
  tests/Suggestor/Suggestor.test.auto-complete_with__dataview__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.auto-complete_with__emoji__symbols_show_all_suggested_text.approved.md
  tests/Suggestor/Suggestor.test.ts
Due: lint, lint-markdown, test

Update to version 3.10.0
  manifest.json
  package.json
  versions.json
Due: none

test: add test for PriorityField group heading order
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

test: extract withAllPriorities()
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

test: extract expected result
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

test: inline Field constructor
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

test: extact expectGroupHeadingsToBe()
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

test: move expectGroupHeadingsToBe() to CustomMatchersForGrouping
  tests/CustomMatchers/CustomMatchersForGrouping.ts
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

test: expectGroupHeadingsToBe() uses TaskGroups as param
  tests/CustomMatchers/CustomMatchersForGrouping.ts
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

test: move expectGroupHeadingsToBe() to expect....()
  tests/CustomMatchers/CustomMatchersForGrouping.ts
  tests/CustomMatchers/jest.custom_matchers.setup.ts
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

test: change parameter to destructured object
  tests/CustomMatchers/CustomMatchersForGrouping.ts
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

test: change paramters to { Grouper, Task[] } and build TaskGroups inside
  tests/CustomMatchers/CustomMatchersForGrouping.ts
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

test: inline expected group headings
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

test: add highest and lowest priority
  tests/Query/Filter/PriorityField.test.ts
Due: lint, test

test: add StatusNameField test
  tests/Query/Filter/StatusNameField.test.ts
Due: lint, test

test: add test for DueDateField
  tests/Query/Filter/DueDateField.test.ts
Due: lint, test

test: add custom matcher to test group sort order (#1999)
  tests/CustomMatchers/CustomMatchersForGrouping.ts
  tests/CustomMatchers/jest.custom_matchers.setup.ts
  tests/Query/Filter/DueDateField.test.ts
  tests/Query/Filter/PriorityField.test.ts
  tests/Query/Filter/StatusNameField.test.ts
Due: lint, test

chore: Add automation to run mdsnippets
  .github/workflows/update-docs-markdown.yml
Due: none

chore: Run markdownlint on mdsnippets output
  .github/workflows/update-docs-markdown.yml
Due: none

chore: Make mdsnippets job create PR
  .github/workflows/update-docs-markdown.yml
Due: none

test: Add comment for benefit of contributing docs
  tests/Task.test.ts
Due: lint, test

chore: Fix 'markdownlint-cli2-fix' not being found
  .github/workflows/update-docs-markdown.yml
Due: none

chore: Add missing commit step
  .github/workflows/update-docs-markdown.yml
Due: none

chore: Allow manual triggering of update-docs-markdown.yml
  .github/workflows/update-docs-markdown.yml
Due: none

[create-pull-request] automated change
  contributing/Testing/Example Tests.md
  contributing/_meta/templates/file path for redirecting alias.md
  docs/_meta/templates/file path for redirecting alias.md
  docs/_meta/templates/image embed.md
  docs/_meta/templates/we are tracking this in issue.md
Due: lint-markdown

chore: Improve PR name and labels
  .github/workflows/update-docs-markdown.yml
Due: none
