Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

fix: - Prevent mutation of Task.createdDate
  src/Task/Task.ts
  tests/Task/Task.test.ts
  tests/ui/EditableTask.test.ts
Due: lint, test

refactor: - Remove unnecessary complication - the cloning of moment is harmless
  src/Task/Task.ts
Due: lint, test

fix: - Prevent mutation of Task.startDate
  src/Task/Task.ts
  tests/Task/Task.test.ts
  tests/ui/EditableTask.test.ts
Due: lint, test

test: - Fix error, run all tests
  tests/Task/Task.test.ts
Due: lint, test

refactor: - Make new fields private
  src/Task/Task.ts
Due: lint, test

fix: - Prevent mutation of Task.scheduledDate and Task.happensDates
  src/Task/Task.ts
  tests/Task/Task.test.ts
  tests/ui/EditableTask.test.ts
Due: lint, test

fix: - Prevent mutation of Task.doneDate
  src/Task/Task.ts
  tests/Task/Task.test.ts
  tests/ui/EditableTask.test.ts
Due: lint, test

fix: - Prevent mutation of Task.cancelledDate
  src/Task/Task.ts
  tests/Task/Task.test.ts
  tests/ui/EditableTask.test.ts
Due: lint, test

refactor: - Remove inconsistency in declaration of _startDate
  src/Task/Task.ts
Due: lint, test

comment: Generalise comments, now that all date fields are updated
  src/Task/Task.ts
Due: lint, test

refactor: . Extract named variable for if condition
  src/Task/Task.ts
Due: lint, test

refactor: . Replace ?: with if/else for readability
  src/Task/Task.ts
Due: lint, test

feat: - Add toolbar to hide_query_elements preset, for new vaults
  src/Query/Presets/Presets.ts
  tests/Query/Presets/DocsForPresets.test.default-presets.approved.md
  tests/Query/Presets/DocsForPresets.test.presets_help_message.approved.md
  tests/Query/Presets/Presets.test.ts
Due: lint, lint-markdown, test

docs: Update Presets docs for addition of 'hide toolbar'
  docs/Queries/Presets.md
Due: lint-markdown

docs: Note change in `hide_query_elements` default value
  docs/What is New/Changelog.md
Due: lint-markdown

docs: Group together toolbar-related bits of Changelog
  docs/What is New/Changelog.md
Due: lint-markdown

docs: Improve the wording of hide_query_elements change
  docs/What is New/Changelog.md
Due: lint-markdown

docs: Update snippets in docs, for addition of duration
  docs/Editing/Auto-Suggest.md
  docs/How To/Find tasks with invalid data.md
  docs/Scripting/Task Properties.md
  docs/snippets-embedded-in-multiple-pages/Sample HTML - Full mode.md
  docs/snippets-embedded-in-multiple-pages/Sample HTML - Short mode.md
Due: lint-markdown

test: Add some sample tasks for different duration values
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Duration_dataview-include.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Duration_dataview-snippet.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Duration_tasksPluginEmoji-include.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.Serializer_Duration_tasksPluginEmoji-snippet.approved.md
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.ts
  tests/TestingTools/SampleTasks.ts
Due: lint, lint-markdown, test

vault: Add per-format samples for Duration field
  resources/sample_vaults/Tasks-Demo/Formats/Dataview Format.md
  resources/sample_vaults/Tasks-Demo/Formats/Tasks Format.md
Due: lint-markdown

docs: Note the change to hide_non_date_fields preset
  docs/Queries/Presets.md
Due: lint-markdown

docs: Convert query elements list to table
  docs/Queries/Layout.md
Due: lint-markdown

docs: Document the toolbar instructions and behaviour
  docs/Queries/Layout.md
  docs/images/search-results-toolbar.png
Due: lint-markdown
