Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

test: extend test to all ranges
  tests/Query/DateRange.test.ts
Due: lint, test

refactor: use factory for specific DateRanges
  src/Query/DateParser.ts
  src/Query/DateRange.ts
  tests/Query/DateRange.test.ts
Due: lint, test

test: add isValid() method in the testing
  tests/Query/DateRange.test.ts
Due: lint, test

test: add reversed dates case
  tests/Query/DateRange.test.ts
Due: lint, test

test: test invalid range and isValid() method
  tests/Query/DateRange.test.ts
Due: lint, test

refactor: move factories closer to the constructor
  src/Query/DateRange.ts
Due: lint, test

jsdoc: document DateRange class
  src/Query/DateRange.ts
Due: lint, test

refactor: rename specific to numbered
  src/Query/DateParser.ts
  src/Query/DateRange.ts
  tests/Query/DateParser.test.ts
  tests/Query/DateRange.test.ts
Due: lint, test

refactor: numbered date range is a case of absolute date range
  src/Query/DateParser.ts
  src/Query/DateRange.ts
  tests/Query/DateRange.test.ts
Due: lint, test

refactor: rename methods
  src/Query/DateParser.ts
  src/Query/DateRange.ts
  tests/Query/DateRange.test.ts
Due: lint, test

docs: Set next release version number to 3.1.0
  docs/Queries/Filters.md
Due: lint-markdown

Update to version 3.1.0
  manifest.json
  package.json
  versions.json
Due: none

refactor: date range abstraction (#1837)
  src/Query/DateParser.ts
  src/Query/DateRange.ts
  src/Query/Filter/DateField.ts
  tests/Query/DateParser.test.ts
  tests/Query/DateRange.test.ts
Due: lint, test

feat: add sql query engine
  package.json
  src/Query/TaskGroups.ts
  src/QueryRenderer.ts
  src/QuerySql/QuerySql.ts
  src/Recurrence.ts
  src/main.ts
  tests/QuerySql/BooleanField.test.ts
  tests/QuerySql/QuerySql.test.ts
  yarn.lock
Due: lint, test

contrib: Add more info to 'How do I add a new field to the Task class.md'
  contributing/Code/How do I add a new field to the Task class.md
Due: lint-markdown

contrib: Document storage, parsing and jest-matching of new fields
  contributing/Code/How do I add a new field to the Task class.md
Due: lint-markdown

contrib: Reorder steps for fully supporting new field
  contributing/Code/How do I add a new field to the Task class.md
Due: lint-markdown

Add info about how to add data to a bug report (#1721)
  .github/ISSUE_TEMPLATE/bug-report.yaml
  docs/bug-reports.md
Due: lint-markdown

docs,chore: Decide on final name for bug-reporting page
  .github/ISSUE_TEMPLATE/bug-report.yaml
  docs/.obsidian/publish.json
  docs/Support and Help/Report a Bug.md
Due: lint-markdown

docs: Report a Bug.md: Add summary, and steps before reporting
  docs/Support and Help/Report a Bug.md
Due: lint-markdown

docs: Report a Bug.md: Document good 'steps to reproduce'
  docs/Support and Help/Report a Bug.md
Due: lint-markdown

docs: Report a Bug.md: If other plugin involved, give us a zip file
  docs/Support and Help/Report a Bug.md
Due: lint-markdown

docs: Report a Bug.md: Flesh out 'Give us text to copy'
  docs/Support and Help/Report a Bug.md
Due: lint-markdown

docs: Report a Bug.md: Minor tidying
  docs/Support and Help/Report a Bug.md
Due: lint-markdown

docs: Report a Bug.md: Improve info for logging bug with other plugin
  docs/Support and Help/Report a Bug.md
Due: lint-markdown

docs: Add 'Report a Bug' page (#1857)
  .github/ISSUE_TEMPLATE/bug-report.yaml
  docs/.obsidian/publish.json
  docs/Support and Help/Report a Bug.md
Due: lint-markdown

docs: Actually link to the bug-report form.
  docs/Support and Help/Report a Bug.md
Due: lint-markdown

docs: The Introduction page now points to 'Report a Bug'
  docs/Introduction.md
Due: lint-markdown

Update Dataview project link to correct URL
  docs/Other Plugins/Dataview.md
Due: lint-markdown

docs: Add 'Useful Links' page
  docs/Useful Links.md
Due: lint-markdown

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
