Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Add warning not to use '🏁 delete' if there are child items
  docs/Getting Started/On Completion.md
Due: lint-markdown

docs: Put warning in a callout
  docs/Getting Started/On Completion.md
Due: lint-markdown

docs: Show the list-items-become-codeblock problem
  docs/Getting Started/On Completion.md
  docs/images/on-completion-after.png
  docs/images/on-completion-before.png
Due: lint-markdown

docs: Make warning about nested tasks more obvious
  docs/Getting Started/On Completion.md
Due: lint-markdown

docs: Add links to On Completion, for visibility.
  docs/Getting Started/Recurring Tasks.md
  docs/What is New?/Changelog.md
Due: lint-markdown

test: - Remove an OnCompletion that has no effect on the tests
  tests/CustomMatchers/CustomMatchersForTaskSerializer.ts
Due: lint, test

Update to version 7.8.0
  docs/Getting Started/On Completion.md
  docs/Getting Started/Recurring Tasks.md
  docs/What is New?/Changelog.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

chore: Save edits the core-plugins.json that Obsidian v1.7.0 keeps making
  contributing/.obsidian/core-plugins.json
  docs/.obsidian/core-plugins.json
Due: none

docs: Enable redirects for files in What is New?/ before rename
  docs/What is New?/Breaking Changes.md
  docs/What is New?/Changelog.md
Due: lint-markdown

contrib: Record URLs of files in old 'What is New?' folder
  contributing/Documentation/Redirects - Testing old links still work.md
Due: lint-markdown

docs: Remove '?' from path to fix cloning on Windows
  docs/What is New/Breaking Changes.md
  docs/What is New/Changelog.md
Due: lint-markdown

vault: Add OnCompletion examples to Tasks-Demo/Formats
  resources/sample_vaults/Tasks-Demo/Formats/Dataview Format.md
  resources/sample_vaults/Tasks-Demo/Formats/Tasks Format.md
Due: lint-markdown

contrib: Update plugins
  contributing/.obsidian/plugins/templater-obsidian/main.js
  contributing/.obsidian/plugins/templater-obsidian/manifest.json
Due: none

docs: Update plugins
  docs/.obsidian/plugins/templater-obsidian/main.js
  docs/.obsidian/plugins/templater-obsidian/manifest.json
Due: none

vault: Update plugins
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/js-engine/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/js-engine/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/js-engine/styles.css
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/manifest.json
Due: none

vault: Update plugins
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/js-engine/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/js-engine/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/js-engine/styles.css
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/quickadd/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/quickadd/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/quickadd/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/manifest.json
Due: none

feat: Add 'hide on completion' and 'show on completion' instructions
  src/Query/Query.ts
  tests/Query/Query.test.ts
Due: lint, test

docs: Document 'show/hide on completion' instructions
  docs/Queries/Layout.md
  docs/Quick Reference.md
Due: lint-markdown

docs: Document the 'task.onCompletion' property
  docs/Quick Reference.md
  docs/Scripting/Task Properties.md
Due: lint-markdown

test: Confirm that 'hide on completion' is hooked up correctly
  tests/Query/Query.test.ts
Due: lint, test

feat: Add one-click support for the Border theme (#3035)
  src/Config/SettingsTab.ts
  src/Config/Themes/BorderThemeCollection.ts
  src/Config/Themes/index.ts
  tests/DocumentationSamples/DocsSamplesForStatuses.test.Theme_Border_Table.approved.md
  tests/DocumentationSamples/DocsSamplesForStatuses.test.Theme_Border_Table.approved.mermaid.md
  tests/DocumentationSamples/DocsSamplesForStatuses.test.Theme_Border_Tasks.approved.md
  tests/DocumentationSamples/DocsSamplesForStatuses.test.Theme_Border_Text.approved.txt
  tests/DocumentationSamples/DocsSamplesForStatuses.test.ts
Due: lint, lint-markdown, test

vault: Install the Border theme
  resources/sample_vaults/Tasks-Demo/.obsidian/themes/Border/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/themes/Border/theme.css
Due: none
