Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

fix: TaskGroupingTree no longer loses any tasks with no group names.
  src/Query/TaskGroupingTree.ts
  src/Query/TaskGroups.ts
  tests/TaskGroups.test.ts
Due: lint, test

test: add group sort order tests (#2024)
  tests/Query/Filter/BacklinkField.test.ts
  tests/Query/Filter/CreatedDateField.test.ts
  tests/Query/Filter/DoneDateField.test.ts
  tests/Query/Filter/DueDateField.test.ts
  tests/Query/Filter/FilenameField.test.ts
  tests/Query/Filter/FolderField.test.ts
  tests/Query/Filter/HappensDateField.test.ts
  tests/Query/Filter/HeadingField.test.ts
  tests/Query/Filter/PathField.test.ts
  tests/Query/Filter/PriorityField.test.ts
  tests/Query/Filter/RecurrenceField.test.ts
  tests/Query/Filter/RecurringField.test.ts
  tests/Query/Filter/RootField.test.ts
  tests/Query/Filter/ScheduledDateField.test.ts
  tests/Query/Filter/StartDateField.test.ts
  tests/Query/Filter/StatusField.test.ts
  tests/Query/Filter/StatusNameField.test.ts
  tests/Query/Filter/StatusTypeField.test.ts
  tests/Query/Filter/TagsField.test.ts
  tests/Query/Filter/UrgencyField.test.ts
  tests/TaskSerializer/DocsSamplesForTaskFormats.test.ts
  tests/TestHelpers.ts
Due: lint, test

spike: Experiment with calling groupByFn() directly
  src/Query/Filter/FunctionField.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.ts
Due: lint, test

jsdoc: Document that GroupingTreeNode field must be populated
  src/Query/GroupingTreeNode.ts
Due: lint, test

feat: Give a meaningful message for incorrect expression type
  resources/sample_vaults/Tasks-Demo/Functions/Fields for Functions - Demo.md
  tests/Query/Filter/FunctionField.test.ts
Due: lint, lint-markdown, test

comment: Add TODO, mainly to make formatting of code clearer
  src/Query/Filter/FunctionField.ts
Due: lint, test

fix: An empty group heading is treated as un-grouped.
  src/Query/Filter/FunctionField.ts
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

docs: Move Functions.md content to new section in Grouping.md
  docs/Queries/Functions.md
  docs/Queries/Grouping.md
  docs/Reference/Scripting Details/Task Properties.md
Due: lint-markdown

docs: Fix the type displayed for task.tags
  docs/Reference/Scripting Details/Task Properties.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_other_fields.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.ts
Due: lint, lint-markdown, test

docs: Add value and type for an unpopulated task
  docs/Reference/Scripting Details/Task Properties.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_file_properties.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_other_fields.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_status.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.ts
Due: lint, lint-markdown, test

feat: Add outline FunctionField class - does nothing yet.
  src/Query/Filter/FunctionField.ts
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

test: Generate a table of status fields for custom functions
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_status.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.ts
Due: lint, lint-markdown, test

test: Add more useful examples of using task status symbols
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

refactor: Use early return in evaluateExpression()
  src/Query/Filter/FunctionField.ts
Due: lint, test

feat: Give a meaningful message for syntax errors
  src/Query/Filter/FunctionField.ts
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

docs: Fix the values displayed for task.tags
  docs/Reference/Scripting Details/Task Properties.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_other_fields.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.ts
Due: lint, lint-markdown, test

fix: Remove the need to convert non-string types to strings
  docs/Queries/Grouping.md
  src/Query/Filter/FunctionField.ts
  tests/Query/Filter/FunctionField.test.ts
Due: lint, lint-markdown, test

feat: Only support access to Task object in 'group by function'
  src/Query/Filter/FunctionField.ts
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

docs: Interim commit of docs for 'group by function'
  docs/Queries/Functions.md
Due: lint-markdown

refactor: Flip an if and unwrap the else
  src/Query/Filter/FunctionField.ts
Due: lint, test

feat: Hook up 'group by function' in Query
  src/Query/FilterParser.ts
  tests/Query.test.ts
Due: lint, test

docs: Move reference material to Reference section & add more detail
  docs/Queries/Functions.md
  docs/Reference/About Reference.md
  docs/Reference/Scripting Details/About Scripting Details.md
  docs/Reference/Scripting Details/Task Properties.md
Due: lint-markdown

feat: Extract evaluateExpression(), to calculate any expression on Task
  src/Query/Filter/FunctionField.ts
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.ts
Due: lint, test

test: Show values of dates, and of IN_PROGRESS task
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_dates.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_file_properties.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_other_fields.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_status.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.ts
Due: lint, lint-markdown, test

fix: Do not escape markdown characters in function group headings
  src/Query/Filter/FunctionField.ts
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

docs: Capture my current understanding of 'group by function'
  docs/Queries/Grouping.md
  docs/Reference/Scripting Details/Task Properties.md
Due: lint-markdown

docs: Format strings in field tables as code with backticks
  docs/Queries/Functions.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_file_properties.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_other_fields.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_status.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.ts
Due: lint, lint-markdown, test

docs: Document all the supported fields for 'group by function'
  docs/Queries/Functions.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_file_properties.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_other_fields.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.ts
Due: lint, lint-markdown, test

docs: Document more Values for Other Task Properties
  docs/Queries/Functions.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.task_other_fields.approved.md
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.ts
Due: lint, lint-markdown, test

fix: Report errors for exception, null and undefined return values
  src/Query/Filter/FunctionField.ts
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

docs: Add picture of how group by function works
  docs/Queries/Grouping.md
Due: lint-markdown

docs: Update Task Properties.md for latest test output
  docs/Reference/Scripting Details/Task Properties.md
Due: lint-markdown

docs: Work in progress on functions section in Grouping.md
  docs/Queries/Grouping.md
  docs/Reference/Scripting Details/Task Properties.md
Due: lint-markdown

feat: Add 'group by function' code
  src/Query/Filter/FunctionField.ts
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

test: Check behaviour of of falsey values
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test

test: Extract helper verifyFieldDataForReferenceDocs()
  tests/Query/Filter/ReferenceDocs/FilterReference/FunctionFieldReference.test.ts
Due: lint, test

fix: Give a meaningful message for incorrect expression type
  src/Query/Filter/FunctionField.ts
  tests/Query/Filter/FunctionField.test.ts
Due: lint, test
