Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

feat: 'group by status.type' names are now more readable (#2045)
  docs/Queries/Grouping.md
  src/Query/Filter/StatusTypeField.ts
  tests/DocumentationSamples/DocsSamplesForStatuses.test.Status_Transitions_status-types.approved.md
  tests/Query/Filter/StatusTypeField.test.ts
  tests/TaskGroups.test.ts
Due: lint, lint-markdown, test

[create-pull-request] automated change
  docs/Getting Started/Statuses/Status Types.md
Due: lint-markdown

docs: Minor updates to status.type and urgency grouping docs
  docs/Getting Started/Statuses/Status Types.md
  docs/Queries/Grouping.md
Due: lint-markdown

test: Make the unusual sort order in urgency more explicit in tests
  tests/Query/Filter/UrgencyField.test.ts
Due: lint, test

comment: Explain an unusual pattern in group names
  src/Query/Filter/PriorityField.ts
  src/Query/Filter/StatusTypeField.ts
Due: lint, test

docs: Divide up task.due examples, so complicated ones are separate
  docs/Queries/Grouping.md
  docs/Scripting/Custom Grouping.md
  tests/Scripting/TaskPropertyExamples.test.custom_grouping_by_task.due.advanced_docs.approved.md
  tests/Scripting/TaskPropertyExamples.test.custom_grouping_by_task.due.advanced_results.approved.txt
  tests/Scripting/TaskPropertyExamples.test.custom_grouping_by_task.due_docs.approved.md
  tests/Scripting/TaskPropertyExamples.test.custom_grouping_by_task.due_results.approved.txt
  tests/Scripting/TaskPropertyExamples.test.ts
Due: lint, lint-markdown, test

docs: Point readers to the custom group examples in Grouping docs.
  docs/Scripting/About Scripting.md
Due: lint-markdown

docs: Fix formatting
  docs/Scripting/About Scripting.md
Due: lint-markdown

Update to version 4.0.0
  docs/Introduction.md
  docs/Queries/Grouping.md
  docs/Scripting/Custom Grouping.md
  docs/Scripting/Expressions.md
  docs/Scripting/Task Properties.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

test: Simplify imports in TestHelpers.ts
  tests/TestHelpers.ts
Due: lint, test

test: Fix warning about import order in TestHelpers.ts
  tests/TestHelpers.ts
Due: lint, test

test: Fix warnings about redundant variables in TestHelpers.ts
  tests/TestHelpers.ts
Due: lint, test

docs: Show two ways of using multiple heading levels for nested tags
  docs/Queries/Grouping.md
  tests/Scripting/TaskPropertyExamples.test.custom_grouping_by_task.tags.advanced_docs.approved.md
  tests/Scripting/TaskPropertyExamples.test.custom_grouping_by_task.tags.advanced_results.approved.txt
  tests/Scripting/TaskPropertyExamples.test.ts
Due: lint, lint-markdown, test

docs: Correct the example used in advanced tag grouping
  docs/Queries/Grouping.md
  tests/Scripting/TaskPropertyExamples.test.custom_grouping_by_task.tags.advanced_docs.approved.md
  tests/Scripting/TaskPropertyExamples.test.custom_grouping_by_task.tags.advanced_results.approved.txt
  tests/Scripting/TaskPropertyExamples.test.ts
Due: lint, lint-markdown, test

test: Add a failing test for issue #2037
  tests/EditTask.test.ts
Due: lint, test

contrib: Add a page 'Getting test vault to Mobile Device'
  contributing/User Support/About User Support.md
  contributing/User Support/Getting test vault to Mobile Device.md
  contributing/Welcome.md
Due: lint-markdown

test: When custom filter toMatchTask() fails, display instruction
  tests/CustomMatchers/CustomMatchersForFilters.ts
Due: lint, test

refactor: Extract FilterOrErrorMessage out to its own file
  src/Query/Filter/BacklinkField.ts
  src/Query/Filter/BooleanField.ts
  src/Query/Filter/DateField.ts
  src/Query/Filter/Field.ts
  src/Query/Filter/Filter.ts
  src/Query/Filter/FilterInstruction.ts
  src/Query/Filter/FilterInstructions.ts
  src/Query/Filter/FilterInstructionsBasedField.ts
  src/Query/Filter/FilterOrErrorMessage.ts
  src/Query/Filter/FunctionField.ts
  src/Query/Filter/PriorityField.ts
  src/Query/Filter/StatusTypeField.ts
  src/Query/Filter/TagsField.ts
  src/Query/Filter/TextField.ts
  src/Query/Filter/UrgencyField.ts
  src/Query/FilterParser.ts
  tests/CustomMatchers/CustomMatchersForFilters.ts
  tests/DocumentationSamples/DocsSamplesForStatuses.test.ts
  tests/Query/Filter/BooleanField.test.ts
  tests/Query/Filter/CreatedDateField.test.ts
  tests/Query/Filter/DescriptionField.test.ts
  tests/Query/Filter/DoneDateField.test.ts
  tests/Query/Filter/DueDateField.test.ts
  tests/Query/Filter/Field.test.ts
  tests/Query/Filter/Filter.test.ts
  tests/Query/Filter/HeadingField.test.ts
  tests/Query/Filter/PathField.test.ts
  tests/Query/Filter/RecurringField.test.ts
  tests/TestingTools/FilterTestHelpers.ts
Due: lint, test

test: fix date for TaskProperities.test
  tests/Scripting/TaskProperties.test.ts
Due: lint, test

test: set date as a string
  tests/Scripting/TaskProperties.test.ts
Due: lint, test

test: set date in TaskProperties.test.ts to fix failing test (#2056)
  tests/Scripting/TaskProperties.test.ts
Due: lint, test

refactor: use TasksDate in EditTask
  src/ui/EditTask.svelte
Due: none

refactor: use TasksDate in EditTask (#2057)
  src/ui/EditTask.svelte
Due: none

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
