Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: - Remove console.log() statements for visualising #3715 behaviour
  src/Renderer/HtmlQueryResultsRenderer.ts
  src/Renderer/QueryRenderer.ts
  src/Renderer/QueryResultsRendererBase.ts
Due: lint, test

Update Custom Task Format.md
  docs/Reference/Task Formats/Custom Task Format.md
Due: lint-markdown

refactor: . Fix import order
  src/TaskSerializer/CustomTaskSerializer.ts
Due: lint, test

test: - Add tests for CustomTaskSerializer, by copying the Dataview serializer tests
  tests/TaskSerializer/CustomTaskSerializer.test.ts
Due: lint, test

refactor: ! extract PriorityEditor component
  src/ui/EditTask.svelte
  src/ui/PriorityEditor.svelte
Due: none

refactor: - add priority parameter
  src/ui/EditTask.svelte
  src/ui/PriorityEditor.svelte
Due: none

refactor: ! use priority parameter
  src/ui/PriorityEditor.svelte
Due: none

refactor: - remove now unused parameter
  src/ui/EditTask.svelte
  src/ui/PriorityEditor.svelte
Due: none

fix: Add '1 day' option to Postpone menu.
  src/ui/Menus/PostponeMenu.ts
  tests/ui/Menus/PostponeMenu.test.ts
Due: lint, test

test: - Fix an error in test data - farFuture was in the past!
  tests/ui/Menus/PostponeMenu.test.ts
Due: lint, test

docs: Fix broken alignment of images in Postponing docs
  docs/Editing/Postponing.md
Due: lint-markdown

docs: Update screenshots for Postpone context menu
  docs/images/postpone-future-task-context-menu.png
  docs/images/postpone-overdue-task-context-menu.png
Due: none

comment: Remove obsolete comment
  src/ui/PriorityEditor.svelte
Due: none

test: - add a test for #3724, which suggests the error is outside the HTML renderer
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_task_count.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.HtmlQueryResultsRenderer_tests_task_count_-_limit_exceeded.approved.html
  tests/Renderer/HtmlQueryResultsRenderer.test.ts
Due: lint, test

test: - Share task lines between tests
  tests/Query/QueryResult.test.ts
Due: lint, test

test: - Add failing test for #3724 - original number of matched tasks lost
  tests/Query/QueryResult.test.ts
Due: lint, test

fix: Ensure that the original task count is preserved if the limit is exceeded.
  src/Query/QueryResult.ts
  tests/Query/QueryResult.test.ts
  tests/Renderer/QueryResultsRenderer.test.QueryResultsRenderer_-_sequences_rerendered_results_retain_the_filter.approved.html
Due: lint, test

refactor: - add failing test for hiding field in modal
  src/Config/Settings.ts
  tests/ui/EditTask.test.ts
Due: lint, test

feat: ! add options modal draft
  src/Obsidian/OptionsModal.ts
  src/Obsidian/TaskModal.ts
  src/ui/EditTask.svelte
  tests/ui/EditTask.test.ts
Due: lint, test

feat: - add Options button
  src/ui/EditTask.scss
  src/ui/EditTask.svelte
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot.approved.html
  tests/ui/EditTask.test.Edit_Modal_HTML_snapshot_tests_should_match_snapshot_-_without_access_keys.approved.html
Due: none

refactor: - enable hiding of due date field
  src/ui/EditTask.svelte
  tests/ui/EditTask.test.ts
Due: lint, test

test: - add snapshot test for the new modal
  tests/ui/ModalOptionsEditor.test.ModalOptionsEditor_snapshot_tests_should_match_snapshot.approved.html
  tests/ui/ModalOptionsEditor.test.ts
Due: lint, test
