Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

test: - improve removal of dependency
  tests/ui/EditInstructions/SetTaskDependenciesInstruction.test.ts
Due: lint, test

Add 'On Completion' docs page and links to it
  docs/Getting Started/About Getting Started.md
  docs/Getting Started/Getting Started.md
  docs/Getting Started/On Completion.md
  docs/Getting Started/Settings.md
Due: lint-markdown

Update 'On Completion' doc with shortened default archive file and log list heading
  docs/Getting Started/On Completion.md
Due: lint-markdown

Ignore developer-specific .gitconfig file
  .gitignore
Due: none

Add 'On Completion' vault-wide defaults to plugin Settings
  src/Config/OnCompletion.ts
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/main.ts
Due: lint, test

Add four (temporary) commands for planned but (yet to be coded) OnCompletion actions
  src/Commands/OnCompletion.ts
  src/Commands/index.ts
Due: lint, test

Updated 'On Completion' doc file
  docs/Getting Started/On Completion.md
Due: lint-markdown

More descriptive code filenames; associated refactoring
  src/Commands/OnCompletionCommands.ts
  src/Commands/index.ts
  src/Config/OnCompletionSettings.ts
  src/Config/SettingsTab.ts
  src/main.ts
Due: lint, test

Finish steps (up to 'Other Code Areas') for adding 'onCompletion' field
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/main.js
  src/Commands/CreateOrEditTaskParser.ts
  src/Layout/TaskLayoutOptions.ts
  src/Renderer/TaskFieldRenderer.ts
  src/Task/Task.ts
  src/TaskSerializer/DataviewTaskSerializer.ts
  src/TaskSerializer/DefaultTaskSerializer.ts
  src/TaskSerializer/index.ts
  tests/CustomMatchers/CustomMatchersForTaskSerializer.ts
  tests/DocumentationSamples/ValidateTasks.test.validate-tasks_find-unread-emojis.approved.text
  tests/Layout/TaskLayout.test.ts
  tests/Layout/TaskLayoutOptions.test.ts
  tests/Query/Query.test.ts
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_full_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.Visualise_HTML_Full_task_-_short_mode.approved.html
  tests/Renderer/TaskLineRenderer.test.ts
  tests/Scripting/TaskProperties.test.task_other_fields.approved.md
  tests/Scripting/TaskProperties.test.ts
  tests/Task/Task.test.ts
  tests/TaskSerializer/DataviewTaskSerializer.test.ts
  tests/TaskSerializer/DefaultTaskSerializer.test.ts
  tests/TaskSerializer/TaskSerializer.test.ts
  tests/TestingTools/TaskBuilder.test.ts
  tests/TestingTools/TaskBuilder.ts
Due: lint, lint-markdown, test

test: - Group together two tests with same start point
  tests/ui/EditInstructions/SetTaskDependenciesInstruction.test.ts
Due: lint, test

test: - Share identical input markdown and allTasks list across tests
  tests/ui/EditInstructions/SetTaskDependenciesInstruction.test.ts
Due: lint, test

test: - Move a test into its own describe block
  tests/ui/EditInstructions/SetTaskDependenciesInstruction.test.ts
Due: lint, test

test: - Move markdown and allTasks out of it() block, for future re-use
  tests/ui/EditInstructions/SetTaskDependenciesInstruction.test.ts
Due: lint, test

test: - Add toMarkdown() helper, to convert list of tasks to text
  tests/TestingTools/TestHelpers.ts
Due: lint, test

test: - Rework test for consistency with others in same file
  tests/ui/EditInstructions/SetTaskDependenciesInstruction.test.ts
Due: lint, test

test: . inline variables
  tests/ui/EditInstructions/SetTaskDependenciesInstruction.test.ts
Due: lint, test

test: - Reformat markdown for readability
  tests/ui/EditInstructions/SetTaskDependenciesInstruction.test.ts
Due: lint, test

test: - Move 2 variables in to the describe block that uses them
  tests/ui/EditInstructions/SetTaskDependenciesInstruction.test.ts
Due: lint, test

test: - Add a new test - failing until implemented
  tests/ui/EditInstructions/SetTaskDependenciesInstruction.test.ts
Due: lint, test

test: - Extract helper function createTasks()
  tests/ui/EditInstructions/SetTaskDependenciesInstruction.test.ts
Due: lint, test

fix: - enable edit task modal to save multiple tasks
  src/Obsidian/File.ts
Due: lint, test

fix: - enable edit task modal to save multiple tasks (#2653)
  src/Obsidian/File.ts
Due: lint, test

docs: Note that urgency is not aware of dependencies.
  docs/Advanced/Urgency.md
  docs/Getting Started/Task Dependencies.md
  docs/Support and Help/Known Limitations.md
Due: lint-markdown

vault: Add demo of #2654 - recurring tasks with dependencies
  resources/sample_vaults/Tasks-Demo/Manual Testing/Dependencies Samples - Recurring Tasks.md
Due: lint-markdown
