Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Add 'custom filtering' docs to Filters page.
  docs/Queries/Filters.md
Due: lint-markdown

docs: Add example for 'filter by function' with 'task.description'
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.description_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.description_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Add example for 'filter by function' with 'task.due'
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.due_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.due_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Add advanced examples for 'filter by function' with 'task.due'
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.due.advanced_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.due.advanced_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Add examples for 'filter by function' for remaining date properties
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.created_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.created_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.done_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.done_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.happens_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.happens_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.scheduled_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.scheduled_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.start_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.start_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Improve wording for day-of-the-week filter examples
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.created_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.created_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.done_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.done_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.due_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.due_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.happens_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.happens_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.scheduled_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.scheduled_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.start_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.dates_task.start_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Add examples for 'filter by function' for task.tags.
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.tags.advanced_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.tags.advanced_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.tags_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.tags_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Add examples for 'filter by function' for task.priorityName and task.priorityNumber.
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.priorityName_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.priorityName_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.priorityNumber_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.priorityNumber_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

test: Add fromLines() to TestHelpers.ts
  tests/TestHelpers.ts
Due: lint, test

test: withAllStatuses() now gives the tasks descriptive names
  tests/TestHelpers.ts
Due: lint, test

docs: Add task.status.name, task.status.symbol & task.status.nextSymbol examples
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.name_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.name_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.nextSymbol_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.nextSymbol_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.symbol_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.symbol_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Add examples for 'filter by function' for task.status.type.
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.type_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.type_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Fix minor types in Filters.md
  docs/Queries/Filters.md
Due: lint-markdown

docs: Remove 'DON'T PANIC!' from Filters.md
  docs/Queries/Filters.md
Due: lint-markdown

docs: Add 'TODO' placeholders for missing 'filter by function' examples
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.filename_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.folder_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.path_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.root_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.heading_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.blockLink_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.descriptionWithoutTags_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.isDone_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.isRecurring_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.originalMarkdown_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.recurrenceRule_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.urgency_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Add examples for 'filter by function' for task.file.path.
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.path_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.path_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

test: Force link-breaks on all incomplete tests.
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, test

docs: Add examples for 'filter by function' for task.file.root.
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.root_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.root_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: How to create groups Overdue, Today, Future & Undated
  docs/Queries/Grouping.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
Due: lint, lint-markdown, test

docs: How to create highlighted groups Overdue, Today, Future & Undated
  docs/Queries/Grouping.md
  docs/images/tasks_custom_groups_categorise_dates.png
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
Due: lint, lint-markdown, test

docs: How to create groups Overdue, Today, Future & Undated (#2110)
  docs/Queries/Grouping.md
  docs/images/tasks_custom_groups_categorise_dates.png
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.dates_task.due.advanced_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
Due: lint, lint-markdown, test

docs: Add examples for 'filter by function' for task.urgency.
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.urgency_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.urgency_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

test: allPathsAndHeadings() now adds filename to description
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.root_results.approved.txt
  tests/TestHelpers.ts
Due: lint, test

test: Failing toBeValid() calls now show the instruction
  tests/CustomMatchers/CustomMatchersForFilters.ts
Due: lint, test

test: Check filter validity in verifyFunctionFieldFilterSamplesOnTasks()
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, test

docs: Add examples for 'filter by function' for task.file.filename.
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.filename_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.filename_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Add examples for 'filter by function' for task.file.folder.
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.folder_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.folder_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.root_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

test: Reduce some repetition
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.filename_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.folder_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.path_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.root_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, test

docs: Add examples for 'filter by function' for task.isRecurring.
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.isRecurring_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.isRecurring_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Add examples for 'filter by function' for task.recurrenceRule.
  docs/Queries/Filters.md
  docs/Scripting/Task Properties.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.recurrenceRule_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.recurrenceRule_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Add examples for 'filter by function' for task.isDone.
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.isDone_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.isDone_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Improve examples for 'filter by function' for task.urgency.
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.urgency_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.urgency_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

vault: Add 'Custom Filters - Demo.md' - for testing custom heading filters
  resources/sample_vaults/Tasks-Demo/Functions/Custom Filters - Demo.md
Due: lint-markdown

docs: Add examples for 'filter by function' for task.heading.
  docs/Queries/Filters.md
  docs/images/search-headings-for-date-and-tag.png
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.file.root_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.heading_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.file_properties_task.heading_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Remove some TODOs from 'Filters.md'.
  docs/Queries/Filters.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.blockLink_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.descriptionWithoutTags_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.other_properties_task.originalMarkdown_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Finish 'Custom Filters.md'
  docs/Scripting/Custom Filters.md
  docs/Scripting/Custom Grouping.md
Due: lint-markdown

docs: More polish on the docs for custom filters
  docs/Queries/Filters.md
  docs/Scripting/About Scripting.md
  docs/Scripting/Expressions.md
  docs/Scripting/Task Properties.md
Due: lint-markdown
