Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

test: - Update DOM snapshots for current code - toolbar is added
  tests/RenderedDOM/SnapshotDOM.test.DOM_snapshots_callout.approved.html
  tests/RenderedDOM/SnapshotDOM.test.DOM_snapshots_callout_custom.approved.html
  tests/RenderedDOM/SnapshotDOM.test.DOM_snapshots_callout_labelled.approved.html
  tests/RenderedDOM/SnapshotDOM.test.DOM_snapshots_callouts_nested_issue_2890_labelled.approved.html
  tests/RenderedDOM/SnapshotDOM.test.DOM_snapshots_callouts_nested_issue_2890_unlabelled.approved.html
  tests/RenderedDOM/SnapshotDOM.test.DOM_snapshots_corrupt_rerender_issue_3715_search.approved.html
  tests/RenderedDOM/SnapshotDOM.test.DOM_snapshots_docs_sample_for_explain_query_file_defaults.approved.html
  tests/RenderedDOM/SnapshotDOM.test.DOM_snapshots_inheritance_non_task_child.approved.html
  tests/RenderedDOM/SnapshotDOM.test.DOM_snapshots_non_tasks.approved.html
  tests/RenderedDOM/SnapshotDOM.test.DOM_snapshots_numbered_tasks_issue_3481_searches.approved.html
  tests/RenderedDOM/SnapshotDOM.test.DOM_snapshots_query_using_properties.approved.html
  tests/RenderedDOM/SnapshotDOM.test.DOM_snapshots_zero_width.approved.html
Due: none

test: - Add sleep to test, after I had one flickering failure
  tests/RenderedDOM/SnapshotDOM.test.ts
Due: lint, test

test: - Save updated output from flickering tests
  tests/RenderedDOM/SnapshotDOM.test.DOM_snapshots_internal_heading_links.approved.html
  tests/RenderedDOM/SnapshotDOM.test.DOM_snapshots_link_in_task_markdown_link.approved.html
  tests/RenderedDOM/SnapshotDOM.test.DOM_snapshots_numbered_tasks_issue_3481_searches.approved.html
Due: none

test: add failing tests for TasksFile.isIgnored()
  tests/Scripting/TasksFile.test.ts
Due: lint, test

feat: implement TasksFile.isIgnored() for TQ_ignore_this_file property
  src/Scripting/TasksFile.ts
  tests/Scripting/TasksFile.test.ts
Due: lint, test

test: add failing test for FileParser ignoring tasks in ignored files
  tests/Obsidian/FileParser.test.ts
Due: lint, test

feat: FileParser returns no tasks for ignored files
  src/Obsidian/FileParser.ts
  tests/Obsidian/FileParser.test.ts
Due: lint, test

feat: autocomplete disabled for ignored files
  src/Suggestor/EditorSuggestorPopup.ts
Due: lint, test

feat: LivePreview checkbox clicks are plain in ignored files
  src/Obsidian/LivePreviewExtension.ts
Due: lint, test

docs: Reformat docs for 'sort by status.type'
  docs/Queries/Sorting.md
Due: lint-markdown

docs: Add ON_HOLD to filter, sort and group docs
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Queries/Sorting.md
Due: lint-markdown

docs: Add a link to the Status Types docs
  docs/Queries/Filters.md
Due: lint-markdown

test: - Add ON_HOLD to a documentation example
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.type_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.statuses_task.status.type_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

docs: Add ON_HOLD to a 'filter by function' example
  docs/Queries/Filters.md
Due: lint-markdown

docs: ON_HOLD can block, like TODO and IN_PROGRESS
  docs/Queries/Filters.md
Due: lint-markdown

docs: Add more general advise on ON_HOLD status type
  docs/Getting Started/Statuses/Status Types.md
Due: lint-markdown

docs: Add another missing reference to ON_HOLD
  docs/Getting Started/Statuses.md
Due: lint-markdown

Update to version 7.23.0
  docs/Editing/Create or edit Task.md
  docs/Getting Started/Statuses/Status Types.md
  docs/Queries/Layout.md
  docs/Queries/Presets.md
  docs/What is New/Changelog.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

test: - Add failing test for #3774
  tests/Query/QueryResult.test.ts
Due: lint, test

refactor: - Add unused field QueryResult._tasksFile
  src/Query/QueryResult.ts
Due: lint, test

refactor: . Add new (unused) OptionalTasksFile param to QueryResult constructor
  src/Query/Query.ts
  src/Query/QueryResult.ts
  tests/Query/QueryResult.test.ts
Due: lint, test

refactor: - Remove unnecessary default value
  src/Query/QueryResult.ts
Due: lint, test

fix: query.file.property() works again for users (#3774)
  src/Query/Query.ts
  src/Query/QueryResult.ts
  tests/Query/QueryResult.test.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
