Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Update list of available query placeholders
  docs/How To/How to get tasks in current file.md
Due: lint-markdown

test: . Extract function verifyFieldDataFromTasksForReferenceDocs()
  tests/Scripting/TaskProperties.test.ts
Due: lint, test

test: Add another task and more meaningful tags
  resources/sample_vaults/Tasks-Demo/Test Data/docs_sample_for_task_properties_reference.md
  tests/Obsidian/__test_data__/docs_sample_for_task_properties_reference.ts
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.obsidian_properties_task.file.frontmatter_results.approved.txt
Due: lint, lint-markdown, test

test: - Add failing test showing problem accessing tag lists via TasksFile
  tests/Scripting/TasksFile.test.ts
Due: lint, test

docs: Show use of `task.file.hasProperty` & `task.file.property`
  docs/Scripting/Task Properties.md
Due: lint-markdown

fix: Allow TasksFile.tags() to be called on TasksFile without CachedMetadata
  src/Scripting/TasksFile.ts
  tests/Scripting/TasksFile.test.ts
  tests/ui/EditableTask.test.ts
Due: lint, test

test: Add some frontmatter/properties values to TaskProperties.test.ts
  resources/sample_vaults/Tasks-Demo/.obsidian/types.json
  resources/sample_vaults/Tasks-Demo/Test Data/docs_sample_for_task_properties_reference.md
  tests/Obsidian/AllCacheSampleData.ts
  tests/Obsidian/__test_data__/docs_sample_for_task_properties_reference.ts
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.obsidian_properties_task.file.frontmatter_results.approved.txt
  tests/Scripting/TaskProperties.test.task_file_properties_temp.approved.md
  tests/Scripting/TaskProperties.test.ts
Due: lint, lint-markdown, test

test: Demo task.file.frontmatter.tags & task.file.tags
  tests/Scripting/TaskProperties.test.task_file_properties_temp.approved.md
  tests/Scripting/TaskProperties.test.ts
Due: lint, lint-markdown, test

test: - Remove some repetition in a 'group by function' example
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.obsidian_properties_task.file.frontmatter_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.obsidian_properties_task.file.frontmatter_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
Due: lint, lint-markdown, test

test: - Remove use of task.file.property from snippet for docs
  tests/Scripting/TaskProperties.test.task_file_properties_temp.approved.md
  tests/Scripting/TaskProperties.test.ts
Due: lint, lint-markdown, test

docs: Show use of temporary values`task.file.frontmatter.tags` & `task.file.tags`
  docs/Scripting/Task Properties.md
Due: lint-markdown

test: - Update CustomGroupingExamples.test.ts examples
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.obsidian_properties_task.file.frontmatter_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.obsidian_properties_task.file.frontmatter_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
Due: lint, lint-markdown, test

test: - Update CustomFilteringExamples.test.ts examples
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.obsidian_properties_task.file.frontmatter_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.obsidian_properties_task.file.frontmatter_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

test: - Remove some docs examples that are no longer useful.
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.obsidian_properties_task.file.frontmatter_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.obsidian_properties_task.file.frontmatter_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

test: - Make 'kanban-plugin' filter work with all Kanban views
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.obsidian_properties_task.file.frontmatter_docs.approved.md
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.obsidian_properties_task.file.frontmatter_results.approved.txt
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
Due: lint, lint-markdown, test

test: - Use continuation lines in 'group by function' example
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.obsidian_properties_task.file.frontmatter_docs.approved.md
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.obsidian_properties_task.file.frontmatter_results.approved.txt
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
Due: lint, lint-markdown, test

test: - Add an example multi-line string property
  resources/sample_vaults/Tasks-Demo/.obsidian/types.json
  resources/sample_vaults/Tasks-Demo/Test Data/docs_sample_for_task_properties_reference.md
  tests/Obsidian/__test_data__/docs_sample_for_task_properties_reference.ts
  tests/Scripting/ScriptingTestHelpers.ts
  tests/Scripting/TaskProperties.test.task_file_properties_temp.approved.md
  tests/Scripting/TaskProperties.test.ts
Due: lint, lint-markdown, test

docs: Update snippet in Task Properties.md
  docs/Scripting/Task Properties.md
Due: lint-markdown

docs: Work-in-progress commit of 'Obsidian Properties.md'
  docs/Getting Started/About Getting Started.md
  docs/Getting Started/Obsidian Properties.md
Due: lint-markdown

docs: Add properties search to What's New
  docs/What is New?/Changelog.md
Due: lint-markdown

docs: remove some unhelpful snippets from Obsidian Properties.md
  docs/Getting Started/Obsidian Properties.md
Due: lint-markdown

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
