Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

Update to version 1.9.0
  manifest.json
  package.json
  versions.json
Due: none

fix: Render markdown in group headings correctly
  src/QueryRenderer.ts
Due: lint, test

fix: Send correct path to MarkdownRenderer.renderMarkdown()
  src/QueryRenderer.ts
Due: lint, test

fix: Pass component to MarkdownRenderer.renderMarkdown()
  src/QueryRenderer.ts
Due: lint, test

Moved the logic of global filter removal into the Task class and covered it with tests
  src/Task.ts
  src/ui/EditTask.svelte
  tests/Task.test.ts
Due: lint, test

Tiny CR fix
  tests/Task.test.ts
Due: lint, test

refactor: Moved the logic of removing the global filter in Task and covered it with tests (#912)
  src/Task.ts
  src/ui/EditTask.svelte
  tests/Task.test.ts
Due: lint, test

Seperate the tree in a separate file and add tests to it
  src/Query/GroupingTreeNode.ts
  src/Query/IntermediateTaskGroups.ts
  tests/GroupingTreeNode.test.ts
  tests/Query.test.ts
Due: lint, test

Fix task count and add a test for matching multiple tags
  src/Query/TaskGroups.ts
  tests/Group.test.ts
Due: lint, test

Update docs to mention tag filtering
  docs/queries/grouping.md
Due: lint-markdown

Some minor code cleanups
  src/Query/TaskGroups.ts
  tests/GroupingTreeNode.test.ts
Due: lint, test

Add support for grouping by tags (#893)
  docs/queries/grouping.md
  src/Query.ts
  src/Query/Group.ts
  src/Query/GroupingTreeNode.ts
  src/Query/IntermediateTaskGroups.ts
  src/Query/TaskGroups.ts
  tests/Group.test.ts
  tests/GroupingTreeNode.test.ts
  tests/Query.test.ts
Due: lint, lint-markdown, test

docs: Add 'group by tags' to Quick Reference page
  docs/quick-reference/index.md
Due: lint-markdown

docs: Note that 'group by tags' was introduced in Tasks 1.10.0
  docs/queries/grouping.md
Due: lint-markdown

docs: Add 'group by tags' to Quick Ref docs (#915)
  docs/queries/grouping.md
  docs/quick-reference/index.md
Due: lint-markdown

Update to version 1.10.0
  manifest.json
  package.json
  versions.json
Due: none

feat: 'group by recurrence', 'group by recurring'
  src/Query.ts
  src/Query/Group.ts
  tests/Group.test.ts
  tests/Query.test.ts
Due: lint, test

docs: Document group by recurrence and recurring
  docs/queries/grouping.md
  docs/quick-reference/index.md
Due: lint-markdown

feat: Add 'group by recurrence' & 'group by recurring' (#917)
  docs/queries/grouping.md
  docs/quick-reference/index.md
  src/Query.ts
  src/Query/Group.ts
  tests/Group.test.ts
  tests/Query.test.ts
Due: lint, lint-markdown, test

feat: Add 'group by priority'
  src/Query.ts
  src/Query/Group.ts
  tests/Group.test.ts
  tests/Query.test.ts
Due: lint, test

feat: Include descriptive name in priority group headings
  src/Query/Group.ts
  src/Task.ts
  tests/Group.test.ts
Due: lint, test

refactor: Less clever code in Group.groupByPriority()
  src/Query/Group.ts
  src/Task.ts
Due: lint, test

docs: Document 'group by priority'
  docs/queries/grouping.md
  docs/quick-reference/index.md
Due: lint-markdown

feat: Add 'group by priority' (#919)
  docs/queries/grouping.md
  docs/quick-reference/index.md
  src/Query.ts
  src/Query/Group.ts
  tests/Group.test.ts
  tests/Query.test.ts
Due: lint, lint-markdown, test

feat: Add HappensDateField.earliestDate()
  src/Query/Filter/HappensDateField.ts
  tests/Query/Filter/HappensDateField.test.ts
Due: lint, test

test: Add helper function checkEarliestHappensDate()
  tests/Query/Filter/HappensDateField.test.ts
Due: lint, test

test: Inline 2 variables, for readability
  tests/Query/Filter/HappensDateField.test.ts
Due: lint, test

test: Simplify remaining earliestDate() tests
  tests/Query/Filter/HappensDateField.test.ts
Due: lint, test

feat: 'group by happens'
  src/Query.ts
  src/Query/Group.ts
  tests/Group.test.ts
  tests/Query.test.ts
Due: lint, test

docs: Divide up the list of task properties for grouping
  docs/queries/grouping.md
Due: lint-markdown

docs: Add docs for 'group by happens'.
  docs/queries/grouping.md
  docs/quick-reference/index.md
Due: lint-markdown

test: Fix typo in test name
  tests/Query/Filter/HappensDateField.test.ts
Due: lint, test

Added support for subtags on the global filter
  src/Commands/CreateOrEdit.ts
  src/Task.ts
  src/ui/EditTask.svelte
  tests/Query.test.ts
  tests/TestingTools/TaskBuilder.ts
Due: lint, test
