Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

chore: Add a new Issue form, 'Internal Issue'.
  .github/ISSUE_TEMPLATE/internal-issue.yaml
Due: none

chore: Add a new Issue form, 'Internal Issue'. (#1181)
  .github/ISSUE_TEMPLATE/internal-issue.yaml
Due: none

Add checkbox to disable forwardDate in Task editor
  src/ui/EditTask.svelte
  styles.css
Due: none

Add documentation
  docs/getting-started/create-or-edit-task.md
Due: lint-markdown

Increase left margin only for checkbox labels
  styles.css
Due: none

Consistently use unquoted attributes in CSS
  styles.css
Due: none

test: Test manipulate of tags fom the file cache
  src/CacheHelpers.ts
  tests/CacheHelpers.test.ts
Due: lint, test

test: Allow for undefined tag cache
  src/CacheHelpers.ts
  tests/CacheHelpers.test.ts
Due: lint, test

chore: Experiment with getting task tags from obsidian cache
  src/Cache.ts
Due: lint, test

test: Reduce the volume of test data in CacheHelpers.test.ts
  tests/CacheHelpers.test.ts
Due: lint, test

test: Extract method getSampleMetadataTagCacheData()
  tests/CacheHelpers.test.ts
Due: lint, test

test: Move getSampleMetadataTagCacheData() to SampleData/SampleMetadataTagCacheData.ts
  tests/CacheHelpers.test.ts
  tests/SampleData/SampleMetadataTagCacheData.ts
Due: lint, test

test: Inline a return variable
  tests/SampleData/SampleMetadataTagCacheData.ts
Due: lint, test

jsdoc: Document functions in CacheHelpers.ts
  src/CacheHelpers.ts
Due: lint, test

test: Better names for tests
  tests/CacheHelpers.test.ts
Due: lint, test

test: Test some error cases
  tests/CacheHelpers.test.ts
Due: lint, test

comments: Note existence of Obsidian's getAllTags()
  src/CacheHelpers.ts
Due: lint, test

ui: Rename 'Force future dates' to match the new docs
  src/ui/EditTask.svelte
Due: none

feat: Add checkbox to disable forwardDate in Task editor (#1183)
  docs/getting-started/create-or-edit-task.md
  src/ui/EditTask.svelte
  styles.css
Due: lint-markdown

ui: Add dividers between date groups in Create or Edit Task
  src/ui/EditTask.svelte
Due: none

docs: Update 'Create or edit Task modal' screenshot
  resources/screenshots/modal.png
Due: none

ui: Add dividers between date groups in Create or Edit Task (#1188)
  src/ui/EditTask.svelte
Due: none

docs: Update 'Create or edit Task modal' screenshot (#1189)
  resources/screenshots/modal.png
Due: none

chore: verify.yml Action now creates a download of the Tasks-Demo vault
  .github/workflows/verify.yml
Due: none

chore: verify.yml Add built plugin to Tasks-Demo download
  .github/workflows/verify.yml
  copy-build-to-sample-vault.sh
Due: none

chore: Give Tasks-Demo download from verify build a unique name
  .github/workflows/verify.yml
Due: none

chore: Give Tasks-Demo download from verify build a meaningful name
  .github/workflows/verify.yml
Due: none

chore: Distinguish between Tasks-Demo builds from different forks
  .github/workflows/verify.yml
Due: none

chore: Distinguish between Tasks-Demo builds from different forks - v2
  .github/workflows/verify.yml
Due: none

chore: Distinguish between Tasks-Demo builds from different forks - v3
  .github/workflows/verify.yml
Due: none

chore: Give up trying to get account name in the vault download file
  .github/workflows/verify.yml
Due: none

chore: Move new shell name and location match the powershell equivalent
  .github/workflows/verify.yml
  copy-build-to-sample-vault.sh
  scripts/Test-TasksInLocalObsidian.sh
Due: none

chore: Add download of Tasks-Demo vault to Verify Commit CI build (#1193)
  .github/workflows/verify.yml
  scripts/Test-TasksInLocalObsidian.sh
Due: none

chore: Add whitespace to release.yml for readability
  .github/workflows/release.yml
Due: none

chore: make releases draft by default, to allow time for release notes
  .github/workflows/release.yml
Due: none

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
