Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Fix table marker alignment
  docs/Queries/Layout.md
Due: lint-markdown

docs: Document 'show group count' and 'hide group count'
  docs/Queries/Grouping.md
  docs/Queries/Layout.md
  docs/Quick Reference.md
  docs/What is New/Changelog.md
Due: lint-markdown

docs: Add 'tasks-group-count' class to Styling
  docs/Advanced/Styling.md
Due: lint-markdown

jsdoc: Remove stray line
  src/Renderer/QueryResultsRendererBase.ts
Due: lint, test

test: - Extract some variables, in preparation for removing duplicated code
  tests/Renderer/QueryResultsRenderer.test.ts
Due: lint, test

test: . Extract makeHeadingAndCountHtml() helper, to remove repetition
  tests/Renderer/QueryResultsRenderer.test.ts
Due: lint, test

test: . Inline variables which were only used to aid extracting a helper function
  tests/Renderer/QueryResultsRenderer.test.ts
Due: lint, test

test: . Reuse makeHeadingAndCountHtml() helper, to remove repetition
  tests/Renderer/QueryResultsRenderer.test.ts
Due: lint, test

test: . Inline some variables to make expectations easier to understand
  tests/Renderer/QueryResultsRenderer.test.ts
Due: lint, test

test: . Remove now-untrue comment
  tests/Renderer/HtmlQueryResultsRenderer.test.ts
Due: lint, test

deps: Bump obsidian API to 1.13.1
  package.json
  yarn.lock
Due: none

i18n: Sentence-case settings text and add keys for the new settings UI
  src/i18n/locales/be.json
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/ko.json
  src/i18n/locales/pt_br.json
  src/i18n/locales/ru.json
  src/i18n/locales/tr.json
  src/i18n/locales/uk.json
  src/i18n/locales/vi.json
  src/i18n/locales/zh_cn.json
  tests/Statuses/StatusRegistryReport.test.StatusRegistryReport_should_create_a_report.approved.md
  tests/Statuses/StatusRegistryReport.test.ts
Due: lint, lint-markdown, test

feat: Adopt the declarative settings API (getSettingDefinitions)
  src/Config/SettingsTab.ts
Due: lint, test

feat: Add GlobalQueryModal for editing the Global query
  src/Config/GlobalQueryModal.ts
  src/Config/SettingsTab.scss
Due: lint, test

feat: Add declarative setting definitions for Presets
  src/Config/PresetsSettingsUI.ts
Due: lint, test

refactor: Modernize the CustomStatusModal chrome
  src/Config/CustomStatusModal.ts
Due: lint, test

fix(i18n): translate 'callout' to 'destacado' in es notices
  src/i18n/locales/es.json
Due: none

refactor: Avoid 4 levels of nesting to make linter happy
  src/Config/PresetsSettingsUI.ts
  src/Config/SettingsTab.ts
Due: lint, test

docs: Update Changelog for #3936
  docs/What is New/Changelog.md
Due: lint-markdown

fix(presets): hide_everything preset now hides the task count (issue #3899)
  src/Query/Presets/Presets.ts
  tests/Query/Presets/DocsForPresets.test.default-presets.approved.md
  tests/Query/Presets/Presets.test.ts
Due: lint, lint-markdown, test

fix(presets): add 'hide task count' to hide_query_elements preset (issue #3899)
  docs/Queries/Presets.md
  docs/What is New/Changelog.md
  src/Query/Presets/Presets.ts
  tests/Query/Presets/DocsForPresets.test.default-presets.approved.md
  tests/Query/Presets/DocsForPresets.test.presets_help_message.approved.md
  tests/Query/Presets/Presets.test.ts
Due: lint, lint-markdown, test

refactor: ! Replace string-based instruction creation with safer logic
  src/Renderer/HtmlColumnQueryResultsRenderer.ts
Due: lint, test

chore: Update circular-deps.txt output for current code. Now 22 circular deps.
  circular-deps.txt
Due: none

chore: Make eslint ignore all files in scripts directory.
  eslint.config.mjs
Due: none

chore: Replace direct call to madge with circular-deps-text.mjs for stable output.
  package.json
  scripts/circular-deps-text.mjs
Due: none

chore: Update circular-deps.txt output to the new, stable format.
  circular-deps.txt
Due: none

chore: Add descriptive prefix to circular-deps.txt
  circular-deps.txt
  scripts/circular-deps-text.mjs
Due: none

chore: Make github action attempt to display changes in circular dependencies
  .github/workflows/verify.yml
Due: none

feat: ! Support drag-and-drop between date columns, where dates are valid.
  src/Renderer/HtmlColumnQueryResultsRenderer.ts
Due: lint, test

test: - fix failing test - output gets truncated by the formatting
  tests/Query/Presets/DocsForPresets.test.presets_help_message.approved.md
Due: lint-markdown

docs: Update embedded markdown snippets
  docs/Queries/Presets.md
Due: lint-markdown

docs: Update changelog for consistency with earlier hide_query_elements change
  docs/What is New/Changelog.md
Due: lint-markdown

jsdoc: Shorten comment
  src/Renderer/HtmlColumnQueryResultsRenderer.ts
Due: lint, test

vault: Ensure consistency of grouping between the two views
  resources/sample_vaults/Tasks-Demo/Manual Testing/Manually testing views.md
Due: lint-markdown

vault: Add headings, and put columns view at top of test file
  resources/sample_vaults/Tasks-Demo/Manual Testing/Manually testing views.md
Due: lint-markdown

comment: Add some TODOs after exploratory testing
  src/Renderer/HtmlColumnQueryResultsRenderer.scss
  src/Renderer/HtmlColumnQueryResultsRenderer.ts
Due: lint, test

refactor: - Add createEditingInstructionForPriorityGroups()
  src/ui/EditInstructions/PriorityInstructions.ts
  tests/ui/EditInstructions/PriorityInstructions.test.ts
Due: lint, test

refactor: - Reuse createEditingInstructionForPriorityGroups()
  src/Renderer/HtmlColumnQueryResultsRenderer.ts
Due: lint, test

refactor: - Add createEditingInstructionForDateGroups()
  src/ui/EditInstructions/DateInstructions.ts
  tests/ui/EditInstructions/DateInstructions.test.ts
Due: lint, test

test: . extract taskWithInstructionApplied()
  tests/ui/EditInstructions/DateInstructions.test.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
