Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

refactor: ! Split string
  src/Config/SettingsTab.ts
Due: lint, test

refactor: ! Remove unnecessary templating
  src/Config/SettingsTab.ts
Due: lint, test

feat: Settings inform that queries are updated when presets edited
  src/Config/SettingsTab.ts
  src/i18n/locales/be.json
  src/i18n/locales/de.json
  src/i18n/locales/en.json
  src/i18n/locales/ru.json
  src/i18n/locales/uk.json
  src/i18n/locales/zh_cn.json
Due: lint, test

vault: Enable core "daily-notes" plugin
  resources/sample_vaults/Tasks-Demo/.obsidian/core-plugins.json
Due: none

vault: Configure template for core "daily-notes" plugin
  resources/sample_vaults/Tasks-Demo/.obsidian/daily-notes.json
Due: none

vault: Install "Calendar" community plugin
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/calendar/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/calendar/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/calendar/manifest.json
Due: none

vault: Enable "Calendar" community plugin
  resources/sample_vaults/Tasks-Demo/.obsidian/community-plugins.json
Due: none

vault: Configure Templater plugin to create daily note files
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/templater-obsidian/data.json
Due: none

vault: Add example Presets for Daily notes files
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/data.json
Due: none

vault: Update daily note template to use example presets
  resources/sample_vaults/Tasks-Demo/_meta/templates/daily note template - Templater plugin.md
Due: lint-markdown

vault: Add some sample daily note files. 2025-06-19.md has some tasks
  resources/sample_vaults/Tasks-Demo/Daily Notes/2025-06-17.md
  resources/sample_vaults/Tasks-Demo/Daily Notes/2025-06-18.md
  resources/sample_vaults/Tasks-Demo/Daily Notes/2025-06-19.md
  resources/sample_vaults/Tasks-Demo/Daily Notes/2025-06-20.md
Due: lint-markdown

tests: . Extract helper function verifyPresetsMarkdownTable()
  tests/Query/Presets/DocsForPresets.test.ts
Due: lint, test

tests: - Build markdown file showing example Presets for daily notes
  tests/Query/Presets/DocsForPresets.test.daily-note-presets.approved.md
  tests/Query/Presets/DocsForPresets.test.ts
Due: lint, lint-markdown, test

vault: Update daily notes presets to match those to be added in docs
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/data.json
  resources/sample_vaults/Tasks-Demo/Daily Notes/2025-06-17.md
  resources/sample_vaults/Tasks-Demo/Daily Notes/2025-06-18.md
  resources/sample_vaults/Tasks-Demo/Daily Notes/2025-06-19.md
  resources/sample_vaults/Tasks-Demo/Daily Notes/2025-06-20.md
  resources/sample_vaults/Tasks-Demo/_meta/templates/daily note template - Templater plugin.md
Due: lint-markdown

docs: First draft of Presets docs
  docs/Queries/Presets.md
Due: lint-markdown

docs: Document placeholder version of presets
  docs/Queries/Presets.md
Due: lint-markdown

docs: Add link to Presets page in Scripting docs
  docs/Scripting/About Scripting.md
Due: lint-markdown

test: - Update Presets example - more readable on narrow screens
  tests/Query/Presets/DocsForPresets.test.daily-note-presets.approved.md
  tests/Query/Presets/DocsForPresets.test.ts
Due: lint, lint-markdown, test

docs: Show the full set of default presets
  docs/Queries/Presets.md
Due: lint-markdown

docs: Review and clarify Presets.md
  docs/Queries/Presets.md
Due: lint-markdown

docs: Fix punctuation in Presets.md
  docs/Queries/Presets.md
Due: lint-markdown
