Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: More polish on the docs for custom filters
  docs/Queries/Filters.md
  docs/Scripting/About Scripting.md
  docs/Scripting/Expressions.md
  docs/Scripting/Task Properties.md
Due: lint-markdown

docs: Update 'What's New? section in docs
  docs/Introduction.md
Due: lint-markdown

Update to version 4.2.0
  docs/Introduction.md
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Scripting/Custom Filters.md
  docs/Scripting/Expressions.md
  manifest.json
  package.json
  versions.json
Due: lint-markdown

docs: Simulate a horizontal rule before each level-2 heading
  docs/.obsidian/snippets/publish-simulation.css
  docs/publish.css
Due: none

contrib: Simulate a horizontal rule before each level-2 heading
  contributing/.obsidian/snippets/publish-simulation.css
  contributing/publish.css
Due: none

docs: Remove HRs before level-2 headings
  docs/Advanced/Notifications.md
  docs/Advanced/Styling.md
  docs/Getting Started/Dates.md
  docs/Getting Started/Recurring Tasks.md
  docs/Getting Started/Statuses.md
  docs/How To/Set up custom statuses.md
  docs/Introduction.md
  docs/Other Plugins/Dataview.md
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Queries/Layout.md
  docs/Queries/Sorting.md
  docs/Reference/Task Formats/Dataview Format.md
  docs/Scripting/Task Properties.md
  docs/Support and Help/Report a Bug.md
  docs/migration.md
Due: lint-markdown

docs: Fix incorrect 'not scheduled' instruction - fixes #2116
  docs/Queries/Examples.md
Due: lint-markdown

test: Move VerifyFunctionFieldSamples.ts closer to where it's used
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
  tests/Scripting/ScriptingReference/VerifyFunctionFieldSamples.ts
Due: lint, test

test: Move some types to VerifyFunctionFieldSamples.ts
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
  tests/Scripting/ScriptingReference/VerifyFunctionFieldSamples.ts
Due: lint, test

test: Generalise a type name that is also used for filtering
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
  tests/Scripting/ScriptingReference/CustomGrouping/CustomGroupingExamples.test.ts
  tests/Scripting/ScriptingReference/VerifyFunctionFieldSamples.ts
Due: lint, test

test: Move two test helpers to VerifyFunctionFieldSamples.ts
  tests/Scripting/ScriptingReference/CustomFiltering/CustomFilteringExamples.test.ts
  tests/Scripting/ScriptingReference/VerifyFunctionFieldSamples.ts
Due: lint, test

test: extract function formatQueryAndResultsForApproving()
  tests/Scripting/ScriptingReference/VerifyFunctionFieldSamples.ts
Due: lint, test

test: extract function formatQueryAndCommentsForDocs()
  tests/Scripting/ScriptingReference/VerifyFunctionFieldSamples.ts
Due: lint, test

docs: Standardise punctuation in custom filter and group examples
  docs/Queries/Filters.md
  docs/Queries/Grouping.md
  docs/Scripting/Custom Filters.md
  docs/Scripting/Custom Grouping.md
Due: lint-markdown

chore: Fix error message from newer svelte dependencies.
  src/ui/EditTask.svelte
Due: none

chore: Fix error message from newer svelte dependencies. (#2119)
  src/ui/EditTask.svelte
Due: none

refactor: WebStorm warned exception would report 'Object object'
  src/Query/Filter/BooleanField.ts
Due: lint, test

test: Add failing test that we have a sample for every filter
  src/Query/FilterParser.ts
  tests/Query.test.ts
Due: lint, test

test: Add missing sample filter lines in Query.test.ts
  tests/Query.test.ts
Due: lint, test

test: Test that sample filter lines in Query.test.ts really are sorted
  tests/Query.test.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
