Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

contrib: Add links to source files in Status changes page
  contributing/Code/How does Tasks handle status changes.md
Due: lint-markdown

fix: Grid display bug on mobile widths
  src/ui/EditTask.svelte
  styles.css
Due: none

Migrate wording from waiting on to blocked by
  src/ui/EditTask.svelte
Due: none

fix: small visual glitches
  src/ui/EditTask.svelte
  styles.css
Due: none

build(deps-dev): bump svelte, svelte-check and svelte-preprocess
  yarn.lock
Due: none

build(deps-dev): bump svelte, svelte-check and svelte-preprocess (#2421)
  yarn.lock
Due: none

build(deps-dev): Various eslint dependencies
  yarn.lock
Due: none

build(deps-dev): Various eslint dependencies (#2422)
  yarn.lock
Due: none

build(deps): Bump typescript and tslib
  yarn.lock
Due: none

Revert "build(deps): Bump typescript and tslib"
  yarn.lock
Due: none

build(deps): bump typescript and tslib (#2423)
  yarn.lock
Due: none

build(deps): bump jest dependencies
  yarn.lock
Due: none

build(deps): bump jest dependencies (#2424)
  yarn.lock
Due: none

refactor: . make class parameters readonly
  src/TaskLineRenderer.ts
Due: lint, test

refactor: . inline const
  src/TaskLineRenderer.ts
Due: lint, test

refactor: - call fieldLayoutDetail's method
  src/TaskLineRenderer.ts
Due: lint, test

refactor: . inline method
  src/TaskLineRenderer.ts
Due: lint, test

refactor: . move const declaration closer to usage
  src/TaskLineRenderer.ts
Due: lint, test

refactor: - initialise the array with the value pushed later
  src/TaskLineRenderer.ts
Due: lint, test

refactor: ! ensure that FieldLayouts[component] is always resolved
  src/TaskLayout.ts
  src/TaskLineRenderer.ts
Due: lint, test

refactor: - inline method (manual inline not available)
  src/TaskLineRenderer.ts
Due: lint, test
