Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

vault: Add more tasks and queries to Custom Task Statuses.md
  resources/sample_vaults/Tasks-Demo/Manual Testing/Custom Task Statuses.md
Due: lint-markdown

fix: Reinstate original behaviour of 'group by status'
  docs/getting-started/statuses.md
  src/Query/Group.ts
  tests/Group.test.ts
Due: lint, lint-markdown, test

test: Refactor status filter tests
  tests/Query/Filter/StatusField.test.ts
Due: lint, test

fix: Reinstate original behaviour of 'done' and 'not done'
  docs/getting-started/statuses.md
  src/Query/Filter/StatusField.ts
  tests/Query/Filter/StatusField.test.ts
Due: lint, lint-markdown, test

vault: Add sample block sorting by status
  resources/sample_vaults/Tasks-Demo/Manual Testing/Custom Task Statuses.md
Due: lint-markdown

fix: Reinstate original behaviour of 'sort by status'
  docs/getting-started/statuses.md
  src/Query/Filter/StatusField.ts
  tests/Query/Filter/StatusField.test.ts
Due: lint, lint-markdown, test

docs: Fix a typo in 'sort by status' notes
  docs/getting-started/statuses.md
Due: lint-markdown

comment: Improved some wording, after reviewing the diffs.
  src/Query/Filter/StatusField.ts
  src/Query/Group.ts
Due: lint, test

feat: Add Cancelled and In Progress states
  src/Status.ts
  src/StatusRegistry.ts
  tests/StatusRegistry.test.ts
Due: lint, test

refactor: Copy remaining StatusRegistry methods
  src/StatusRegistry.ts
Due: lint, test

chore: Don't run markdownlint on .md files in test output
  package.json
Due: none

test: Generate table of default statuses for docs
  tests/DocsSamplesForStatuses.test.DefaultStatuses_markdown-table.approved.md
  tests/DocsSamplesForStatuses.test.ts
Due: lint, lint-markdown, test

docs: Document the default statuses
  docs/getting-started/statuses.md
Due: lint-markdown

comment: Explain purpose of new test - for docs.
  tests/DocsSamplesForStatuses.test.ts
Due: lint, test

fix: Correct old-style Status text in Edit modal
  src/ui/EditTask.svelte
Due: none

feat: Add editing of status in Edit modal
  src/ui/EditTask.svelte
Due: none

fix: Remove duplicate id 'status' in Edit modal
  src/ui/EditTask.svelte
Due: none

feat: Show the status character in dropdown list
  src/ui/EditTask.svelte
Due: none

fix: Show '[X]' as completed, in addition to '[x]'
  src/ui/EditTask.svelte
Due: none

fix: Better behaviour in Edit modal with unknown status
  src/TaskModal.ts
  src/ui/EditTask.svelte
Due: lint, test
