Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

chore: Make stress_test_obsidian_tasks.py add created and due dates
  scripts/stress_test_obsidian_tasks.py
Due: none

jsdoc: Add more information about PerformanceTracker behaviour
  src/lib/PerformanceTracker.ts
Due: lint, test

vault: Add some queries to test performance rendering different numbers of tasks
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 1.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 100.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 1000.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 150.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 200.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 2000.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 25.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 250.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 3000.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 4000.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 50.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 500.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 5000.md
  resources/sample_vaults/Tasks-Demo/Stress Test/limit 750.md
Due: lint-markdown

Add test to ensure indented tasks are recognized as tasks
  tests/lib/ToTaskListEnd.test.ts
Due: lint, test

Remove (unused, commented out) code intended to add IndexOf method to arrays
  tests/lib/ToTaskListEnd.test.ts
Due: lint, test

Notes and firstg experiment incorporating Actions into Tasks codebase
  current.bat
  src/Obsidian/File.ts
  src/Task/OnCompletion.ts
  src/Task/Task.ts
  tests/lib/notesIntegratingOnCompletion.md
Due: lint, lint-markdown, test

Separate general OnCompletion code tests and Delete action test
  tests/Task/OnCompletion.test.ts
Due: lint, test

Extract function that effects deletion of completed task
  src/Task/OnCompletion.ts
Due: lint, test

Move Delete action tests below general OnCompletion tests and helpers
  tests/Task/OnCompletion.test.ts
Due: lint, test

Rename 'describe' for EndOfList action tests
  tests/lib/ToTaskListEnd.test.ts
Due: lint, test

Move tests for EndOfList action to OnCompletion.test.ts
  tests/Task/OnCompletion.test.ts
Due: lint, test

Rename file
  tests/lib/WriteLineToListEnd.test.ts
Due: lint, test

Delete WriteLineToListEnd.test.ts
  tests/lib/WriteLineToListEnd.test.ts
Due: lint, test

Add placeholder IFs for ToLogFile, ToLogList, and EndOfList actions
  src/Task/OnCompletion.ts
Due: lint, test

Update 'Notes'
  tests/lib/notesIntegratingOnCompletion.md
Due: lint-markdown

Remove material added to 'Notes'
  src/Task/OnCompletion.ts
Due: lint, test

Import function to run tests
  tests/Task/OnCompletion.test.ts
Due: lint, test

contrib: add 'Console timing facilities in Tasks' page
  contributing/Debugging/About Debugging.md
  contributing/Debugging/Console logging facilities in Tasks.md
  contributing/Debugging/Console timing facilities in Tasks.md
  contributing/Debugging/Debugging and Performance tools.md
  contributing/Debugging/How do I enable hidden debugging and visualisation facilities.md
  contributing/Debugging/Sample flame chart with Timing labels.png
Due: lint-markdown

refactor: Extract method QueryRenderChild.addTask()
  src/Renderer/QueryRenderer.ts
Due: lint, test

comment: Remove some remnants from experiments during Postpone button work
  src/Renderer/QueryRenderer.ts
Due: lint, test

vault: Update saved HTML files with today's data
  resources/sample_vaults/Tasks-Demo/Manual Testing/Seeing the Query as HTML/HTML from Query - short mode.html
  resources/sample_vaults/Tasks-Demo/Manual Testing/Seeing the Query as HTML/HTML from Query.html
Due: none

vault: Add manual test of HTML for when no tasks found
  resources/sample_vaults/Tasks-Demo/Manual Testing/Seeing the Query as HTML/HTML from Query - short mode - empty list.html
  resources/sample_vaults/Tasks-Demo/Manual Testing/Seeing the Query as HTML/HTML from Query.md
Due: lint-markdown

vault: Delete "Emoji Shortcodes" plugin as it slows Tasks results rendering
  resources/sample_vaults/Tasks-Demo/.obsidian/community-plugins.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/emoji-shortcodes/data.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/emoji-shortcodes/main.js
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/emoji-shortcodes/manifest.json
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/emoji-shortcodes/styles.css
Due: none

vault: Turn off "Page preview" core plugin, to avoid it impacting profiling results
  resources/sample_vaults/Tasks-Demo/.obsidian/core-plugins-migration.json
  resources/sample_vaults/Tasks-Demo/.obsidian/core-plugins.json
Due: none

vault: Turn off "Hot Reload" plugin's auto-update
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian42-brat/data.json
Due: none

fix: Ensure backwards compatibility of behaviour when preprocessing (...)AND(...)
  src/Query/Filter/BooleanField.ts
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_preprocess_-_rewrite.approved.txt
Due: lint, test

test: . Sort sample Boolean filters alphabetically
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_explain.approved.txt
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_preprocess.approved.txt
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_preprocess_-_rewrite.approved.txt
  tests/Query/Filter/BooleanFieldVerify.ts
Due: lint, test

test: . Add more Boolean filter samples.
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_explain.approved.txt
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_preprocess.approved.txt
  tests/Query/Filter/BooleanField.test.boolean_query_-_exhaustive_tests_preprocess_-_rewrite.approved.txt
  tests/Query/Filter/BooleanFieldVerify.ts
Due: lint, test

test: - Make some Query-based tests stricter: confirm the Query is valid
  tests/TestingTools/FilterTestHelpers.ts
Due: lint, test
