Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Fix branch names
  docs/Support and Help/Missing tags, aliases and cssclasses in Obsidian some 1.9.x versions.md
Due: lint-markdown

contrib: Update core-plugins.json for Obsidian 1.9.2
  contributing/.obsidian/core-plugins.json
Due: none

docs: Update core-plugins.json for Obsidian 1.9.2
  docs/.obsidian/core-plugins.json
Due: none

vault: Update core-plugins.json for Obsidian 1.9.2
  resources/sample_vaults/Tasks-Demo/.obsidian/core-plugins.json
Due: none

vault: Save changes to settings of open-plugin-settings
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/open-plugin-settings/data.json
Due: none

docs: Turn bases core plugin on
  docs/.obsidian/core-plugins.json
Due: none

refactor: . Move Presets.ts to Query/Presets/
  src/Query/Presets/Presets.ts
  src/Query/Query.ts
Due: lint, test

refactor: . Rename Includes.test.ts to Presets.test.ts
  tests/Scripting/Presets.test.ts
Due: lint, test

refactor: . Move Presets.tests.ts to Query/Presets/
  tests/Query/Presets/Presets.test.ts
Due: lint, test

refactor: . Move PresetsSettingsService.ts to Query/Presets/
  src/Config/PresetsSettingsUI.ts
  src/Query/Presets/PresetsSettingsService.ts
  tests/Config/PresetsSettingsService.test.ts
Due: lint, test

refactor: . Move PresetsSettingsService.test.ts to Query/Presets/
  tests/Query/Presets/PresetsSettingsService.test.ts
Due: lint, test

refactor: . Move PresetsMap type to Presets.ts
  src/Config/PresetsSettingsUI.ts
  src/Config/Settings.ts
  src/Query/Presets/Presets.ts
  src/Query/Presets/PresetsSettingsService.ts
  src/Scripting/QueryContext.ts
  tests/Query/Presets/Presets.test.ts
  tests/Query/Presets/PresetsSettingsService.test.ts
Due: lint, test

contrib: Document Query/Presets/ directory
  contributing/Code/Structure of the code.md
Due: lint-markdown

docs: Move Presets page to Queries
  docs/Queries/Presets.md
Due: lint-markdown

docs: Add Presets to the Changelog
  docs/What is New/Changelog.md
Due: lint-markdown

refactor: . Extract const defaultPresets
  src/Config/Settings.ts
Due: lint, test

refactor: . Move defaultPresets to Presets.ts
  src/Config/Settings.ts
  src/Query/Presets/Presets.ts
Due: lint, test

test: - Re-use defaultPresets in tests
  tests/Config/Settings.test.ts
  tests/Query/Presets/Presets.test.ts
Due: lint, test

feat: - Add useful default Preset values
  src/Query/Presets/Presets.ts
  tests/Query/Presets/Presets.test.ts
Due: lint, test

vault: Add default presets to settings, and demo use
  resources/sample_vaults/Tasks-Demo/.obsidian/plugins/obsidian-tasks-plugin/data.json
  resources/sample_vaults/Tasks-Demo/How To/Reuse instructions across the vault.md
Due: lint-markdown

test: - Tabulate default Presets values
  tests/Query/Presets/Presets.test.include_settings_tests_default-presets.approved.md
  tests/Query/Presets/Presets.test.ts
Due: lint, lint-markdown, test
