Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lefthook.yml:

pre-push:
  parallel: true
  commands:
    build:
      run: yarn build
    lint:
      run: yarn lint
    lint-markdown:
      run: yarn lint:markdown
    test:
      run: yarn test

pre-commit:
  parallel: true
  commands:
    lint:
      glob: '*.ts'
      run: yarn lint {staged_files} && git add {staged_files}
    lint-markdown:
      glob: '*.md'
      run: yarn lint:markdown && git add {staged_files}
    test:
      glob: '*.ts'
      run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Add 'How to show tasks in a calendar' page.
  docs/how-to/show-tasks-in-calendar.md
Due: lint-markdown

docs: Add 'How to show tasks in a calendar' page. (#1251)
  docs/how-to/show-tasks-in-calendar.md
Due: lint-markdown

Make argument optional.
  src/Query/Query.ts
Due: lint, test

Formatting.
  src/QueryRenderer.ts
Due: lint, test

feat: Faster controls to replace the priority selector (#1229)
  src/ui/EditTask.svelte
  styles.css
Due: none

chore: Document screenshot and ToC creation in developer docs
  CONTRIBUTING.md
Due: lint-markdown

chore: Document screenshot and ToC creation in developer docs (#1256)
  CONTRIBUTING.md
Due: lint-markdown

feat: use filename as date fallback
  docs/getting-started/auto-suggest.md
  docs/getting-started/create-or-edit-task.md
  docs/getting-started/use-filename-as-date-fallback.md
  src/Cache.ts
  src/Commands/CreateOrEdit.ts
  src/Commands/ToggleDone.ts
  src/Config/Settings.ts
  src/Config/SettingsTab.ts
  src/DateFallback.ts
  src/File.ts
  src/InlineRenderer.ts
  src/LivePreviewExtension.ts
  src/Task.ts
  tests/DateFallback.test.ts
  tests/Query.test.ts
  tests/Task.test.ts
  tests/TestHelpers.ts
  tests/TestingTools/FilterTestHelpers.ts
  tests/TestingTools/TaskBuilder.ts
Due: lint, lint-markdown, test

docs: Update screenshot for Create/edit Task modal
  resources/screenshots/modal.png
Due: none

docs: Make modal.png take less height in page
  resources/screenshots/modal.png
Due: none

docs: Update priority docs for removal of dropdown
  docs/getting-started/priority.md
Due: lint-markdown

docs: Make it more obvious that no priority is above low
  docs/getting-started/priority.md
Due: lint-markdown

docs: priority docs now advertise Auto-Suggest for emojis
  docs/getting-started/priority.md
Due: lint-markdown

Docs new priority control (#1261)
  docs/getting-started/priority.md
  resources/screenshots/modal.png
Due: lint-markdown

chore: Show how to link to other docs pages
  CONTRIBUTING.md
Due: lint-markdown

chore: Correct order of mdsnippets commands
  CONTRIBUTING.md
Due: lint-markdown

chore: Help contributors find docs and testing notes
  CONTRIBUTING.md
Due: lint-markdown

chore: Better order for new section in CONTRIBUTING.md
  CONTRIBUTING.md
Due: lint-markdown

chore: add 'Linking to other pages in the docs' section (#1262)
  CONTRIBUTING.md
Due: lint-markdown

docs: Add more information on validating task dates
  docs/queries/filters.md
Due: lint-markdown

docs: Add 'Finding mistakes in dates' section to dates.md
  docs/getting-started/dates.md
Due: lint-markdown

Revert "docs: Add 'Finding mistakes in dates' section to dates.md"
  docs/getting-started/dates.md
Due: lint-markdown

Revert "docs: Add more information on validating task dates"
  docs/queries/filters.md
Due: lint-markdown

docs: Improve docs on finding invalid dates (#1263)
  docs/getting-started/dates.md
  docs/queries/filters.md
Due: lint-markdown

Update to version 1.16.0
  manifest.json
  package.json
  versions.json
Due: none

docs: List priorities in priority filter docs (#1250)
  docs/queries/filters.md
Due: lint-markdown

docs: priority docs link to relevant instructions & have ToC
  docs/getting-started/priority.md
Due: lint-markdown
