Repository obsidian-tasks-group/obsidian-tasks: changes, and which lefthook commands are due for each by the changed paths.
All: lint, lint-markdown, test

lint:
  run: yarn lint {staged_files} && git add {staged_files}

lint-markdown:
  run: yarn lint:markdown && git add {staged_files}

test:
  run: yarn test {staged_files} --findRelatedTests --passWithNoTests

docs: Add 'How to get tasks in current file' (#1091)
  docs/how-to/get-tasks-in-current-file.md
  docs/other-plugins/dataview.md
Due: lint-markdown

docs: Make it easier to find and install this plugin (#1089)
  docs/installation/index.md
Due: lint-markdown

refactor: Make fieldName() public in Field and derived classes
  src/Query/Filter/BooleanField.ts
  src/Query/Filter/DescriptionField.ts
  src/Query/Filter/DoneDateField.ts
  src/Query/Filter/DueDateField.ts
  src/Query/Filter/ExcludeSubItemsField.ts
  src/Query/Filter/Field.ts
  src/Query/Filter/HappensDateField.ts
  src/Query/Filter/HeadingField.ts
  src/Query/Filter/PathField.ts
  src/Query/Filter/PriorityField.ts
  src/Query/Filter/RecurringField.ts
  src/Query/Filter/ScheduledDateField.ts
  src/Query/Filter/StartDateField.ts
  src/Query/Filter/StatusField.ts
  src/Query/Filter/TagsField.ts
  src/Query/Filter/TextField.ts
Due: lint, test

refactor: Make date() public in DateField and derived classes
  src/Query/Filter/DateField.ts
  src/Query/Filter/DoneDateField.ts
  src/Query/Filter/DueDateField.ts
  src/Query/Filter/ScheduledDateField.ts
  src/Query/Filter/StartDateField.ts
Due: lint, test

refactor: Make value() public in TextField and derived classes
  src/Query/Filter/HeadingField.ts
  src/Query/Filter/PathField.ts
  src/Query/Filter/TextField.ts
Due: lint, test

refactor: Make dates() public in HappensDateField
  src/Query/Filter/HappensDateField.ts
Due: lint, test

refactor: Make public some selected methods in Field and derived classes (#1096)
  src/Query/Filter/BooleanField.ts
  src/Query/Filter/DateField.ts
  src/Query/Filter/DescriptionField.ts
  src/Query/Filter/DoneDateField.ts
  src/Query/Filter/DueDateField.ts
  src/Query/Filter/ExcludeSubItemsField.ts
  src/Query/Filter/Field.ts
  src/Query/Filter/HappensDateField.ts
  src/Query/Filter/HeadingField.ts
  src/Query/Filter/PathField.ts
  src/Query/Filter/PriorityField.ts
  src/Query/Filter/RecurringField.ts
  src/Query/Filter/ScheduledDateField.ts
  src/Query/Filter/StartDateField.ts
  src/Query/Filter/StatusField.ts
  src/Query/Filter/TagsField.ts
  src/Query/Filter/TextField.ts
Due: lint, test

comment: Add JSDoc to clarify Task.filename()
  src/Task.ts
Due: lint, test

feat: Add FilenameField, to implement filename searches
  src/Query/Filter/FilenameField.ts
  tests/Query/Filter/FilenameField.test.ts
Due: lint, test

feat: Add support for filename filter
  src/Query/FilterParser.ts
  tests/Query.test.ts
Due: lint, test

chore: re-arrange CONTRIBUTING for improved clarity
  CONTRIBUTING.md
Due: lint-markdown

docs: Document new filename filter
  docs/queries/filters.md
  docs/quick-reference/index.md
Due: lint-markdown

chore: add note to CONTRIBUTING about test coverage and fix local link
  CONTRIBUTING.md
Due: lint-markdown

test: Add some missing toBeValid() checks
  tests/Query/Filter/FilenameField.test.ts
Due: lint, test

test: Move the expect.extend() calls to the top of the file
  tests/Query/Filter/FilenameField.test.ts
Due: lint, test

chore: add dependency maintenance info to CONTRIBUTING
  CONTRIBUTING.md
Due: lint-markdown

chore: reword a line for clarity
  CONTRIBUTING.md
Due: lint-markdown

fix: remove regex for cursor pos, fixes 460
  src/Commands/ToggleDone.ts
Due: lint, test

fix: Add another comment
  src/Commands/ToggleDone.ts
Due: lint, test

Fix command name
  README.md
Due: lint-markdown

test,sample: Add hotkey for Toggle Done and page of test cases for cursor movement
  resources/sample_vaults/Tasks-Demo/.obsidian/hotkeys.json
  resources/sample_vaults/Tasks-Demo/Manual Testing/Toggle Done Cursor Fixes.md
Due: lint-markdown

fix: Adjust cursor properly in ToggleDone
  src/Commands/ToggleDone.ts
Due: lint, test

docs: Improve JSDoc description in FilenameField
  src/Query/Filter/FilenameField.ts
Due: lint, test

feat: Add filename filter (#1098)
  docs/queries/filters.md
  docs/quick-reference/index.md
  src/Query/Filter/FilenameField.ts
  src/Query/FilterParser.ts
  src/Task.ts
  tests/Query.test.ts
  tests/Query/Filter/FilenameField.test.ts
Due: lint, lint-markdown, test

fix: typo
  CONTRIBUTING.md
Due: lint-markdown

docs: Fix "Toggle checkbox status" name in README (#1101)
  README.md
Due: lint-markdown

test: Simplify the resetting of settings in tests
  src/config/Settings.ts
  tests/Query/Filter/DescriptionField.test.ts
  tests/Query/Filter/TagsField.test.ts
  tests/Sort.test.ts
  tests/Task.test.ts
Due: lint, test

test: Simplify the resetting of settings in tests (#1105)
  src/config/Settings.ts
  tests/Query/Filter/DescriptionField.test.ts
  tests/Query/Filter/TagsField.test.ts
  tests/Sort.test.ts
  tests/Task.test.ts
Due: lint, test

fix: tag searches now honour optional # in query
  src/Query/Filter/TagsField.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, test

docs: Document that the # in a tags search is now honoured
  docs/queries/filters.md
Due: lint-markdown

fix!!: Tag searches now honour any # character (#1107)
  docs/queries/filters.md
  src/Query/Filter/TagsField.ts
  tests/Query/Filter/TagsField.test.ts
Due: lint, lint-markdown, test

refactor: Use early-return in some of TagsField
  src/Query/Filter/TagsField.ts
Due: lint, test

refactor: Return FilterOrErrorMessage straight away
  src/Query/Filter/TagsField.ts
Due: lint, test

refactor: Flip 'if-else'
  src/Query/Filter/TagsField.ts
Due: lint, test

Path conditions:
  lint: any of: *.ts
  lint-markdown: any of: *.md
  test: any of: *.ts
